.company-header {
    background: #ededed;
    padding: 25px 55px 25px;
    @media (--mdMinus) {
        padding: 25px 40px;
    }
    @media (--sm) {
        display: none;
    }
    @media (--xs) {
        display: none;
    }
}





.company-banner {
    height: calc(100vh - 142px);
    background: url("../img/company/company-banner.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (--sm) {
        height: calc(100vh - 70px);
    }

    @media (--xs) {
        height: calc(100vh - 70px);
    }
}



.company-banner:after {
    content: '';
    background: url(../img/icon_scroll.svg) no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    left: 50%;
    bottom: -25px;
    margin-left: -25px;

    @media (--mdMinus) {
        display: none;
    }
}



.company-banner__content {
    text-align: center;
}

.company-banner__title {
    font-family: 'BodoniBold';
    font-size: 60px;
    color: #ffffff;
    text-align: center;

    @media (--sm) {
        font-size: 30px;
    }

    @media (--xs) {
        font-size: 30px;
    }

}


.company-banner__subtitle {
    font-family: 'Proxima';
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
    position: relative;
    font-size: 26px;

    @media (--sm) {
        font-size: 17px;
    }

    @media (--xs) {
        font-size: 17px;
    }
}



.company-banner__subtitle::after {
    content: '';
}

.company-arrow-line {
    position: relative;
    width: 160px;
    height: 1px;
    margin-top: 40px;
    display: inline-block;
}

.company-arrow-line__inner {
    position: absolute;
    margin: auto;
    top: -4.5px;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.company-arrow-line:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 74px;
    background: #ffffff;
    height: 1px;
}

.company-arrow-line:after {
    content: '';
    width: 74px;
    background: #ffffff;
    height: 1px;
    position: absolute;
    right: 0;
    top: 0;
}


.company-advantages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 110px;

    @media (--mdMinus) {
        margin-top: 70px;
    }

    @media (--sm) {
        margin-top: 50px;
    }

    @media (--xs) {
        margin-top: 50px;
    }
}



.company-advantages-item {
    position: relative;
    margin-bottom: 80px;

    @media (--lgMinus) {
        margin-bottom: 35px;
    }
}



.company-advantages-item_1 {
    flex-basis: calc(291 * 100 / 1170)%;

    & .company-advantages-item__text {
        max-width: 215px;

        @media(--sm) {
            max-width:100%;
        }

        @media(--xs) {
            max-width:100%;
        }
    }

    @media (--lgMinus) {
        flex-basis: calc(246.96 * 100 / 688)%;
        order: 1;
    }
}



.company-advantages-item_2 {
    flex-basis: calc(388 * 100 / 1170)%;

    & .company-advantages-item__text {
        max-width: 292px;

        @media(--mdMinus) {
            max-width:170px;
        }

        @media(--sm) {
            max-width:100%;
        }

        @media(--xs) {
                max-width:100%;
        }
    }

    @media (--lgMinus) {
        flex-basis: calc(246.96 * 100 / 688)%;
        order: 4;
    }
}



.company-advantages-item_3 {
    flex-basis: calc(291 * 100 / 1170)%;

    & .company-advantages-item__text {
        max-width: 220px;

        @media(--sm) {
            max-width:100%;
        }

        @media(--xs) {
            max-width:100%;
        }
    }

    @media (--lgMinus) {
        flex-basis: calc(132.10 * 100 / 688)%;
        order: 6;
    }
}



.company-advantages-item_4 {
    flex-basis: calc(194 * 100 / 1170)%;
    padding-left: 35px;

    & .company-advantages-item__text {
        max-width: 155px;

        @media(--sm) {
            max-width:100%;
        }

        @media(--xs) {
            max-width:100%;
        }
    }

    @media (--lgMinus) {
        flex-basis: calc(132.10 * 100 / 688)%;
        order: 3;
        padding-left: 0;
    }
}


.company-advantages-item_5 {
    flex-basis: calc(291 * 100 / 1170)%;

    & .company-advantages-item__text {
        max-width: 155px;

        @media(--sm) {
            max-width:100%;
        }

        @media(--xs) {
            max-width:100%;
        }
    }

    @media (--lgMinus) {
        flex-basis: calc(308.93 * 100 / 688)%;
        order: 2
    }
}


.company-advantages-item_6 {
    flex-basis: calc(388 * 100 / 1170)%;

    & .company-advantages-item__text {
        max-width: 315px;

        @media(--mdMinus) {
            max-width:220px;
        }

        @media(--sm) {
            max-width:100%;
        }

        @media(--xs) {
            max-width:100%;
        }
    }

    @media (--lgMinus) {
        flex-basis: calc(308.93 * 100 / 688)%;
        order: 5
    }
}


.company-advantages-item_7 {
    flex-basis: calc(485 * 100 / 1170)%;
    & .company-advantages-item__text {
        max-width: 490px;

        @media(--sm) {
            max-width:100%;
        }

        @media(--xs) {
            max-width:100%;
        }
    }

    @media (--lgMinus) {
        flex-basis: 100%;
        order: 7
    }
}


@media (--sm) {
    .company-advantages-item_1,
    .company-advantages-item_2,
    .company-advantages-item_3,
    .company-advantages-item_4,
    .company-advantages-item_5,
    .company-advantages-item_6,
    .company-advantages-item_7 {
        flex-basis: 100%;
    }
}

@media (--xs) {
    .company-advantages-item_1,
    .company-advantages-item_2,
    .company-advantages-item_3,
    .company-advantages-item_4,
    .company-advantages-item_5,
    .company-advantages-item_6,
    .company-advantages-item_7 {
        flex-basis: 100%;
    }
}

.company-advantages-item__toptext {
    position: absolute;
    top: -10px;
    font-family: 'Proxima';
    font-size: 15px;
    color: #19191a;
    text-transform: uppercase;

    @media (--mdMinus) {
        font-size: 12px;
    }

}


.company-advantages-item__title {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: 900;
    color: #19191a;

    @media (--mdMinus) {
        font-size: 56px;
    }

    & span {
        font-size: 20px;

        @media (--mdMinus) {
            font-size: 16px;
        }
    }
}






.company-advantages-item__subtitle {
    font-family: 'Proxima';
    font-weight: 600;
    color: #19191a;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 15px;

    @media (--mdMinus) {
        font-size: 14px;
    }
}



.company-advantages-item__text {
    font-family: 'Proxima';
    font-weight: 300;
    font-size: 17px;
    color: #19191a;
    margin-top: 10px;
    line-height: 1.4;


    @media (--mdMinus) {
        font-size: 14px;
    }

}


.company-advantages-item__note {
    font-family: 'Proxima';
    font-weight: 300;
    color: #787878;
    font-size: 13px;
    margin-top: 8px;

    @media (--mdMinus) {
        font-size: 10px;
    }
}



@media (--mdMinus) {
    .company-banner__arrow {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 12px;
        margin-top: -11px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
    }

    .company-banner__arrow_left:before {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 12px solid #ffffff;
        border-right: 12px solid transparent;
        position: absolute;
        top: 0;
        right: -12px;
    }

    .company-banner__arrow_right:after {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 12px solid #ffffff;
        border-left: 12px solid transparent;
        position: absolute;
        top: 0;
        left: -12px;
    }

    .company-banner__arrow_left {
        width: calc(50% - 11px);
        background: #ffffff;
        position: relative;
    }

    .company-banner__arrow_right {
        width: calc(50% - 11px);
        background: #ffffff;
        position: relative;
    }
}

.company-descr {
    background: #ededed;
    padding: 50px 0 60px;

    @media (--sm) {
        padding: 40px 0;
    }

    @media (--xs) {
        padding: 40px 0;
    }
}



.company-descr__content {
    position: relative;
    padding-left: 97px;
    padding-top: 95px;

    @media (--mdMinus) {
        padding-left: 0;
    }

    &:before {
         content: '';
         background: url("../img/company/company-logo.svg") no-repeat;
         width: 390px;
         height: 95px;
         background-size: contain;
         display: block;
         position: absolute;
         left: -10px;
         top: 0;

        @media (--mdMinus) {
            max-width: 100%;
        }
    }



}


.company-descr__text {
    font-family: 'Proxima';
    font-weight: 300;
    font-size: 17px;
    color: #19191a;
    opacity: 0.8;
    line-height: 1.5;
    margin: 20px 0;
}

.company-descr__text_big {
    font-family: 'Proxima';
    font-weight: 300;
    font-size: 26px;
    color: #2b2634;
    margin: 25px 0;

    @media (--sm) {
        font-size: 20px;
    }

    @media (--xs) {
        font-size: 20px;
    }
}


.company-timeline {
    text-align: center;
    padding: 0 0 50px 0;
}

.company-arrow-line_timeline {

    @media (--sm) {
        display: none;
    }

    @media (--xs) {
        display: none;
    }

}



.company-arrow-line__inner_timeline {
    position: absolute;
    margin: auto;
    top: -4.5px;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 1px solid #f8b470;
    border-bottom: 1px solid #f8b470;
}

.company-arrow-line_timeline:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 74px;
    background: #f8b470;
    height: 1px;
}

.company-arrow-line_timeline:after {
    content: '';
    width: 74px;
    background: #f8b470;
    height: 1px;
    position: absolute;
    right: 0;
    top: 0;
}

.company-timeline__title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    text-align: center;
    color: #19191a;
    font-size: 40px;
    position: relative;
    padding-top: 50px;

    @media(--sm) {
        font-size: 30px;
        text-align: left;
        padding: 50px 20px 30px 20px;
    }

    @media(--xs) {
        font-size: 30px;
        text-align: left;
        padding: 50px 20px 30px 20px;
    }

    &:before {
        @media(--sm) {
            content: "";
            background: #f8b470;
            height: 100%;
            width: 1px;
            position: absolute;
            left: -.5px;
            top: 0;
        }

        @media(--xs) {
            content: "";
            background: #f8b470;
            height: 100%;
            width: 1px;
            position: absolute;
            left: -.5px;
            top: 0;
        }
    }
}



.company-timeline-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
    padding-top: 50px;
    position: relative;

    @media(--sm) {
        margin-top: 0;
        padding-top: 0;
    }

    @media(--xs) {
        margin-top: 0;
        padding-top: 0;
    }
}



.company-timeline-item {
    position: relative;
    width: 50%;
    padding: 10px 0;

    @media (--sm) {
        width: 100%;
    }

    @media (--xs) {
        width: 100%;
    }

    &:nth-child(2n+1) {
        & .company-timeline-item__text {
            max-width:440px;

            @media(--sm) {
                max-width:100%;
            }
            @media(--xs) {
                max-width:100%;
            }
        }


    }

    &:nth-child(2n) {
        & .company-timeline-item__text {
            max-width:430px;
            margin-left:auto;
            @media(--sm) {
                max-width:100%;
            }
            @media(--xs) {
                max-width:100%;
            }
        }


    }
}



.company-timeline-item__year {
    font-family: 'Proxima';
    font-weight: 400;
    font-size: 25px;
    color: #f7941e;

    @media(--sm) {
        font-size: 20px;
    }

    @media(--xs) {
        font-size: 20px;
    }

    & p {
        @media(--sm) {
            font-size: 15px;
        }
        @media(--xs) {
            font-size: 15px;
        }
    }
}



.company-timeline-item:nth-child(2n+1):before {
    content: '';
    background: #fde5d7;
    width: 10px;
    height: 100%;
    position: absolute;
    left: 20px;
    top: 0;
}

.company-timeline-item:nth-child(2n+1):after {
    content: '';
    background: #f8b470;
    height: 100%;
    width: 1px;
    position: absolute;
    left: -0.5px;
    top: 0;
}

.company-timeline-item:nth-child(2n+1) {
    text-align: left;
    padding-left: 50px;
    margin-left: 50%;

    @media (--sm) {
        margin-left: 0;
    }

    @media (--xs) {
        margin-left: 0;
    }
}



.company-timeline-item:nth-child(2n):before {
    content: '';
    background: #fef2eb;
    width: 10px;
    height: 100%;
    position: absolute;
    right: 20px;
    top: 0;

    @media (--sm) {
        left: 20px;
        right: initial;
    }

    @media (--xs) {
        left: 20px;
        right: initial;
    }
}



.company-timeline-item:nth-child(2n):after {
    content: '';
    background: #f8b470;
    height: 100%;
    width: 1px;
    position: absolute;
    right: -0.5px;
    top: 0;

    @media (--sm) {
        right: initial;
        left: -0.5px;
    }

    @media (--xs) {
        right: initial;
        left: -0.5px;
    }
}



.company-timeline-item:nth-child(2n) {
    text-align: right;
    padding-right: 50px;

    @media (--sm) {
        padding-right: 0;
        padding-left: 50px;
        text-align: left;
    }

    @media (--xs) {
        padding-right: 0;
        padding-left: 50px;
        text-align: left;
    }

}


.company-timeline-item__circle:before {
    content: '';
    width: 7px;
    height: 7px;
    background: #2b2634;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    margin-top: -3.5px;
    z-index: 5;
}

.company-timeline-item:nth-child(2n) .company-timeline-item__circle:before {
    right: -3.5px;

    @media (--sm) {
        right: initial;
        left: -3.5px;
    }

    @media (--xs) {
        right: initial;
        left: -3.5px;
    }
}



.company-timeline-item:nth-child(2n+1) .company-timeline-item__circle:before {
    left: -3.5px;
}



.company-timeline-item__circle_active:after {
    content: '';
    background: #d5d4d6;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -11.5px;
}

.company-timeline-item:nth-child(2n+1) .company-timeline-item__circle_active:after {
    left: -11.5px;
}

.company-timeline-item:nth-child(2n) .company-timeline-item__circle_active:after {
    right: -11.5px;

    @media(--sm) {
        left:-11.5px;
    }

    @media(--xs) {
        left:-11.5px;
    }
}

.company-timeline-item:last-child:after {
    height: 50%;
}

.company-timeline-list:before {
    content: '';
    width: 1px;
    height: 50px;
    background: #f8b470;
    position: absolute;
    left: 50%;
    margin-left: -0.5px;
    top: 0;

    @media (--sm) {
        display: none;
    }

    @media (--xs) {
        display: none;
    }
}
