.contacts-page-wrapper {
	background: #ededed;
}

.contacts-page-wrapper .btn-call-inner:after {
	background: #ededed;
}

.contacts-page {
	display: flex;
	flex-direction: column;
}


.contacts-header {
	background: #ededed;
	padding: 25px 55px 25px;
}

@media (--mdMinus) {
	.contacts-header {
		padding: 25px 40px 20px;
	}
}

@media (--smMinus) {
	.contacts-header {
		padding: 19px 20px 23px;
	}
}



@media (--smMinus) {
	.contacts {
		padding: 20px 0 30px;
		order: 1;
	}
}

.contacts-wrap {
	display: flex;
	flex-wrap: wrap;
	/*min-height: 582px;*/
	min-height: 600px;
	height: calc(100vh - 215px);
	background: #ffffff;
}

@media (--mdMinus) {
	.contacts-wrap {
		height: auto;
		order: 2;
	}
}

.contact-map {
	flex-grow: 1;
	height: 100%;
	width: calc(100% - 543px);
}

@media (--mdMinus) {
	.contact-map {
		flex-basis: 100%;
		order: 2;
		height: 395px;
		width: 100%;
	}
}


.contact-offices {
	width: 543px;
	/*height: 100%;*/
	padding: 22px 0px 25px;
	position: relative;
	background: #ffffff;
}

@media (--mdMinus) {
	.contact-offices {
		flex-basis: 100%;
		order: 1;
	}
}

.contact-offices__title {
	font-family: 'Proxima Nova Semibold';
	color: #19191a;
	font-size: 29px;
	padding: 0 40px;
}

@media (--smMinus) {
	.contact-offices__title {
		padding: 0 20px;
	}
}

.contact-offices-types .contact-offices-types__link {
	font-family: 'Proxima Nova Semibold';
	font-size: 14px;
	color: #f7941e;
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.4s ease-in;
}

.contact-offices-types__link:hover:after {
	width: 0;
}

.contact-offices-types__link:hover {
	color: #2b2634;
}

.contact-offices-types__link:after {
	content: '';
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	background: #fde7d6;
	height: 1px;
	transition: width 0.4s ease-in;
}

.contact-offices-types__link_active {
	color: #2b2634;
}

/* Resets the contain background and outer borders */

.contact-offices-types.ui-widget-content {
	border: none;
	background: none;
}

.contact-offices-types.ui-widget {
	font-family: inherit;
	font-size: inherit;
}

.contact-offices-types.ui-tabs {
	padding: 0;
	flex-grow: 1;
}

.contact-offices-types .ui-tabs-nav {
	padding: 0 40px;
	margin-top: 7px;
}

@media (--smMinus) {
	.contact-offices-types .ui-tabs-nav {
		padding: 0 10px 0 20px;
	}
}

/* Resets all border radius */

.contact-offices-types .ui-corner-all,
.contact-offices-types .ui-corner-top,
.contact-offices-types .ui-corner-bottom,
.contact-offices-types .ui-corner-left,
.contact-offices-types .ui-corner-right,
.contact-offices-types .ui-corner-br,
.contact-offices-types .ui-corner-bl,
.contact-offices-types .ui-corner-tr,
.contact-offices-types .ui-corner-tl {
	border-radius: 0;
}

/* Resets widget header tabs */

.contact-offices-types .ui-widget-header {
	display: flex;
	justify-content: flex-start;
	/*width: 320px;*/
	border: none;
	background: none;
	font-weight: normal;
	color: #000000;

	&:before {
		display: none;
	}

	/*@media (--mdPlus) {
		width: 468px;
	}*/
	@media (--smMinus) {
		overflow: scroll;
	}
}

.contact-offices-types .ui-widget-header li {
	border: 0;
	padding: 0;
	margin: 0 0 0 15px;
	background: transparent;
	white-space: nowrap;
	@media (--mdMinus) {
		margin-left: 50px;
	}
	@media (--smMinus) {
		margin-left: 30px;
	}
	&:first-child {
		 margin: 0;
	 }
	&:last-child {
		@media (--smMinus) {
			padding-right: 20px;
		}
	}
}

.contact-offices-types .ui-widget-header li:hover {
	background: transparent;
}

.contact-offices-types .ui-widget-header li .contact-offices-types__link,
.contact-offices-types .ui-widget-header li .contact-offices-types__link:link,
.contact-offices-types .ui-widget-header li .contact-offices-types__link:visited {
	border: none;
	outline: none;
	background: none;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova Semibold';
	font-size: 13px;
	color: #f7941e;
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.4s ease-in;
	@media (--mdMinus) {
		font-size: 15px;
	}
	@media (--smMinus) {
		font-size: 12px;
	}
}

.contact-offices-types .ui-widget-header li .contact-offices-types__link:hover {
	color: #2b2634;
	cursor: pointer;
}

.contact-offices-types .ui-widget-header li.ui-tabs-active .contact-offices-types__link {
	color: #2b2634;
	pointer-events: none;
}

.contact-offices-types .ui-widget-header li.ui-tabs-active .contact-offices-types__link:after {
	display: none;
}

/* Resets the panel */

.contact-offices-types .ui-tabs-panel {
	padding: 0px;
}

.contact-offices-types .ui-state-active {
	background: transparent;
	border: none;
}

.contact-offices-item__img {
	height: 200px;
	background-size: cover;
	background-position: center center;
	margin-top: 25px;
}

.contact-offices-item__text {
	margin-top: 10px;
	padding: 0 40px;
	min-height: 202px;
	height: calc(100vh - 660px);
	@media (--mdMinus) {
		min-height: 0;
		height: auto;
	}
	@media (--smMinus) {
		padding: 0 20px;
	}
}

.contact-offices-item__text_noImg {
	height: calc(100vh - 449px);
	@media(--mdMinus) {
		height: auto;
	}
}

.contact-offices .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color:#f7941e;
}

.contact-offices.mCSB_scrollTools .mCSB_draggerRail {
	background: #fefefe;
}

.contact-offices p {
	font-family: 'Proxima Nova Light';
	font-size: 15px;
	color: #19191a;
	margin: 10px 0;
	line-height: 1.5;
	display: flex;
	flex-direction: column;

	@media (--mdMinus) {
		/*display: block;*/
		margin: 0;
		line-height: 1.67;
	}
}

.contact-offices-item__text_bold {
	font-family: 'Proxima Nova Bold';
}

.contact-offices-item__title,
.region-item__title {
	font-family: 'Proxima Nova Bold';
	font-size: 20px;
	color: #19191a;
	position: relative;
	padding-left: 40px;
	margin-top: 25px;
	@media (--smMinus) {
		padding-left: 20px;
	}
}

.contact-offices-item__title:after {
	content: '';
	width: 28px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 4px;
	border-radius: 0 10px 10px 0;
	@media (--smMinus) {
		width: 15px;
		height: 10px;
		top: 7px;
		border-radius: 0 5px 5px 0;
	}
}

.contact-offices-item__title_orange:after {
	background: #f7931e;
}

.contact-offices-item__title_green:after {
	background: #0db04a;
}

.contact-offices-item__title_blue:after {
	background: #009fdc;
}

.region-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 45px;
	padding: 0 40px;
}

@media (--smMinus) {
	.region-list {
		padding: 0 20px;
		margin-top: 20px;
	}
}

.region-list__col {
	flex-basis: 50%;
}


.region-list__link {
	font-family: 'Proxima Nova Light';
	font-size: 17px;
	color: #19191a;
	position: relative;
	text-decoration: none;
	transition: color 0.4s ease-in;
	margin: 5px 0;
	opacity: 0.8;
}

.region-list__link span:hover:after {
	width: 0;
}

.region-list__link:hover {
	color: #2b2634;
	opacity: 1;
}

.region-list__link span:after {
	content: '';
	width: 100%;
	bottom: 0px;
	display: block;
	left: 0;
	background: #dddddd;
	height: 1px;
	transition: width 0.4s ease-in;
}

.region-list__col {
	display: flex;
	flex-direction: column;
}

@media (--smMinus) {
	.region-list__col {
		flex-basis: 100%;
	}
}

.region-list__link span {
	float: left;
}

.overlay {
	/*opacity: 0;*/
	position: absolute;
	height: 63px;
	background: red;
	color: #ffffff;
	padding: 13px 30px;
	border-radius: 30px;
	left: 0;
	top: -32px;
	font-family: 'Proxima Nova Regular';
	font-size: 12px;
}

.region-item {
	display: none;
}

.region-item__title {
	@media (--smMinus) {
		margin-bottom: 13px;
		padding-left: 20px;
	}
}

.region-item__text {
	padding: 0 40px;

	& > p {
		margin: 11px 0;
	}

	@media (--smMinus ) {
		padding: 0 20px;
	}
}

.close-region-office {
	position: absolute;
	right: 55px;
	/*top: 21px;*/
	top: 32px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 30px;
	display: none;
}

@media (--mdMinus) {
	.close-region-office {
		right: 40px;
	}
}

@media (--smMinus) {
	.close-region-office {
		right: 20px;
	}
}


.close-region-office:hover {
	cursor: pointer;
}

.contacts-header-links__item {
	font-family: 'Proxima Nova Light';
	font-size: 15px;
	color: #f7941e;
	position: relative;
	text-decoration: none;
	transition: color 0.4s ease-in;
	margin: 0 15px;
}

@media (--mdMinus) {
	.contacts-header-links__item {
		margin: 0 4px;
		font-size: 13px;
	}
}

.contacts-header-links__item span {
	position: relative;
	transition: color 0.4s ease-in;
	margin-left: 10px;
}

@media (--mdMinus) {
	.contacts-header-links__item span {
		margin-left: 10px;
	}
}

.contacts-header-links__item span:hover:after {
	width: 0;
}

.contacts-header-links__item:hover {
	color: #2b2634;
}

.contacts-header-links__item span:after {
	content: '';
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	background: #fde7d6;
	height: 1px;
	transition: width 0.4s ease-in;
	display: flex;
}

.contacts-header-links {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
}

@media (--smMinus) {
	.contacts-header-links {
		margin-top: 7px;
		margin-left: 0;
		padding: 0 20px;
	}
}

.contacts-header-inner {
	display: flex;
	justify-content: space-between;
}

.contacts-header-links__item {
	display: flex;
	align-items: center;
}

@media (--smMinus) {
	.contacts-header-links__item {
		flex-basis: 100%;
		margin: 5px 0;
	}
}

.contacts-header-links__item_ynav:before {
	content: '';
	width: 30px;
	height: 30px;
	display: block;
	background: url("../img/contacts/ya-nav.svg") no-repeat;
	background-size: contain;
}


.contacts-header-links__item_ymap:before {
	content: '';
	width: 30px;
	height: 30px;
	display: block;
	background: url("../img/contacts/ya-map.svg") no-repeat;
	background-size: contain;
}


.contacts-header-links__item_gmap:before {
	content: '';
	width: 30px;
	height: 30px;
	display: block;
	background: url("../img/contacts/g-map.svg") no-repeat;
	background-size: contain;
}

.contacts-header-links_disable {
	opacity: 0;
	visibility: 0;
}

.contacts-header-links__tablet {
	display: none;
}

@media (--lgMinus) {
	.contacts-header-links__desktop {
		display: none;
	}

	.contacts-header-links__tablet {
		display: block;
	}
}

@media (--smMinus) {
	.contacts-header-links__desktop {
		display: block;
	}

	.contacts-header-links__tablet {
		display: none;
	}
}

.office-center-links {
	display: none;
}

.contact-form-link {
	padding: 0 40px;
	margin: 25px 0 15px;

	a {
		transition: ease .3s all;
		color: #f59332;
		display: inline-block;
		border-bottom: solid 1px rgba(245, 147, 50, .3);
		font-family: 'Proxima Nova Regular';
		font-size: 15px;
		line-height: 1;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	+ .contact-offices-item__text {
		margin-top: 0;
	}

	@media (--smMinus) {
		padding: 0 20px;
	}
}

.marker-content {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	width: 164px;
	height: 44px;
	-webkit-border-radius: 22px;
	        border-radius: 22px;
	background: #F2AC5B;
	color: #FFF;
	font-size: 12px;
	font-family: 'Proxima Nova Regular', sans-serif;
	line-height: 14px;
	/* text-align: center; */
}

.contacts__tooltip {
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	width: 0;
	height: 44px;
	padding: 0 35px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background: #f2ac5b;
	color: #FFF;
	font-size: 12px;
	font-family: 'Proxima Nova Regular', sans-serif;
	line-height: 14px;
	top: calc(50% - 5px);
	position: absolute;
	z-index: -1;
	transform: translate(30px, -50%);
	@media (--smMinus) {
		display: none;
	}
	&._orange {
		background: #f2ac5b;
		width: 166px;
		height: 44px;
		padding: 0 20px 0 70px;
	}
	&._green {
		background: #54c67f;
		width: 253px;
		height: 62px;
		border-radius: 40px;
		padding: 0 20px 0 70px;
	}
	&._blue {
		background: #66c4ea;
		width: 224px;
		height: 48px;
		padding: 0 20px 0 70px;
	}
	&._hidden {
		display: none;
	}
}

.contact-team {
	height: calc(100vh - 325px);
	padding: 45px 20px 0 40px;
	@media (--mdMinus) {
		height: auto;
		display: flex;
		flex-wrap: wrap;
		padding: 50px 40px 0;
	}
	@media (--smMinus) {
		padding: 50px 20px 20px;
	}
	&-item {
		 display: flex;
		 align-items: center;
		 margin-bottom: 20px;
		@media (--mdMinus) {
			flex-direction: column;
			align-items: flex-start;
			width: 50%;
			margin-bottom: 30px;
		}
		@media (--smMinus) {
			width: 100%;
			align-items: center;
		}
		&__img {
			 width: 120px;
			 height: 120px;
			 border-radius: 50%;
			 margin-right: 30px;
			 overflow: hidden;
			@media (--mdMinus) {
				margin: 0 0 10px;
			}
			& img {
				display: block;
			}
		}
		&__txt {
			 width: calc(100% - 150px);
			 font: 15px/22px 'Proxima';
			@media (--mdMinus) {
				width: 100%;
			}
			@media (--smMinus) {
				text-align: center;
			}
		}
		&__name {
			 margin-bottom: 4px;
			 font-weight: 600;
			 color: #19191a;
		 }
		&__post {
			 margin-bottom: 1px;
			 color: #19191a;
		 }
		&__mail {
			 display: inline-block;
			 font-size: 14px;
			 line-height: 21px;
			 color: #F7941E;
			 white-space: nowrap;
			@media (--smMinus) {
				font-size: 13px;
				line-height: 19px;
			}
		}
	}
}