.longread-section._dreliTreli {
    margin: 0;
    & .longread-video._viewVideo {
        @media (--mdMinus) {
            margin-bottom: 60px;
        }
        @media (--smMinus) {
            margin-bottom: 40px;
        }
    }
    & .longread-section__container {
        @media (--smMinus) {
            flex-direction: column;
        }
    }
    & p {
        margin: 0;
    }
}
.DreliTreli {
    &_banner:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("/img/dreli_treli/main-pic.svg") center 35% no-repeat;
        background-size: cover;
        @media (--smMinus) {
            background-position: calc(100% + 160px) center;
        }
     }
    &_banner.longread-banner {
        height: 600px;
        background-image: url("/img/dreli_treli/main-pic.jpg");
        background-position: center 35%;
        align-items: flex-start;
        justify-content: left;
        margin-bottom: 100px;
        position: relative;
        @media (--mdMinus) {
            height: 520px;
            margin-bottom: 60px;
        }
        @media (--smMinus) {
            height: 435px;
            margin-bottom: 40px;
            background-position: calc(100% + 160px) center;
        }
        & .longread-banner__text {
            max-width: 1280px;
            width: 100%;
            padding: 190px 55px 0;
            margin: 0 auto;
            font-family: Playfair Display,serif;
            font-weight: 900;
            text-align: left;
            color: #19191a;
            position: relative;
            z-index: 1;
            @media (--mdMinus) {
                max-width: 550px;
                padding: 125px 40px 0;
                margin: 0;
            }
            @media (--smMinus) {
                /*max-width: 320px;*/
                padding: 160px 15px 0;
            }
            &:after {
                display: none;
            }
        }
        & .longread-banner__subtext {
            margin-top: 10px;
            color: #19191a;
        }
    }
}

.DreliTreliItem {
    display: flex;
    align-items: center;
    padding: 0 55px;
    margin-bottom: 100px;
    @media (--mdMinus) {
        flex-direction: column;
        align-items: flex-start;
        max-width: 768px;
        width: 100%;
        padding: 0;
        margin: 0 auto 60px;
    }
    @media (--smMinus) {
        max-width: 414px;
        margin-bottom: 40px;
    }
    &_img {
        flex: 0 0 48.7%;
        height: 385px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (--mdMinus) {
            flex: auto;
            width: 678px;
            height: 320px;
            margin-left: auto;
        }
        @media (--smMinus) {
            width: 100%;
            height: 150px;
        }
    }
    &_txt {
        flex: 0 0 51.3%;
        padding: 0 100px 0 0;
        @media (--mdMinus) {
            flex: .5;
            width: 600px;
            padding: 0 0 0 90px;
            margin-bottom: 40px;
        }
        @media (--smMinus) {
            width: auto;
            padding: 0 15px;
            margin-bottom: 30px;
        }
        & li {
            list-style: none;
            padding-left: 30px;
            margin-bottom: 15px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 12px;
                top: 6px;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background: #f7941e;
            }
        }
    }
    &_tlt {
        font-family: Playfair Display,serif;
        font-size: 40px;
        font-weight: 900;
        padding-top: 9px;
        margin-bottom: 25px;
        position: relative;
        @media (--mdMinus) {
            font-size: 30px;
        }
        @media (--smMinus) {
            margin: 0 10px 20px 0;
        }
    &:before {
         content: "";
         width: 75px;
         height: 1px;
         position: absolute;
         top: 0;
         left: 0;
         background: #f8b470;
     }
    }
    &_btn {
         display: block;
         width: 226px;
         height: 50px;
         background: #f7941e;
         font: 14px/50px 'Proxima';
         color: #fff;
         text-transform: uppercase;
         text-align: center;
         margin-top: 25px;
     }
}

.DreliTreliItem._reverse {
    flex-direction: row-reverse;
    flex: 1;
    @media (--mdMinus) {
        flex-direction: column;
    }
    & .DreliTreliItem_txt {
        padding: 0 0 0 100px;
        @media (--mdMinus) {
            padding: 0 0 0 90px;
        }
        @media (--smMinus) {
            padding: 0 15px;
        }
    }
    & .DreliTreliItem_img {
        @media (--mdMinus) {
            margin-right: auto;
            margin-left: 0;
        }
    }

}

.DreliTreliChoose {
    padding: 40px 0 1px;
    background: #ededed;
    margin-bottom: 100px;
    @media (--mdMinus) {
        margin-bottom: 60px;
    }
    @media (--smMinus) {
        padding: 40px 15px 15px;
    }
    & .longread-section__container {
        justify-content: center;
    }
    &_tlt {
        font: 900 40px/1 Playfair Display, serif;
        text-align: center;
        margin-bottom: 50px;
        @media (--smMinus) {
            font-size: 30px;
            line-height: 1.3;
        }
    }
    &_tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        & * {
            outline: none;
        }
        & li {
            width: 199px;
            padding-bottom: 17px;
            margin-left: 50px;
            font-family: 'Proxima';
            @media (--smMinus) {
                width: 140px;
                margin-left: 10px;
            }
            &:first-child {
                 margin-left: 0;
            }
            &.ui-state-active {
                 background: url('/img/dreli_treli/bg_tab.svg') center bottom no-repeat;
            }
        }
    }
    &_tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & img {
            margin-bottom: 11px;
        }
    }
    &_cont {
        display: flex;
        justify-content: center;
        @media (--smMinus) {
            flex-direction: column;
            align-items: center;
        }
    }
}
.DreliTreliChooseItem {
    width: 270px;
    margin: 0 5px 50px;
    text-align: center;
    @media (--mdMinus) {
        width: 220px;
        margin: 0 10px 50px;
    }
    @media (--smMinus) {
        width: 290px;
        margin: 0 10px 25px;
    }
    &_tlt {
        font: 900 20px/1 Playfair Display, serif;
        margin-bottom: 10px;
    }
}
.DreliTreliBtns {
    padding: 45px 0 1px;
    background: #f7941e;
    @media (--mdMinus) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 40px 35px;
    }
    @media (--smMinus) {
        flex-direction: column;
        padding: 35px 0 25px;
    }
    &_tlt {
        font: 900 40px/1 Playfair Display, serif;
        color: #fff;
        text-align: center;
        margin-bottom: 50px;
        @media (--mdMinus) {
            width: 335px;
            line-height: 1.3;
        }
        @media (--smMinus) {
            max-width: 270px;
            font-size: 30px;
            margin: 0 auto 40px;
        }
    }
    &_wrap {
        display: flex;
        justify-content: center;
        @media (--mdMinus) {
            flex-direction: column;
        }
    }
    &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 290px;
        height: 50px;
        margin: 0 25px 50px;
        background: #2b2534;
        font: 14px/1 'Proxima';
        color: #fff;
        @media (--mdMinus) {
            width: 270px;
            margin: 0 0 25px;
        }
        @media (--smMinus) {
            margin: 0 0 15px;
        }
        & img {
            margin-right: 10px;
        }
    }
}