.furnish-preview {
    height: 570px;
    display:flex;
    position: relative;
    flex-wrap:wrap;

    @media(--lgMinus) {
        max-height:700px;
    }
    @media(--mdMinus) {
        max-height:100%;
        height:auto;
    }

    &__title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 40px;
        color:#ffffff;
        position: absolute;
        width:100%;
        text-align: center;
        z-index: 5;
        padding-top:20px;
        margin-top:35px;
        pointer-events: none;


        @media(--mdMinus) {
            background:#2b2634;
            position:relative;
            margin-top:0px;
            padding:40px 40px 32px;
            text-align:left;
        }

        @media(--sm) {
            padding:40px 20px 36px;
            font-size: 30px;
        }

        @media(--xs) {
            padding:40px 20px 36px;
            font-size: 30px;
        }

        &:before {
            content: "";
            background: #f8b470;
            width: 75px;
            height: 1px;
            position: absolute;
            left:50%;
            margin-left: -32.5px;
            top:0;
            z-index: 5;

            @media(--mdMinus) {
                position:static;
                margin: 0 0 17px 0;
                display:block;
            }

            @media(--sm) {
                margin: 0 0 25px 0;
            }

            @media(--xs) {
                margin: 0 0 25px 0;
            }

        }
    }

    &__col {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width:50%;
        position:relative;

        @media(--mdMinus) {
            width:100%;
            height:405px;
        }

        @media(--sm) {
            height:175px;
        }
        @media(--xs) {
            height:178px;
        }

        &_modern {
            background-image: url("../img/flats-furnish/bg_modern.jpg");
        }

        &_classic {
             background-image: url("../img/flats-furnish/bg_classic.jpg");
        }
    }

    &__link {
        transition: all 0.4s ease;
        position:absolute;
        height:100%;
        width:100%;
        z-index:4;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media(--mdMinus) {
            align-items:center;
        }

        &:before {
            content:'';
            background: url("../img/flats-furnish/plus_big.svg") no-repeat;
            width: 107px;
            height:107px;
            position: absolute;
            top:50%;
            left:50%;
            margin:-53.5px 0 0 -53.5px;
            z-index: 4;
            transform: scale(0);
            transition: transform 0.4s ease-out;

            @media(--lgMinus) {
                display:none;
            }
        }

        &:after {
             content:'';
             background: #2b2634;
             opacity: 0.6;
             position:absolute;
             height:100%;
             width:100%;
             top:0;
             left:0;
             z-index: 2;
             transition: background 0.4s ease;
        }

        &:hover {
            &:after {
                background: none;
                @media(--lgMinus) {
                    background: #2b2634;
                }
            }

            &:before {
                transform: scale(1);
            }
        }
    }

    &__name {
        color:#fefefe;
        font-size: 60px;
        font-family: 'Geometria';
        font-weight: 200;
        margin-bottom: 50px;
        position: relative;
        z-index: 3;

        @media(--lgMinus) {
            font-size: 50px;
            display:flex;
            align-items:center;
        }

        @media(--mdMinus) {
            font-size: 60px;
            margin-bottom:0;
        }

        @media(--sm) {
            font-size: 30px;
        }

        @media(--xs) {
            font-size: 30px;
        }

        &:before {
            content:'';
            background: url("../img/flats-furnish/plus_hover.svg") no-repeat;
            background-size: contain;
            width: 46px;
            height:46px;
            margin-right: 20px;
            display: none;

            @media(--lgMinus) {
                display:block;
            }
            @media(--mdMinus) {
                display:none;
            }

            @media(--sm) {
                display:block;
            }

            @media(--xs) {
                display:block;
            }
        }
    }
}

.furnish-content {
    padding: 60px 0 10px;

    @media(--sm) {
        padding: 50px 0 10px;
    }
    @media(--xs) {
        padding: 50px 0 10px;
    }

    & h1 {
        font-size:17px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 15px;
        text-align: center;
    }

    &__text {
        max-width: 790px;
        margin:0px auto 42px;
        & p {
            text-align: center;
            font-family: 'Proxima';
            font-weight: 300;
            font-size: 20px;
        }
    }

    &__controls {
        display: flex;
        justify-content: center;

        @media (--smMinus) {
            flex-direction: column;
            margin-bottom: 35px;
        }

        & .furnish-content__button {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 0;

            @media (--smMinus) {
                width: 100%;
                max-width: none;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 18px;
            }
        }
    }

    &__title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 40px;
        color:#19191a;
        margin-bottom: 35px;
        position: relative;

        @media(--sm) {
            font-size: 30px;
        }

        @media(--xs) {
            font-size: 30px;
        }

        &:before {
            content: "";
            background: #f8b470;
            width: 75px;
            height: 1px;
            position: relative;
            display: block;
            left:0;
            top:0;
            margin-bottom: 15px;

        }
        &_light {
            color:#ffffff;
            &:before {
                background: #ffffff;
            }
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: 0 auto 64px;

        @media(--mdMinus) {
            margin: 0 auto 50px;
        }

        &_color {
            @media(--mdMinus) {
                margin: -64px auto 64px;
            }
        }
    }

    &__col {
        width:50%;

        @media(--mdMinus) {
            width:100%;
        }

        &:first-child {

            @media(--lgMinus) {

            }
        }
        &:last-child {

            @media(--mdMinus) {

            }
        }
        &_text {
            display:flex;
            align-items: center;
        }
        &_first {
            @media(--mdMinus) {
                order:2;
            }
        }
        &_second {
            @media(--mdMinus) {
                order:1;
            }
        }
}

    &__descr {
        max-width:485px;
        margin-bottom:40px;

        @media(--mdMinus) {
            max-width:100%;
        }
        @media(--sm) {
            margin-bottom:40px;
        }
        @media(--чы) {
            margin-bottom:40px;
        }
        & p {
            font-size:17px;
            font-weight:300;

            @media(--sm) {
                margin-bottom:25px;
            }
            @media(--xs) {
                margin-bottom:25px;
            }
        }
        &_light {
            & p {
                color:#ffffff;
            }
        }
    }

    &__button {
        background: #f7941e;
        color:#ffffff;
        font-family: 'Proxima';
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        width:100%;
        max-width:311px;
        height:50px;
        margin:22px auto 70px;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
        display: flex;
        letter-spacing: 1.1px;

        &--border {
            background-color: transparent;
            border: 1px solid #f7941e;
            color: #262627;
            font-weight: 500;

            &:hover {
                color: #fff;
            }
        }

        &:hover {
             background-color: #f69e36;
        }

        @media(--sm) {
            margin:12px auto 60px;
        }

        @media(--xs) {
            margin:12px auto 60px;
        }

    }
    &__img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height:420px;

        @media(--mdMinus) {
            height:504px;
        }
        @media(--sm) {
            height:210px;
        }
        @media(--xs) {
            height:210px;
        }

        &_color {
            height:530px;
            @media(--mdMinus) {
                height:637px;
            }
            @media(--sm) {
                height:265px;
            }
            @media(--xs) {
                height:265px;
            }
        }
    }

    &__inner {
        &_color {
            background: #f7941e;
            padding:70px 0 65px 55px;
            width:100%;
            @media(--mdMinus) {
                padding:50px 40px 35px 40px;
            }
            @media(--sm) {
                padding:50px 20px 35px 20px;
            }
            @media(--xs) {
                padding:50px 20px 35px 20px;
            }
        }
        &_left {
            padding-left: 55px;
            @media(--mdMinus) {
                padding:0 40px;
            }
            @media(--sm) {
                padding:0 20px;
            }
            @media(--xs) {
                padding:0 20px;
            }
        }
        &_right {
            padding-left: 97px;
            @media(--mdMinus) {
                padding:0 40px;
            }
            @media(--sm) {
                padding:0 20px;
            }
            @media(--xs) {
                padding:0 20px;
            }
        }
    }
}

.list_furnish {
    padding: 15px;
    @media(--mdMinus) {
        padding: 15px 0px;
    }
}

.furnish-content-list {
    &__row {
        display: flex;
        flex-wrap: wrap;
    }
    &__col {
        width:33.3%;
        margin-bottom:40px;
        @media(--mdMinus) {
            width:50%;
        }
        &:nth-child(5) {
            order:6;
        }
        @media(--sm) {
            width:100%;
            margin-bottom:10px;
        }
        @media(--xs) {
            width:100%;
            margin-bottom:10px;
        }
    }
    &__subtitle {
        font-size:17px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 15px;
    }
    & .list {
        & li {
            margin-bottom:10px;
            padding-left:20px;
            &:before {
                left:0;
            }
        }
     }
}
