.floor {
    margin: 70px 0 35px;

    &__head {
        margin-top: 55px;
        padding: 0 55px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        align-items: center;
        font-family: 'Proxima Nova Light';
        font-weight: 600;

        @media (--mdMinus) {
            padding: 0 40px;
        }

        @media (--smMinus) {
            padding: 0 20px 0 8px;
        }
    }

    &__back {
        text-decoration: none;
        outline: none;
        display: inline-block;
        flex-basis: 33%;
        max-width: 33%;

        span {
            padding-left: 15px;
            color: #2b2634;
            font-size: 16px;

            @media (--mdMinus) {
                display: none;
            }
        }
    }

    &__back-arrow {
        height: 16px;
        width: 32px;
        background: url("../img/arrow_news_back.svg") no-repeat center / contain;
        display: inline-block;
    }

    &__title {
        font-size: 15px;
        flex-basis: 33%;
        max-width: 33%;
        text-align: center;

        span {
            font-size: 24px;
            font-family: 'Proxima Nova Regular';
        }
    }

    &__number {
        font-size: 15px;
        flex-basis: 33%;
        max-width: 33%;
        text-align: right;
    }

    &__main {
        padding: 0 55px;
        display: flex;
        justify-content: space-between;
        background: #eaeaeb;
        height: 410px;
        margin-bottom: 100px;

        @media (--mdMinus) {
            padding: 0 40px;
            margin-bottom: 300px;
            position: relative;
        }

        @media (--smMinus) {
            background: #fff;
            padding: 0 20px;
            margin-bottom: 200px;
        }
        &--commercial {
            @media(--mdMinus) {
                margin-bottom:300px;
            }
            @media(--xs) {
                margin-bottom:50px;
            }
        }
    }

    &__info {
        padding-top: 25px;

        @media (--mdMinus) {
            padding-top: 0;
            position: absolute;
            bottom: -200px;
            left: 40px;
            right: 40px;
            display: flex;
            justify-content: space-between;
            width: auto;
            align-items: center;
        }

        @media (--mdMinus) {
            left: 20px;
            right: 20px;
        }

        @media (--smMinus) {
            bottom: -160px;
            justify-content: flex-start;
        }

        @media (--xs) {
            align-items: initial;
        }

        &--commercial {
            padding-top:0;
            @media(--mdMinus) {
                padding:0 40px;
                bottom:-230px;
            }
            @media(--smMinus) {
                display:flex;
                justify-content: space-between;
                padding:0;
            }
            @media(--xs) {
                bottom:0px;
            }
        }
    }

    &__section {
        @media (--smMinus) {
            margin-right: 50px;
        }
        &--commercial {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media(--mdMinus) {
                display:block;
            }
            @media(--smMinus) {
                margin-right:0;
            }
        }
    }

    &__section-link {
        height: 20px;
        width: 11px;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        svg {
            fill: #2b2634;
            stroke: #2b2634;
            height: 100%;
            width: 100%;
        }

        &--prev {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__compass {
        margin: 0;

        svg {
            height: 102px;
            width: 100px;
        }

        &--commercial {
            @media(--smMinus) {
                display:block;
            }
        }
    }

    &__scheme {
        position: relative;

        svg {
            width: 111px;
            height: 93px;
        }
    }

    &__scheme-text {
        color: #8a888f;
        text-transform: uppercase;
        font-size: 10px;
        font-family: 'Proxima Nova Semibold';
        margin: 0 0 0 15px;
        white-space: nowrap;

        &--vertical {
            position: absolute;
            left: -12px;
            bottom: 18px;
            writing-mode: vertical-lr;
            margin: 0;
            transform: rotate(180deg);
        }
    }

    &__current {
        display: inline-block;
        vertical-align: middle;
        color: #2b2634;
        text-align: center;
        margin: 0 40px;

        > span {
            font-size: 50px;
            font-family: 'Playfair Display', serif;
            font-weight: 600;
            position: relative;
            top: -5px;
            line-height: 1.1;

            @media (--smMinus) {
                font-size: 30px;
                top: 2px;
            }
        }

        > div {
            font-size: 15px;
            font-family: 'Proxima Nova Regular';

            @media (--smMinus) {
                position: relative;
                top: 20px;
                font-size: 12px;
            }

            @media (--xs) {
                top: 15px;
            }
        }

        @media (--smMinus) {
            margin: 0 10px;
        }
        &--commercial {
            margin:60px 0;
            @media(--smMinus) {
                margin:0;
            }
        }
    }

    &__plan {
        display: flex;
        align-items: center;
        height: auto;
        flex-basis: 50%;
        max-width: 50%;
        text-align: center;
        height: 100%;

        @media (--mdMinus) {
            width: 100%;
            flex-basis: 100%;
            max-width: 100%;
            text-align: left;
        }

        @media (--xs) {
            width: 100%;
            align-self: center;
        }
    }


    &__plan-tooltip {
        padding: 25px;
        background: #fff;
        border: 0;
        border-radius: 0;
        box-shadow: 2px 2px 2px rgba(43, 38, 52, 0.1);
        border: 0!important;
        pointer-events: none;
        will-change: top, left;
    }

    &__plan-tooltip-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-of-type {
            margin-bottom: 15px;
        }
    }

    &__plan-tooltip-text,
    &__plan-tooltip-number {
        font-size: 15px;
        color: #19191a;
        font-family: 'Proxima Nova Light';
        font-weight: 400;
        display: inline-block;
        vertical-align: baseline;
    }

    &__plan-tooltip-text {
        line-height: 1.2
    }

    &__plan-tooltip-text span {
        vertical-align: super;
        font-size: 12px;
    }

    &__plan-tooltip-number {
        margin-right: 35px;
    }

    &__plan-tooltip-price {
        font-size: 20px;
        color: #f7941e;
        font-family: 'Proxima Nova Regular';
        margin-right: 35px;
        display: inline-block;
        vertical-align: baseline;
    }

    &__select {
        padding-top: 40px;
        text-align: center;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        @media (--smMinus) {
            padding-top: 0;
        }
    }

    &__select-item {
        margin-bottom: 5px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        transition: background-color .2s ease;

        &:last-of-type {
            margin-bottom: 0;
        }

        a {
            color: #19191a;
            font-size: 15px;
            font-family: 'Proxima Nova Light';
            font-weight: 600;
            transition: color .2s ease;
            display: block;
            height: 100%;
        }

        &:hover {
            background-color: #2b2634;

            a {
                color: #fff;
            }
        }

        &--more {
            a {
                color: #acacad;
            }
        }

        &--active {
            background-color: #d7d6d8;
            pointer-events: none;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: -55px;
                height: 1px;
                background: #f8b470;
                width: 55px;

                @media (--mdMinus) {
                    right: -40px;
                    width: 40px;
                }

                @media (--smMinus) {
                    right: -20px;
                    width: 20px;
                }
            }
        }
    }

    &__text {
        text-align: center;
        opacity: 0.5;

        @media (--xs) {
            text-align: left;
            padding: 0 20px;
        }
    }
}
