.home-banner {
	height: calc(100vh - 70px - 40px);
	position: relative;
	z-index: 9;

	&:before {
		content: "";
		position: absolute;
		bottom: -10px;
		right: 20px;
		left:20px;
		height: 20px;
		width: calc(100% - 40px);
		z-index: 1;
		background: #cccdcf;
		@media(--mdMinus) {
			display:none;
		}

	}
	&:after {
		content: "";
		position: absolute;
		bottom: -20px;
		right: 40px;
		left:40px;
		height: 20px;
		width: calc(100% - 80px);
		z-index: 0;
		background: #eaeaeb;
		@media(--mdMinus) {
			display:none;
		}
	}
	&__sticker {
		position: absolute;
		z-index: 10;
		color: #fff;
		background: #ea222d;
		padding: 12px 14px;
		right: 0;
		top: calc(50% * 0.8);
		transform: translateY(-50%);
		border-radius: 30px 0 0 30px;
		display: none;
		font-size: 15px;
		line-height: 27px;
		font-family: Proxima Nova Regular;
		font-weight: 300;

		@media(--smMinus) {
			display:block;
		}
	}
}

.home-banner-list__item {
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    padding: 0 55px 175px;
    @media(--lgMinus) {
        padding: 0 40px 155px;
    }
    @media(--mdMinus) {
        padding: 0 40px 150px;
    }
    @media(--smMinus) {
        padding: 0 20px 90px;
    }
    @media(--xs) {
        padding: 0 20px 100px;
    }
}


.home-banner .swiper-container {
    width: 100%;
    height: 100%;
}


.home-banner .swiper-container-horizontal>.swiper-scrollbar {
    width: 150px;
    bottom: 115px;
    opacity: 1 !important;
    left: 55px;
    background: transparent;
    height: 50px;
    /*border-bottom: 1px solid #ffffff;*/
    position: relative;
    transition: opacity 0.2s ease;

    @media(--mdMinus) {
        position: absolute;
        bottom: 85px;
        left: 40px;
    }

    @media(--smMinus) {
        bottom: 50px;
        left: 20px;
    }
    &_hidden {
        opacity:0 !important;
        transition: opacity 0.2s ease;
    }
}

.home-banner .swiper-container-horizontal>.swiper-scrollbar:hover {
	cursor: pointer;
}



.home-banner .swiper-container-horizontal>.swiper-scrollbar:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	background: #ffffff;
	top: 50%;
	left: 0;
}

.home-banner .swiper-scrollbar-drag {
	background: #f7941e;
	height: 3px;
	top: 24px;
	z-index: 10;
}




.home-banner__dateOur {
    position: absolute;
    top: 40px;/*нет таймера*/
	/*top: 120px;*//*есть таймер*/
    right: 25px;
    background: #ffffff;
    padding: 10px 30px;
    color: #929292;
    font-family: 'Proxima Nova Regular';
    z-index: 10;
    border-radius: 30px;
    text-align: right;
    line-height: 1;
    font-size: 14px;
    transition: opacity 0.2s ease;

    @media(--mdMinus) {
        right: 0;
        -webkit-border-radius: 30px 0 0 30px;
        -moz-border-radius: 30px 0 0 30px;
        border-radius: 30px 0 0 30px;
    }

    & span {
        display: block;
        font-family: 'Proxima Nova Semibold';
        font-size: 18px;
        color: #ea212d;
        text-align: right;
    }
    &_hidden {
         opacity:0;
         transition: opacity 0.2s ease;
    }
}

.home-banner__showroom {
    position: absolute;
    z-index: 10;
    top: 120px;/*нет таймера*/
	/*top: 185px;*//*есть таймер*/
    right: 25px;
    transition: o0pacity 0.2s ease;

    &_hidden {
        opacity:0;
        transition: o0pacity 0.2s ease;
    }

    @media (max-width: 640px) {
    	display: none;
    }
}

.home-banner-list__text {
	font-family: 'BodoniBold';
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;

	@media(--mdMinus) {
		font-size: 40px;
		line-height: 1;
	}

	@media(--xs) {
		font-size: 25px;
	}
}



.home-banner-list__text {
	opacity: 0;
	/*margin-left: 5%;*/
	transform: translateX(2em);
	transition: opacity 1s ease, transform 1s ease;
}

.home-banner-list__textsmall {
	font-family: 'Proxima';
	font-size: 24px;
	color:#ffffff;
	text-decoration: underline;
}

.swiper-slide-active .home-banner-list__text {
	opacity: 1;
	transform: translateX(0);
	transition-delay: .5s;
}

.home-banner__scrolling {
    background: url("../img/icon_scroll.svg") no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
    z-index: 11;
    transition: opacity 0.2s ease;

    @media(--mdMinus) {
        display:none;
    }
    &_hidden {
         opacity:0;
         transition: opacity 0.2s ease;
    }
}


.btn-border {
	display: block;
	width: 215px;
	height: 80px;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Proxima Nova Regular';
	border: 1px solid #ffffff;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;




	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.4s ease, border 0.4s ease;

	@media(--mdMinus) {
		display: none;
	}
}

.btn-border:hover {
	/*background: #f7941e;
	border: 1px solid #f7941e;*/
	background: #21af49;
	border: 1px solid #21af49;
}

.btn-border_arrow:after {
	content: '';
	background: url("../img/arrow_more.svg") no-repeat;
	display: block;
	width: 30px;
	height: 15px;
	margin-left: 20px;
}


.main-about-complex-wrap {
	margin: 100px 0;

	@media(--mdMinus) {
		margin: 80px 0 -20px 0;
	}
	@media(--xs) {
		margin: 80px 0 70px 0;
	}

}


.main-about-complex {
	padding: 0 85px;
	@media(--mdMinus) {
		padding: 0 40px;
	}
	@media(--smMinus) {
		padding: 0 20px;
	}
}



.main-about-complex__title {
	font-family: 'BodoniBold';
	font-size: 60px;
	color: #19191a;
	position: relative;
	text-align: center;
	padding-bottom: 30px;

	@media(--mdMinus) {
		font-size: 48px;
	}
	@media(--smMinus) {
		font-size: 34px;
	}
}


.main-about-complex__title:after {
	content: '';
	display: block;
	width: 75px;
	height: 1px;
	background: #f8b470;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

.main-about-complex__text {
	color: #19191a;
	font-family: 'Proxima Nova Light';
	font-size: 17px;
	text-align: center;
	margin-top: 33px;
}

.main-about-complex__text p {
	margin: 5px 0;
	line-height: 1.5;
}

.main-section {
	margin: 100px 0;

	@media(--mdMinus) {
		margin: 100px 0;
	}

	@media(--xs) {
		margin: 40px 0;
	}
}


.main-section:last-child {
	margin-bottom: 50px;
}

.main-section_full-width {
	padding: 100px 0;
	background-position: center center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;

	@media(--mdMinus) {
		padding: 100px 0 90px 0;
	}

	@media(--xs) {
		padding: 45px 0 65px 0;
	}
}


.main-section-title {
	font-family: 'BodoniBold';
	font-size: 60px;
	color: #19191a;
	position: relative;
	padding-bottom: 45px;

	@media(--mdMinus) {
		font-size: 48px;
	}

	@media(--xs) {
		font-size: 34px;
		padding-bottom:40px;
	}
}



.main-section-title_dark:after {
	content: '';
	display: block;
	width: 75px;
	height: 1px;
	background: #f8b470;
	position: absolute;
	bottom: 0;
	@media(--mdMinus) {
		left: 18px;
	}
}

.main-section-title_light {
	color: #ffffff;
}

.main-section-title_box {
	box-shadow: 0px 20px 30px 0px rgba(43, 38, 52, 0.1);
	background: #ffffff;
	position: absolute;
	left: -195px;
	top: 72px;
	z-index: 12;
	width: calc(100% + 195px);
	padding: 40px 0 40px 195px;

	@media(--mdMinus) {
		position: relative;
		top: 0;
		left: 0;
		background: transparent;
		width: auto;
		box-shadow: none;
		padding: 0 0 45px 0;
	}
	@media(--xs) {
		padding: 0 0 30px 0;
	}

	&:after {
		left: 291px;
		bottom: -60px;

		@media(--mdMinus) {
			bottom: 0;
			left: 18px;
		}
		@media(--xs) {
			left:18px;
		}
	}
}


.main-section-title_sec1 {
	padding-left: 97px;

	@media(--mdMinus) {
		padding:0;
	}

	@media(--xs) {
		padding:0 20px 0px 20px;
	}
}


.main-section-title_sec2 {
	margin-top: 68px;

	@media(--mdMinus) {
		margin-top: 0px;
		padding-left:18px;
	}
	@media(--xs) {
		padding-left:0px;
		margin-top:50px;
	}
}

.main-section-title_sec3 {
	@media(--mdMinus) {
		padding-left:18px;
	}
}


.main-section-title_sec5 {
	margin-top: 107px;

	@media(--mdMinus) {
		margin-top: 0;
		padding-left:18px;
	}
	@media(--xs) {
		padding-left:0px;
		margin-top:35px;
	}
}


.main-section-title_sec6 {
	margin-top: 93px;
	@media(--mdMinus) {
		margin-top: 0px;
		padding-left:18px;
	}
	@media(--smMinus) {
		padding-bottom: 30px;
	}
}


.main-section-title_sec7 {
	padding: 60px 0 0 55px;
	height: 100%;

	@media(--mdMinus) {
		display: none;
	}

	&:after {
		content: '';
		display: block;
		width: 75px;
		height: 1px;
		background: #f8b470;
		position: absolute;
		bottom: -60px;
		left: 55px;
	}
}


.main-section-title_sec7mobile {
	display: none;

	@media(--mdMinus) {
		display: block;
		padding: 0 0 45px 18px;
	}

	@media(--xs) {
		padding: 0 0 30px 0;
	}

	&:after {
		@media(--mdMinus) {
			bottom: 0;
			left: 18px;
		}
		@media(--xs) {
			left:0;
		}
	}
}


.main-section-title_sec4 {
	@media(--mdMinus) {
		padding: 20px 18px 45px;
	}
	@media (--xs) {
		padding: 45px 18px 60px;
	}

}




.main-section__row {

	display: flex;
	flex-wrap: wrap;
}

.main-section__col {
	width: 50%;
	position: relative;

	@media(--mdMinus) {
		width: 100%;
		flex-direction: row;
	}

	&_flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
	}

	&_first {
		order: 1;
	}

	&_second {
		order: 2;
	}
}

.main-section__col_sec1 {
	padding-left: 97px;
	@media(--mdMinus) {
		padding-left: 0;
		padding-right: 40px;
	}
	@media(--smMinus) {
		padding-right: 20px;
	}
	& .list {
		margin-top: 5px;
		@media(--mdMinus) {
			margin-top:0;
		}
		@media(--xs) {
			margin-left:20px;
		}
		& li {
			color: #fff;
			/*@media(--mdMinus) {
				padding-left: 18px;
			}*/
			&:before {
				content: '';
				background: #f89e34;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				position: absolute;
				top: 9px;
				left: -15px;
				@media(--mdMinus) {
					left: 0px;
				}
			}
		}
	}
}

.main-section__col_sec4 {
	padding-left: 97px;

	&:nth-child(2) {
		@media(--mdMinus) {
			flex-direction: row;
			margin-bottom:40px;
		}
		@media(--xs) {
			margin-bottom:0px;
		}
	}

	@media(--mdMinus) {
		padding-left: 0px;
		padding-right: 0px;
	}

	@media(--smMinus) {
		padding-left: 0px;
		padding-right: 0px;
	}

	& .list li {
		color: #fff;
		&:before {
			content: '';
			background: #f89e34;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			position: absolute;
			top: 9px;
			left: -15px;
			@media(--mdMinus) {
				left: 0px;
			}
		}
	}
}



.main-section__col_sec6 {
	padding-left: 195px;

	@media(--mdMinus) {
		padding-left: 0;
	}
}


.main-section__col-7 {
	width: 58.3333333%;
	position: relative;
	@media (--lgMinus) {
		width: 68.3333333%;
	}
	@media(--mdMinus) {
		width: 100%;
	}
}

.main-section__col-5 {
	width: 41.6666667%;
	position: relative;
	@media (--lgMinus) {
		width: 31.6666667%;
	}
}

.main-section__text {
	& p {
		font-family: 'Proxima Nova Light';
		font-size: 17px;
		color: #19191a;
	}

	&_light {
		& p {
		   color: #ffffff;
		}
	}
}



.main-section__text_location {
	margin-top: 45px;
	@media(--mdMinus) {
		padding-left:18px;
	}
	@media(--xs) {
		margin-top: 30px;
	}

	& p {
		font-family: 'Proxima Nova Semibold';
	}
}



.main-section__text_sec1 {
	max-width:425px;

	@media(--mdMinus) {
		margin-top:30px;
	}

	@media(--xs) {
		padding-right: 0px;
		padding-left: 20px;
		margin-top:20px;
	}
}



.main-section__text_sec3 {
	margin-top: 385px;
	margin-left: 97px;

	@media(--mdMinus) {
		margin: 0;
	}
}
.mac-os {
	&.safari {
		& .main-section__text_sec3 {
			margin-top: 363px;
			@media(--mdMinus) {
				margin: 0;
			}
		}
	}
}



.main-section__text_sec7 {
	padding-left: 70px;
	margin-top: 105px;

	@media(--mdMinus) {
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 70px;
	}

	@media(--xs) {
		padding: 0 20px;
	}
}


.list-wrap {
	margin-top: 30px;
	@media(--mdMinus) {
		margin-top:40px;
	}
}
.main-section__text_location+.list-wrap {
	margin-top: 40px;
	@media(--smMinus) {
		margin-top:30px;
	}
}

.list-wrap_sec1 {
	margin-top: 0;

	@media(--mdMinus) {
		margin-top: 60px;
	}

	@media(--smMinus) {
		margin-top: 20px;
	}
}


.list-wrap_sec7 {
	display: flex;
	justify-content: space-between;

	@media(--smMinus) {
		margin-top: 30px;
	}

	@media(--xs) {
		flex-wrap: wrap;
	}

	& .list {
		width:50%;
		&:first-child {
			margin-right: 0px;
		}
		@media(--lgMinus) {
			padding-right: 30px;
		}
		@media(--xs) {
			width:100%;
		}
	}
}


.list li {
	list-style: none;
	color: #19191a;
	font-family: 'Proxima Nova Light';
	font-size: 17px;
	margin-bottom: 15px;
	position: relative;
	line-height: 1.5;
}

.list li:last-child {
	margin-bottom: 0;
}


.list_line li {
	/*padding-left: 50px;*/
	color: #ffffff;

	@media(--mdMinus) {
		/*padding-left: 25px;*/
		padding-left: 18px;
	}
	/*@media(--xs) {
		padding-left: 39px;
	}*/

	&:before {
		content: '';
		background: #fd7b23;
		position: absolute;
		left: -50px;
		top: 14px;
		width: 30px;
		height: 1px;

		@media(--mdMinus) {
			left: 0px;
		}
		@media(--smMinus) {
			width: 20px;
		}
	}
}


.list_circle {
	margin-bottom: 15px;
}

/*Отступы списка с кружками от линии и до след блока*/
/*.main-section__col_sec5, .main-section__col_sec6, .main-section__col_sec7 {
	& .list-wrap {
	  margin-top: 45px;
  }
}*/
.main-section__col_sec5, .main-section__col_sec6, .main-section__text_sec7 {
	& .list-wrap {
		margin-top: 45px;
		@media(--mdMinus) {
			margin-top: 40px;
		}
		@media(--xs) {
			margin-top:30px;
		}
	}
}
.main-section__col .list_circle {
	margin-bottom: 0;
}
.main-section__text_sec3, .main-section__col_sec5 {
	& .list-wrap {
		@media(--mdMinus) {
			margin-top:25px;
		}
		@media(--xs) {
			margin-top:30px;
		}
	}
	& li {
		 margin: 15px 0 0;
	}
}
/* / Отступы списка с кружками от линии и до след блока*/

.list_circle li {
	/*padding-left: 15px;*/
	@media(--mdMinus) {
		padding-left: 18px;
	}

	&:before {
		content: '';
		background: #f89e34;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		position: absolute;
		top: 9px;
		left: -15px;

		@media(--mdMinus) {
			left: 0px;
		}
	}
}


.list_mobile {

	@media(--mdMinus) {
		display: flex;
		flex-wrap: wrap;
	}

	@media(--xs) {
		display: block;
	}

	& li {
		  flex-basis: 50%;
	}
}


.list_2col {
	display: flex;
	flex-wrap: wrap;
}

.list_2col li {
	flex-basis: 50%;
}

.main-section-img-wrapper {
	position: relative;
}

.main-section-img {
	height: 587px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 10;

	@media(--mdMinus) {
		height: 510px;
	}

	@media(--xs) {
		height: 250px;
	}
}


.main-section-img_sec7 {
	height: 390px;

	@media(--mdMinus) {
		height: 510px;
	}

	@media(--xs) {
		height: 250px;
	}
}



.main-section-img-wrapper_sub-right:before {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	height: 100%;
	width: 100%;
	z-index: 8;
	background: #cccdcf;

	@media(--mdMinus) {
		display: none;
	}
}


.main-section-img-wrapper_sub-right:after {
	content: '';
	position: absolute;
	top: 20px;
	right: 20px;
	height: 100%;
	width: 100%;
	z-index: 7;
	background:#eaeaeb;

	@media(--mdMinus) {
		display: none;
	}
}



.main-section-img-wrapper_sub-left:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	height: 100%;
	width: 100%;
	z-index: 8;
	background: #cccdcf;
}

@media (--mdMinus) {
	.main-section-img-wrapper_sub-left:before {
		display: none;
	}
}

.main-section-img-wrapper_sub-left:after {
	content: '';
	position: absolute;
	top: 20px;
	left: 20px;
	height: 100%;
	width: 100%;
	z-index: 7;
	background: #eaeaeb;
}


@media (--mdMinus) {
	.main-section-img-wrapper_sub-left:after {
		display: none;
	}
}

.main-section-img-wrapper_sec7 {
	margin-top: 30px;
}

@media (--mdMinus) {
	.main-section-img-wrapper_sec7 {
		display: none;
	}
}

.main-section-img_mobile {
	display: none;
}

@media (--mdMinus) {
	.main-section-img_mobile {
		display: block;
	}
}

@media (--mdMinus) {
	.main-section-img_desktop {
		display: none;
	}
}

.main-section-img_mobile {
	display: none;
}

@media (--mdMinus) {
	.main-section-img_mobile {
		display: block;
		margin-top: 65px;
	}
}

.main-section__select-room-btn {
	opacity: 0;
	margin: 20px 0 50px 0;
	z-index: -1;
	@media(--mdMinus) {
		opacity: 1;
		order: 2;
		z-index: 1;
		margin: auto 0 0 0;
		width:50%;
	}

	@media(--xs) {
		width: 100%;
	}
}
.main-section-title+.btn-border_select-room {
	@media(--mdMinus) {
		display: none;
	}
}


.btn-border_select-room {
	width: 100%;
	max-width: 215px;

	@media(--mdMinus) {
		max-width:240px;
		display: flex;
		margin: 60px 0 0 auto;
	}

	@media(--xs) {
		max-width:280px;
		margin: 60px auto -15px;
	}
}




.btn-more {
	width: 80px;
	height: 80px;
	/*background: #2b2634;*/
	background: #f59330;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-family: 'Proxima Nova Regular';
	font-size: 14px;
	text-transform: uppercase;
	position: absolute;
	z-index: 50;
	box-shadow: 0px 20px 30px 0px rgba(43, 38, 52, 0.4);
	overflow: hidden;
}

.btn-more span {
	opacity: 0;
	visibility: hidden;
	color: #ffffff;
	display: block;
	width: 0;
	transition: opacity 0.3s;
	transition-delay: 0.3s;
	z-index: 50;
}

.btn-more:hover,
.btn-more:active,
.btn-more_hover {
	width: 215px;
}

@media(--xs) {
	.btn-more:hover,
	.btn-more:active,
	.btn-more_hover {
		width: 80px;
	}
}

.btn-more:after,
.btn-more_hover:after {
	content: '';
	background: url("../img/arrow_more.svg") no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: 25px;
	width: 30px;
	height: 15px;
}

.btn-more:before,
.btn-more_hover:before {
	content: '';
	/*background: #f7941e;*/
	background: #21af49;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	transition: all 0.3s ease;
}

.btn-more:hover::before,
.btn-more:active::before,
.btn-more_hover:before {
	width: 100%;
}




.btn-more:hover>span,
.btn-more_hover>span {
	opacity: 1;
	visibility: visible;
	width: auto;
	margin-right: 20px;
	@media(--xs) {
		opacity:0;
		visibility:hidden;
	}
}



.btn-more_sec0 {
	display: none;

	@media(--mdMinus) {
		display: flex;
		right: 40px;
		bottom: -40px;
	}
	@media(--xs) {
		display: flex;
		right: 20px;
		bottom: -40px;
	}
}



.btn-more_sec2 {
	bottom: 80px;
	right: -40px;
	@media(--mdMinus) {
		right: 40px;
		top: -40px;
		left:inherit;
	}
	@media(--smMinus) {
		top: 25px;
	}
	@media(--xs) {
		top: inherit;
		bottom: -40px;
		right: 20px;
		left: inherit;
	}
}



.btn-more_sec3 {
	top: 130px;
	right: 155px;
	@media(--mdMinus) {
		right: 40px;
		top: -40px;
		left:inherit;
	}
	@media(--smMinus) {
		top: 25px;
	}
	@media(--xs) {
		right: 20px;
		top: inherit;
		bottom: -40px;
	}
}



.btn-more_sec4 {
	display: none;
	@media(--mdMinus) {
		display: flex;
		right: 40px;
		top: -40px;
		left: inherit;
	}
	@media(--xs) {
		display: flex;
		right: 20px;
		top: -40px;
		left: inherit;
	}
}



.btn-more_sec5 {
	top: 135px;
	right: -40px;
	@media(--mdMinus) {
		right: 40px;
		top: -40px;
	}
	@media(--smMinus) {
		top: 25px;
	}
	@media(--xs) {
		right: 20px;
		top: inherit;
		bottom: -40px;
	}
}





.btn-more_sec6 {
	bottom: 105px;
	right: -40px;
	@media(--mdMinus) {
		right: 40px;
		top: -40px;
		bottom: inherit;
		left: inherit;
	}
	@media(--smMinus) {
		top: 25px;
	}
	@media(--xs) {
		right: 20px;
		top: inherit;
		bottom: -40px;
		left: inherit;
	}
}




.btn-more_sec7 {
	top: 200px;
	right: -40px;
	@media(--mdMinus) {
		right: 40px;
		top: 470px;
	}
	@media(--xs) {
		right: 20px;
		top: 210px;
	}
}



.btn-more_mobile {
	display: none;
	@media(--mdMinus) {
		display: flex;
	}
}

.btn-more_desktop {
	@media (--mdMinus) {
		display: none;
	}
}



.br-mobile {
	display: none;
}

.br-tablet {
	display: none;
}

.br-desktop {
	display: block;
}

@media (--mdMinus) {
	.br-desktop {
		display: none;
	}
}

@media (--mdMinus) {
	.br-tablet {
		display: block;
	}
}



@media (--xs) {
	.br-tablet {
		display: none;
	}

	.br-mobile {
		display: block;
	}
}



@media (--smMinus) {
	.main-section__col_mobile-grid {
		display: flex;
		flex-direction: column;
	}
}



.mobile-order-title {
	@media(--xs) {
		order: 1;
	}

	& .main-section-title:after {
		  @media(--xs) {
			  display: none;
		  }
	}
}

@media (--xs) {

	.mobile-order-img .main-section-img_mobile:after {
		content: '';
		display: block;
		width: 75px;
		height: 1px;
		background: #f8b470;
		position: absolute;
		bottom: -40px;
		left: 40px;
	}

	.mobile-order-title2 {
		order: 2;
		margin-top: 70px;
	}

}

.mobile-order-text {
	@media(--mdMinus) {
		order:2;
	}

	@media(--xs) {
		order: 3;
		margin-top: 40px;
	}
}

.mobile-order-text2 {
	@media(--mdMinus) {
		order:2;
	}
	@media(--xs) {
		order: 3;
	}
}

.mobile-order-img {
	@media(--mdMinus) {
		order:3;
	}
	@media(--xs) {
		order:2;
	}

	& .main-section-img_mobile {
		@media(--xs) {
			margin-top: 0;
		}
	}
}

.mobile-order-img2 {
	@media(--mdMinus) {
		order:2;
	}
	@media(--xs) {
		order:1;
	}

	& .main-section-img_mobile {
		@media(--xs) {
			margin-top: 0;
			position: relative;
		}
	}
}

.fancybox-container.video-about-modal {
	top: 0;
	height: 100%;
	z-index: 100010;
}

.video-about-btn {
	text-decoration: none;
	color: #ffffff;
	font-family: 'Proxima Nova Bold';
	font-size: 18px;
	position: absolute;
	top: 40px;
	left: 55px;
	z-index: 10;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	outline: none;
}

.video-about-btn:before {
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	background: url("../img/play.svg") no-repeat;
	margin-right: 10px;
}

@media (--mdMinus) {
	.video-about-btn {
		left: 40px;
	}
}

@media (--smMinus) {
	.video-about-btn {
		left: 20px;
		top: 50px;
	}

	.video-about-btn span {
		display: none;
	}
}

.live-foto-index {
	 font: 18px/1 'Proxima Nova Bold';
	 color: #fff;
	 text-decoration: none;
	 position: absolute;
	 top: 44px;
	 left: 310px;
	 z-index: 10;
	 display: flex;
	 align-items: center;
	 outline: none;
 }

.live-foto-index:before {
	content: '';
	display: block;
	width: 31px;
	height: 26px;
	background: url("../img/index/icon_fotocamera.svg") no-repeat center / contain;
	margin-right: 13px;
}

@media (--mdMinus) {
	.live-foto-index {
		left: 280px;
	}
}

@media (--smMinus) {
	.live-foto-index {
		left: 75px;
		top: 54px;
	}
	.live-foto-index span {
		display: none;
	}
}

.main-section_technology {
	overflow: hidden;
}



@media (--mdMinus) {
	.video-about-modal-inner {}
}


@media (--xs) {
	.video-about-modal-inner {
		width: 100%;
		height: 250px;
	}
}

@media (--smMinus) AND (orientation: landscape) {
	.video-about-modal-inner {
		width: 65%;
		height: 200px;
	}
}

.close-gallery_video {
	background: rgba(255, 255, 255, 0.6);
	padding: 20px;
	top: 0;
	right: 0px;
	width: auto;
	height: auto;
}

/*@media (--mdMinus) {
	.close-gallery_video {
		display: none;
	}
}*/

.video-about-modal__play {
	background: url("../img/play-video.svg") no-repeat center center;
	background-size: contain;
	color: #fff;
	border: none;
	outline: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
	z-index: 100;
}

.video-about-modal__play:hover {
	cursor: pointer;
}

.video-about-modal .fancybox-content {
	height: 450px;
	width: 800px;
	position: relative;

	@media(--sm) {
		height:100%;
		width:100%;
		max-width:100%;
		max-height:100%;
		margin:0;
	}
	@media(--xs) {
		height:100%;
		width:100%;
		max-width:100%;
		max-height:100%;
		margin:0;
	}

}

.home-banner-list__link {
	position: absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	z-index: 9;
}

.main-flatsMinPrices {
	margin: 90px 0 15px;
	@media (--smMinus) {
		margin: 65px 0 -20px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		/*max-width: 1350px;*/ /*+ студии*/
		max-width: 1150px;
		width: 100%;
		margin: 0 auto;
		@media (max-width: 1439px) {
			max-width: 780px;
			flex-flow: row wrap;
		}
		@media (--mdMinus) {
			max-width: 1023px;
			padding: 0 40px;
			margin: 0 auto;
		}
		@media (--smMinus) {
			max-width: 200px;
			padding: 0;
		}

		&Item {
			width: 200px;
			margin-bottom: 45px;
			text-align: center;
			@media (--mdMinus) {
				width: 33.33%;
				/*margin-left: 28px;
				margin-right: 28px;*/
			}
			@media (--smMinus) {
				width: auto;
				margin: 0 0 55px;
			}

				&_centered {
					@media (max-width: 1439px) {
						margin-left: auto;
						margin-right: auto;
					}
					@media (--mdMinus) {
						margin-left: 0;
						margin-right: 0;
					}
					/*@media (--smMinus) {
						margin-left: 0;
						margin-right: 0;
					}*/
				}
		}

		&ImgBox {
			width: 200px;
			height: 200px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto 40px;
			@media (max-width: 1439px) {
				margin-bottom: 34px;
			}
			@media (--smMinus) {
				height: auto;
				margin-bottom: 45px;
			}

			& a {
				width: 100%;
				height: 100%;
			}
		}

		&Img {
			max-width: 200px;
			max-height: 200px;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		&Name {
			font: 16px/1 'Proxima Nova Regular';
			color: #19191a;
			text-transform: uppercase;
			margin-bottom: 24px;
		}

		&Price {
			font: 16px/1 'Proxima Nova Regular';
			color: #19191a;
			margin-bottom: 15px;
		}

		&Sqr {
			font: 16px/1 'Proxima Nova Regular';
			color: #908e97;
		}
	}

	&__glow {
		font-family: 'Proxima Nova Bold';
		color: #f7941e;
	}
}
.main-section-title_flatsMinPrices {
	padding-bottom: 50px;
	margin: 0 60px 85px;
	text-align: center;
	@media (--mdMinus) {
		padding-bottom: 45px;
		margin-bottom: 45px;
		text-align: left;
	}
	@media (--xs) {
		padding-bottom: 30px;
		margin: 0 20px 60px;
	}

	&:after {
		left: 50%;
		transform: translateX(-50%);
		@media (--mdMinus) {
			left: 0;
			transform: translateX(0);
		}
	}
}

.home-banner-list {
	&__bg306-1 {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		background-image: url('../img/indexSlides/sl1_img1.png');
		background-position: right top;
		background-repeat: no-repeat;
		background-size: auto 104%;
		overflow: hidden;
		@media (--lgMinus) {
			background-position: calc(100% + 130px) top;
		}
		@media (--mdMinus) {
			background-image: url('../img/indexSlides/sl1_img1_tbl.png');
			background-size: auto 100%;
		}
		@media (--smMinus) {
			background-image: url('../img/indexSlides/sl1_img1.png');
			background-position: center top;
		}
		&:after {
			content: '';
			position: absolute;
			left: -50%;
			bottom: 0;
			width: 280%;
			height: 370px;
			transform: rotate(-35deg);
			background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0), rgba(240, 238, 228, 0.14) 29%, rgba(253, 237, 174, 0.88) 70%, rgba(253, 237, 172, 0.9) 75%, #ffeda5);
			display: none;
			@media (--smMinus) {
				display: block;
			}
		}
	}
	&__bg306-2 {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		background-position: right 55%;
		background-repeat: no-repeat;
		background-size: auto 110%;
		@media (--mdMinus) {
			display: none;
		}
	}
	&__bg306-3 {
		position: absolute;
		left: 4.4%;
		top: 52%;
		@media (--mdMinus) {
			left: 5.5%;
			top: 42%;
		}
		@media (--smMinus) {
			display: none;
		}
		& img {
			width: 196px;
		}
	}
	&__bg306-4 {
		position: absolute;
		left: 4.4%;
		top: 18%;
		max-width: 500px;
		width: 40%;
		@media (--mdMinus) {
			left: 5.5%;
			top: 15%;
			width: 50%;
		}
		@media (--smMinus) {
			left: 50%;
			transform: translateX(-50%);
			top: auto;
			bottom: 80px;
			max-width: 370px;
			width: calc(100% - 60px);
		}
	}
}

.home-banner__logoAward {
	position: absolute;
	left: 55px;
	top: 110px;
	z-index: 1;
	@media (--mdMinus) {
		left: 40px;
		top: 117px;
	}
	@media (--smMinus) {
		left: 20px;
	}
	@media (--640) {
		left: auto;
		right: 20px;
		top: 115px;
	}
	& img {
		width: 154px;
		@media (--smMinus) {
			width: 103px;
		}
	}
}