.mat-cap {
	&__content {
		padding: 33px 0 31px;
	 	@media (--mdMinus) {
			padding: 33px 40px 31px;
		}
		@media (--xs) {
			padding: 27px 20px 22px;
		}
		p, li {
			font-size: 20px;
			font-family: 'Proxima Nova Light';
			margin: 0;
		}

		p {
			margin-bottom: 25px;
			
			@media screen and (--smMinus) {
				margin-bottom: 27px;
				font-size: 17px;
				line-height: 1.59;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		strong {
			font-family: 'Proxima Nova Regular';
			font-weight: normal;
		}


		@media screen and (--mdPlus) {
			/*padding: 33px 39px 31px;*/
			
			p {
				margin-bottom: 27px;
				font-size: 17px;
				line-height: 1.59;
			}
		}

		@media screen and (--xlPlus) {
			max-width: 760px;
			padding: 30px 0 0;
			
			p {
				margin-bottom: 24px;
				font-size: 20px;
				line-height: normal;
			}
		}
	}

	.page__section {
		&:nth-child(2) {
			@media screen and (--mdPlus) {
				padding: 40px 0 44px;
				
				h2 {
					text-align: left;
				}
			}

			@media screen and (--xlPlus) {
				padding: 45px 0 48px;
				
				h2 {
					margin-bottom: 42px;
					text-align: center;
				}
			}
		}

		&:last-child {
			padding: 65px 0;
			
			@media screen and (--mdPlus) {
				padding: 46px 0 24px;
				
				h2 {
					margin-bottom: 37px;
				}

				.content h3 {
					margin-bottom: 2px;
				}

				.content li, .content p {
					line-height: 1.59;
				}

				.content li {
					margin-bottom: 30px;
					padding-right: 30px;
					padding-left: 19px;
				}
			}

			@media screen and (--xlPlus) {
				padding: 64px 0 37px;
				
				.content {
					max-width: 980px;
					
					li {
						padding-right: 0;
					}
				}
			}

			&.page__section--use-cases {
				margin-bottom: -65px;
				padding: 39px 0 28px;

				@media screen and (--mdPlus) {
					margin-bottom: -9px;
					
					.content li {
						margin-bottom: 0;
						padding-left: 25px;
					}
				}

				@media screen and (--xlPlus) {
					.content {
						max-width: none;
					}
				}
			}
		}
	}
}

@media screen and (--smMinus) {
	.mat-cap .page__section:last-child {
		padding: 40px 0;
	}
}

@media screen and (--xs) {
	.mat-cap .page__section:last-child {
		padding: 46px 0 28px;
		
		h2 {
			margin-bottom: 25px;
		}

		.content li {
			padding-right: 4px;
		}

		.content h3, .content p {
			line-height: 25px;
		}
	}

	.mat-cap .page__section.page__section--use-cases {
		.content {
			p {
				margin-bottom: 26px;
			}

			ul {
				margin-bottom: 23px;
			}

			li {
				padding-right: 5px;
				padding-left: 22px;
			}
		}
	}
}

.installment {
	&__txt {
		margin-bottom: 60px;
		@media (--mdMinus) {
			margin-top: 30px;
		}
		@media (--smMinus) {
			margin-bottom: 40px;
		}
		p {
			margin: 0 0 20px;
			&:last-child {
				margin: 0;
			}
		}
	}
}