.mortgage-accomp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.mortgage-accomp__item {
    position: relative;
    width: calc(25% - 30px);
    margin-right: 40px;
    padding-left: 75px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Proxima Nova Regular';

    @media(--mdMinus) {
        padding-left: 0;
        padding-top: 60px;
    }
}

.mortgage-accomp__item:last-child {
    margin-right: 0;
}

.mortgage-accomp__item strong {
    font-family: 'Proxima Nova Bold';
    font-weight: normal;
}

.mortgage-accomp__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 36px;
    height: 50px;
    background-color: transparent;
    background-position: 0 0;
    background-size: cover;

    @media(--mdMinus) {
        left: 0;
        top: 0;
    }
}

.mortgage-accomp__item._broker:before {
    background-image: url(../img/mortgage/icon_1.svg);
}

.mortgage-accomp__item._docs:before {
    background-image: url(../img/mortgage/icon_2.svg);
}

.mortgage-accomp__item._decision:before {
    background-image: url(../img/mortgage/icon_3.svg);
}

.mortgage-accomp__item._rate:before {
    background-image: url(../img/mortgage/icon_4.svg);
}

.mortgage-accomp__item:last-child {
    margin-right: 0;
}

.mortgage-banks {
    @media (--mdMinus) {
        margin: 0 -40px;
    }
    & .mortgage-banks__col:first-child {
        padding-left: 40px;
        @media (--smMinus) {
            padding-left: 2%;
        }
        @media (--xs) {
            padding-left: 15px;
        }
    }
    & .mortgage-banks__col:last-child {
        padding-right: 40px;
        @media (--smMinus) {
            padding-right: 2%;
        }
        @media (--xs) {
            padding-right: 0;
        }
    }
}


.mortgage-banks__header .mortgage-banks__col._sorter {
    position: relative;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0px;
        margin-top: -6px;
        display: block;
        opacity: 0.3;
        width: 12px;
        height: 12px;
        background: url("/img/caret-down.svg") center / contain no-repeat!important;
        pointer-events: none;
   }
   &._desc,
   &._asc{
       color: #000;
       &:after {
           display: block;
           transform: scaleY(-1);
           opacity: 1;
       }
   }

   &:hover {
       &:after {
           display: block;
           transform: scaleY(-1);
           opacity:0.5;
       }
   }

   &._desc {
       &:hover {
          &:after {
              opacity:1;
              transform: none;
          }
       }
       &:after {
           transform: none;
       }
   }
   &._asc {
       &:hover {
           &:after {
              opacity:1;
           }
       }
   }
}

.mortgage-banks__col {
    height: 100%;
}

.mortgage-banks__header .mortgage-banks__col {
    color: rgba(25, 25, 26, .5);
    font-size: 13px;
    & ._nowrapPC {
        @media (--lgMinus) {
            display: block;
            min-width: 120px;
            max-width: 120px;
        }
        @media (--smMinus) {
            min-width: 0;
            max-width: 100%;
        }
    }
    &:nth-child(2) {
        @media(--smMinus) {
            padding-left: 1.5%;
        }
    }
}

.mortgage-banks__body .mortgage-banks__row {
    background-color: #fff;
    position: relative;
    cursor: pointer;
    height: 70px;
    position: relative;
}

.mortgage-banks__body .mortgage-banks__col {
    white-space: nowrap;
}

.mortgage-banks__body .mortgage-banks__row:hover {
    box-shadow: 0 20px 25px rgba(43, 38, 52, .25);
    z-index: 100;
}

.mortgage-banks__body .mortgage-banks__row:nth-child(2n-1) {
    background-color: #f4f4f5;
}

.mortgage-banks__row {
    transition: ease .5s all;
    padding: 18px 0;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mortgage-banks__col {
    width: 24.5%;
    padding: 0 3%;
    text-align: left;
    font-family: 'Proxima Nova Regular';
    font-size: 15px;
    display: flex;
    align-items: center;
    &:nth-child(2) {
        padding-left: 5%;
        @media(--smMinus) {
            padding-left: 4%;
        }
    }
    &:nth-child(3) {
         padding-left: 4%;
    }
}

.mortgage-modal {
    padding: 80px;
    width: calc(100% - 160px);
    margin: 0 auto;
    max-width: 800px;
    @media (--smMinus) {
        padding: 40px;
        width: calc(100% - 80px);
    }
    &_top {
         display: flex;
         align-items: flex-end;
         justify-content: space-between;
         margin-bottom: 47px;
        @media (--mdMinus) {
            flex-diRection: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }
    }
    &_img {
        @media (--mdMinus) {
            margin-bottom: 20px;
        }
        & img {
              max-width: 250px;
          }
    }
    &_license {
         font: 300 15px/25px 'Proxima';
         color: #5a5a5a;
        @media (--smMinus) {
            font-size: 13px;
            line-height: 20px;
        }
     }
    &_btn {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         background: #f59431;
         width: 206px;
         height: 50px;
         margin-top: 24px;
         font: 500 14px/1 'Proxima', sans-serif;
         color: #fff;
         text-transform: uppercase;
        @media (--mdMinus) {
            margin-top: 15px;
        }
        @media (--xs) {
            width: 240px;
            height: 38px;
        }
    }
}

.mortgage-modal h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    font-family: 'Proxima Nova Regular';
}

.mortgage-modal p {
    margin-bottom: 15px;
    font: 17px/25px 'Proxima Nova Regular';
    color: #000;
    @media (--smMinus) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.47px;
    }
}

.mortgage-modal ul {
    margin-bottom: 15px;
    list-style: none;
}

.mortgage-modal ul li {
    font: 17px/25px 'Proxima Nova Regular';
    @media (--smMinus) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.47px;
    }
}

.mortgage-modal strong {
    font-family: 'Proxima Nova Bold';
}

.mortgage-modal em {
    font-style: normal;
    font-family: 'Proxima Nova Regular';
    color: #f7941e;
}

.mortgage-modal p:last-child {
    margin-bottom: 0;
}

.mortgage-banks__row-more {
    padding: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 6px;
}

.mortgage-banks__row._active {
    margin-bottom: 0;
    border-bottom: solid 1px #ededed;
}

.mortgage-banks__row._active .mortgage-banks__col:nth-child(2) {
    opacity: 0;
}

.mortgage-modal__inner {
    padding: 20px;
    background-color: #fff;
}

.mortgage-banks__logo {
    max-height: 100%;
    max-width: 140px;
    width: 100%;
    object-fit: contain;
    object-position: left;
    position: relative;
    z-index: 2;
    @media (--lgMinus) {
       width: 150%;
    }
    @media (--mdMinus) {
        max-width: 120px;
    }
    @media (--smMinus) {
       width: 110%;
    }
}

.mortgage-btn {
    text-align: center;
    margin-top: 50px;

    .mortgage-btn__item {
        border-radius: 5px;
        padding: 10px 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color:#ffffff;
        transition: background-color 0.4s ease;
        background: #b51827;
        background-color: #21af49;
        &:hover {
             background: #39ca62;
         }
        &_desktop {
            @media (--xs)  {
                display:none;
            }
        }

        &_mobile {
             display:none;
            @media (--xs) {
                display:block;
                max-width: 280px;
                margin: 0 auto;

            }
        }
    }
}

.button {
    transition: ease .3s all;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Proxima Nova Regular';
    line-height: 100%;
    text-transform: uppercase;
    border: none;
    height: 50px;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button._orange {
    background-color: #f7941e;
    color: #fff;
}

.button._orange:hover {
    background-color: #f69e36;
}

.button._orange:disabled {
    background-color: #ededed;
    cursor: not-allowed;
    color: #fff;
}

.button._orange:disabled:hover {
    background-color: #ededed;
}

.ws-invalid {
    position: relative;
}

.ws-invalid._double .mortgage-form__lbl {
    position: relative;
}

.ws-errorbox {
    position: absolute;
    bottom: 100%;
    right: 0;
}

.ws-errorbox .ws-errormessage {
    padding: 0;
    margin: 0;
    color: #c80a18;
    font-size: 14px;
    line-height: 14px;
}

.ui-widget.slider-range {
    border: none;
    height: 2px;
    border-radius: 0;
    background-color: #fff;
}

.slider-range .ui-slider-handle {
    width: 22px;
    height: 22px;
    border: none;
    background-color: rgba(247, 148, 30, .5);
    border-radius: 50%;
    top: -10px;
}

.slider-range .ui-slider-handle:before {
    transition: ease .3s all;
    transform: translate(-50%, -50%);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: rgba(247, 148, 30, 1);
    border-radius: 50%;
}

.slider-range .ui-slider-handle:focus {
    outline: none;
}

.slider-range .ui-slider-handle.ui-state-hover:before,
.slider-range .ui-slider-handle.ui-state-active:before {
    width: 15px;
    height: 15px;
}

.slider-range .ui-slider-range {
    background-color: #f7941e;
}

@media screen and (--lgMinus) {
    .mortgage-banks__header .mortgage-banks__col._sorter:after {
        right: 5px;
    }
}

@media screen and (--smMinus) {
    .mortgage-banks {
        width: calc(100% + 80px);
        /*margin-left: -20px;*/
    }

    .mortgage-banks__col {
        padding: 0 2%;
        text-align: center;
    }

    .mortgage-banks__header .mortgage-banks__col._sorter:hover {
        &:after {
            opacity: 0.2;
        }
    }

    .mortgage-banks__header .mortgage-banks__col._sorter:after {
        right: 10px;
    }


}

@media screen and (--xs) {
    .mortgage-banks {
        width: calc(100% + 40px);
        margin-left: -20px;
        background-color: #ededed;
        padding: 0 20px 40px;
    }

    .mortgage-banks__header {
        border-bottom: 6px solid #EFF2F5;
    }

    .mortgage-banks__header .mortgage-banks__col._sorter:after {
        right: 10px;
        opacity: 0.2;
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -6px;
        width: 12px;
        height: 12px;
        display: block;
        background: url(/img/caret-down.svg) 50%/contain no-repeat!important;
        pointer-events: none;
    }

    .mortgage-banks__header .mortgage-banks__col._sorter:hover {
        &:after {
            opacity: 0.2;
        }
    }

    .mortgage-banks__header .mortgage-banks__col._sorter:after {
        right: 15px;
    }

    .mortgage-banks__col {
        display: none;
        width: 130px;
        padding: 0 15px;
        text-align: left;
    }

    .mortgage-banks__col:first-child {
        display: flex;
    }

    .mortgage-banks__col:nth-child(4) {
        display: flex;
        margin-left: auto;
    }

    .mortgage-accomp {
        display: block;
    }

    .mortgage-accomp__item {
        width: 100%;
        padding-top: 0;
        padding-left: 55px;
        min-height: 50px;
        margin-bottom: 30px;
    }

    .mortgage-accomp__item:last-child {
        margin-bottom: 0;
    }

    .mortgage-accomp__item strong {
        display: block;
    }

    .mortgage-banks__row {
        background-color: #fff;
        margin-bottom: 6px;
        justify-content: space-between;
    }

    .mortgage-banks__body .mortgage-banks__row:hover {
        box-shadow: none;
    }

    .mortgage-banks__row:last-child {
        margin-bottom: 0;
    }

    .mortgage-banks__body .mortgage-banks__row:nth-child(2n-1) {
        background-color: #fff;
    }

    .mortgage-modal h3 {
        font-size: 17px;
        line-height: 27px;
        font-family: 'Proxima Nova Regular';
        margin-bottom: 25px;
    }

    .mortgage-modal ul li,
    .mortgage-modal p {
        font-size: 14px;
    }
}

.mortgage-modal .fancybox-close-small {
    padding:20px;
    display:flex;
    justify-content:center;
    width:auto;
    height:auto;

    &:after {
        display:none;
    }

    &:before {
        content:'';
        background: url('../img/close-popup-dark.svg') no-repeat center center;
        background-size:contain;
        width:20px;
        height:20px;
        position: static;
    }
}


.btn-call-mortgage .btn-call-inner {
    &:after {
        @media(--xs) {
            background-color: #ededed;
        }
    }
    @media(--xs) {
        background-color: #ededed;
    }
}

.mortgage {
    & .page__section {
        @media (--smMinus) {
            padding: 30px 0;
        }
    }
    & .page-steps__item {
        & strong {
            @media (--mdMinus) {
                display: block;
            }
            @media (--smMinus) {
                display: inline-block;
            }
        }
        &:last-child {
            @media (--mdMinus) {
                min-height: 32px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end
            }
        }
    }
    &-modal {
        & img {
            max-width: 235px;
            max-height: 50px;
            object-fit: contain;
            object-position: left;
        }
    }
}