.news-head {
    margin-top: 70px;
    background: #ededed;
    padding: 25px 0px 28px;
}

@media (--mdMinus) {
    .news-head {
        padding: 25px 0px 28px;
    }
}

@media (--smMinus) {
    .news-head {
        padding: 28px 0 28px 0px;
    }
}

@media (--xs) {
    .news-head .breadcrumbs {
        display: none;
    }
}

.news-head__wrp {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (--xs) {
    .news-head__wrp {
        margin-top: 0;
    }
}

.news-head__title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    line-height: 1;
}

.news-head__title:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 80px;
    right: -100px;
    bottom: 5px;
    background: #f8b470;
}

@media (--smMinus) {
    .news-head__title {
        font-size: 29px;
    }
    .news-head__title:after {
        width: 60px;
        right: -70px;
        bottom: 3px;
    }
}

.news-head__year .ui-selectmenu-button {
    font-family: "Proxima Nova Semibold";
    text-transform: uppercase;
    font-size: 14px;
    background: #ededed;
    border: none;
    outline: none;
    color: #2b2634;
    position: relative;
    padding: 20px 0 0;
    width: 94px;
    text-align: center;
}

.news-head__year .ui-selectmenu-button .ui-selectmenu-icon {
    display: none;
}

.news-head__year .ui-selectmenu-button .ui-selectmenu-text {
    margin: 0;
}

.news-head__year .ui-selectmenu-button:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url("../img/years-switcher.svg") no-repeat center / contain;
    height: 14px;
    width: 8px;
}

.news-head__year .ui-selectmenu-button.ui-selectmenu-button-open {
    background: #fff;
}

.news-head__year .ui-selectmenu-button.ui-selectmenu-button-open:after {
    opacity: 0;
}

.news-head__year .ui-selectmenu-button:focus,
.news-head__year .ui-selectmenu-button:hover,
.news-head__year .ui-selectmenu-button:active {
    color: #2b2634;
}

.news-head__year .ui-selectmenu-menu {
    background: #fff;
    padding-top: 15px;
    box-shadow: 0 14px 30px -4px rgba(0, 0, 0, 0.2);
}

.news-head__year .ui-selectmenu-menu ul {
    border: none;
}

.news-head__year .ui-selectmenu-menu .ui-menu .ui-menu-item {
    padding: 0 0 15px;
    text-align: center;
}

.news-head__year .ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper {
    padding: 0;
    text-align: center;
    font-size: 14px;
    color: #f7941e;
    margin: 0;
    border-bottom: 1px solid #fde4c7;
    display: inline-block;
    font-family: "Proxima Nova Semibold";
    text-transform: uppercase;
}

.news-head__year .ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper.ui-state-active {
    background: #fff;
    border: none;
    border-bottom: 1px solid #fde4c7;
    margin: 0;
}

.news {
    max-width: 1110px;
    margin: 0 auto;
}

.news__items {
    padding: 70px 0 0;
}

@media (--lgMinus) {
    .news__items {
        padding: 75px 40px 0;
    }
}

@media (--smMinus) {
    .news__items {
        padding: 60px 20px 0;
    }
}

.news__item {
    display: flex;
    align-items: baseline;
    margin-bottom: 80px;
}

@media (--mdMinus) {
    .news__item {
        display: block;
        margin-bottom: 75px;
    }
}

@media (--smMinus) {
    .news__item {
        margin-bottom: 55px;
    }
}

.news__date {
    color: #f7941e;
    font-size: 17px;
    font-family: 'Proxima Nova Light';
    font-weight: 600;
    min-width: 160px;
}

.news__content {
    padding-left: 115px;
}

@media (--mdMinus) {
    .news__content {
        padding-left: 0;
        margin-top: 20px;
    }
}

@media (--smMinus) {
    .news__content {
        margin-top: 25px;
    }
}

.news__content p {
    font-family: "Proxima Nova Light";
    font-size: 17px;
    line-height: 1.7;
    width: 70%;
}

@media (--mdMinus) {
    .news__content p {
        width: 100%;
        margin-top: 10px;
    }
}

@media (--smMinus) {
    .news__content p {
        margin-top: 15px;
    }
}

.news__title {
    font-family: "Proxima Nova Regular";
    color: #19191a;
    font-size: 25px;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

@media (--smMinus) {
    .news__title {
        font-size: 20px;
    }
}

.news__link {
    font-family: "Proxima Nova Regular";
    margin-top: 25px;
    display: inline-block;
    text-decoration: none;
    color: #929292;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 15px;
    position: relative;
}

.news__link:before,
.news__link:after {
    content: '';
    position: absolute;
    right: 0;
    top: 49%;
    transform: translateY(-50%);
    height: 12px;
    width: 7px;
    transition: opacity .3s ease, transform .3s ease;
}

.news__link:before {
    background: url("../img/arrow_link_more.svg") no-repeat center / contain;
    opacity: 1;
}

.news__link:after {
    background: url("../img/arrow_more_hover.svg") no-repeat center / contain;
    opacity: 0;
}

.news__link:hover:before,
.news__link:hover:after {
    transform: translate(10px, -50%);
}

.news__link:hover:before {
    opacity: 0;
}

.news__link:hover:after {
    opacity: 1;
}

.news__title,
.news__link {
    transition: color .3s ease;
}

.news__title:hover,
.news__link:hover {
    color: #f7941e;
}