.payment-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.payment-list-col {
    flex-basis: 50%;
}

.payment-list-item {
    display: flex;
    /*flex-wrap: wrap;*/
    border: 1px solid #dddddd;
    transition: box-shadow 0.4s ease;
    margin-bottom: 20px;
    position: relative;
    flex-basis: calc(50% - 10px);
    @media (--mdMinus) {
        flex-basis: 100%;
    }
    @media (--smMinus) {
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    &._stayhome {
        width: 100%;
        flex-basis: 100%
    }
}

.payment-list-item_margin:nth-child(2n) {
    margin-left: 10px;
}

.payment-list-item_margin:nth-child(2n+1) {
    margin-right: 10px;
}

@media (--mdMinus) {
    .payment-list-item_margin:nth-child(2n) {
        margin-left: 0px;
    }

    .payment-list-item_margin:nth-child(2n+1) {
        margin-right: 0px;
    }
}

.payment-list-item:hover {
    cursor: pointer;
    box-shadow: 0px 10px 30px 0px rgba(43, 38, 52, 0.25);
}

.payment-list-item__img {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 50%;
    max-width: 275px;
    min-height: 200px;
    /*height: 100%;*/
    flex-shrink: 0;

    &_ipoteka {
        background-image: url("../img/payment/ipoteka.jpg");
        @media(--sm) {
            background-image: url("../img/payment/ipoteka_mobile.jpg");
            background-position: top center;
        }
        @media(--xs) {
            background-image: url("../img/payment/ipoteka_mobile.jpg");
            background-position: top center;
        }
    }

    &_trade {
        background-image: url("../img/payment/trade.jpg");
        @media(--sm) {
            background-image: url("../img/payment/trade_mobile.jpg");
        }
        @media(--xs) {
            background-image: url("../img/payment/trade_mobile.jpg");
        }
    }

    &_rass {
        background-image: url("../img/payment/rass.jpg");
        @media(--sm) {
            background-image: url("../img/payment/rass_mobile.jpg");
            background-position: top center;
        }
        @media(--xs) {
            background-image: url("../img/payment/rass_mobile.jpg");
            background-position: top center;
        }
    }

    &_mat {
        background-image: url("../img/payment/mat.jpg");
        @media(--sm) {
            background-image: url("../img/payment/mat_mobile.jpg");
            background-position: top center;
        }
        @media(--xs) {
            background-image: url("../img/payment/mat_mobile.jpg");
            background-position: top center;
        }
    }

    &_fm {
        background-image: url("../img/payment/fm.jpg");
        @media(--sm) {
            background-image: url("../img/payment/fm_mobile.jpg");
            background-position: top center;
        }
        @media(--xs) {
            background-image: url("../img/payment/fm_mobile.jpg");
            background-position: top center;
        }
    }

    &_voen {
         background-image: url("../img/payment/voen.jpg");
        @media(--sm) {
            background-image: url("../img/payment/voen_mobile.jpg");
            background-position: top center;
        }
        @media(--xs) {
            background-image: url("../img/payment/voen_mobile.jpg");
            background-position: top center;
        }
    }

    &_stayhome {
        max-width: 572px;
        min-height: 242px;
         background-color: #F1F1F1;
         background-image: url("../img/stayhome/img_1.jpg");
         background-position: center top;
        @media(--lgMinus) {
            min-height: 220px;
        }
        @media(--mdMinus) {
            max-width: 275px;
            min-height: 200px;
            background-image: url("../img/stayhome/img_1_768.jpg");
        }
        @media(--sm) {
            height: 110px !important;
            background-image: url("../img/stayhome/img_1_320.jpg");
            background-size: auto 101px;
        }
        @media(--xs) {
            /*height: 180px !important;*/
            background-image: url("../img/stayhome/img_1_320.jpg");
            background-size: auto 101px;
        }
    }


    @media(--sm) {
        width: 100%;
        height: 200px;
        max-width: 100%;
        min-height: auto;
    }
    @media(--xs) {
        width: 100%;
        max-width: 100%;
        height: 100px;
        min-height: auto;
    }
}

.payment-list-item__title {
    color: #19191a;
    font-family: 'Proxima Nova Regular';
    font-size: 26px;
    flex-basis: 100%;

    @media(--sm) {
        font-size:20px;
    }

    @media(--xs) {
        font-size:20px;
    }
}

.payment-list-item__text {
    font-family: 'Proxima Nova Light';
    color: #3c3c3c;
    font-size: 14px;
    flex-basis: 100%;
    margin-top: 10px;

    & p {
        font-family: 'Proxima Nova Light';
        color: #3c3c3c;
        font-size: 14px;
    }

    &_n2 {
        @media(--mdMinus) {
            max-width:185px;
        }
        @media(--sm) {
            max-width:100%;
        }
        @media(--xs) {
            max-width:100%;
        }
    }

    &_n3 {
        @media(--mdMinus) {
            max-width:230px;
        }
        @media(--sm) {
            max-width:100%;
        }
        @media(--xs) {
            max-width:100%;
        }
    }
    &_n4 {
        @media(--mdMinus) {
            max-width:350px;
        }
        @media(--sm) {
            max-width:100%;
        }
        @media(--xs) {
            max-width:100%;
        }
    }

    &_n5 {
        @media(--mdMinus) {
            max-width:275px;
        }
        @media(--sm) {
            max-width:100%;
        }
        @media(--xs) {
            max-width:100%;
        }
    }

}

.payment-list-item__content-wrap {
    padding: 30px 30px 50px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media(--mdMinus) {
        padding:50px 40px;
    }

    @media(--sm) {
        padding: 20px;
    }

    @media(--xs) {
        padding: 20px;
    }

    &_ipotec {
        padding: 50px 30px;
    }
}

.payment-list-item__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:before,
    &:after {
        transition: ease .3s all;
        position: absolute;
        bottom: 20px;
        right: 30px;
    }

    &:after {
        content: '';
        background: transparent url('/img/payment/arrow_more_black.svg') 0 0 no-repeat;
        width: 30px;
        height: 15px;

        @media (max-width: 768px) {
            right: 20px;
        }
    }

    &:before {
        content: 'Подробнее';
        font-size: 14px;
        font-family: 'Proxima';
        text-transform: uppercase;
        color: rgba(43, 38, 51, .5);
        left: 305px;
        right: auto;

        @media (max-width: 1240px) {
            left: calc(50% + 30px);
        }

        @media (max-width: 1023px) {
            left: 315px;
        }

        @media (max-width: 767px) {
            left: 20px;
        }
    }

    &:hover {
        &:after {
            background-image: url('/img/payment/arrow_more_orange.svg');
        }

        &:before {
            color: #ef9331;
        }
    }

    &._stayhome {
        &:before {
            left: calc(50% + 20px);
            @media (--mdMinus) {
                left: 315px;
            }
            @media(--sm) {
                left: 20px;
            }
            @media (--xs) {
                left: 20px;
            }
        }
    }

}

.payment-list-item__title_border {
    position: relative;
}

.payment-list-item__title_border:after {
    content: '';
    background: #f8b470;
    height: 1px;
    width: 80px;
    position: relative;
    display: block;
    margin-top: 40px;

    @media(--sm) {
        margin-top:20px;
    }
    @media(--xs) {
        margin-top:20px;
    }
}

.payment-list-item__listIpotec {
    padding: 0;
    margin: 25px 0 0 0;
}

.payment-list-item__listIpotec li {
    list-style: none;
    position: relative;
    padding-left: 30px;
    margin: 40px 0;
    font-family: 'Proxima Nova Light';
    color: #19191a;
    font-size: 14px;

    @media(--sm) {
        margin:20px 0;
    }
    @media(--xs) {
        margin:20px 0;
    }
}

.payment-list-item__listIpotec li:before {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 3px;
    width: 18px;
    height: 26px;
}

@media (--mdMinus) {
    .payment-list-item__listIpotec li:before {
        top: -4px;
    }
}

.payment-list-item__listIpotec li:nth-child(1):before {
    background-image: url('../img/payment/icon_4.svg');
}

.payment-list-item__listIpotec li:nth-child(2):before {
    background-image: url('../img/payment/icon_2.svg');
}

.payment-list-item__listIpotec li:nth-child(3):before {
    background-image: url('../img/payment/icon_3.svg');
}

.payment-list-column {
    flex-basis: calc(50% - 10px);
    display: flex;
    flex-direction: column;

    @media(--mdMinus) {
        flex-basis: 100%;
    }
}

