.page-header {
	/*margin-top: 70px;*/
	background: #ededed;
	padding: 25px 0;
	
	@media (--mdPlus) {
		padding-bottom: 19px;
	}
	
	@media (--xlPlus) {
		padding-bottom: 30px;
	}

	&._simple {
		background: #FFF;
	}
}

.page__section {
	padding: 65px 0;

	&._banner {
		padding: 40px 0;
		overflow: hidden;
	}
}

.page__section:last-child {
	padding: 0;
}

.page__section:nth-child(2) {
	background-color: #ededed;
}

.page__section h2 {
	text-align: center;
	font-size: 25px;
	font-family: 'Proxima Nova Regular';
	line-height: 30px;
	margin-bottom: 30px;
}

.page__section .content p {
	font-family: 'Proxima Nova Light';
}

.sub-menu {
	float: right;
	margin-top: 50px;
	position: relative;
	z-index: 10;
	
	@media (--mdPlus) {
		margin-top: 39px;
	}
}

.sub-menu__item {
	transition: ease .3s all;
	font-family: 'Proxima Nova Semibold';
	font-size: 14px;
	text-transform: uppercase;
	color: #f7941e;
	line-height: 16px;
	display: inline-block;
	border-bottom: solid 1px rgba(247, 148, 30, .3);
	text-decoration: none;
	margin-right: 40px
}

.sub-menu__item:last-child {
	margin-right: 0;
}

.sub-menu__item:last-child span:last-child {
	display: none;
}

.sub-menu__item:hover {
	color: #fca742;
	border-bottom-color: transparent;
}

.sub-menu__item._active {
	color: #2b2634;
	border-bottom-color: transparent;
}

.page-steps {
	display: flex;
	flex-flow: row flex-wrap;
	justify-content: flex-start;
	align-items: flex-start;

	& p, li {
		font-size: 14px;
		line-height: 18px;
	}

	&--bottom-align {
		.page-steps__item {
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-end;
			        justify-content: flex-end;
			min-height: 32px;
			margin-bottom: 17px;
		}
	}
}

.page-steps__item {
	position: relative;
	padding-top: 50px;
	flex-grow: 1;
	flex-basis: 0;
	font-family: 'Proxima Nova Regular';
	font-size: 14px;
	margin-right: 40px;
	line-height: 18px;
	
	@media screen and (--xlPlus) {
		margin-right: 8px;
		padding-top: 48px;
		padding-right: 17px;
	}
}

.page-steps__item:last-child {
	margin-right: 0;
}

.page-steps__item:before {
	content: attr(data-index);
	position: absolute;
	top: -3px;
	left: 0;
	font-size: 38px;
	line-height: 42px;
	font-family: 'Proxima Nova Bold';
	color: #f7941e;
}

.page-steps__item:after {
	content: '';
	left: 42px;
	top: 30px;
	position: absolute;
	height: 1px;
	background-color: #f8b470;
	width: 80%;
	
	@media screen and (--xlPlus) {
		top: 27px;
		left: 50px;
		width: 73%;
	}
}

.page-steps__item strong {
	font-family: 'Proxima Nova Bold';
	font-weight: normal;
}

.page-steps-list {
	list-style: none;

	&__item {
		position: relative;
		color: #f7941e;
		padding-left: 10px;
		line-height: 18px;
		margin-bottom: 10px;

		&:before {
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #f7941e;
			position: absolute;
			left: 0;
			top: 6px;
		}

		span {
			color: #19191a;
		}
	}
}

.page__banner {
	background-color: transparent;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 36%;
	margin-bottom: 20px;
	
	@media (--mdPlus) {
		margin-bottom: 0;
	}
}

.content {
	p, li {
		font-family: 'Proxima Nova Regular';
		font-size: 17px;
		line-height: 22px;
	}

	p, ul {
		margin-top: 0;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		list-style: none;

		&.large {
			li {
				margin-bottom: 25px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	li {
		position: relative;
		color: #f7941e;
		padding-left: 25px;
		line-height: 18px;
		margin-bottom: 5px;

		&:before {
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #f7941e;
			position: absolute;
			left: 0;
			top: 6px;
		}

		div {
			color: #19191a;
		}
	}

	h2 {
		text-align: left;
	}

	h3 {
		font-size: 17px;
		font-family: 'Proxima Nova Semibold';
		line-height: 22px;
		margin-bottom: 5px;
	}

	em {
		color: #666;
	}
}

.page-sidebar {
	/*display: none;*/
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 100;
	top: 70px;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(43, 38, 52, .8);
	overflow: hidden;
	transition: all 0.4s ease;
	@media (--smMinus) {
		top: 0;
		z-index: 100010;
	}

	&__wrapper {
		width: 100%;
		display: none;
	}

	&__scroll {
		max-height: 660px;
	}
}

.scroll-wrapper {
	width: calc(100% + 30px);

	> .scrollbar-inner {
		width: calc(100% + 17px) !important;
	}
	> .scroll-content {
		max-height: 100% !important;
	}

	.scrollbar-helper {
		padding-right: 50px;
	}

	.scroll-element {
		&.scroll-y {
			right: 5px;
			left: auto;
		}

		&.scroll-x {
			display: none !important;
		}

		.scroll-element_track {
			width: 2px;
			background-color: #494450;
			left: 50%;
			margin-left: -1px;
		}

		.scroll-bar {
			opacity: 1;
			background-color: #bfbdc2;
			width: 2px;
			border-radius: 1px;
			left: 3px;
		}
	}
}

.page-sidebar__inner {
	transition: ease .3s all;
	transform: translateX(-100%);
	width: 440px;
	padding: 55px;
	background-color: #2b2634;
	min-height: 100%;
	display: flex;
	align-items: center;
}

.page-sidebar__close {
	transition: ease .3s all;
	display: block;
	position: absolute;
	top: 37px;
	right: 15px;
	width: 18px;
	height: 18px;
	background: transparent url('../img/mortgage/close.png') center no-repeat;
	cursor: pointer;
	@media screen and (--lgMinus) {
		top: 22px;
		right: 0;
		width: 48px;
		height: 48px;
	}
    @media screen and (--xs) {
        top: 0;
    }
    &:hover {
        transform: rotate(180deg);
    }
}

.page-sidebar__tlt {
	color: #fff;
	font-size: 30px;
	font-family: 'Proxima Nova Regular';
	line-height: 36px;
	margin-bottom: 40px;

	span {
		display: block;
		font-size: 17px;
		color: #f7941e;
		line-height: 1.6;
	}
}

.page-sidebar._active {
	/*display: block;*/
	opacity: 1;
	visibility: visible;
	@media (--smMinus) {

	}
	/*& .page-sidebar__wrapper {
		display: flex !important;
		flex-direction: column;
		justify-content: center;
	}*/
}

.page-sidebar._active .page-sidebar__inner {
	transform: translateX(0);
}

.page-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	&__success {
		margin-bottom: 10px;
		position: relative;
		padding-top: 100px;
		text-align: center;

		.page-sidebar__tlt {
			margin-bottom: 10px;
		}

		p {
			color: #fff;
			margin: 0 0 30px 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 100px;
			margin-left: -50px;
			height: 75px;
			background: transparent url(../img/call-success.svg) 0 0 no-repeat;
		}
	}

	&._mail {
		.page-form__step {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 45px;

			&:last-child {
				margin-bottom: 0;

				.page-form__lbl {
					width: 100%;
				}
			}
		}

		.page-form__lbl {
			width: calc(100% - 190px);
		}

		.page-form__inp {
			height: 38px;
			line-height: 38px;
			font-size: 17px;
			border: none;
			border-bottom: solid 1px #b8b8b8;
			color: #2c2934;

			&._active {
				+ .page-form__placeholder {
					font-size: 14px;
				}
			}
		}

		.button {
			width: 160px;
			height: 38px;
			line-height: 38px;
		}

		.ws-errorbox {
			right: 190px;
		}

		@media (--mdMinus) {
			.page-form__step {
				margin-bottom: 25px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.ws-errorbox {
				display: none !important;
			}

			.page-form__inp {
				&.user-error {
					border-color: #c80a18;

					+ .page-form__placeholder {
						color: #c80a18;
					}
				}
			}

			.checkbox__inp {
				&.user-error {
					+ .checkbox__txt {
						color: #c80a18;

						&:before {
							border-color: #c80a18;
						}
					}
				}
			}

			.page-form__lbl {
				width: calc(100% - 170px);
			}
		}

		@media (--smMinus) {
			.page-form__step {
				flex-direction: column;
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.page-form__inp {
				text-align: center;
			}

			.page-form__placeholder {
				left: 50%;
				transform: translateX(-50%);
			}

			.page-form__lbl {
				width: 100%;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.checkbox__txt {
				text-align: left;
			}
		}
	}
}

.page-form__step {
	margin-bottom: 35px;
	width: 100%;
	&._conditions {
		margin-top: -15px;
		margin-bottom: 20px;

		p {
			font-size: 16px;
		}
	}
}

.page-form__step:last-child {
	margin-bottom: 0;
}

.page-form__step._double {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.page-form__step._double .page-form__lbl {
	width: calc(50% - 20px);
}

.page-form__step._double .page-form__lbl:first-child {
	margin-right: 40px;
}

.page-form__stepTitle {
	font-family: 'Proxima';
	font-weight: 300;
	font-size: 16px;
	color:#ffffff;
	margin-bottom: 15px;
}

.page-form__lbl {
	display: block;
	position: relative;
}

.page-form__inp,
.page-form__txtarea {
	transition: ease .3s all;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: solid 1px #fff;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 17px;
	font-family: 'Proxima Nova Light';
	position: relative;
}

.page-form__inp.user-error,
.page-form__txtarea.user-error {
	border-bottom-color: #c80a18;
}

.page-form__inp:focus,
.page-form__inp:invalid,
.page-form__txtarea:focus,
.page-form__txtarea:invalid {
	outline: 0 !important;
	box-shadow: none !important;
}

.page-form__inp._slide {
	border: none;
}

.page-form__inp._age {
	width: 22px;
}

.page-form__inp._small {
	font-size: 16px;
}

.page-form__inp._large {
	font-size: 30px;
	height: 60px;
	line-height: 60px;
}

.page-form__txtarea {
	resize: none;
	min-height: 80px;
	line-height: 1.2;
	overflow: hidden !important;
	padding: 10px 0;
}

.page-form__placeholder,
.page-form__require {
	transition: ease .3s all;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	font-size: 17px;
	color: #a7a6a8;
	font-style: normal;
	font-family: 'Proxima Nova Regular';
	cursor: text;
}

.page-form__require {
	left: auto;
	right: 0;
	font-size: 14px;
	color: #6b6871;
	font-family: 'Proxima Nova Light';
}

.page-form__inp._active+.page-form__placeholder,
.page-form__txtarea._active+.page-form__placeholder {
	font-size: 14px;
	line-height: 14px;
	top: -14px;
}

.page-form__inp._active+.page-form__placeholder+.page-form__require,
.page-form__txtarea._active+.page-form__placeholder+.page-form__require {
	line-height: 14px;
	right: 85px;
	top: -14px;
}

.page-form__btn {
	font-size: 15px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-family: 'Proxima Nova Light';
}

.page-form__btn a {
	transition: ease .3s all;
	color: #f7941e;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: solid 1px #6c472f;
	font-family: 'Proxima Nova Regular';
}

.page-form__btn a:hover {
	border-bottom-color: transparent;
	color: #fca742;
}

.page-form__age {
	color: #fff;
	font-family: 'Proxima Nova Regular';
	size: 16px;
}

.checkbox {
	display: block;

	&__inp {
		display: none;

		&:checked {
			+ .checkbox__txt {
				&:after {
					display: block;
				}
			}
		}
	}

	&__txt {
		position: relative;
		padding-left: 25px;
		font-size: 13px;
		line-height: 16px;

		a {
			color: #f7941e;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
		}

		&:before {
			width: 14px;
			height: 14px;
			border: solid 1px #b8b8b8;
			left: 0;
			top: 0;
		}

		&:after {
			display: none;
			width: 8px;
			height: 7px;
			left: 4px;
			top: 5px;
			background: transparent url('../img/check-icon.svg') 0 0 no-repeat;
			background-size: 100%;
		}

		&_v2 {
			color:#7d7d7d;

			@media(--sm) {
				font-size:9px;
				padding-left:20px;
			}
			@media(--xs) {
				font-size:9px;
				padding-left:20px;
			}
			&:before {
				width:12px;
				height: 12px;
			}
			&:after {
				 display: none;
				 width: 14px;
				 height: 14px;
				 left: 2px;
				 top: -3px;
				 background: transparent url('../img/check-icon.svg') 0 0 no-repeat;
				 background-size: 100%;
			}

			& a {
				color:#7d7d7d;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

		}
	}
}

@media screen and (--mdMinus) {
	.page__section {
		&._banner {
			padding: 0;

			.container {
				padding: 0;
			}
		}
	}

	.page-steps {
		display: block;
	}

	.page-steps__item {
		width: 100%;
		padding-top: 0;
		padding-left: 53px;
		margin-bottom: 22px;
		min-height: 40px;
	}

	.page-steps__item:last-child {
		margin-bottom: 0;
	}

	.page-steps__item:after,
	.page-steps__item br {
		display: none;
	}
}

@media screen and (--890) {
	.sub-menu__item {
		margin-right: 20px;
	}

	.mortgage-header .title-page:after {
		width: 32px;
		right: -40px;
	}

	.page-sidebar__inner {
		padding: 30px;
	}
}

@media screen and (--smMinus) {
	.sub-menu {
		margin-top: 43px;
	}

	.page__section {
		padding: 31px 0 45px;
	}

	.page__section h2 {
		text-align: left;
	}

	.page__banner {
		width: calc(100% + 80px);
		margin-left: -40px;
		margin-bottom: 0;
	}
}

@media screen and (--640) {
	.page-header {
		position: relative;
		padding: 19px 0 70px;

		&._simple {
			padding-top: 21px;
			padding-bottom: 31px;
			
			.title-page {
				line-height: 35px;
			}
		}
	}

	.sub-menu {
		float: none;
		position: absolute;
		margin: 0;
		bottom: 25px;
	}
}

@media screen and (--xs) {
	.sub-menu__item span {
		display: none;
	}

	.sub-menu__item:last-child span:last-child {
		display: block;
	}

	.page__section h2 {
		font-size: 20px;
		line-height: 26px;
		font-family: 'Proxima Nova Regular';
	}

	.page__banner {
		/* width: calc(100% + 40px);
		margin-left: -20px; */
		width: 100%;
		margin-left: 0;
	}

	.page-sidebar__inner {
		padding: 30px;
		width: 100%;
	}

	.page-sidebar__tlt {
		font-size: 24px;
		margin-bottom: 25px;
	}

	.page-form__success {
		text-align: center;
	}

	.page-form__step._double .page-form__lbl {
		width: calc(50% - 10px);
	}

	.page-form__step._double .page-form__lbl:first-child {
		margin-right: 20px;
	}

	.page-form__placeholder {
		font-size: 14px;
	}

	.ws-errorbox .ws-errormessage {
		font-size: 12px;
	}

	.page-form__require {
		right: 15px !important;
	}

	.page-form__inp {
		font-size: 14px;
	}

	.page-form__inp._large {
		font-size: 24px;
		height: 50px;
		line-height: 50px;
	}

	.content {
		h3, p {
			font-size: 15px;
		}

		li {
			padding-left: 20px;
		}

		h3 {
			margin-bottom: 0;
			line-height: 1.2;
		}
	}

	.page-steps__item strong {
		display: inline-block;
	}
}

.page-steps__item {
	@media screen and (--md) {
		margin-bottom: 30px;
		padding-left: 50px;
	}
}


.select-wrap {
	&__lbl {
		 display: block;
		 font-size: 16px;
		 line-height: 24px;
	}

	.ui-widget {
		font-family: 'Proxima Nova Regular';
	}

	.ui-button {
		position: relative;
		padding: 0 50px 0 10px;
		border-radius: 0;
		margin: 0;
		height: 50px;
		line-height: 50px;
		background: none;
		border: solid 1px #d6dade;
		color: #3b3b3b;
		width: 100%;

		&.ui-selectmenu-button-open {
			 border-color: #f7941e;
		}

		&:focus {
			 outline: none;
		}

	.ui-icon {
		position: absolute;
		top: 0;
		right: 0;
		float: none;
		width: 50px;
		height: 100%;

		&:before,
		&:after {
			 transition: ease .1s all;
			 content: '';
			 position: absolute;
			 top: 50%;
			 left: 50%;
			 width: 8px;
			 height: 1px;
			 background-color: #3b3b3b;
		}

		&:before {
			 transform: rotate(45deg);
			 margin-left: -5.5px;
			 border-radius: 0 0 50% 0;
		}

		&:after {
			 transform: rotate(-45deg);
			 border-radius: 0 0 0 50%;
		}
	}

		.ui-selectmenu-text {
			margin: 0;
			height: 100%;
		}

		&.ui-selectmenu-button-open {
			.ui-icon {
				&:before {
					 transform: rotate(135deg);
				}

				&:after {
					 transform: rotate(-135deg);
				}
			}
		}
	}
}

.ui-selectmenu-menu {
	&._custom {
		 background-color: #fff;

		.ui-widget {
			font-family: 'Proxima Nova Regular';
		}

		.ui-menu {
			border: solid 1px #d6dade;
			border-top: none;
			margin-top: -1px;

			.ui-menu-item {
				list-style: none;
			}

			.ui-menu-item-wrapper {
				padding: 0 10px 0;
				font-size: 14px;
				line-height: 22px;
				border: none;

				&.ui-state-active {
					 background-color: #f7941e;
				}
			}
		}

		&.ui-selectmenu-open {
			.ui-menu {
				border-color: #f7941e;
			}
		}
		& .ui-menu {
			max-width: 570px;
		}
	}
}

.page-form__step._date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

	.page-form__lbl {
		width: calc(100% - 75px);
		margin: 0;

		@media screen and (--xs) {
			width: calc(100% - 65px);
		}

		&:first-child {
			z-index: 10;

			&:after {
				transition: ease .3s all;
				content: '';
				position: absolute;
				width: 80px;
				height: 1px;
				background-color: #fff;
				left: 100%;
				bottom: 0;

				@media screen and (--xs) {
					width: 60px;
				}
			}

			&.ws-invalid {
				&:after {
					 background-color: #c80a18;
				}
			}
		}

		&:last-child {
			 width: 45px;
			 margin-left: 30px;

			@media screen and (--xs) {
				margin-left: 20px;
			}

			.page-form__inp {
				border: none;
				letter-spacing: -1.5px;
				text-align: center;
			}

			&:before,
			&:after {
				 content: '';
				 position: absolute;
				 width: 17px;
				 height: 1px;
				 background-color: #fff;
				 bottom: 0;
			}

			&:before {
				 left: 0;
			}

			&:after {
				 left: 28px;
			}
		}
	}

	&._active {
		.page-form__lbl {
			&:first-child {
				&:after {
					 width: 0;
					 background-color: #e5af2d;
				}
			}

			&:last-child {
				&:before,
				&:after {
					 background-color: #fff;
				}
			}
		}
	}
}

.ui-datepicker {
	z-index: 1000 !important;
	background-color: #fff;
	width: 295px;
	border: none;
	border-radius: 0;
	font-family: 'Gilroy';
	font-size: 12px;
	padding: 10px 20px 25px;

	.ui-datepicker-header {
		padding: 0;
		border: none;
		background: transparent;
		margin: 0;
	}

	.ui-datepicker-title {
		margin: 0;
		font-size: 14px;
		line-height: 34px;
		font-weight: 500;
	}

	.ui-datepicker-prev,
	.ui-datepicker-next {
		width: 36px;
		height: 34px;
		border-radius: 0;
		border: none;
		padding: 0;
		margin: 0;
		font-weight: 400;
		top: 0;
		cursor: pointer;

		span {
			display: none;
		}

		&:before,
		&:after {
			 content: '';
			 position: absolute;
			 top: 50%;
			 left: 50%;
			 width: 10px;
			 height: 1px;
			 background-color: #000;
			 margin-left: -5px;
		}

		&:before {
			 transform: rotate(-45deg);
			 margin-top: -3px;
		}

		&:after {
			 transform: rotate(45deg);
			 margin-top: 3px;
		}

		&.ui-state-hover {
			padding: 0;
			background: none;
			border: none;
			font-weight: 400;

			&:before,
			&:after {
				 background-color: #319b6b;
			}

		}
	}

	.ui-datepicker-prev {
		left: 0;

		&.ui-datepicker-prev-hover {
			 left: 0;
			 top: 0;
		}
	}

	.ui-datepicker-next {
		right: 0;
		transform: rotate(180deg);

		&:before,
		&:after {
			 margin-right: -5px;
		}

		&.ui-datepicker-next-hover {
			 right: 0;
			 top: 0;
		}
	}

	.ui-datepicker-calendar {
		border-collapse: collapse;
		padding: 0;

		td,
		th {
			padding: 0;
			border: none;
		}

		th {
			span {
				display: block;
				width: 36px;
				height: 34px;
				line-height: 34px;
				text-transform: uppercase;
				font-weight: 400;
				color: rgba(0, 0, 0, .6);
				margin: 0 auto;
			}
		}

		.ui-state-default {
			transition: ease .1s all;
			width: 36px;
			height: 34px;
			line-height: 34px;
			display: block;
			text-align: center;
			border: solid 1px transparent;
			background: transparent;
			padding: 0;
			margin: 0 auto;
			font-weight: 400;
			border-radius: 50%;

		&:hover {
			 border-color: #f7941e;
		}

			&.ui-state-active,
			&.ui-state-highlight {
				 background-color: #f7941e;
				 color: #fff;
			}
		}
	}

	@media screen and (--xs) {
		z-index: 1000000 !important;
		width: calc(100% - 40px);
	}
}

.ui-datepicker-remover {
	transition: ease .3s all;
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	width: 12px;
	height: 12px;
	margin-top: -6px;
	cursor: pointer;

	&:before,
	&:after {
		 position: absolute;
		 top: 50%;
		 content: '';
		 width: 12px;
		 height: 1px;
		 background-color: rgba(255, 255, 255, .5);
	}

	&:before {
		 transform: rotate(45deg);
	}

	&:after {
		 transform: rotate(-45deg);
	}

	&:hover {
		 transform: rotate(180deg);
	}
}
/*ремонт скролла на формах*/
.page-sidebar {
	&__wrapper {
		height: 100%;
	}

	&__scroll {
		max-height: 100%;
		height: 100%;
	}
	&__inner {
		height: 100%;
	}
}
.scrollbar-helper {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
