{% set title = "Сравнение" %}
{% extends "layout.njk" %}
{% block content %}

<style id="styleRow"></style>

<div class="wrapper">
    <div class="Compare" data-compare-source="/ajax/comparison.json">
        <div class="Compare__header">
            <div class="Compare__title Compare__title_desktop">Сравнение</div>
            <div class="SubCheckboxes__item">
                <input type="checkbox" id="CompareCheckboxDiff" class="SubCheckboxes__input" name=""  autocomplete="off"/>
                <label id="CompareLabelDiff" for="CompareCheckboxDiff">Показывать только отличия</label>
            </div>
        </div>
        <div class="Compare__result"></div>
    </div>
</div>



{% include "includes/blocks/btn-call.njk" %} {% endblock %} {% block page_bottom %}

<script src="js/compare.js"></script>
{% endblock %}