{% set title = "Меняй дрели на трели" %}
{% extends "layout.njk" %}

{% block content %}
<div class="wrapper">
    <section class="longread-banner DreliTreli_banner">
        <div class="longread-banner__text">
            Меняй дрели на трели
            <div class="longread-banner__subtext">
                Квартиры и апартаменты с готовой отделкой
            </div>
        </div>
    </section>

    <section class="longread-section _dreliTreli">
        <div class="longread-section__container">
            <div class="DreliTreliItem">
                <div class="DreliTreliItem_txt">
                    <div class="DreliTreliItem_tlt">Жилой квартал «Летний&nbsp;сад»</div>
                    <p>Покупка квартиры или апартамента с отделкой в жилом охраняемом комплексе класса «комфорт-плюс» предоставит вам возможность быстро заселиться в ваш новый дом и подарит все возможности наслаждаться жизнью высокого класса. Изучите множество удобных планировок, выберите современный или классический вариант отделки и создайте свой собственный неповторимый дизайн.</p>
                    <a href="#" class="DreliTreliItem_btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
                </div>
                <div class="DreliTreliItem_img" style="background-image:url('img/dreli_treli/pic-1.jpg');"></div>
            </div>
            <div class="DreliTreliItem _reverse">
                <div class="DreliTreliItem_txt">
                    <ul>
                        <li>Десятки продуманных планировок;</li>
                        <li>Лоджии в каждой квартире;</li>
                        <li>Спальни с окнами во двор;</li>
                        <li>Квартиры с отдельными гардеробными;</li>
                        <li>Два вида отделки: классический и современный;</li>
                        <li>Экологичные материалы и нейтральный цвета;</li>
                        <li>Современные инженерные системы;</li>
                        <li>Подземный паркинг с лифтом от квартир;</li>
                        <li>Фруктовый сад.</li>
                    </ul>
                    <a href="#" class="DreliTreliItem_btn">УЗНАТЬ БОЛЬШЕ</a>
                </div>
                <div class="DreliTreliItem_img" style="background-image:url('img/dreli_treli/pic-2.jpg');"></div>
            </div>
        </div>

        <div class="container container--longread-item">
            <div class="longread-video _viewVideo" data-video>
                <div class="longread-video__bg _noneBgIcon _allWhiteIcon" style="background-image: url('img/longread-2/bg_viewZKVideo.jpg')"></div>
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/d82Rvxl22gk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="longread-section__container">
            <div class="DreliTreliItem">
                <div class="DreliTreliItem_txt">
                    <div class="DreliTreliItem_tlt">Дом, созданный для вас</div>
                    <p>Жилой квартал «Летний сад» — это ваша возможность стать собственником квартиры или апартамента, идеально подходящего именно вам. В каждой квартире предусмотрена лоджия. Во многих есть специальные гардеробные. Окна уютных спален выходят во двор, так что вы сможете наслаждаться тишиной и видами на собственный фруктовый сад.</p>
                    <a href="#" class="DreliTreliItem_btn">ЗАКАЗАТЬ ЗВОНОК</a>
                </div>
                <div class="DreliTreliItem_img" style="background-image:url('img/dreli_treli/pic-3.jpg');"></div>
            </div>
            <div class="DreliTreliItem _reverse">
                <div class="DreliTreliItem_txt">
                    <div class="DreliTreliItem_tlt">Забудьте о ремонте</div>
                    <p>Сэкономьте силы, время и средства и создайте квартиру вашей мечты. Выберите подходящий вариант готового ремонта, ведь мы подготовили для вас «современный» и «классический» варианты отделки. Продумайте, какую мебель вы предпочитаете, завезите ее и заселяйтесь сразу же после получения ключей.</p>
                    <a href="#" class="DreliTreliItem_btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
                </div>
                <div class="DreliTreliItem_img" style="background-image:url('img/dreli_treli/pic-4.jpg');"></div>
            </div>
        </div>

        <div class="DreliTreliChoose">
            <div class="longread-section__container">
                <div class="DreliTreliChoose_tlt">Выбирайте правильно</div>
                <div data-dt-tabs>
                    <ul class="DreliTreliChoose_tabs">
                        <li>
                            <a href="#dt-tab1" class="DreliTreliChoose_tab">
                                <img src="img/dreli_treli/icon_2.svg" alt="">
                                Дрели
                            </a>
                        </li>
                        <li>
                            <a href="#dt-tab2" class="DreliTreliChoose_tab">
                                <img src="img/dreli_treli/icon_1.svg" alt="">
                                Трели
                            </a>
                        </li>
                    </ul>
                    <div id="dt-tab1" class="DreliTreliChoose_cont">
                        <div class="DreliTreliChooseItem">
                            <div class="DreliTreliChooseItem_tlt">Стресс от ремонта</div>
                            <p>Заставляет руки опуститься?</p>
                        </div>
                        <div class="DreliTreliChooseItem">
                            <div class="DreliTreliChooseItem_tlt">Расходы на отделку</div>
                            <p>Почти невозможно рассчитать заранее?</p>
                        </div>
                        <div class="DreliTreliChooseItem">
                            <div class="DreliTreliChooseItem_tlt">Неприятные занятия</div>
                            <p>Мешают наслаждаться жизнью?</p>
                        </div>
                    </div>
                    <div id="dt-tab2" class="DreliTreliChoose_cont">
                        <div class="DreliTreliChooseItem">
                            <div class="DreliTreliChooseItem_tlt">Квартира готова</div>
                            <p>К заселению сразу же</p>
                        </div>
                        <div class="DreliTreliChooseItem">
                            <div class="DreliTreliChooseItem_tlt">Никаких ошибок</div>
                            <p>В расчетах — все подобрано профессионалами</p>
                        </div>
                        <div class="DreliTreliChooseItem">
                            <div class="DreliTreliChooseItem_tlt">Добрые отношения</div>
                            <p>С соседями не омрачит шум отделочных работ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="longread-section__container">
            <div class="DreliTreliItem">
                <div class="DreliTreliItem_txt">
                    <div class="DreliTreliItem_tlt">Квартиры и апартаменты с готовой отделкой</div>
                    <p>Выбрав квартиру или апартамент с готовой отделкой в семейном квартале «Летний сад», вы сможете завезти мебель и заселиться в ваш новый дом сразу же после получения ключей. Выбирайте дом, в котором каждая деталь создана с заботой о вас.</p>
                </div>
                <div class="DreliTreliItem_img" style="background-image:url('img/dreli_treli/pic-5.jpg');"></div>
            </div>
        </div>

        <div class="DreliTreliBtns">
            <div class="DreliTreliBtns_tlt">Появились вопросы?</div>
            <div class="DreliTreliBtns_wrap">
                <a href="#" class="DreliTreliBtns_btn">
                    <img src="img/dreli_treli/call.svg" alt="">
                    ЗАКАЖИТЕ ОБРАТНЫЙ ЗВОНОК
                </a>
                <a href="#" class="DreliTreliBtns_btn">
                    <img src="img/dreli_treli/excursion.svg" alt="">
                    ЗАПИШИТЕСЬ НА ЭКСКУРСИЮ
                </a>
                <a href="#" class="DreliTreliBtns_btn">
                    <img src="img/dreli_treli/show_room.svg" alt="">
                    ПОСЕТИТЕ ШОУ-РУМ
                </a>
            </div>
        </div>

    </section>

</div>


{% endblock %}


{% block page_bottom %}
    <script src="js/longread.js"></script>
{% endblock %}
