{% set title = "Подбор по параметрам" %} {% extends "layout.njk" %} {% block content %}
<div class="wrapper">
    <nav class="TopNav">
        <div class="TopNav_inner">
            <div class="TopNav_leaf"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
            <div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
            <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
            <div class="TopNav_leaf TopNav_leaf-active"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
        </div>
    </nav>

    <section class="Flat">
        <div class="Flat_plan">
            <div class="Flat_planInfo">
                <a href="/filters.html" class="Flat_linkBack">
                    <img src="img/flat/arrow_back.svg" class="Flat_linkBackIcon" alt="">
                </a>
                <div class="Flat_planImg" style='background-image: url("img/flat/flat.svg")'></div>
                <div class="Flat_planInfoWrapper">


                    <div class="Flat_svgInfoWrapper">
                        <svg class="Flat_compass" xmlns="http://www.w3.org/2000/svg" width="99" height="101">
                            <path fill="#EDEDED" fill-rule="evenodd" d="M56.5 44l.9 1.9 1.7 3.5 13.1-9.7L56.5 44zm0 0l6.1-28.6-12.7 26.3 4.5-2.2 2.1 4.5zm4.9 9.9l-4.5 2.2 28.6 6.1-26.3-12.8 2.2 4.5zM42.2 51l-13.1 9.7 15.7-4.3-1.6-3.3-1-2.1zm2.3-6.7l2.7-1.3 2.7-1.3-9.7-13.1 4.3 15.7zm7 14.4l9.7 13.1-4.3-15.7-5.4 2.6zM42.2 51L40 46.5l4.5-2.2-28.6-6.1L42.2 51z" clip-rule="evenodd"/>
                            <path fill="#F7941E" fill-rule="evenodd" d="M47 60.9l-2.2-4.5L38.7 85l12.8-26.3zm-.3-12.1l5.4-2.6 2.6 5.4-5.4 2.6-2.6-5.4z" clip-rule="evenodd"/>
                            <path fill="#B8B8BA" fill-rule="evenodd" d="M67.2 1c-1 0-1.9.4-2.7 1.1-.7.7-1.2 1.6-1.3 2.8h-1.7V1.1h-.9v8.4h.9V5.6h1.7c.1 1.2.5 2.1 1.2 2.9.7.8 1.6 1.1 2.7 1.1s2.1-.4 2.8-1.2c.8-.8 1.1-1.9 1.1-3.1s-.2-2.3-1-3.1c-.7-.8-1.6-1.2-2.8-1.2zm2.2 6.8c-.6.6-1.3 1-2.2 1-.9 0-1.6-.3-2.2-1-.6-.6-.9-1.5-.9-2.5s.3-1.9.9-2.5c.6-.6 1.3-1 2.2-1 .9 0 1.6.3 2.2 1 .6.6.9 1.5.9 2.5s-.3 1.9-.9 2.5zm-36.2 91c-.7-.7-1-1.5-1-2.5s.3-1.8 1-2.5 1.5-1 2.4-1c.8 0 1.6.2 2.3.7v-.9c-.7-.4-1.4-.6-2.4-.6-1.2 0-2.3.4-3.1 1.2-.8.8-1.2 1.8-1.2 3.1s.4 2.3 1.2 3.1c.8.8 1.8 1.2 3.1 1.2 1 0 1.8-.3 2.5-.7V99c-.7.6-1.5.8-2.5.8-.8 0-1.6-.3-2.3-1zm64.5-33.1c-.3-.4-.8-.6-1.2-.8.3-.1.7-.3.9-.6.3-.3.4-.7.4-1.2 0-.7-.3-1.2-.8-1.6-.5-.3-1.2-.5-2-.5s-1.7.2-2.5.6v.8c.9-.4 1.7-.6 2.5-.6 1.2 0 2.1.5 2.1 1.4 0 .9-.7 1.4-1.9 1.4H94v.8h1c1.4 0 2.3.7 2.3 1.7 0 1.1-1 1.8-2.6 1.8-1 0-1.9-.2-2.7-.7v.8c.8.4 1.7.6 2.8.6 1 0 1.9-.2 2.5-.7.6-.5.9-1.1.9-1.8.1-.6-.1-1.1-.5-1.4zM5.6 33.9c.7-.3 1.1-.9 1.1-1.8 0-1.3-.9-2-2.4-2H.7v8.4h4c1.7 0 2.8-.9 2.8-2.3 0-1.3-.8-2.1-1.9-2.3zm-4-3h2.6c1.1 0 1.7.5 1.7 1.4 0 .9-.6 1.4-1.7 1.4H1.6v-2.8zm2.9 6.8h-3v-3.3h3c1.2 0 2 .6 2 1.6 0 1.1-.7 1.7-2 1.7z" clip-rule="evenodd"/>
                        </svg>
                        <div class="Flat_sectionPlans">
                            <svg xmlns="http://www.w3.org/2000/svg" width="129" height="116">
                                <path fill="#B8B8BA" fill-rule="evenodd" d="M32.5 111.4c0 1.2.8 1.8 1.6 2l-1.6 2.6h1.3l1.5-2.5h1.2v2.5h1.2v-6.7h-2.9c-1.5 0-2.3.9-2.3 2.1zm3.9-1.1v2.1h-1.6c-.7 0-1.1-.4-1.1-1.1 0-.6.5-1.1 1.1-1.1h1.6zm8.6-1h-1.4l-1.7 2.4-1.7-2.4h-1.4l2.3 3.2-2.5 3.4H40l1.9-2.6 1.9 2.6h1.4l-2.5-3.4 2.3-3.2zm4 0h-2.9v6.7h1.2v-2.5H49c1.4 0 2.2-1 2.2-2.1s-.8-2.1-2.2-2.1zm-.1 3.2h-1.6v-2.1h1.6c.7 0 1.1.4 1.1 1.1 0 .5-.5 1-1.1 1zm6.6-3.3c-2 0-3.4 1.5-3.4 3.4s1.4 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.4-3.4-3.4-3.4zm0 5.9c-1.3 0-2.2-1-2.2-2.4s.9-2.4 2.2-2.4c1.3 0 2.2 1 2.2 2.4.1 1.3-.8 2.4-2.2 2.4zm8.3-1.4l-1.8-4.4h-1.6v6.7h1.2v-5l2 4.9h.4l2-4.9v4.9h1.2v-6.7h-1.6l-1.8 4.5zm8.3-3.5c.7 0 1.4.4 1.7 1l1-.5c-.5-.8-1.3-1.5-2.7-1.5-2 0-3.5 1.4-3.5 3.4s1.5 3.4 3.5 3.4c1.3 0 2.2-.7 2.7-1.5l-1-.5c-.3.6-1 1-1.7 1-1.3 0-2.3-1-2.3-2.4 0-1.3 1-2.4 2.3-2.4zm9.1-.9h-1.4l-2.6 3.2v-3.2H76v6.7h1.2v-2.1l.6-.7L80 116h1.4l-2.9-3.5 2.7-3.2zm2.4 4.6v-4.6h-1.2v6.7h1.1l3.5-4.8v4.8h1.2v-6.7H87l-3.4 4.6zm9.2-4.9c.7 0 1.3-.3 1.7-.9l-.5-.4c-.3.4-.7.7-1.3.7-.5 0-1-.3-1.3-.7l-.5.4c.6.5 1.2.9 1.9.9zm-1.7 4.9v-4.6h-1.2v6.7H91l3.5-4.8v4.8h1.2v-6.7h-1.2l-3.4 4.6zm9.1 2.1h1.2v-5.6h3.5v5.6h1.2v-6.7h-5.8v6.7zm10.4-6.7h-2.9v6.7h1.2v-2.5h1.8c1.4 0 2.2-1 2.2-2.1s-.9-2.1-2.3-2.1zm-.2 3.2h-1.6v-2.1h1.6c.7 0 1.1.4 1.1 1.1.1.5-.4 1-1.1 1zm3.2 2.2c-.4 0-.7.3-.7.7 0 .4.3.7.7.7.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7zM5.8 85.8H.2v4.5l3.4.4c2 .3 2.3.6 2.4 1.3h2.1v-1.2H6.9v-4.5h1.2v-1.2H5.8v.7zm0 4.6c-.4-.4-1.1-.8-2.1-.9l-2.5-.3V87h4.6v3.4zm1.1-13.3H.2v1.6l4.4 1.8-4.4 1.8V84h6.7v-1.2h-5l4.9-2v-.5l-4.9-2h4.9v-1.2zm0-7.4H.2v1.2l4.6 3.4H.2v1.2h6.7v-1.1l-4.8-3.5h4.8v-1.2zm0-4.5H1.2v-2h-1v5.2h1v-2h5.6v-1.2zm0-4.4H4.4V59c0-1.4-1-2.2-2.1-2.2S.2 57.6.2 59v3h6.7v-1.2zm-3.5 0H1.2v-1.6c0-.7.4-1.1 1.1-1.1.6 0 1.1.5 1.1 1.1v1.6zm.1-4.9c2 0 3.4-1.4 3.4-3.4s-1.5-3.4-3.4-3.4S.1 50.5.1 52.5s1.5 3.4 3.4 3.4zm0-5.6c1.4 0 2.4.9 2.4 2.2 0 1.3-1 2.2-2.4 2.2s-2.4-.9-2.4-2.2c0-1.3 1.1-2.2 2.4-2.2zm-.1-6.6c-.1-.6-.7-1.2-1.5-1.2-.9 0-1.7.7-1.7 1.9v3.3h6.7v-3.4c0-1.2-.8-1.9-1.8-1.9-.8 0-1.6.6-1.7 1.3zM3 46.6H1.2v-1.9c0-.6.4-.9.9-.9s.9.3.9.9v1.9zm2.8-1.9v1.9H4v-1.9c0-.7.4-1 .9-1 .6-.1.9.3.9 1zm-2.3-3.4c2 0 3.4-1.5 3.4-3.5 0-1.3-.7-2.2-1.5-2.7l-.5 1c.6.3 1 1 1 1.7 0 1.3-1 2.3-2.4 2.3s-2.4-1-2.4-2.3c0-.7.4-1.4 1-1.7l-.5-1c-.8.5-1.5 1.3-1.5 2.7 0 2 1.4 3.5 3.4 3.5zm3.4-12.8l-3.5 2.9-3.1-2.7v1.4l3.2 2.6H.2v1.2h6.7v-1.2H4.7l-.7-.6L6.9 30v-1.5zm-3.4-.2c2 0 3.4-1.4 3.4-3.4s-1.5-3.4-3.4-3.4S.1 22.9.1 24.9s1.5 3.4 3.4 3.4zm0-5.6c1.4 0 2.4.9 2.4 2.2 0 1.3-1 2.2-2.4 2.2s-2.4-.9-2.4-2.2c0-1.4 1.1-2.2 2.4-2.2zm3.4-7.2h-1v3.4H4v-3.3H3v3.3H1.2v-3.4h-1v4.6h6.7v-4.6zm0-12.4H.2v1.2h5.6v2.3H.2v1.2h5.6v2.3H.2v1.2h6.7V3.1zm-.6-1.4c.4 0 .7-.4.7-.7 0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7 0 .3.3.7.7.7z" clip-rule="evenodd"/>
                                <path fill="#EDEDED" fill-rule="evenodd" d="M18 42h9V0h-9v42zM45 0h-9v42h9V0zm24 42h9V0h-9v42zM67 0H47v9h20V0zm0 33H47v9h20v-9zM18 93h9V51h-9v42zm18 0h42v-9H36v9zm9-42h-9v31h9V51zm24 14h9V51h-9v14zm0 17h9V68h-9v14zm-2-31H47v9h20v-9zm20 42h42v-9H87v9zm9-42h-9v31h9V51zm24 0v14h9V51h-9zm0 31h9V68h-9v14zm-2-31H98v9h20v-9z" clip-rule="evenodd"/>
                            </svg>

                        </div>
                    </div>
                    <div class="Flat_planLinksWrapper">
                        <a href="" class="Flat_planLink Flat_planLink-floor">
                            <img src="img/flat/icon_floor.svg" alt="" class="Flat_planLinkIcon">
                            На этаже
                        </a>
                        <a href="" class="Flat_planLink Flat_planLink-eye">
                            <img src="img/flat/icon_eye.svg" alt="" class="Flat_planLinkIcon">
                            Виды из окна
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <div class="Flat_info">
            <h2 class="Flat_infoHeader">Помещение № 340102</h2>
            <!--<p class="Flat_infoText">-->
                <!--Акция-->
                <!--<img src="img/flat/icon_action.svg" alt="" class="Flat_infoActionIcon">-->
            <!--</p>-->
            <p class="Flat_infoText Flat_infoText-furnished">
                Квартира с отделкой
                <img src="img/flat/icon_finish.svg" alt="" class="Flat_infoFurnishIcon">
            </p>
            <p class="Flat_infoText">Сдача: <span class="Flat_infoText-bold">IV кв 2019 г.</span></p>
            <img src="img/flat/flat.svg" class="Flat_planImgMobile"/>
            <div class="Flat_generalTable">
                <div class="Flat_generalRow">
                    <div data-header="Площадь:" class="Flat_generalCell">87.3 м<sup>2</sup></div>
                    <div data-header="Этаж:" class="Flat_generalCell">1</div>
                    <div data-header="Секция:" class="Flat_generalCell">1</div>
                    <div data-header="Корпус:" class="Flat_generalCell">2a</div>
                </div>
            </div>
            <div class="Flat_planLinkWrapper Flat_planLinkWrapper-mobile">
                <a href="" class="Flat_planLink Flat_planLink-floor">
                    <img src="img/flat/icon_floor.svg" alt="" class="Flat_planLinkIcon">
                    На этаже
                </a>
                <a href="" class="Flat_planLink Flat_planLink-eye">
                    <img src="img/flat/icon_eye.svg" alt="" class="Flat_planLinkIcon">
                    Виды из окна
                </a>
            </div>
            <hr class="Flat_hr" />
            <div class="Flat_specificTable">
                <div class="Flat_specificRow">
                    <div class="Flat_specificCell">
                        <span class="Flat_specificCellText">1. Торговый зал:</span>
                        <span class="Flat_specificCellText">4.9 м<sup>2</sup></span>
                    </div>
                    <div class="Flat_specificCell">
                        <span class="Flat_specificCellText">3. Кладовая:</span>
                        <span class="Flat_specificCellText">16.6 м<sup>2</sup></span>
                    </div>
                </div>
                <div class="Flat_specificRow">
                    <div class="Flat_specificCell">
                        <span class="Flat_specificCellText">2. Коридор:</span>
                        <span class="Flat_specificCellText">16.6 м<sup>2</sup></span>
                    </div>
                    <div class="Flat_specificCell">
                        <span class="Flat_specificCellText">4. Лестница:</span>
                        <span class="Flat_specificCellText">3.4 м<sup>2</sup></span>
                    </div>
                </div>

            </div>
            <hr class="Flat_hr" />

            <div class="Flat_priceWrapper">
                <span class="Flat_price">12 682 449 ₽</span>
                <a href="#" data-sidebar-toggle class="Flat_btn">Оставить заявку</a>
            </div>
            <p class="Flat_details">Резерв не фиксирует стоимость и условия оплаты. Цена с учетом  скидок</p>
        </div>
    </section>
    <section class="FlatsTips">
        <ul class="FlatsTips_tabs">
            <li class="FlatsTips_tabsItem"><a href="/mortgage.html" class="FlatsTips_tabsLink">Это помещение в ипотеку</a></li>
            <li class="FlatsTips_tabsItem FlatsTips_tabsItem-active"><a href="" class="FlatsTips_tabsLink">Похожие помещения</a></li>
            <li class="FlatsTips_tabsItem"><a href="" class="FlatsTips_tabsLink">Просмотренные помещения</a></li>
        </ul>

        <div class="swiper-container FlatsTips_tabsWrapperMobile">
            <div class="swiper-wrapper FlatsTips_tabsItemMobile">
                <div class="swiper-slide FlatsTips_tabsItemMobile"><a class="FlatsTips_tabsLinkMobile" href="">Это помещение в ипотеку</a></div>
                <div class="swiper-slide FlatsTips_tabsItemMobile"><a class="FlatsTips_tabsLinkMobile" href="">Похожие помещения</a></div>
                <div class="swiper-slide FlatsTips_tabsItemMobile"><a class="FlatsTips_tabsLinkMobile" href="">Просмотренные помещения</a></div>
            </div>
            <div class="FlatsTips_slideBtnMobile FlatsTips_slideBtnMobile-prev swiper-button-prev"></div>
            <div class="FlatsTips_slideBtnMobile FlatsTips_slideBtnMobile-next swiper-button-next"></div>
        </div>

        <div class="ComercialPremisesList ComercialPremisesList--flat">
            <div class="ComercialPremisesList__table">
                <div class="Sorter Sorter-commercial">
                    <div class="Sorter_item Sorter_item-commercial">
                        <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="house"><span class="hidden-xs">Корпус/секция</span> <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Кор/сек/ <br>Этаж</span></button>
                    </div>

                    <div class="Sorter_item Sorter_item-commercial">
                        <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="type">Тип</button>
                    </div>
                    <div class="Sorter_item Sorter_item-commercial">
                        <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="floor">Этаж</button>
                    </div>
                    <div class="Sorter_item Sorter_item-commercial">
                        <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="area"><span class="hidden-xs">Площадь</span> <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Площ.</span></button>
                    </div>
                    <div class="Sorter_item Sorter_item-commercial">
                        <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="priceMeter">Цена за <sup>2</sup></button>
                    </div>
                    <div class="Sorter_item Sorter_item-commercial">
                        <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="price"><span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Цена за <sup>2</sup><br></span>Стоимость</button>
                    </div>
                </div>
                <div id="FlatCommercialList">

                </div>
            </div>
        </div>
    </section>

</div>
<div class="btn-call-inner btn-call-inner-gray">
    <button class="btn-call">Заказать звонок</button>
</div>

<div class="page-sidebar" data-sidebar>
    <div class="page-sidebar__inner">
        <em class="page-sidebar__close"></em>
        <div class="page-sidebar__wrapper">
            <div class="page-sidebar__tlt">Заявка на квартиру <span>Корпус 2а, секция 3, этаж 19, № 28</span></div>

            <form data-action="/ajax/form-response.json" data-form-type="commercial" method="GET" class="page-form ws-validate" autocomplete="off">
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="name">
                        <em class="page-form__placeholder">Имя</em>
                    </label>
                </div>
                <div class="page-form__step">
                    <div class="page-form__lbl">
                        <label>
                            <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="phone">
                            <em class="page-form__placeholder">Телефон</em>
                        </label>
                    </div>
                </div>
                <div class="page-form__step">
                    <input type="submit" value="отправить заявку" class="page-form__sbt button _orange">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %} {% block page_bottom %}
<script src="js/flat.js"></script>
<script src="js/flatsCommercial.js"></script>
{% endblock %}
