{% set title = "Квартиры с отделкой" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">

    <section class="furnish-preview">
        <div class="furnish-preview__title">Стили отделки</div>
        <div class="furnish-preview__col furnish-preview__col_modern">
            <a href="flats-furnish-modern.html" class="furnish-preview__link">
                <span class="furnish-preview__name">Современный</span>
            </a>
        </div>
        <div class="furnish-preview__col furnish-preview__col_classic">
            <a href="flats-furnish-classic.html" class="furnish-preview__link">
                <span class="furnish-preview__name">Классический</span>
            </a>
        </div>
    </section>

    {% include "includes/blocks/furnish/content.njk" %}
    {#<div class="furnish-storerooms" data-scroll="showroom">

    </div>#}

</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}
{% block page_bottom %}

{% endblock %}