{% set title = "Подбор по параметрам" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
	<nav class="TopNav">
		<div class="TopNav_inner">
			<div class="TopNav_leaf"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
			<div class="TopNav_leaf TopNav_leaf-active"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
			<div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
			<div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
		</div>
	</nav>

	<section class="Flat">
		<div class="Flat_plan">
			<div class="Flat_planInfo">
				<a href="/filters.html" class="Flat_linkBack">
					<img src="img/flat/arrow_back.svg" class="Flat_linkBackIcon" alt="">
				</a>
<!--				<div class="Flat_planImg" style='background-image: url("img/flat/information_items_property_193.svg")'></div>-->
				<div class="Flat_planImg" id="plan-widget" data-widget-id="853c3bd29fdc4fd4a67513111d999a4a"></div>
				<div class="Flat_planInfoWrapper">
					<div class="Flat_svgInfoWrapper">
						<svg class="Flat_compass" xmlns="http://www.w3.org/2000/svg" width="99" height="101">
						  <path fill="#EDEDED" fill-rule="evenodd" d="M56.5 44l.9 1.9 1.7 3.5 13.1-9.7L56.5 44zm0 0l6.1-28.6-12.7 26.3 4.5-2.2 2.1 4.5zm4.9 9.9l-4.5 2.2 28.6 6.1-26.3-12.8 2.2 4.5zM42.2 51l-13.1 9.7 15.7-4.3-1.6-3.3-1-2.1zm2.3-6.7l2.7-1.3 2.7-1.3-9.7-13.1 4.3 15.7zm7 14.4l9.7 13.1-4.3-15.7-5.4 2.6zM42.2 51L40 46.5l4.5-2.2-28.6-6.1L42.2 51z" clip-rule="evenodd"/>
						  <path fill="#F7941E" fill-rule="evenodd" d="M47 60.9l-2.2-4.5L38.7 85l12.8-26.3zm-.3-12.1l5.4-2.6 2.6 5.4-5.4 2.6-2.6-5.4z" clip-rule="evenodd"/>
						  <path fill="#B8B8BA" fill-rule="evenodd" d="M67.2 1c-1 0-1.9.4-2.7 1.1-.7.7-1.2 1.6-1.3 2.8h-1.7V1.1h-.9v8.4h.9V5.6h1.7c.1 1.2.5 2.1 1.2 2.9.7.8 1.6 1.1 2.7 1.1s2.1-.4 2.8-1.2c.8-.8 1.1-1.9 1.1-3.1s-.2-2.3-1-3.1c-.7-.8-1.6-1.2-2.8-1.2zm2.2 6.8c-.6.6-1.3 1-2.2 1-.9 0-1.6-.3-2.2-1-.6-.6-.9-1.5-.9-2.5s.3-1.9.9-2.5c.6-.6 1.3-1 2.2-1 .9 0 1.6.3 2.2 1 .6.6.9 1.5.9 2.5s-.3 1.9-.9 2.5zm-36.2 91c-.7-.7-1-1.5-1-2.5s.3-1.8 1-2.5 1.5-1 2.4-1c.8 0 1.6.2 2.3.7v-.9c-.7-.4-1.4-.6-2.4-.6-1.2 0-2.3.4-3.1 1.2-.8.8-1.2 1.8-1.2 3.1s.4 2.3 1.2 3.1c.8.8 1.8 1.2 3.1 1.2 1 0 1.8-.3 2.5-.7V99c-.7.6-1.5.8-2.5.8-.8 0-1.6-.3-2.3-1zm64.5-33.1c-.3-.4-.8-.6-1.2-.8.3-.1.7-.3.9-.6.3-.3.4-.7.4-1.2 0-.7-.3-1.2-.8-1.6-.5-.3-1.2-.5-2-.5s-1.7.2-2.5.6v.8c.9-.4 1.7-.6 2.5-.6 1.2 0 2.1.5 2.1 1.4 0 .9-.7 1.4-1.9 1.4H94v.8h1c1.4 0 2.3.7 2.3 1.7 0 1.1-1 1.8-2.6 1.8-1 0-1.9-.2-2.7-.7v.8c.8.4 1.7.6 2.8.6 1 0 1.9-.2 2.5-.7.6-.5.9-1.1.9-1.8.1-.6-.1-1.1-.5-1.4zM5.6 33.9c.7-.3 1.1-.9 1.1-1.8 0-1.3-.9-2-2.4-2H.7v8.4h4c1.7 0 2.8-.9 2.8-2.3 0-1.3-.8-2.1-1.9-2.3zm-4-3h2.6c1.1 0 1.7.5 1.7 1.4 0 .9-.6 1.4-1.7 1.4H1.6v-2.8zm2.9 6.8h-3v-3.3h3c1.2 0 2 .6 2 1.6 0 1.1-.7 1.7-2 1.7z" clip-rule="evenodd"/>
						</svg>
					</div>
					<div class="Flat_planLinksWrapper">
						<div class="Flat_sectionPlans">
							<svg xmlns="http://www.w3.org/2000/svg" width="129" height="116">
							  <path fill="#B8B8BA" fill-rule="evenodd" d="M32.5 111.4c0 1.2.8 1.8 1.6 2l-1.6 2.6h1.3l1.5-2.5h1.2v2.5h1.2v-6.7h-2.9c-1.5 0-2.3.9-2.3 2.1zm3.9-1.1v2.1h-1.6c-.7 0-1.1-.4-1.1-1.1 0-.6.5-1.1 1.1-1.1h1.6zm8.6-1h-1.4l-1.7 2.4-1.7-2.4h-1.4l2.3 3.2-2.5 3.4H40l1.9-2.6 1.9 2.6h1.4l-2.5-3.4 2.3-3.2zm4 0h-2.9v6.7h1.2v-2.5H49c1.4 0 2.2-1 2.2-2.1s-.8-2.1-2.2-2.1zm-.1 3.2h-1.6v-2.1h1.6c.7 0 1.1.4 1.1 1.1 0 .5-.5 1-1.1 1zm6.6-3.3c-2 0-3.4 1.5-3.4 3.4s1.4 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.4-3.4-3.4-3.4zm0 5.9c-1.3 0-2.2-1-2.2-2.4s.9-2.4 2.2-2.4c1.3 0 2.2 1 2.2 2.4.1 1.3-.8 2.4-2.2 2.4zm8.3-1.4l-1.8-4.4h-1.6v6.7h1.2v-5l2 4.9h.4l2-4.9v4.9h1.2v-6.7h-1.6l-1.8 4.5zm8.3-3.5c.7 0 1.4.4 1.7 1l1-.5c-.5-.8-1.3-1.5-2.7-1.5-2 0-3.5 1.4-3.5 3.4s1.5 3.4 3.5 3.4c1.3 0 2.2-.7 2.7-1.5l-1-.5c-.3.6-1 1-1.7 1-1.3 0-2.3-1-2.3-2.4 0-1.3 1-2.4 2.3-2.4zm9.1-.9h-1.4l-2.6 3.2v-3.2H76v6.7h1.2v-2.1l.6-.7L80 116h1.4l-2.9-3.5 2.7-3.2zm2.4 4.6v-4.6h-1.2v6.7h1.1l3.5-4.8v4.8h1.2v-6.7H87l-3.4 4.6zm9.2-4.9c.7 0 1.3-.3 1.7-.9l-.5-.4c-.3.4-.7.7-1.3.7-.5 0-1-.3-1.3-.7l-.5.4c.6.5 1.2.9 1.9.9zm-1.7 4.9v-4.6h-1.2v6.7H91l3.5-4.8v4.8h1.2v-6.7h-1.2l-3.4 4.6zm9.1 2.1h1.2v-5.6h3.5v5.6h1.2v-6.7h-5.8v6.7zm10.4-6.7h-2.9v6.7h1.2v-2.5h1.8c1.4 0 2.2-1 2.2-2.1s-.9-2.1-2.3-2.1zm-.2 3.2h-1.6v-2.1h1.6c.7 0 1.1.4 1.1 1.1.1.5-.4 1-1.1 1zm3.2 2.2c-.4 0-.7.3-.7.7 0 .4.3.7.7.7.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7zM5.8 85.8H.2v4.5l3.4.4c2 .3 2.3.6 2.4 1.3h2.1v-1.2H6.9v-4.5h1.2v-1.2H5.8v.7zm0 4.6c-.4-.4-1.1-.8-2.1-.9l-2.5-.3V87h4.6v3.4zm1.1-13.3H.2v1.6l4.4 1.8-4.4 1.8V84h6.7v-1.2h-5l4.9-2v-.5l-4.9-2h4.9v-1.2zm0-7.4H.2v1.2l4.6 3.4H.2v1.2h6.7v-1.1l-4.8-3.5h4.8v-1.2zm0-4.5H1.2v-2h-1v5.2h1v-2h5.6v-1.2zm0-4.4H4.4V59c0-1.4-1-2.2-2.1-2.2S.2 57.6.2 59v3h6.7v-1.2zm-3.5 0H1.2v-1.6c0-.7.4-1.1 1.1-1.1.6 0 1.1.5 1.1 1.1v1.6zm.1-4.9c2 0 3.4-1.4 3.4-3.4s-1.5-3.4-3.4-3.4S.1 50.5.1 52.5s1.5 3.4 3.4 3.4zm0-5.6c1.4 0 2.4.9 2.4 2.2 0 1.3-1 2.2-2.4 2.2s-2.4-.9-2.4-2.2c0-1.3 1.1-2.2 2.4-2.2zm-.1-6.6c-.1-.6-.7-1.2-1.5-1.2-.9 0-1.7.7-1.7 1.9v3.3h6.7v-3.4c0-1.2-.8-1.9-1.8-1.9-.8 0-1.6.6-1.7 1.3zM3 46.6H1.2v-1.9c0-.6.4-.9.9-.9s.9.3.9.9v1.9zm2.8-1.9v1.9H4v-1.9c0-.7.4-1 .9-1 .6-.1.9.3.9 1zm-2.3-3.4c2 0 3.4-1.5 3.4-3.5 0-1.3-.7-2.2-1.5-2.7l-.5 1c.6.3 1 1 1 1.7 0 1.3-1 2.3-2.4 2.3s-2.4-1-2.4-2.3c0-.7.4-1.4 1-1.7l-.5-1c-.8.5-1.5 1.3-1.5 2.7 0 2 1.4 3.5 3.4 3.5zm3.4-12.8l-3.5 2.9-3.1-2.7v1.4l3.2 2.6H.2v1.2h6.7v-1.2H4.7l-.7-.6L6.9 30v-1.5zm-3.4-.2c2 0 3.4-1.4 3.4-3.4s-1.5-3.4-3.4-3.4S.1 22.9.1 24.9s1.5 3.4 3.4 3.4zm0-5.6c1.4 0 2.4.9 2.4 2.2 0 1.3-1 2.2-2.4 2.2s-2.4-.9-2.4-2.2c0-1.4 1.1-2.2 2.4-2.2zm3.4-7.2h-1v3.4H4v-3.3H3v3.3H1.2v-3.4h-1v4.6h6.7v-4.6zm0-12.4H.2v1.2h5.6v2.3H.2v1.2h5.6v2.3H.2v1.2h6.7V3.1zm-.6-1.4c.4 0 .7-.4.7-.7 0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7 0 .3.3.7.7.7z" clip-rule="evenodd"/>
							  <path fill="#EDEDED" fill-rule="evenodd" d="M18 42h9V0h-9v42zM45 0h-9v42h9V0zm24 42h9V0h-9v42zM67 0H47v9h20V0zm0 33H47v9h20v-9zM18 93h9V51h-9v42zm18 0h42v-9H36v9zm9-42h-9v31h9V51zm24 14h9V51h-9v14zm0 17h9V68h-9v14zm-2-31H47v9h20v-9zm20 42h42v-9H87v9zm9-42h-9v31h9V51zm24 0v14h9V51h-9zm0 31h9V68h-9v14zm-2-31H98v9h20v-9z" clip-rule="evenodd"/>
							</svg>
						</div>
						<div class="Flat_planLink Flat_planLink-floor">
							<svg xmlns="http://www.w3.org/2000/svg" class="FloorScheme_svg">
					            <polygon xmlns="" data-id="557" class="FloorScheme_flat FloorScheme_flat-3k" points="184,440 7,440 7,36 5,36 5,5 88,5 88,10 184,10"></polygon>
					        </svg>
							<img src="/img/flat/shop_property_file_125_353.svg" alt="" class="FloorScheme_bg" />
							<div class="floor__scheme-text">на этаже</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Flat_info">
			<div class="Flat-type_infoHeader">
				<h2 class="Flat-type_title">
					<span class="Flat-type_titleText">1 - комнатная квартира № 28</span>
					<span class="FavoriteIcon toolTip FavoriteIcon-descr" data-flat-type-id="100"></span>
					<span class="ComparisonIcon toolTip ComparisonIcon-descr" data-flat-type-id="100"></span>
				</h2>
			</div>
			<p class="Flat_infoText">
				<div class="PromoActionString _flat" title="Новогодняя скидка при единовременной оплате и ипотеке">
					<div class="PromoActionString_ico" style="background-image: url('/img/gift.svg')"></div>
					<div class="PromoActionString_text">Новогодняя акция</div>
				</div>
				<img src="img/icon_action_1.svg" alt="" class="Flat_infoActionIcon">
				Скидка 2% при заключении договора в июне.
			</p>
			<p class="Flat_infoText">
				<img src="img/icon_action_2.svg" alt="" class="Flat_infoActionIcon">
				Бесплатная регистрация договора.
			</p>
			<p class="Flat_infoText">
				<img src="img/icon_action_3.svg" alt="" class="Flat_infoActionIcon">
				Рассрочка до 2023 года.
			</p>
			<p class="Flat_infoText Flat_infoText-furnished">
				Квартира с отделкой
				<img src="img/icon_finish_orange.svg" alt="" class="Flat_infoFurnishIcon">
			</p>
			<p class="Flat_infoText">Сдача: <span class="Flat_infoText-bold"> IV кв 2019 г.</span></p>
			<img src="img/flat/flat.svg" class="Flat_planImgMobile"/>
			<div class="Flat_generalTable">
				<div class="Flat_generalRow">
					<div data-header="Площадь:" class="Flat_generalCell">87.3 м<sup>2</sup></div>
					<div data-header="Этаж:" class="Flat_generalCell">19</div>
					<div data-header="Секция:" class="Flat_generalCell">3</div>
					<div data-header="Корпус:" class="Flat_generalCell">2a</div>
				</div>
			</div>
			<hr class="Flat_hr" />
			<div class="Flat_specificTable">
				<div class="Flat_specificRow">
					<div class="Flat_specificCell">
						<span class="Flat_specificCellText">1. Прихожая:</span>
						<span class="Flat_specificCellText">4.9 м<sup>2</sup></span>
					</div>
					<div class="Flat_specificCell">
						<span class="Flat_specificCellText">4. Санузел:</span>
						<span class="Flat_specificCellText">16.6 м<sup>2</sup></span>
					</div>
				</div>
				<div class="Flat_specificRow">
					<div class="Flat_specificCell">
						<span class="Flat_specificCellText">2. Комната:</span>
						<span class="Flat_specificCellText">16.6 м<sup>2</sup></span>
					</div>
					<div class="Flat_specificCell">
						<span class="Flat_specificCellText">5. Кладовая:</span>
						<span class="Flat_specificCellText">3.4 м<sup>2</sup></span>
					</div>
				</div>
				<div class="Flat_specificRow">
					<div class="Flat_specificCell">
						<span class="Flat_specificCellText">3. Кухня:</span>
						<span class="Flat_specificCellText">11.9 м<sup>2</sup></span>
					</div>
					<div class="Flat_specificCell">
						<span class="Flat_specificCellText">6. Балкон:</span>
						<span class="Flat_specificCellText">3.2 м<sup>2</sup></span>
					</div>
				</div>
			</div>

			<hr class="Flat_hr" />
			 <div class="Flat__linksPresentConstructor">
				<a href="" class="Flat__presentLink"><span>Загрузить презентацию</span></a>
			</div>

			<hr class="Flat_hr" />

			<div class="Flat_priceWrapper">
				<div class="Flat_salePrices">
					<span class="Flat_price _cross">12 682 449 Р</span>
					<span class="Flat_price _salePrice">12 682 449 Р</span>
				</div>
				<a href="#" data-sidebar-toggle="form-flat" class="Flat_btn _active">Оставить заявку</a>
				<a href="#BookingPopup" data-fancybox  class="Flat_btn _transparent _book">Забронировать</a>
			</div>
			<p class="Flat_details">Резерв не фиксирует стоимость и условия оплаты. Цена с учетом  скидок</p>
		</div>
	</section>
	<section class="FlatsTips">
		<ul class="FlatsTips_tabs">
			{# <li class="FlatsTips_tabsItem"><a href="/mortgage.html" class="FlatsTips_tabsLink">Эта квартира в ипотеку</a></li> #}
			<li class="FlatsTips_tabsItem"><a href="#similarFlatsTab" class="FlatsTips_tabsLink">Похожие квартиры</a></li>
			<li class="FlatsTips_tabsItem"><a href="#viewedFlatsTab" class="FlatsTips_tabsLink">Просмотренные квартиры</a></li>
		</ul>
		<div class="swiper-container FlatsTips_tabsWrapperMobile">
			<div class="swiper-wrapper FlatsTips_tabsItemMobile">
				{# <div class="swiper-slide FlatsTips_tabsItemMobile"><a class="FlatsTips_tabsLinkMobile" href="">Эта квартира в ипотеку</a></div> #}
				<div class="swiper-slide FlatsTips_tabsItemMobile"><span class="FlatsTips_tabsLinkMobile">Похожие квартиры</span></div>
				<div class="swiper-slide FlatsTips_tabsItemMobile"><span class="FlatsTips_tabsLinkMobile">Просмотренные квартиры</span></div>
			</div>
			<button class="FlatsTips_slideBtnMobile FlatsTips_slideBtnMobile-prev swiper-button-prev">
				{% include "includes/blocks/SvgIco/angle_left.svg" %}
			</button>
			<button class="FlatsTips_slideBtnMobile FlatsTips_slideBtnMobile-next swiper-button-next">
				{% include "includes/blocks/SvgIco/angle_right.svg" %}
			</button>
		</div>
		{% for blockID in ["similarFlatsTab", "viewedFlatsTab"] %}
		<div id="{{ blockID }}"{% if not loop.first %} style="display:none;"{% endif %}>
		   <div class="FlatsTips_slidersWrapper">
			   <div class="FlatsTips_sliderContainer swiper-container">
				   <div class="FlatsTips_sliderWrapper swiper-wrapper">
				   {% for n in [2,4,1,2,4,1,2,4,1,2] %}
					   <a href="/flat.html" class="FlatsTips_slide swiper-slide">
						   <div class="FlatsTips_icons FlatsTips_icons-right">
							   <div class="FlatsTips_iconStar"></div>
							   <div class="FlatsTips_iconFurnish"></div>
						   </div>
						   <div class="FlatsTips_icons FlatsTips_icons-left">
							   <div class="FavoriteIcon toolTip" data-flat-type-id="101"></div>
							   <div class="ComparisonIcon toolTip ComparisonIcon-card" data-flat-type-id="101"></div>
						   </div>
						   <img src="img/flat/plan-type-{{n}}.png" alt="" class="FlatsTips_slidePlan">
						   <div class="FlatsTips_slideInfo">
							   <div class="FlatsTips_slideInfoRow">
								   <p class="FlatsTips_slideInfoText">{{n}}к квартира №13</p>
								   <p class="FlatsTips_slideInfoText">{{n}}3,4 м<sup>2</sup></p>
							   </div>
							   <div class="FlatsTips_slideInfoRow">
								   <p class="FlatsTips_slideInfoText">Кор. 2к, сек. 3, эт.10</p>
								   <p class="FlatsTips_slideInfoText FlatsTips_slideInfoText-price">{{n}} 198 789 ₽</p>
							   </div>
						   </div>
					   </a>
						 <a href="/flat.html" class="FlatsTips_slide swiper-slide">
						   <div class="FlatsTips_icons FlatsTips_icons-right">
							   <div class="FlatsTips_iconStar"></div>
							   <div class="FlatsTips_iconFurnish"></div>
						   </div>
						   <div class="FlatsTips_icons FlatsTips_icons-left">
							   <div class="FavoriteIcon toolTip" data-flat-type-id="101"></div>
							   <div class="ComparisonIcon toolTip ComparisonIcon-card" data-flat-type-id="101"></div>
						   </div>
						   <img src="img/flat/plan-type-{{n}}.png" alt="" class="FlatsTips_slidePlan">
						   <div class="FlatsTips_slideInfo _sale">
							   <div class="FlatsTips_slideInfoRow">
								   <p class="FlatsTips_slideInfoText"></p>
								   <p class="FlatsTips_slideInfoText">{{n}}3,4 м<sup>2</sup></p>
							   </div>
							   <div class="FlatsTips_slideInfoRow">
								   <p class="FlatsTips_slideInfoText"><span>{{n}}к квартира №13</span><br>Кор. 2к, сек. 3, эт.10</p>
								   <p class="FlatsTips_slideInfoText FlatsTips_slideInfoText-price">
									 	<span class="_cross">{{n}} 198 789 ₽</span>
										<span>{{n}} 198 789 ₽</span>
									 </p>
							   </div>
						   </div>
					   </a>
				   {% endfor %}
				   </div>
			   </div>
			   <button class="FlatsTips_slideBtn FlatsTips_slideBtn-prev swiper-button-prev">
				   {% include "includes/blocks/SvgIco/angle_left.svg" %}
			   </button>
			   <button class="FlatsTips_slideBtn FlatsTips_slideBtn-next swiper-button-next">
				   {% include "includes/blocks/SvgIco/angle_right.svg" %}
			   </button>
		   </div>
		</div>

		{% endfor %}

	</section>

</div>
{% include "includes/blocks/btn-call.njk" %}

<div id="form-flat" class="page-sidebar__wrapper">
	<div class="page-sidebar__tlt">Заявка на квартиру <span>Корпус 2а, секция 3, этаж 19, № 28</span></div>

	<form data-action="/ajax/form-response.json" data-form-type="flat" method="GET" class="page-form ws-validate" autocomplete="off">
		<input type="hidden" name="flat" value="Корпус 2а, секция 3, этаж 19, № 28">
		<div class="page-form__step">
			<label class="page-form__lbl">
				<input type="text" class="page-form__inp" data-errormessage="Заполните поле"  name="name">
				<em class="page-form__placeholder">Имя</em>
			</label>
		</div>
		<div class="page-form__step">
			<div class="page-form__lbl">
				<label>
					<input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле"  name="phone">
					<em class="page-form__placeholder">Телефон</em>
				</label>
			</div>
		</div>
		<div class="page-form__step">
			<div class="SubCheckboxes__item SubCheckboxes__item--form">
				<input data-errormessage="Подтвердите согласие на обработку данных."  type="checkbox" id="privacy-flat" class="SubCheckboxes__input" value=1/>
				<label for="privacy-flat">
					<span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
				</label>
			</div>
		</div>
		<div class="page-form__step">
			<input type="submit" value="отправить заявку" class="page-form__sbt button _orange">
		</div>
	</form>
</div>

<div class="booking-popup" id="BookingPopup" style="display: none;">
	<div data-fancybox-close class="booking-popup__close">
		<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M16 1.6L14.4 0L8 6.4L1.6 0L0 1.6L6.4 8L0 14.4L1.6 16L8 9.6L14.4 16L16 14.4L9.6 8L16 1.6Z" fill="white"/>
		</svg>
	</div>
	<div class="booking-popup__title">Бронирование квартиры № 2431</div>
	<div class="booking-popup__desc">Корпус 1а / Секция 2 / Этаж 21</div>
	<form data-booking-form data-action="/ajax/form-response.json" method="get" autocomplete="off" data-utm-save novalidate="novalidate" class="booking-popup__form">
		<div class="booking-popup__inpLabel">
			<input type="text" name="name" required class="booking-popup__inp">
			<label class="booking-popup__placeholder">Имя</label>
		</div>
		<div class="booking-popup__inpLabel">
			<input type="text" name="secondname" required  class="booking-popup__inp">
			<label class="booking-popup__placeholder">Фамилия</label>
		</div>
		<div class="booking-popup__inpLabel">
			<input type="text" name="patronymic" required  class="booking-popup__inp">
			<label class="booking-popup__placeholder">Отчество</label>
		</div>
		<div class="booking-popup__inpLabel">
			<input type="text" name="phone"  class="booking-popup__inp">
			<label class="booking-popup__placeholder">Телефон</label>
		</div>
		<div class="booking-popup__inpLabel">
			<input type="text" name="email"  class="booking-popup__inp">
			<label class="booking-popup__placeholder">Email</label>
		</div>
		<div class="booking-popup__bottom">
			<div class="booking-popup__agree">
				<label class="booking-popup__agreeCheck">
					<input type="checkbox" name="agree" required class="booking-popup__agreeInp">
					<div class="booking-popup__agreeIco"></div>
					Согласие на <a href="#">обработку персональных данных</a>
				</label>
			</div>
			<div class="booking-popup__bottomDesc">Все поля обязательны для заполнения </div>
			<button class="booking-popup__submit" type="submit">Забронировать</button>
		</div>
	</form>
</div>

{% endblock %} {% block page_bottom %}
<script src="https://widget.planoplan.com/etc/multiwidget/release/v4/static/js/main.js"></script>
<script src="js/flat.js"></script>
{% endblock %}
