{% set title = "Главная" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="gallery-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Информация</a>
                <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Галерея</a>
            </div>
            <h1 class="title-page">Галерея</h1>
        </div>
    </section>

    <div class="container">
        <section class="gallery-grid">
            <div class="gallery-grid-item">
                <div class="gallery-grid-item__img" style="background-image: url('img/gallery/album1.jpg')">
                    <div class="gallery-grid-item__info">
                        <div class="gallery-grid-item__live">Живые фотографии</div>
                        <div class="gallery-grid-item__title">Рендеры</div>
                        <div class="gallery-grid-item__number">30 фото</div>
                    </div>
                </div>

                <div class="gallery-grid-item-descr">
                    <div class="gallery-grid-item-descr__title">Рендеры</div>
                    <div class="gallery-grid-item-descr__text">
                        <p>Отношение к современности, <span class="br-tablet"></span>
                            следовательно, подчеркивает знак. <span class="br-tablet"></span>
                            Мир, по определению, может.</p>
                    </div>
                    <div class="gallery-grid-item-descr__number">30 фото</div>
                </div>
                <a href="#" class="gallery-grid-item__link" data-album-id="1"></a>
            </div>

            <div class="gallery-grid-item">
                <div class="gallery-grid-item__img" style="background-image: url('img/gallery/album2.jpg')">
                    <div class="gallery-grid-item__info">
                        <div class="gallery-grid-item__title">Входные группы</div>
                        <div class="gallery-grid-item__number">30 фото</div>
                    </div>
                </div>

                <div class="gallery-grid-item-descr">
                    <div class="gallery-grid-item-descr__title">Входные группы</div>
                    <div class="gallery-grid-item-descr__text">

                        <p>Просторные входные группы <span class="br-tablet"></span>
                            с многоуровневым  освещением, <span class="br-tablet"></span>
                            расположенные на уровне земли.</p>

                    </div>
                    <div class="gallery-grid-item-descr__number">30 фото</div>
                </div>
                <a href="#" class="gallery-grid-item__link" data-album-id="2"></a>
            </div>
            <div class="gallery-grid-item">
                <div class="gallery-grid-item__img" style="background-image: url('img/gallery/album3.jpg')">
                    <div class="gallery-grid-item__info">
                        <div class="gallery-grid-item__title">Квартиры с отделкой</div>
                        <div class="gallery-grid-item__number">30 фото</div>
                    </div>
                </div>

                <div class="gallery-grid-item-descr">
                    <div class="gallery-grid-item-descr__title">Квартиры с отделкой</div>
                    <div class="gallery-grid-item-descr__text">
                        <p>Представляется логичным, <span class="br-tablet"></span>
                            что заблуждение рефлектирует <span class="br-tablet"></span>
                            неоднозначный катарсис.</p>
                    </div>
                    <div class="gallery-grid-item-descr__number">30 фото</div>
                </div>
                <a href="#" class="gallery-grid-item__link" data-album-id="3"></a>
            </div>

            <div class="gallery-grid-item">
                <div class="gallery-grid-item__img" style="background-image: url('img/gallery/album4.jpg')">
                    <div class="gallery-grid-item__info">
                        <div class="gallery-grid-item__title">Парк «Ангарские пруды»</div>
                        <div class="gallery-grid-item__number">30 фото</div>
                    </div>
                </div>

                <div class="gallery-grid-item-descr">
                    <div class="gallery-grid-item-descr__title">Парк «Ангарские пруды»</div>
                    <div class="gallery-grid-item-descr__text">
                        <p>Структурализм непредвзято <span class="br-tablet"></span>
                            транспонирует бабувизм. </p>
                    </div>
                    <div class="gallery-grid-item-descr__number">30 фото</div>
                </div>
                <a href="#" class="gallery-grid-item__link" data-album-id="4"></a>
            </div>
        </section>
    </div>
</div>

<div style="display: none;" id="galleryModal" class="gallery-modal">

    <div class="gallery-slider swiper-container">
        <div class="swiper-wrapper">
            <div class="gallery-slider-slide swiper-slide fisrt-slide-album" data-hash="1">
                <div class="gallery-slider-slide__content" style="background-image: url('img/building-process/gal1.jpg')">
                    <div class="gallery-slider-titleAlbum">
                        Рендеры
                        <div class="gallery-slider-titleAlbum__addTxt">График работы: ежедневно по расписанию<br></br>11:00, 13:00, 15:00, 17:00, 19:00</div>
                    </div>
                    <div class="gallery-slider__titleSecond">Рендеры</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide">
                <div class="swiper-lazy gallery-slider-slide__content" data-background="img/building-process/gal1.jpg">
                    <div class="swiper-lazy-preloader"></div>
                    <div class="gallery-slider__titleSecond">Рендеры</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide">
                <div class="swiper-lazy gallery-slider-slide__content" data-background="img/building-process/gal1.jpg">
                    <div class="swiper-lazy-preloader"></div>
                    <div class="gallery-slider__titleSecond">Рендеры</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide fisrt-slide-album" data-hash="2">
                <div class="gallery-slider-slide__content" style="background-image: url('img/building-process/gal1.jpg')">
                    <div class="gallery-slider-titleAlbum">
                        Входные группы
                    </div>
                    <div class="gallery-slider__titleSecond">Входные группы</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide">
                <div class="swiper-lazy gallery-slider-slide__content" data-background="img/building-process/gal1.jpg">
                    <div class="swiper-lazy-preloader"></div>
                    <div class="gallery-slider__titleSecond">Входные группы</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide fisrt-slide-album" data-hash="3">
                <div class="gallery-slider-slide__content" style="background-image: url('img/building-process/gal1.jpg')">
                    <div class="gallery-slider-titleAlbum">
                        Квартиры с отделкой
                    </div>
                    <div class="gallery-slider__titleSecond">Квартиры с отделкой</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide">
                <div class="swiper-lazy gallery-slider-slide__content" data-background="img/building-process/gal1.jpg">
                    <div class="swiper-lazy-preloader"></div>
                    <div class="gallery-slider__titleSecond">Квартиры с отделкой</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide">
                <div class="swiper-lazy gallery-slider-slide__content" data-background="img/building-process/gal1.jpg">
                    <div class="swiper-lazy-preloader"></div>
                    <div class="gallery-slider__titleSecond">Квартиры с отделкой</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide fisrt-slide-album" data-hash="4">
                <div class="gallery-slider-slide__content" style="background-image: url('img/building-process/gal1.jpg')">
                    <div class="gallery-slider-titleAlbum">
                        Парк <span class="br-tablet"></span> «Ангарские пруды»
                    </div>
                    <div class="gallery-slider__titleSecond">Парк <span class="br-tablet"></span> «Ангарские пруды»</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide">
                <div class="swiper-lazy gallery-slider-slide__content" data-background="img/building-process/gal1.jpg">
                    <div class="swiper-lazy-preloader"></div>
                    <div class="gallery-slider__titleSecond">Парк <span class="br-tablet"></span> «Ангарские пруды»</div>
                </div>
            </div>
            <div class="gallery-slider-slide swiper-slide">
                <div class="swiper-lazy gallery-slider-slide__content" data-background="img/building-process/gal1.jpg">
                    <div class="swiper-lazy-preloader"></div>
                    <div class="gallery-slider__titleSecond">Парк <span class="br-tablet"></span> «Ангарские пруды»</div>
                </div>
            </div>
        </div>
        <div class="gallery-slider-fraction"></div>
        <div class="gallery-slider-nav">
            <div class="gallery-slider__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="16" viewBox="0 0 35 16"><path fill="#ffffff" d="M.5 7L7.4.1c.2-.2.7 0 1.1.4.4.4.6.9.4 1.1L3.5 7h31c.3 0 .5.2.5.5v1c0 .3-.2.5-.5.5h-31l5.4 5.4c.2.2 0 .7-.4 1.1-.4.4-.9.6-1.1.4L.5 9C.2 9 0 8.8 0 8.5v-1c0-.3.2-.5.5-.5z"/></svg>
            </div>
            <div class="gallery-slider__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="16" viewBox="0 0 35 16"><path fill="#ffffff" d="M34.5 7L27.6.1c-.2-.2-.7 0-1.1.4-.4.4-.6.9-.4 1.1L31.5 7H.5c-.3 0-.5.2-.5.5v1c0 .3.2.5.5.5h31l-5.4 5.4c-.2.2 0 .7.4 1.1.4.4.9.6 1.1.4L34.5 9c.3 0 .5-.2.5-.5v-1c0-.3-.2-.5-.5-.5z"/></svg>
            </div>
        </div>
    </div>
    <div class="gallery-slider-thumb swiper-container">
        <div class="swiper-wrapper">
            <div class="gallery-slider-thumb-slide swiper-slide is-selected">
                <div class="gallery-slider-thumb-slide__img" style="">
                    Рендеры
                </div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="background-image: url('img/building-process/thumb1.jpg');"></div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="background-image: url('img/building-process/thumb1.jpg');"></div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="">
                    Входные группы
                </div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="background-image: url('img/building-process/thumb1.jpg');"></div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="">
                    Квартиры с отделкой
                </div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="background-image: url('img/building-process/thumb1.jpg');"></div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="background-image: url('img/building-process/thumb1.jpg');"></div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="">
                    Парк <br> «Ангарские пруды»
                </div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="background-image: url('img/building-process/thumb1.jpg');"></div>
            </div>
            <div class="gallery-slider-thumb-slide swiper-slide">
                <div class="gallery-slider-thumb-slide__img" style="background-image: url('img/building-process/thumb1.jpg');"></div>
            </div>
        </div>

    </div>
    <button data-fancybox-close class="close-gallery"><img src="img/arrow_slide_back.svg" alt=""></button>
</div>

{% include "includes/blocks/call-form.njk" %}

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}
<script src="js/gallery.js"></script>
{% endblock %}