{% set title = "Подбор по параметрам" %}
{% extends "layout.njk" %}
{% block content %}
<div class="wrapper">
    <nav class="TopNav">
        <div class="TopNav_inner">
            <div class="TopNav_leaf"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
            <div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
            <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
            <div class="TopNav_leaf TopNav_leaf-active"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
        </div>
    </nav>

    <div class="genplan genplan--commercial">
        <div class="genplan__content">
            <img class="genplan__img-common" src="/img/genplan/genplan.jpg" alt="genplan">
            <div class="genplan__renders">
                <svg class="genplan__render" data-id="genplan-object_1a" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
            <path d="M0,0v1320h2560V0H0z M903,1263L665,960l-13-61l11-5l-46-227l29-12l3,3l57-20l35,35l5-2l20,20 l1,8l46,46l2,19l12-5l59,59l5-2l24,24l1,8l48,49l32,317L903,1263z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_1b" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
            <path d="M0,0v1320h2560V0H0z M601,874l-2,2L444,679l-14-54l6-4l-55-212l75-20l17,16l4-1l14,13l1,7 l38,39l1,14l10-3l24,22l3-1l17,16v6l39,39l18.8,100.3L617,667l26,128.3L589,821L601,874z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
          	<path d="M0,0v1320h2560V0H0z M1606,892l-355,185l-46-43l-9-301l193-81l11,8c7-2,6,4,6,4l5,3l1-23	l170-72l55,33L1606,892z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
          	<path d="M0,0v1320h2560V0H0z M1203.1,971.9L1160,994L983,826l-27-282h4v-2l59-21l18,14l6-2l18,13v8 l26,20l7-3l28,21v7l28,21l1-1c0,0,1-4,6-2l28,21v8l27,20v1l3,1l0.9,56.7L1196,733L1203.1,971.9z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
          	<path d="M0,0v1320h2560V0H0z M1381,551l-3,105.6l-102.9,43.2L1276,484l53-19l20,12l8-4l30,18v9l32,19 l0.2,17.4L1381,551z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_2g" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
            <path d="M0,0v1320h2560V0H0z M1412,644l-1,23l-5-3c0,0,1-6-6-4l-11-8l-11,4.6l3-105.6l55-21l21,13l9-4 l32,19v10l28,17l0.1,10.7L1412,644z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
          	<path d="M0,0v1320h2560V0H0z M1185,643v-5l-28-21c-5-2-6,2-6,2l-1,1l-9-6.8l-3-103.2l-2-1v-1l-29-19 l-94.1,31.6L982,498l-18-202l2-1v-3l52-14l13,8l4-1h4l20,13v6l14,9h3l6-2l21,13v6l19,11l7-2l24,15v6l17,11h4l5-2l22.5,14v6l25.5,16 v2h2l4,216L1185,643z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
            <path d="M0,0v1320h2560V0H0z M903,752L725,584l-44-256h3v-3l60-16l27,20l6-2l18,13v7l30,23v2l4,1v8 l8-2l33,24l3-2h5l20,15v8l38,28v1l4,2l26,273L903,752z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
            <path d="M0,0v1320h2560V0H0z M1122,599v-7l-28-21l-7,3l-26-20v-8l-18-13l-6,2l-18-14l-45.9,16.3 L973,534l134-45l29,19v1l2,1l3,103.2L1122,599z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
          	<path d="M0,0v1320h2560V0H0z M1930,724l-224,117l-48-33l34-279l236-100l55,25L1930,724z"/>
          </svg>
          <svg class="genplan__render" data-id="genplan-object_8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="2560px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
          	<path d="M0,0v1320h2560V0H0z M1870,453.6L1692,529l-11.7,95.8L1609,584v-3l-16-9l23-248l4-1v-2l41-14 l214,95v3h2L1870,453.6z"/>
          </svg>
            </div>
            <svg class="genplan__objects" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1320" enable-background="new 0 0 2560 1320" xml:space="preserve">
          <g class="genplan__object" data-id="genplan-object_1a" data-bld-url="/filters.html">
          	<polygon points="665,960 652,899 663,894 617,667 646,655 649,658 706,638 741,673 746,671 766,691 767,699 813,745
          		815,764 827,759 886,818 891,816 915,840 916,848 964,897 996,1214 903,1263 	"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_1b" data-bld-url="/filters.html">
          	<polygon points="444,679 599,876 601,874 589,821 643,795.3 617,667 642.8,656.3 624,556 585,517 585,511 568,495
          		565,496 541,474 531,477 530,463 492,424 491,417 477,404 473,405 456,389 381,409 436,621 430,625 	"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_1" data-bld-url="/filters.html">
          	<path d="M1205,1034l46,43l355-185l31-287l-55-33l-170,72l-1,23l-5-3c0,0,1-6-6-4l-11-8l-193,81L1205,1034z"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_2" data-bld-url="/filters.html">
          	<path d="M1157,617l28,21v8l27,20v1l3,1l0.9,56.7L1196,733l7.1,238.9L1160,994L983,826l-27-282h4v-2l59-21l18,14l6-2
          		l18,13v8l26,20l7-3l28,21v7l28,21l1-1C1151,619,1152,615,1157,617z"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_2g" data-bld-url="/filters.html">
          	<path d="M1378,656.6l11-4.6l11,8c7-2,6,4,6,4l5,3l1-23l114.1-48.3L1526,585l-28-17v-10l-32-19l-9,4l-21-13l-55,21
          		L1378,656.6z"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_3" data-bld-url="/filters.html">
          	<polygon points="1349,477 1329,465 1276,484 1275.1,699.8 1378,656.6 1381,551 1419.2,536.4 1419,519 1387,500
          		1387,491 1357,473"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_5" data-bld-url="/filters.html">
          	<path d="M982,498l30.9,22.6L1107,489l29,19v1l2,1l3,103.2l9,6.8l1-1c0,0,1-4,6-2l28,21v5l48-20l-4-216h-2v-2l-25.5-16
          		v-6l-22.5-14l-5,2h-4l-17-11v-6l-24-15l-7,2l-19-11v-6l-21-13l-6,2h-3l-14-9v-6l-20-13h-4l-4,1l-13-8l-52,14v3l-2,1L982,498z"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_6" data-bld-url="/filters.html">
          	<polygon points="903,752 966,728 940,455 936,453 936,452 898,424 898,416 878,401 873,401 870,403 837,379 829,381
          		829,373 825,372 825,370 795,347 795,340 777,327 771,329 744,309 684,325 684,328 681,328 725,584 	"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_22" data-bld-url="/filters.html">
          	<polygon points="1141,613.2 1122,599 1122,592 1094,571 1087,574 1061,554 1061,546 1043,533 1037,535 1019,521
          		973.1,537.3 973,534 1107,489 1136,508 1136,509 1138,510"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_7" data-bld-url="/filters.html">
          	<polygon points="1658,808 1706,841 1930,724 1983,454 1928,429 1692,529 	"/>
          </g>
          <g class="genplan__object" data-id="genplan-object_8" data-bld-url="/filters.html">
          	<polygon points="1593,572 1616,324 1620,323 1620,321 1661,307 1875,402 1875,405 1877,405 1870,453.6 1692,529
          		1680.3,624.8 1609,584 1609,581 	"/>
          </g>
        </svg>
            <div class="genplan__numbers">
                {#   <div class="genplan__number" data-id="genplan-object_1a" style="top: 44.6%;left: 26.4%;">
                <div class="genplan__number-icon">
                    <span>1а</span>
                </div>
            </div>
                <div class="genplan__number" data-id="genplan-object_1b" style="top: 29.5%;left: 18.6%;">
                    <div class="genplan__number-icon">
                        <span>1б</span>
                    </div>
                </div> #}
                <div class="genplan__number" data-id="genplan-object_1" style="top: 47.5%;left: 52.2%;">
                    <div class="genplan__number-icon">
                        <span>2а</span>
                    </div>
                </div>
                <div class="genplan__number" data-id="genplan-object_2" style="top: 41.8%;left: 43%;">
                    <div class="genplan__number-icon">
                        <span>2б</span>
                    </div>
                </div>
                <div class="genplan__number" data-id="genplan-object_3" style="top: 31.3%;left: 50.9%;">
                    <div class="genplan__number-icon">
                        <span>2в</span>
                    </div>
                </div>
                <div class="genplan__number" data-id="genplan-object_2g" style="top: 38.4%;left: 58.5%;">
                    <div class="genplan__number-icon">
                        <span>2г</span>
                    </div>
                </div>
                <div class="genplan__number" data-id="genplan-object_5" style="top: 20.3%;left: 42.2%;">
                    <div class="genplan__number-icon">
                        <span>3а</span>
                    </div>
                </div>
                <div class="genplan__number" data-id="genplan-object_6" style="top: 22.2%;left: 30.3%;">
                    <div class="genplan__number-icon">
                        <span>3б</span>
                    </div>
                </div>
                <div class="genplan__number" data-id="genplan-object_22" style="top: 33.9%;left: 40.8%;">
                    <div class="genplan__number-icon">
                        <span>3в</span>
                    </div>
                </div>
                <div class="genplan__number" data-id="genplan-object_7" style="top: 32.2%;left: 70.3%;">
                    <div class="genplan__number-icon">
                        <span>4а</span>
                    </div>
                </div>
                <div class="genplan__number" data-id="genplan-object_8" style="top: 22.6%;left: 68.6%;">
                    <div class="genplan__number-icon">
                        <span>4б</span>
                    </div>
                </div>
            </div>

            <div class="genplan__labels">
                {# <div class="genplan__label" data-id="genplan-object_1a">
                <p class="genplan__label-title">23 квартиры в продаже</p>
                <p class="genplan__label-text">Сдача 1 кв 2019 г. (1a)</p>
            </div>

                <div class="genplan__label" data-id="genplan-object_1b">
                    <p class="genplan__label-title">23 квартиры в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (1б)</p>
                </div> #}

                <div class="genplan__label" data-id="genplan-object_1">
                    <p class="genplan__label-title">2 помещения в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (4a)</p>
                </div>

                <div class="genplan__label" data-id="genplan-object_2">
                    <p class="genplan__label-title">2 помещения в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (2б)</p>
                </div>

                <div class="genplan__label" data-id="genplan-object_3">
                    <p class="genplan__label-title">2 помещения в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (1в)</p>
                </div>

                <div class="genplan__label" data-id="genplan-object_2g">
                    <p class="genplan__label-title">2 помещения в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (1г)</p>
                </div>

                <div class="genplan__label" data-id="genplan-object_5">
                    <p class="genplan__label-title">2 помещения в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (3a)</p>
                </div>

                <div class="genplan__label" data-id="genplan-object_6">
                    <p class="genplan__label-title">2 помещения в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (3б)</p>
                </div>

                <div class="genplan__label" data-id="genplan-object_22">
                    <p class="genplan__label-title">2 помещения в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (3а)</p>
                </div>

                <div class="genplan__label" data-id="genplan-object_7">
                    <p class="genplan__label-title">2 помещения в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (4a)</p>
                </div>

                <div class="genplan__label" data-id="genplan-object_8">
                    <p class="genplan__label-title">2 помещения в продаже</p>
                    <p class="genplan__label-text">Сдача 1 кв 2019 г. (4б)</p>
                </div>
            </div>

        </div>
        <svg class="genplan__compass genplan__compass--north" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <path class="genplan__compass-line genplan__compass-line--south" d="M70.7 39.9l-14.8 3.9 2.6 5.4z"/>
            <path class="genplan__compass-line genplan__compass-line--west" d="M60.7 53.7l-4.5 2.2L84.8 62 58.5 49.2z"/>
            <path class="genplan__compass-line genplan__compass-line--north" d="M44.1 56.2L38 84.8l12.8-26.3-4.5 2.2z"/>
            <path class="genplan__compass-line genplan__compass-line--east" d="M43.8 44.1L15.2 38l26.3 12.8-2.2-4.5z"/>
            <path fill="#D7D6D8" d="M39.9 29.3l3.9 14.8 5.4-2.6zM55.9 43.8L62 15.2 49.2 41.5l4.5-2.2zM60.1 70.7l-3.9-14.8-5.4 2.6zM28.4 60.5l15.7-4.3-2.6-5.4z"/>
            <path fill="#F7941E" d="M45.99 48.618l5.393-2.63 2.63 5.392-5.392 2.63z"/>
            <g>
                <path fill="#B8B8BA" d="M1.8 37.7v-8.4h3.6c1.5 0 2.4.8 2.4 2 0 .9-.4 1.5-1.1 1.8 1.1.2 1.8 1 1.8 2.2 0 1.4-1 2.3-2.8 2.3H1.8zm.9-4.9h2.6c1.1 0 1.7-.5 1.7-1.4 0-.9-.6-1.4-1.7-1.4H2.7v2.8zm0 4.1h3c1.2 0 2-.6 2-1.6s-.7-1.6-2-1.6h-3v3.2zM31.9 98.6c-.8-.8-1.2-1.9-1.2-3.1s.4-2.3 1.2-3.1c.8-.8 1.8-1.2 3.1-1.2.9 0 1.7.2 2.4.6v.9c-.8-.5-1.6-.7-2.4-.7-1 0-1.8.3-2.4 1-.7.7-1 1.5-1 2.5s.3 1.9 1 2.5 1.5 1 2.5 1 1.8-.3 2.5-.8v.9c-.7.5-1.5.7-2.5.7-1.3 0-2.3-.4-3.2-1.2zM90.8 70.2v-.9c.8.5 1.7.7 2.7.7 1.6 0 2.6-.7 2.6-1.8 0-1-.9-1.7-2.3-1.7h-1v-.8h1.1c1.2 0 1.9-.5 1.9-1.4s-.9-1.3-2.1-1.3c-.8 0-1.6.2-2.5.6v-.8c.8-.4 1.7-.6 2.5-.6.9 0 1.5.2 2.1.6.5.4.8.9.8 1.6 0 .5-.1.9-.4 1.2-.3.3-.6.5-.9.6.5.1.9.4 1.2.8.4.3.5.8.5 1.4 0 .7-.3 1.4-.9 1.8s-1.4.7-2.5.7c-1.1-.1-2-.3-2.8-.7zM63.7 7.7c-.7-.8-1.1-1.7-1.2-2.9h-1.7v3.9h-.9V.3h.9V4h1.7c.1-1.1.5-2 1.3-2.8.7-.7 1.6-1.1 2.7-1.1s2.1.4 2.8 1.2c.8.8 1.1 1.9 1.1 3.1s-.4 2.3-1.1 3.2c-.7.8-1.7 1.2-2.8 1.2-1.1 0-2-.4-2.8-1.1zm2.8.3c.9 0 1.6-.3 2.2-1 .6-.6.9-1.5.9-2.5s-.3-1.9-.9-2.5c-.6-.6-1.3-1-2.2-1-.9 0-1.6.3-2.2 1-.6.6-.9 1.5-.9 2.5s.3 1.9.9 2.5c.6.7 1.3 1 2.2 1z"/>
            </g>
        </svg>


    </div>
    <div class="genplan__scroll"></div>
    <div class="genplan__request">
        <div class="genplan__request_inner">
            <div class="genplan__request_text">
                По вопросам продажи коммерческой
                недвижимости обращайтесь по телефону:
            </div>
            <div class="genplan__request_number">+7 495 378-88-88</div>
        </div>
        <a href="" class="genplan__request_btn">Оставить заявку</a>
    </div>

    <div class="ComercialPremisesList">
        <div class="ComercialPremisesList__title">Коммерческая недвижимость</div>
        <div class="ComercialPremisesList__table">
            <div class="Sorter Sorter-commercial">
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="house"><span class="hidden-xs">Корпус/секция</span> <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Кор/сек/ <br>Этаж</span></button>
                </div>

                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="type">Тип</button>
                </div>
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="floor">Этаж</button>
                </div>
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="area"><span class="hidden-xs">Площадь</span> <span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Площ.</span></button>
                </div>
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="priceMeter">Цена за <sup>2</sup></button>
                </div>
                <div class="Sorter_item Sorter_item-commercial">
                    <button type="button" class="Sorter_lbl Sorter_lbl-active" data-val="price"><span class="hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">Цена за <sup>2</sup><br></span>Стоимость</button>
                </div>
            </div>
            <div id="FlatCommercialList">

            </div>
        </div>
    </div>


    <div class="btn-call-inner">
        <button class="btn-call">Заказать звонок</button>
    </div>

</div>
{% endblock %} {% block page_bottom %}
<script src="js/genplan.js"></script>
<script src="js/genplan-commercial.js"></script>
<script src="js/flatsCommercial.js"></script>
{% endblock %}
