{% set title = "Подбор по параметрам" %} {% extends "layout.njk" %} {% block content %}
<div class="wrapper">
    <nav class="TopNav">
        <div class="TopNav_inner">
            <div class="TopNav_leaf TopNav_leaf-active"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
            <div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
            <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
            <div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
        </div>
    </nav>

    <div class="house">
      <div class="house__content">
        <img class="house__img-common" src="/img/house/korp_2a.jpg" alt="korp_2a">
        <svg class="house__renders" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" enable-background="new 0 0 1920 1080" xml:space="preserve">
          <g class="house__render">
            <g class="house__render-item house__render-item--disable" data-floor-url="/floor.html" data-floor-text="1 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="723.6,841.3 490.5,840.4 495,862 725.8,862.7"/>
            </g>
            <g class="house__render-item house__render-item--disable" data-floor-url="/floor.html" data-floor-text="2 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="721.6,822 486.6,821.3 490.5,840.4 723.6,841.3"/>
            </g>
            <g class="house__render-item house__render-item--disable" data-floor-url="/floor.html" data-floor-text="3 этаж" data-flat-text="0 квартиры в продаже">
            	<polygon points="719.5,802 482.5,801.3 484.3,810.2 486.6,821.3 721.6,822"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="4 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="719.5,802 717.5,781.9 478.3,781.2 482.1,799.4 482.5,801.3"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="5 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="715.4,761.9 474.2,761.2 478.3,781.2 717.5,781.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="6 этаж" data-flat-text="0 квартиры в продаже">
            	<polygon points="713.3,740.9 469.9,740.2 474.2,761.2 715.4,761.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="7 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="711.1,719.9 465.5,719.2 466.7,724.7 469.9,740.2 713.3,740.9"/>
            </g>
            <g class="house__render-item house__render-item--disable" data-floor-url="/floor.html" data-floor-text="8 этаж" data-flat-text="1 квартиры в продаже">
            	<polygon points="711.1,719.9 708.9,697.9 461,697.2 464.8,715.6 465.5,719.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="9 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="706.6,675.9 456.5,675.2 458.3,683.9 461,697.2 708.9,697.9"/>
            </g>
            <g class="house__render-item house__render-item--disable" data-floor-url="/floor.html" data-floor-text="10 этаж" data-flat-text="1 квартиры в продаже">
            	<polygon points="706.6,675.9 704.4,653.9 451.9,653.2 452.9,657.8 456.5,675.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="11 этаж" data-flat-text="4 квартиры в продаже">
            	<polygon points="702,630.9 447.2,630.2 450.2,644.7 451.9,653.2 704.4,653.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="12 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="447.2,630.2 702,630.9 699.7,607.9 442.4,607.1"/>
            </g>
            <g class="house__render-item house__render-item--disable" data-floor-url="/floor.html" data-floor-text="13 этаж" data-flat-text="1 квартиры в продаже">
            	<polygon points="699.7,607.9 697.2,583.9 437.5,583.1 441.4,602.3 442.4,607.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="14 этаж" data-flat-text="7 квартиры в продаже">
            	<polygon points="694.7,559.9 432.5,559.1 433.5,563.7 437.5,583.1 697.2,583.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="15 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="432.5,559.1 694.7,559.9 692.2,534.9 427.4,534.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="16 этаж" data-flat-text="2 квартиры в продаже">
            	<polygon points="427.4,534.1 692.2,534.9 689.7,510.9 422.4,510.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="17 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="422.4,510.1 689.7,510.9 687.1,484.9 417,484.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="18 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="417,484.1 687.1,484.9 684.4,458.8 411.7,458"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="19 этаж" data-flat-text="0 квартиры в продаже">
            	<polygon points="684.4,458.8 681.7,432.6 406.3,432 410.4,451.8 411.7,458"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="20 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="678.9,404.8 400.5,404 406.3,432 681.7,432.6"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="21 этаж" data-flat-text="1 квартиры в продаже">
            	<polygon points="676.1,377.6 395,377 396.1,382.6 400.5,404 678.9,404.8"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="22 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="676.1,377.6 673.1,348.8 389,348 393.4,369.6 395,377"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="23 этаж" data-flat-text="2 квартиры в продаже">
            	<polygon points="670.1,319.6 383,319 389,348 673.1,348.8"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="24 этаж" data-flat-text="3 квартиры в продаже">
            	<polygon points="667.1,290.1 376.8,289 381.4,311.2 383,319 670.1,319.6"/>
            </g>
          </g>

          <g class="house__render">
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="1 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="725.8,862.7 801.5,863 912.8,863.3 912.8,863.3 912.4,842 723.6,841.3"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="2 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="723.6,841.3 912.4,842 912.1,822.5 721.6,822"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="3 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="721.6,822 912.1,822.5 911.7,802.5 719.5,802"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="4 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="719.5,802 911.7,802.5 911.4,782.5 717.5,781.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="5 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="717.5,781.9 911.4,782.5 911,762.5 715.4,761.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="6 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="715.4,761.9 911,762.5 910.7,741.5 713.3,740.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="7 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="713.3,740.9 910.7,741.5 910.3,720.5 711.1,719.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="8 этаж" data-flat-text="1 квартиры в продаже">
              <polygon points="711.1,719.9 910.3,720.5 909.9,698.5 708.9,697.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="9 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="708.9,697.9 909.9,698.5 909.5,676.5 706.6,675.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="10 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="706.6,675.9 909.5,676.5 909.1,654.5 704.4,653.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="11 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="704.4,653.9 909.1,654.5 908.7,631.5 702,630.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="12 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="702,630.9 908.7,631.5 908.3,608.5 699.7,607.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="13 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="699.7,607.9 908.3,608.5 907.9,584.5 697.2,583.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="14 этаж" data-flat-text="1 квартиры в продаже">
              <polygon points="697.2,583.9 907.9,584.5 907.5,560.5 694.7,559.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="15 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="694.7,559.9 907.5,560.5 907,535.5 692.2,534.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="16 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="692.2,534.9 907,535.5 906.6,511.5 689.7,510.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="17 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="689.7,510.9 906.6,511.5 906.1,485.5 687.1,484.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="18 этаж" data-flat-text="1 квартиры в продаже">
              <polygon points="687.1,484.9 880.9,485.4 880.3,459.4 684.4,458.8"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="19 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="681.7,432.6 684.4,458.8 880.4,459.4 879.9,439.5 879.7,432.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="20 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="681.7,432.6 879.7,432.9 879.5,423.6 879,405.4 678.9,404.8"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="21 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="678.9,404.8 879,405.4 878.2,377.9 676.1,377.6"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="22 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="676.1,377.6 878.2,377.9 877.5,349.4 673.1,348.8"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="23 этаж" data-flat-text="1 квартиры в продаже">
              <polygon points="673.1,348.8 877.5,349.4 876.7,319.9 670.1,319.6"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="24 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="670.1,319.6 876.7,319.9 875.9,290.9 667.1,290.1"/>
            </g>
          </g>

          <g class="house__render">
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="1 этаж" data-flat-text="3 квартиры в продаже">
              <path d="M1116.1,864C1116.1,864,1116.1,864,1116.1,864c0.1-0.1,0.3-0.2,0.5-0.3c0,0,0,0,0,0
            c0.2-0.1,0.3-0.2,0.5-0.3l0,0l0,0c0.1-0.1,0.3-0.1,0.4-0.2c0,0,0,0,0,0c0,0,0,0,0,0c0.3-0.1,0.6-0.2,0.9-0.3l1.4-20L912.4,842
            l0.4,21.3L1116.1,864C1116,864,1116,864,1116.1,864C1116.1,864,1116.1,864,1116.1,864z"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="2 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="912.4,842 1119.8,842.8 1121.2,823.1 912.1,822.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="3 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="912.1,822.5 1121.2,823.1 1122.6,803.1 911.7,802.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="4 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="911.7,802.5 1122.6,803.1 1124,783.1 911.4,782.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="5 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="911.4,782.5 1124,783.1 1125.4,763.1 911,762.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="6 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="911,762.5 1125.4,763.1 1126.8,742.1 910.7,741.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="7 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="910.7,741.5 1126.8,742.1 1128.3,721.1 910.3,720.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="8 этаж" data-flat-text="6 квартиры в продаже">
              <polygon points="910.3,720.5 1128.3,721.1 1129.9,699.1 909.9,698.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="9 этаж" data-flat-text="1 квартиры в продаже">
              <polygon points="909.9,698.5 1129.9,699.1 1131.4,677.1 909.5,676.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="10 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="909.5,676.5 1131.4,677.1 1133,655.2 909.1,654.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="1 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="909.1,654.5 1133,655.2 1134.6,632.2 908.7,631.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="12 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="908.7,631.5 1134.6,632.2 1136.2,609.2 908.3,608.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="13 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="908.3,608.5 1136.2,609.2 1137.9,585.2 907.9,584.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="14 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="907.9,584.5 1137.9,585.2 1139.6,561.2 907.5,560.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="15 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="907.5,560.5 1139.6,561.2 1141.3,536.2 907,535.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="16 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="907,535.5 1141.3,536.2 1143,512.2 906.6,511.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="17 этаж" data-flat-text="1 квартиры в продаже">
              <polygon points="906.6,511.5 1143,512.2 1144.8,486.2 906.1,485.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="18 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="939,485.6 1144.8,486.2 1146.7,460.2 938.8,459.6 939,481 938.9,481"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="19 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1148.5,433.5 938.6,433.1 938.8,459.6 1146.7,460.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="20 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="1150.4,406.2 938.3,405.6 938.5,427 938.6,433.1 1148.5,433.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="21 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1152.4,378.5 938.1,378.1 938.3,405.6 1150.4,406.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="22 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1154.4,350.2 937.8,349.6 938.1,378.1 1152.4,378.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="23 этаж" data-flat-text="1 квартиры в продаже">
              <polygon points="1156.5,320.5 937.6,320.1 937.7,335.5 937.8,349.6 1154.4,350.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="24 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="1158.5,291.9 937.3,291.1 937.4,305.7 937.6,320.1 1156.5,320.5"/>
            </g>
          </g>

          <g class="house__render">
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="1 этаж" data-flat-text="1 квартиры в продаже">
              <path d="M1119.8,842.8l-1.4,20c0.2,0,0.3-0.1,0.4-0.1c0,0,0,0,0.1,0c0.1,0,0.3,0,0.4,0c0,0,0,0,0,0
            c0.1,0,0.2,0,0.3,0.1c0,0,0.1,0,0.1,0c0.1,0,0.2,0.1,0.3,0.2c0,0,1-2,2-2s2,2,2,3l217,1l3.6-21.3L1119.8,842.8z"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="2 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="1119.8,842.8 1344.6,843.7 1347.9,823.8 1121.2,823.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="3 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1122.6,803.1 1121.2,823.1 1347.9,823.8 1350.5,808.4 1351.3,803.8"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="4 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="1122.6,803.1 1351.3,803.8 1354.6,783.8 1124,783.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="5 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1124,783.1 1354.6,783.8 1356.5,772.9 1358,763.8 1125.4,763.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="6 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="1126.8,742.1 1125.4,763.1 1358,763.8 1359.5,755 1361.5,742.8"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="7 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1126.8,742.1 1361.5,742.8 1363.1,733.5 1365.1,721.8 1128.3,721.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="8 этаж" data-flat-text="6 квартиры в продаже">
              <polygon points="1128.3,721.1 1365.1,721.8 1368.8,699.8 1129.9,699.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="9 этаж" data-flat-text="3 квартиры в продаже">
            <polygon points="1129.9,699.1 1368.8,699.8 1372.4,677.8 1131.4,677.1"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="10 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="1131.4,677.1 1372.4,677.8 1376.1,655.9 1133,655.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="11 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1133,655.2 1376.1,655.9 1380,632.9 1134.6,632.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="12 этаж" data-flat-text="4 квартиры в продаже">
              <polygon points="1136.2,609.2 1134.6,632.2 1380,632.9 1381.9,621.6 1383.9,609.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="13 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="1136.2,609.2 1383.9,609.9 1387.9,586.2 1387.9,585.9 1137.9,585.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="14 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1137.9,585.2 1387.9,585.9 1391.9,561.9 1139.6,561.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="15 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="1141.3,536.2 1139.6,561.2 1391.9,561.9 1392.3,559.6 1396.1,536.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="16 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="1141.3,536.2 1396.1,536.9 1399.1,519.5 1400.2,512.9 1143,512.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="17 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1144.8,486.2 1143,512.2 1400.2,512.9 1403.7,491.9 1404.5,486.9"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="18 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1144.8,486.2 1404.5,486.9 1405.6,480.7 1408.9,461 1146.7,460.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="19 этаж" data-flat-text="1 квартиры в продаже">
              <polygon points="1146.7,460.2 1408.9,461 1413.4,434 1148.5,433.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="20 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1150.4,406.2 1148.5,433.5 1413.4,434 1417.1,411.9 1418,407"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="21 этаж" data-flat-text="0 квартиры в продаже">
              <polygon points="1150.4,406.2 1418,407 1421.6,385.3 1422.7,379 1152.4,378.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="22 этаж" data-flat-text="2 квартиры в продаже">
              <polygon points="1152.4,378.5 1422.7,379 1427.4,351 1154.4,350.2"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="23 этаж" data-flat-text="3 квартиры в продаже">
              <polygon points="1154.4,350.2 1427.4,351 1432.4,321 1156.5,320.5"/>
            </g>
            <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="24 этаж" data-flat-text="4 квартиры в продаже">
              <polygon points="1158.5,291.9 1156.5,320.5 1432.4,321 1433.5,314.6 1437.1,293"/>
            </g>
          </g>
        </svg>

        <div class="house__numbers">
          <div class="house__number" style="top: 22.3%;left: 26.9%;">
            <p class="house__number-title">1</p>
            <p class="house__label-text">секция</p>
          </div>

          <div class="house__number" style="top: 22.3%;left: 40.2%;">
            <p class="house__number-title">2</p>
            <p class="house__label-text">секция</p>
          </div>

          <div class="house__number" style="top: 22.3%;left: 54%;">
            <p class="house__number-title">3</p>
            <p class="house__label-text">секция</p>
          </div>

          <div class="house__number" style="top: 22.3%;left: 67.1%;">
            <p class="house__number-title">4</p>
            <p class="house__label-text">секция</p>
          </div>
        </div>

        <div class="house__labels">
          <a class="house__back" onclick="history.back();">
            <span class="house__back-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="16">
                <path fill-rule="evenodd" d="M27 15.975V15.5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v-.543a3.488 3.488 0 0 0 3.001-3.447A3.488 3.488 0 0 0 27 7.062V6.5a.5.5 0 0 1-.5.5H3.168l3.776 3.736c.164.162.035.552-.288.871-.322.319-.717.447-.88.285L.832 7H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 5h.345L5.75.08c.163-.163.555-.035.877.288.321.322.449.715.286.879L3.171 5H26.5a.5.5 0 0 1 .5.5v-.475a5.499 5.499 0 0 1 0 10.95z"/>
              </svg>
            </span>
            <span class="house__back-text">Вернуться</span>
          </a>

          <div class="house__housing">
            <p class="house__housing-title"><span>2</span> a</p>
            <p class="house__housing-text">корпус</p>
          </div>

          <div class="house__label-base">
            <p class="house__label-title">23 квартиры в продаже</p>
            <p class="house__label-text">Сдача 1 кв 2019 г.</p>
          </div>

          <div class="house__compass-wrap">
            <svg class="house__compass house__compass--north" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
              <path class="house__compass-line house__compass-line--south" d="M70.7 39.9l-14.8 3.9 2.6 5.4z"/>
              <path class="house__compass-line house__compass-line--west" d="M60.7 53.7l-4.5 2.2L84.8 62 58.5 49.2z"/>
              <path class="house__compass-line house__compass-line--north" d="M44.1 56.2L38 84.8l12.8-26.3-4.5 2.2z"/>
              <path class="house__compass-line house__compass-line--east" d="M43.8 44.1L15.2 38l26.3 12.8-2.2-4.5z"/>
              <path fill="#D7D6D8" d="M39.9 29.3l3.9 14.8 5.4-2.6zM55.9 43.8L62 15.2 49.2 41.5l4.5-2.2zM60.1 70.7l-3.9-14.8-5.4 2.6zM28.4 60.5l15.7-4.3-2.6-5.4z"/>
              <path fill="#F7941E" d="M45.99 48.618l5.393-2.63 2.63 5.392-5.392 2.63z"/>
              <g class="house__render-item" data-floor-url="/floor.html" data-floor-text="24 этаж" data-flat-text="3 квартиры в продаже">
                <path fill="#B8B8BA" d="M1.8 37.7v-8.4h3.6c1.5 0 2.4.8 2.4 2 0 .9-.4 1.5-1.1 1.8 1.1.2 1.8 1 1.8 2.2 0 1.4-1 2.3-2.8 2.3H1.8zm.9-4.9h2.6c1.1 0 1.7-.5 1.7-1.4 0-.9-.6-1.4-1.7-1.4H2.7v2.8zm0 4.1h3c1.2 0 2-.6 2-1.6s-.7-1.6-2-1.6h-3v3.2zM31.9 98.6c-.8-.8-1.2-1.9-1.2-3.1s.4-2.3 1.2-3.1c.8-.8 1.8-1.2 3.1-1.2.9 0 1.7.2 2.4.6v.9c-.8-.5-1.6-.7-2.4-.7-1 0-1.8.3-2.4 1-.7.7-1 1.5-1 2.5s.3 1.9 1 2.5 1.5 1 2.5 1 1.8-.3 2.5-.8v.9c-.7.5-1.5.7-2.5.7-1.3 0-2.3-.4-3.2-1.2zM90.8 70.2v-.9c.8.5 1.7.7 2.7.7 1.6 0 2.6-.7 2.6-1.8 0-1-.9-1.7-2.3-1.7h-1v-.8h1.1c1.2 0 1.9-.5 1.9-1.4s-.9-1.3-2.1-1.3c-.8 0-1.6.2-2.5.6v-.8c.8-.4 1.7-.6 2.5-.6.9 0 1.5.2 2.1.6.5.4.8.9.8 1.6 0 .5-.1.9-.4 1.2-.3.3-.6.5-.9.6.5.1.9.4 1.2.8.4.3.5.8.5 1.4 0 .7-.3 1.4-.9 1.8s-1.4.7-2.5.7c-1.1-.1-2-.3-2.8-.7zM63.7 7.7c-.7-.8-1.1-1.7-1.2-2.9h-1.7v3.9h-.9V.3h.9V4h1.7c.1-1.1.5-2 1.3-2.8.7-.7 1.6-1.1 2.7-1.1s2.1.4 2.8 1.2c.8.8 1.1 1.9 1.1 3.1s-.4 2.3-1.1 3.2c-.7.8-1.7 1.2-2.8 1.2-1.1 0-2-.4-2.8-1.1zm2.8.3c.9 0 1.6-.3 2.2-1 .6-.6.9-1.5.9-2.5s-.3-1.9-.9-2.5c-.6-.6-1.3-1-2.2-1-.9 0-1.6.3-2.2 1-.6.6-.9 1.5-.9 2.5s.3 1.9.9 2.5c.6.7 1.3 1 2.2 1z"/>
              </g>
            </svg>
          </div>
        </div>

        <div class="house__swim">
          <p class="house__label-text">19 этаж</p>
          <p class="house__label-title">3 квартиры в продаже</p>
        </div>
      </div>

    </div>

</div>
{% endblock %} {% block page_bottom %}
<script src="js/house.js"></script>
{% endblock %}
