{% set title = "Главная" %}
{% extends "layout.njk" %}
{% block content %}
<div class="wrapper">
    <section class="home-banner">
		<div class="home-banner__sticker">5 фев – выходной в офисе продаж</div> 
    	<div style="display:none" class="timer-date" data-timer="2019,0,14,23,59">
            <div class="timer-date__text">Скидки до 7% <span>До конца акции осталось</span></div>
            <div class="timer-date__date">
                <span class="timer-date__hours"></span>
                <span class="timer-date__date-type"></span>
            </div>
        </div>
        <div class="home-banner-list swiper-container">
            <div class="swiper-wrapper">
				<div class="home-banner-list__item swiper-slide" style="background-image: url('img/indexSlides/sl1_bg.jpg')">
					<div class="home-banner-list__bg306-1"></div>
					<div class="home-banner-list__bg306-2" style="background-image: url('img/indexSlides/sl1_img2.png')"></div>
					<div class="home-banner-list__bg306-3"><img src="img/indexSlides/sl1_img3.svg" alt=""></div>
					<div class="home-banner-list__bg306-4"><img src="img/indexSlides/sl1_img4.svg" alt=""></div>
				</div>
                <div class="banner-slide swiper-slide">
                    <div class="banner-slide__col">
                        <div class="banner-slide__img">
                            <div class="banner-slide__title">
                                Праздник продолжается
                            </div>
                        </div>
                    </div>
                    <div class="banner-slide__col">
                        <div class="banner-slide__content">
                            <div class="banner-slide__title banner-slide__title_dark">
                                <span>скидки</span> продлеваются
                            </div>
                            <div class="banner-slide__subtitle">
                                до 7% на квартиры
                            </div>
                        </div>
						<div class="banner-slide__note"><span>*</span>Скидка не распространяется на&nbsp;апартаменты</div>
                    </div>
                    <a href="#" class="home-banner-list__link"></a>
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner1.jpg')">
                    <div class="home-banner-list__text">
                        ЖК класса «Комфорт-плюс»
                        <span class="br-desktop"></span>в 15 минутах пешком от м. «Селигерская»
                        <div class="home-banner-list__textsmall">Скидки на квартиры до 7%</div>
                    </div>
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner2.jpg')">
                    <div class="home-banner-list__text">
                        Свой парк на территории
                        <span class="br-desktop"></span> и природные зоны в шаговой доступности
                    </div>
                    <!--<div class="home-banner__date">-->
                    <!--Ввод в эксплуатацию-->
                    <!--<span>4 квартал 2018 года</span>-->
                    <!--</div>-->
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner3.jpg')">
                    <div class="home-banner-list__text">
                        Подземные паркинги
                        <span class="br-desktop"></span>и безопасные дворы без машин
                    </div>
                    <!--<div class="home-banner__date">-->
                    <!--Ввод в эксплуатацию-->
                    <!--<span>4 квартал 2018 года</span>-->
                    <!--</div>-->
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner3.jpg')">
                    <div class="home-banner-list__text">
                        <div class="home-banner-list__text">Не тратьте время на ремонт,<span class="br-desktop"></span>выберите любой из двух вариантов отделки.</div>
                    </div>
                    <a href="#" class="home-banner-list__link"></a>
				</div>
			</div>
			<div class="swiper-scrollbar"></div>
			<div class="swiper-pagination"></div>
		</div>
		<div class="home-banner__scrolling"></div>
		<div class="home-banner__arrow">
			<div class="home-banner__arrow_left"></div>
			<div class="home-banner__arrow_right"></div>
		</div>
		<a class="video-about-btn" data-fancybox href="https://www.youtube.com/watch?v=7dYHiCKomIY"><span>Видео о проекте</span></a>
		<a class="live-foto-index" href="https://www.youtube.com/watch?v=7dYHiCKomIY" title="Живые фотографии"><span>Живые фотографии</span></a>
		<div class="home-banner__logoAward">
			<img src="img/awardsLogo_num1.svg">
		</div>
		<div class="timer" data-until="1529020800000" style="display:none">
			<div class="timer__row1">До повышения цен</div>
			<div class="timer__row2">осталось</div>
			<div class="timer__row3">
				<div class="timer__time">3 <span>дня</span></div>
			</div>
			<a href="" class="timer__link"></a>
		</div>
		<div class="home-banner__date">
			Ввод в эксплуатацию
			<span>4 квартал 2018 года</span>
		</div>
		<a href="/genplan/" class="ShowroomTile home-banner__showroom">
			<div class="ShowroomTile_img">
				<img src="img/showroom.png" alt="Шоу-рум">
			</div>
			<div class="ShowroomTile_title">Шоу-рум</div>
		</a>
	</section>
	<section class="main-about-complex-wrap">
		<div class="container">
			<div class="main-about-complex">
				<h1 class="main-about-complex__title">
					Жилой комплекс «Летний&nbsp;сад»
				</h1>
				<div class="main-about-complex__text">
					<p>Жилой охраняемый комплекс, включающий ультрасовременные жилые дома класса комфорт-плюс, развитую торговую и образовательную инфраструктуру и уникальный для Москвы парк в стиле модерн, расположенный рядом с обновленной природной зоной в получасе езды от центра города.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="main-section main-section_full-width" style="background-image: url('img/index/section-img-02.jpg')">
		<div class="container container_infrastructure">
			<div class="main-section-title main-section-title_light main-section-title_sec1">Инфраструктура</div>
			<div class="main-section__row">
				<div class="main-section__col main-section__col_flex main-section__col_sec1">
					<div class="main-section__text main-section__text_light main-section__text_sec1">
						<p>«Летний сад» — это гораздо больше, чем просто дома. Это все, что нужно для жизни высокого класса:</p>
					</div>
					<a href="" class="btn-border btn-border_arrow">
						<span>Подробнее</span>
					</a>
				</div>
				<div class="main-section__col main-section__col_sec1">
					<div class="list-wrap list-wrap_sec1">
						<ul class="list list_line">
							<li>Собственный ТРЦ с магазинами, кафе, ресторанами и кинотеатром</li>
							<li>Подземный паркинг с лифтом от квартиры</li>
							<li>Детский досуговый центр</li>
							<li>Салоны красоты и SPA</li>
							<li>Магазин фермерских товаров</li>
							<li>Пекарня</li>
							<li>Сервис Pick Point для получения интернет-заказов</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<a href="" class="btn-more btn-more_sec0">
			<span>Подробнее</span>
		</a>
	</section>
	<section class="main-section">
		<div class="container container_index">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_first main-section__col_mobile-grid">
					<div class="container-mobile mobile-order-title">
						<div class="main-section-title main-section-title_dark main-section-title_sec2">Расположение</div>
					</div>
					<div class="container-mobile mobile-order-text">
						<div class="main-section__text main-section__text_location">
							<p>Адрес: Москва, <span class="br-mobile"></span> Дмитровкое шоссе, вл. 107</p>
						</div>
						<div class="list-wrap">
							<ul class="list list_circle">
								<li>15 минут пешком от станции м. «Селигерская»</li>
								<li>2 минуты пешком от строящейся станции</li>
								<li>м. «Улица 800-летия Москвы»</li>
								<li>30 минут езды до центра города</li>
								<li>Собственный удобный съезд с Дмитровского шоссе</li>
								<li>Остановки 20+ видов общественного транспорта <span class="br-desktop br-mobile"></span> в шаговой доступности</li>
							</ul>
						</div>
					</div>
					<div class="main-section-img-wrapper mobile-order-img">
						<div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-img-04.jpg')"></div>
						<a href="" class="btn-more btn-more_sec2 btn-more_mobile">
							<span>Подробнее</span>
						</a>
						<a href="#" class="main-section__link"></a>
					</div>
					<a href="" class="btn-more btn-more_sec2 btn-more_desktop">
						<span>Подробнее</span>
					</a>
				</div>
				<div class="main-section__col main-section__col_second">
					<div class="main-section-img-wrapper main-section-img-wrapper_sub-right">
						<div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-img-04.jpg')"></div>

					</div>
					<a href="#" class="main-section__link"></a>
				</div>
			</div>
		</div>
	</section>
	<section class="main-section">
		<div class="container container_index">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_second main-section__col_mobile-grid">
					<div class="container-mobile mobile-order-title2">
						<div class="main-section-title main-section-title_dark main-section-title_box main-section-title_sec3">Красота <span class="br-desktop br-mobile"></span> каждый день</div>
					</div>

					<div class="main-section-img-wrapper mobile-order-img2">
						<div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-img-05.jpg')"></div>
						<a href="" class="btn-more btn-more_sec3 btn-more_mobile">
							<span>Подробнее</span>
						</a>
						<a href="#" class="main-section__link"></a>
					</div>

					<div class="container-mobile mobile-order-text2">
						<div class="main-section__text main-section__text_sec3">
							<div class="list-wrap">
								<ul class="list list_circle list_mobile">
									<li>Авторская архитектура</li>
									<li>Яркие фасады</li>
									<li>Эстетичные входные группы</li>
									<li>Ландшафтный дизайн на территории</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
				<div class="main-section__col main-section__col_first">
					<div class="main-section-img-wrapper main-section-img-wrapper_sub-left">
						<div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-img-05.jpg')"></div>
					</div>
					<a href="" class="btn-more btn-more_sec3 btn-more_desktop">
						<span>Подробнее</span>
					</a>
					<a href="#" class="main-section__link"></a>
				</div>
			</div>
		</div>
	</section>
	<section class="main-section main-section_full-width" style="background-image: url('img/index/section-img-07.jpg')">
		<div class="container">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_flex main-section__col_sec4">
					<div class="main-section-title main-section-title_light main-section-title_sec4">Продуманные <span class="br-desktop br-tablet"></span> квартиры</div>
					<a href="" class="btn-border btn-border_select-room">
						<span>Выбрать квартиру</span>
					</a>
					{#<a href="" class="btn-border btn-border_arrow">
						<span>Подробнее</span>
					</a>#}
				</div>
				<div class="main-section__col main-section__col_flex main-section__col_sec4 main-section__col_content">
					<div class="main-section__select-room-btn">
						<a href="" class="btn-border btn-border_select-room">
							<span>Выбрать квартиру</span>
						</a>
					</div>
					<ul class="list list_line">
						<li>Удобные планировки</li>
						<li>Лоджии в каждой квартире</li>
						<li>Вместительные гардеробные</li>
						<li>Свободные планировки</li>
						<li>Квартиры с отделкой и без</li>
					</ul>
				</div>
			</div>
		</div>
		{#<a href="" class="btn-more btn-more_sec4">
			<span>Подробнее</span>
		</a>#}
	</section>
	<section class="main-section">
		<div class="container container_index">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_first main-section__col_mobile-grid main-section__col_sec5">
					<div class="container-mobile mobile-order-title">
						<div class="main-section-title main-section-title_dark main-section-title_sec5">Безопасный <span class="br-desktop br-mobile"></span> двор-парк</div>
					</div>
					<div class="container-mobile mobile-order-text">
						<div class="list-wrap">
							<ul class="list list_circle list_mobile">
								<li>Закрытая территория</li>
								<li>Круглосуточная охрана</li>
								<li>Система видеонаблюдения</li>
								<li>Декоративное освещение</li>
							</ul>
						</div>
					</div>
					<div class="main-section-img-wrapper mobile-order-img">
						<div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-img-01.jpg')"></div>
						<a href="" class="btn-more btn-more_sec5 btn-more_mobile">
							<span>Подробнее</span>
						</a>
						<a href="#" class="main-section__link"></a>
					</div>
					<a href="" class="btn-more btn-more_sec5 btn-more_desktop">
						<span>Подробнее</span>
					</a>
				</div>
				<div class="main-section__col main-section__col_second">
					<div class="main-section-img-wrapper main-section-img-wrapper_sub-right">
						<div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-img-01.jpg')"></div>
					</div>
					<a href="#" class="main-section__link"></a>
				</div>
			</div>
		</div>
	</section>
	<section class="main-section">
		<div class="container container_index">
			<div class="main-section__row">
				<div class="main-section__col main-section__col_second main-section__col_sec6 main-section__col_mobile-grid">
					<div class="container-mobile mobile-order-title2">
						<div class="main-section-title main-section-title_dark main-section-title_sec6">Все <span class="br-desktop"></span> для детей</div>
					</div>
					<div class="main-section-img-wrapper mobile-order-img2">
						<div class="main-section-img main-section-img_mobile" style="background-image: url('img/index/mobile/section-img-03.jpg')"></div>
						<a href="" class="btn-more btn-more_sec6 btn-more_mobile">
							<span>Подробнее</span>
						</a>
						<a href="#" class="main-section__link"></a>
					</div>
					<div class="container-mobile mobile-order-text2">
						<div class="list-wrap">
							<ul class="list list_circle list_mobile">
								<li>Детские и спортивные площадки</li>
								<li>Охраняемая территория</li>
								<li>Система видеонаблюдения</li>
								<li>Школа на 800 учащихся</li>
								<li>Детские сад на 150 мест</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="main-section__col main-section__col_first">
					<div class="main-section-img-wrapper main-section-img-wrapper_sub-left">
						<div class="main-section-img main-section-img_desktop" style="background-image: url('img/index/section-img-03.jpg')"></div>
					</div>
					<a href="" class="btn-more btn-more_sec6 btn-more_desktop">
						<span>Подробнее</span>
					</a>
					<a href="#" class="main-section__link"></a>
				</div>
			</div>
		</div>
	</section>
	<section class="main-section main-section_technology">
		<div class="container-full">
			<div class="main-section__row">
				<div class="main-section__col-7">
					<div class="main-section-img-wrapper main-section-img-wrapper_sub-left">
						<div class="main-section-img main-section-img_sec7" style="background-image: url('img/index/section-img-06.1.jpg')">
							<div class="main-section-title main-section-title_light main-section-title_sec7">Технологии</div>
						</div>
						<a href="#" class="main-section__link"></a>
					</div>
					<div class="main-section__text main-section__text_sec7">
						<div class="main-section-title main-section-title_dark main-section-title_sec7 main-section-title_sec7mobile">Технологии</div>
						<div class="list-wrap list-wrap_sec7">
							<ul class="list list_circle">
								<li>Монолитное строительство</li>
								<li>Вентилируемые фасады</li>
								<li>Скоростные комфортные лифты Otis</li>
							</ul>

							<ul class="list list_circle">
								<li>Высокие потолки — 2.78 м</li>
								<li>Современные инженерные системы</li>
							</ul>
						</div>

					</div>
					<a href="" class="btn-more btn-more_sec7">
						<span>Подробнее</span>
					</a>
				</div>
				<div class="main-section__col-5">
					<div class="main-section-img-wrapper main-section-img-wrapper_sub-left main-section-img-wrapper_sec7">
						<div class="main-section-img main-section-img_sec7" style="background-image: url('img/index/section-img-06.2.jpg')"></div>
						<a href="#" class="main-section__link"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="main-flatsMinPrices">
		<div class="main-section-title main-section-title_dark main-section-title_flatsMinPrices">Квартиры</div>
		<div class="main-flatsMinPrices__list">
			{#<div class="main-flatsMinPrices__listItem">
				<div class="main-flatsMinPrices__listImgBox">
					<a href="#" class="main-flatsMinPrices__listLink">
						<img src="https://etalonsad.ru/upload/information_system_2/1/8/4/item_1840/information_items_property_1422.svg" alt="" class="main-flatsMinPrices__listImg">
					</a>
				</div>
				<div class="main-flatsMinPrices__listName">студии</div>
				<div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">2,6 млн</span> руб.</div>
				<div class="main-flatsMinPrices__listSqr">21,8 – 50,9 м&sup2;</div>
			</div>#}
			<div class="main-flatsMinPrices__listItem">
				<div class="main-flatsMinPrices__listImgBox">
					<a href="#">
						<img src="https://etalonsad.ru/upload/information_system_2/1/8/4/item_1840/information_items_property_1422.svg" alt="" class="main-flatsMinPrices__listImg">
					</a>
				</div>
				<div class="main-flatsMinPrices__listName">однокомнатные</div>
				<div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">3,6 млн</span> руб.</div>
				<div class="main-flatsMinPrices__listSqr">50,8 – 70,9 м&sup2;</div>
			</div>
			<div class="main-flatsMinPrices__listItem">
				<div class="main-flatsMinPrices__listImgBox">
					<a href="">
						<img src="https://etalonsad.ru/upload/information_system_2/1/6/2/item_1627/information_items_property_1050.svg" alt="" class="main-flatsMinPrices__listImg">
					</a>
				</div>
				<div class="main-flatsMinPrices__listName">двухкомнатные</div>
				<div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">4,6 млн</span> руб.</div>
				<div class="main-flatsMinPrices__listSqr">71,8 – 90,9 м&sup2;</div>
			</div>
			<div class="main-flatsMinPrices__listItem">
				<div class="main-flatsMinPrices__listImgBox">
					<a href="">
						<img src="https://etalonsad.ru/upload/information_system_2/2/6/7/item_267/information_items_property_1076.svg" alt="" class="main-flatsMinPrices__listImg">
					</a>
				</div>
				<div class="main-flatsMinPrices__listName">трехкомнатные</div>
				<div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">5,6 млн</span> руб.</div>
				<div class="main-flatsMinPrices__listSqr">91,8 – 150,9 м&sup2;</div>
			</div>
			<div class="main-flatsMinPrices__listItem main-flatsMinPrices__listItem_centered">
				<div class="main-flatsMinPrices__listImgBox">
					<a href="">
						<img src="https://etalonsad.ru/upload/information_system_2/1/9/7/item_1972/information_items_property_1478.svg" alt="" class="main-flatsMinPrices__listImg">
					</a>
				</div>
				<div class="main-flatsMinPrices__listName">четырехкомнатные</div>
				<div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">6,6 млн</span> руб.</div>
				<div class="main-flatsMinPrices__listSqr">121,8 – 150,9 м&sup2;</div>
			</div>
		</div>
	</section>

</div>

<div style="display: none;" id="video-about-modal" class="video-about-modal">
	<div class="video-about-modal-wrapper">
		<div class="video-about-modal-inner">
			<iframe id="video-about" width="100%" height="100%" src="https://www.youtube.com/embed/7dYHiCKomIY" frameborder="0" controls="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<button data-fancybox-close class="close-gallery close-gallery_video"><img src="img/close-popup-dark.svg" alt=""></button>
			<!--<button class="video-about-modal__play">Play</button>-->
		</div>
	</div>
	<button data-fancybox-close class="close-gallery close-gallery_mobile"><img src="img/arrow_slide_back.svg" alt=""></button>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}

<div id="mail-banner" data-banner="0" style="display: none; padding: 0px;">
	<div class="mail-bannerV2">
		<div class="mail-bannerV2__inner">
			<div class="mail-bannerV2__tlt">Все детали о комплексе на&nbsp;вашу почту</div>
			<p>Планировки, инфраструктура, преимущества района, способы покупки</p>
			<form id="mail-bannerV2-form" data-action="/ajax/form-response.json" method="GET" class="page-form _mail ws-validate">
				<div class="page-form__step">
					<label class="page-form__lbl">
						<input type="email" class="page-form__inp" required data-errormessage="неверный формат email" placeholder="Ваш E-mail">
					</label>
					<button type="submit" class="button _orange _icon" value=""><span>подписаться</span></button>
				</div>
				<div class="page-form__step">
					<label class="page-form__lbl checkbox">
						<input data-errormessage="Пожалуйста, подтвердите согласие на обработку данных." type="checkbox" name="email-agreement" checked required class="checkbox__inp">
						<div class="checkbox__txt checkbox__txt_v2">Я даю согласие не обработку своих <a href="">персональных данных</a></div>
					</label>
				</div>
			</form>
		</div>
		<div class="mail-banner-close" data-fancybox-close="" title="Close">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>

<div id="banner_2" data-banner="1" style="display: none;">
	<a href="https://etalonsad.ru/choose/?discount=1">
		<img src="/img/banners/d1.jpg" alt="" />
	</a>
</div>

{# <div id="mail-banner" data-banner="v1" style="display: none; padding: 0px; margin: 40px">
	<div class="mail-banner">
		<div class="mail-banner__inner">
			<div class="mail-banner__tlt">Все детали о комплексе на&nbsp;вашу почту</div>
			<p>Подпишитесь, чтобы узнать о важных деталях проекта и вариантах покупки квартир в ЖК «Летний сад»</p>
			<form id="mail-banner-form" action="/" method="post" class="page-form _mail ws-validate">
				<div class="page-form__step">
					<label class="page-form__lbl">
						<input type="email" class="page-form__inp" required>
						<em class="page-form__placeholder">Ваш E-mail</em>
					</label>
					<input type="submit" class="button _orange" value="подписаться">
				</div>
				<div class="page-form__step">
					<label class="page-form__lbl checkbox">
						<input data-errormessage="Пожалуйста, подтвердите согласие на обработку данных." type="checkbox" name="email-agreement" checked required class="checkbox__inp">
						<div class="checkbox__txt">Я даю согласие не обработку своих <a href="">персональных данных</a></div>
					</label>
				</div>
			</form>
		</div>
	</div>
</div> #}

<script src="js/index.js"></script>

{% endblock %}
