{% set title = "Рассрочка" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
	<section class="gallery-header">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Как купить</a>
				<a href="tradein-page.html" class="breadcrumbs__item breadcrumbs__item_active">Рассрочка</a>
			</div>
			<h1 class="title-page">Рассрочка</h1>
		</div>
	</section>

	<div class="mat-cap">
		<section class="page__section _banner">
			<div class="container">
				<div class="page__banner" style="background-image: url('img/banner-installment.jpg')"></div>
			</div>
		</section>

		<div class="container">
			<div class="installment__txt">
				<p>Группа «Эталон» разработала для вас различные варианты рассрочки, в том числе и с переплатой 0%. Мы постоянно внедряем новые, более выгодные способы приобретения квартир в ЖК «Летний сад», узнать о которых вы можете у наших менеджеров.</p>
			</div>
		</div>
	</div>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}

{% endblock %}
