{% set title = "Лонгрид3" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <section class="longread-banner longread-banner_n3">
        <div class="longread-banner__text">
            <h1 class="longread-title">Счастливое детство в&nbsp;«Летнем саду»</h1>
        </div>

        <div class="longread-banner__scrolling"></div>
        <div class="longread-banner__arrow">
            <div class="longread-banner__arrow_left"></div>
            <div class="longread-banner__arrow_right"></div>
        </div>
    </section>


    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder2">
                <div class="longread-section__img longread-section__img_right">
                    <img src="img/longread-3/sec1.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder1 longread-section__content_L3Sec1">
                <div class="longread-section__content">
                    <div class="longread-section__title longread-section__title_rightBorder">Детский сад и&nbsp;школа</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-3/sec1.jpg" alt="">
                    </div>
                    <div class="longread-section__text">
                        <p>По утрам вам больше не нужно бежать сломя голову, чтобы успеть собрать детей перед работой. Детский сад и школа, выполненная
                            по авторскому проекту, находятся непосредственно во дворе вашего дома.</p>

                        <div class="longread-section__textRow">
                            <div class="longread-section__textCol">
                                Детский сад на
                                <div class="longread-section__bigText">150<span>мест</span></div>
                            </div>
                            <div class="longread-section__textCol">
                                Школа на
                                <div class="longread-section__bigText">800<span>мест</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder1">
                <div class="longread-section__img longread-section__img_left">
                    <img src="img/longread-3/sec2.jpg" alt="">
                </div>
                <div class="longread-section__text longread-section-textTablet hidden-xxl hidden-xl hidden-lg">
                    <p>Пропускной режим и надежная охрана гарантируют, что ни один посторонний не сможет попасть на территорию школы.</p>
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder2 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">

                    <div class="longread-section__imgMobile">
                        <img src="img/longread-3/sec2.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_n">
                        <p>На территории детского сада есть очень интересная игровая площадка со&nbsp;множеством лесенок, каруселей и домиков.</p>
                        <p class="hidden-md hidden-sm hidden-xs">Пропускной режим и надежная охрана гарантируют, что ни один посторонний не сможет попасть
                            на территорию школы.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-sectionFull longread-sectionFull_n5">
        <div class="container">
            <div class="longread-sectionFull__content longread-sectionFull__content_padding">
                <div class="longread-sectionFull__title">Двор для <span class="br-mobile"></span>детей</div>
                <div class="longread-sectionFull__text longread-sectionFull__text_L3Sec2">
                    <p>На игровых площадках во дворе дети и подростки найдут физкультурно-игровое оборудование и огороженные с&nbsp;3 сторон теневые навесы. Также в распоряжении ваших детей:</p>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-sectionList">
        <div class="longread-section__container longread-section__container_list">
            <div class="longread-section__col">
                <div class="longread-section__list">
                    <ul class="list list_circle">
                        <li>Детский досуговый центр для полезного времяпрепровождения</li>
                        <li>Анти-кафе (для подростков и молодежи) с Wi-Fi, проектором
                            для просмотра видео, большим столом для
                            настольных игр, библиотекой и т.д.</li>
                    </ul>
                </div>
            </div>
            <div class="longread-section__col">
                <div class="longread-section__list">
                    <ul class="list list_circle">
                        <li>Полная безопасность закрытой от посторонних территории,
                            гарантируемая охраной и системой видеонаблюдения
                            с трансляцией в квартиру.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder2">
                <div class="longread-section__img longread-section__img_right">
                    <img src="img/longread-3/sec4.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_left longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Кроме того</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-3/sec4.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_s">
                        <p>Сами детские площадки изящно вписаны в общий ландшафт двора, а игровое оборудование
                            выполнено из дерева. Все это, вместе с посадкой во дворах крупномеров
                            (взрослых деревьев), не только позволит детям отлично проводить время,
                            но и подарит взрослым прекрасные виды во двор.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div class="prefooter">
    <div class="prefooter__tlt">Смотрите также</div>
    {% include "includes/blocks/footer-menu.njk" %}
    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}


{% block page_bottom %}

{% endblock %}
