{% set title = "Лонгрид2" %}
{% extends "layout.njk" %}

{% block content %}
<div class="wrapper">
    <section class="longread-banner longread-banner_n2">
        <div class="longread-banner__text">
            <h1 class="longread-title">Город комфорта в&nbsp;большом городе</h1>
            <div class="longread-banner__subtext">
                В жилом комплексе «Летний&nbsp;сад» есть все для красивой <span class="br-tablet"></span> и беззаботной жизни
            </div>
        </div>

        <div class="longread-banner__scrolling"></div>
        <div class="longread-banner__arrow">
            <div class="longread-banner__arrow_left longread-banner__arrow_left_gray"></div>
            <div class="longread-banner__arrow_right longread-banner__arrow_right_gray"></div>
        </div>
    </section>

    <section class="longread-sectionList">
        <div class="longread-section__container longread-section__container_list">
            <div class="longread-section__col">
                <div class="longread-section__list longread-section__list_L2Sec1">
                    <ul class="list list_circle">
                        <li>Удобный 3-х уровневый торгово-развлекательный центр,
                            где вы найдете магtазины, кафе и рестораны на любой вкус</li>
                        <li> Помещения для коммерческого использования на первых
                            этажах с панорамными окнами, предоставляющие вам широкий
                            ассортимент услуг и товаров</li>
                        <li>Просторный подземный паркинг с грузопассажирским лифтом,
                            идущим прямо от вашей квартиры</li>
                        <li>Детский досуговый центр</li>
                    </ul>
                </div>
            </div>
            <div class="longread-section__col">
                <div class="longread-section__list longread-section__list_L2Sec1">
                    <ul class="list list_circle">
                        <li>Салоны красоты и SPA</li>
                        <li>Магазин фермерских товаров для ценителей здоровой
                            и вкусной еды</li>
                        <li>Пекарня со свежей выпечкой каждый день откроется
                            непосредственно на территории в корпусе 2Г</li>
                        <li>Сервис Pick Point для получения интернет-заказов</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2">
                <div class="longread-section__img longread-section__img_L2Sec1">
                    <img src="img/longread-2/sec1.jpg" alt="">
                </div>
                <div class="longread-section-list longread-section-list_mobile">
                    <ul class="list list_circle">
                        <li>В паркинге применяется автоматическая пожарная
                            сигнализация и автоматическая система пожаротушения</li>
                        <li>Все материалы, включая утеплитель, размещенный под
                            навесным фасадом, не являются горючими и отвечают
                            существующим нормам противопожарной безопасности.</li>
                    </ul>
                </div>

            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1">
                <div class="longread-section__content longread-section__content_right">
                    <div class="longread-section__title longread-section__title_rightBorder">Безопасность</div>
                    <div class="longread-section__text">
                        <ul class="list list_circle">
                            <li>Территория жилого комплекса огорожена и круглосуточно
                                охраняется. Въезд машин во двор запрещен.</li>
                            <li>На всей территории, включая детские площадки, размещены
                                видеокамеры с возможностью транслирования с них
                                изображения прямо в вашу квартиру.</li>
                            <li>В здании функционирует современная система пожарной
                                сигнализации</li>
                        </ul>
                        <ul class="list list_circle longread-section-list_desktop">
                            <li>В паркинге применяется автоматическая пожарная
                                сигнализация и автоматическая система пожаротушения</li>
                            <li>Все материалы, включая утеплитель, размещенный под
                                навесным фасадом, не являются горючими и отвечают
                                существующим нормам противопожарной безопасности.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-sectionFull longread-sectionFull_n3">
        <div class="container">
            <div class="longread-sectionFull__content">
                <div class="longread-sectionFull__title">Подземный паркинг</div>
                <div class="longread-sectionFull__text longread-sectionFull__text_L2Sec2">
                    <p>Забудьте о парковке возле дома!</p>
                    <p>Подземный паркинг вмещает 1200 машин, причем вы можете приобрести места для разных по размеру
                        автомобилей, а также семейные места. Парковка отапливается, а лифт к ней спускается прямо с
                        вашего этажа, так что зимой не нужно будет даже надевать пальто, чтобы поехать на работу.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder2">
                <div class="longread-section__img longread-section__img_right">
                    <img src="img/longread-2/sec3.jpg" alt="">
                </div>
            </div>

            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_left longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Въезд и выезд</div>

                    <div class="longread-section__imgMobile">
                        <img src="img/longread-2/sec3.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_n">
                        <p>На территорию парковки находятся под наблюдением видеокамер — ваш автомобиль
                            будет в полной безопасности.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder1">
                <div class="longread-section__img longread-section__img_left">
                    <img src="img/longread-2/sec4.jpg" alt="">
                </div>
                <div class="longread-section-textTablet hidden-xxl hidden-xl hidden-lg">
                    <p>А специальное полимерное покрытие пола
                        под машиноместами позволит вам в любое время года подходить к своему автомобилю
                        по чистому полу</p>
                </div>
            </div>

            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder2 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Высота потолка</div>

                    <div class="longread-section__imgMobile">
                        <img src="img/longread-2/sec4.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_p">
                        <p>При въезде в паркинг — 2,4 метра, так что вы легко сможете  проехать даже на
                            большом внедорожнике с верхним багажником. <span class="hidden-md hidden-sm hidden-xs">А специальное полимерное покрытие пола
                            под машиноместами позволит вам в любое время года подходить к своему автомобилю
                            по чистому полу</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-sectionFull longread-sectionFull_n4">
        <div class="container">
            <div class="longread-sectionFull__content">
                <div class="longread-sectionFull__title">Торговый <span class="br-mobile"></span>центр</div>
                <div class="longread-sectionFull__text hidden-xs longread-sectionFull__text_L2Sec5">
                    <p>Пусть другие тратят свое время на дорогу в магазин, пока вы проводите его со
                        своими близкими. Ведь жители «Летнего сада» смогут посещать собственный 3-х уровневый
                        торговый центр с продуктовым супермаркетом, современным кинотеатром и развлекательной
                        зоной для всей семьи с фуд-кортом.  </p>
                </div>
            </div>
        </div>
    </section>
    <div class="longread-section-textMobile hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">
        <p>Пусть другие тратят свое время на дорогу в магазин, пока вы проводите его со
            своими близкими. Ведь жители «Летнего сада» смогут посещать собственный 3-х уровневый
            торговый центр с продуктовым супермаркетом, современным кинотеатром и развлекательной
            зоной для всей семьи с фуд-кортом.  </p>
    </div>

    <section class="longread-item _viewVideo">
        <div class="container container--longread-item">
            <div class="longread-section__title _viewVideo">Обзор ЖК «Летний&nbsp;сад»</div>
            <div class="longread-video _viewVideo" data-video>
                <div class="longread-video__bg _noneBgIcon _allWhiteIcon" style="background-image: url('img/longread-2/bg_viewZKVideo.jpg')"></div>
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/d82Rvxl22gk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>

</div>

<div class="prefooter">
    <div class="prefooter__tlt">Смотрите также</div>
    {% include "includes/blocks/footer-menu.njk" %}
    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}


{% block page_bottom %}

{% endblock %}
