{% set title = "Лонгрид4" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <section class="longread-banner longread-banner_n4">
        <div class="longread-banner__text">
            <h1 class="longread-title">Расположение</h1>
            <div class="longread-banner__subtext">
                ЖК «Летний сад» находится в 15 минутах ходьбы от м. «Селигерская» по адресу: Дмитровское шоссе, вл. 107
            </div>
        </div>
        <div class="longread-banner__scrolling"></div>
        <div class="longread-banner__arrow">
            <div class="longread-banner__arrow_left"></div>
            <div class="longread-banner__arrow_right"></div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorder">Дмитровское шоссе</div>
                    <div class="longread-section__text longread-section__text_u">
                        <p>Уже сейчас оно является одной из наиболее быстрых городских артерий и позволяет проехать расстояние от ЖК «Летний сад» до центра города за 29 минут.</p>
                    </div>
                </div>
            </div>
            <div class="longread-section__col longread-section__col_bottomContent">
                <div class="longread-section__content longread-section__content_padding">
                    <div class="longread-section__text">
                        <div class="longread-section__textRow">
                            <div class="longread-section__textCol">
                                <div class="longread-section__bigText longread-section__bigText_L4Sec1">29 <span>минут в час-пик</span></div>
                                <div><strong>до центра на машине</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="location-route" data-map="location-route" data-map-init='{"center": [55.879114, 37.544560], "title": "г. Москва, Дмитровское шоссе, вл. 107", "zoom" : 11, "icon" : {"url" : "/img/contacts/marker-object.png", "size" : [100, 94]}, "controls" : ["zoomControl", "searchControl"], "type": "route", "route": {"start": [55.879114, 37.544560], "end": [55.792183, 37.587748], "middle": [55.843890, 37.599406], "startIco": "/img/longread-4/route-icon-finish.png", "middleIco": "/img/longread-4/route-icon.png", "endIco": "/img/contacts/marker-object.png"}}' class="longread-map1"></section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__content longread-section__content_right">
                <div class="longread-section__text longread-section__text_L4Sec3">
                    <p>В настоящее время городские власти проводят его обновление, в результате чего примерно через год оно превратится в ультрасовременную дорогу. Положительное влияние на дорожную ситуацию окажет завершение в 2018 году строительства Северо-Восточной хорды. Она соединит Северный и Юго-Восточный округа Москвы и еще сильнее разгрузит Дмитровское шоссе.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-sectionFull longread-sectionFull_n7">
        <div class="container">
            <div class="longread-sectionFull__content">
                <div class="longread-sectionFull__title">Собственный съезд</div>
                <div class="longread-sectionFull__text longread-sectionFull__text_L2Sec2">
                     <p>Съезд с шоссе непосредственно к ЖК позволит вам уезжать по делам и возвращаться домой, минуя пробки.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder2">
                <div class="longread-section__img longread-section__img_right">
                    <img src="img/longread-4/sec1.jpg" alt="">
                </div>
            </div>

            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_left longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Метро «Селигерская»</div>

                    <div class="longread-section__imgMobile">
                        <img src="img/longread-4/sec1.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_d">
                        <p>До открывшейся в марте 2018 станции вы сможете дойти пешком за 15 минут или доехать — за 5.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2">
                <div class="longread-section__img longread-section__img_left">
                    <img src="img/longread-4/sec2.jpg" alt="">
                </div>
            </div>

            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__text">
                        <div class="longread-section__textCol longread-section__textCol_L4Sec5">
                            <div class="longread-section__bigText">2 <span>минуты</span></div>
                            <p>до метро «ул. 800-летия Москвы»</p>
                        </div>
                    </div>

                    <div class="longread-section__imgMobile">
                        <img src="img/longread-4/sec2.jpg" alt="">
                    </div>
                    <div class="longread-section__text">
                        <p>Рядом с «Летним садом» строится станция метро «Улица 800-летия Москвы», вход в которую будет находиться в 100 метрах от выхода с огороженной, круглосуточно охраняемой территории комплекса. Охрана обеспечивает отсутствие на территории посторонних.</p>
                        <p>Станция метро будет введена в эксплуатацию не позже, чем через год после сдачи дома.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder2">
                <div class="longread-section__img longread-section__img_right">
                    <img src="img/longread-4/sec4.jpg" alt="">
                </div>
            </div>

            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_left longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_bottomBorder longread-section__title_L4Sec6">
                        <span style="font-size: 50px;">20</span> маршрутов <br> наземного транспорта
                    </div>
                    <div class="longread-section__routeIcons">
                        <img src="img/longread-4/transport.svg" alt="">
                    </div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-4/sec4.jpg" alt="">
                    </div>
                    <div class="longread-section__text">
                       <p>Автобусы, троллейбусы и маршрутные такси останавливаются на остановках в 100 метрах от ЖК по Дмитровскому шоссе
                           и ул. 800-летия Москвы. Если вам требуется быстро доехать до метро, среднее время ожидания составит не более 2 минут.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2">
                <div class="longread-section__img longread-section__img_left">
                    <img src="img/longread-4/sec5.jpg" alt="">
                </div>
            </div>

            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Пригородный <span class="br-desktop"></span>транспорт</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-4/sec5.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_v">
                        <p>В 10 минутах транспортом <br>
                            от ЖК «Летний сад» находится ж/д станция «Ховрино».</p>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container _video">
            <div class="longread-section__row">
                <div class="longread-section__col">
                    <div class="longread-section__title">Окружение</div>
                </div>
                <div class="longread-section__col">
                    <div class="longread-section__text longread-section__text_g">
                        <p>Главные достоинства Дмитровского района —<br> богатый выбор развлечений и развитая инфраструктура:</p>
                    </div>
                </div>
            </div>
            <div class="longread-video" data-video>
                <div class="longread-video__bg" style="background-image: url('img/longread-4/video-bg.jpg')"></div>
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jeZcI05REZA?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <ul class="list list_circle">
                <li>Стадион «Молния» и конно-спортивный клуб;</li>
                <li>Спортивные школы по баскетболу,футболу, плаванию, вольной борьбе;</li>
                <li>Развлекательный центр «Космик»;</li>
                <li>3 кинотеатра, океанариум, рестораны и кафе;</li>
                <li>Поликлиника и несколько медицинских центров;</li>
                <li>6 детских садов и 3 школы.</li>
            </ul>
        </div>
    </section>

    <section class="longread-mapInfra-container">
        <div id="location-infrastructure" data-url="/ajax/map-infra.json" class="longread-mapInfra" data-map="location-infrastructure" data-map-init='{"center": [55.879114, 37.544560], "zoom" : 13, "controls" : [], "type": "infra"}'></div>

        <div class="longread4-category-links">
            <div class="longread4-category-links__title">Инфраструктура ЖК</div>
            <a href="" class="longread4-category-links__item longread4-category-links__item_edu" data-category="edu">ВУЗы, колледжи, техникумы</a>
            <a href="" class="longread4-category-links__item longread4-category-links__item_school" data-category="school">Школы</a>
            <a href="" class="longread4-category-links__item longread4-category-links__item_kindergarten" data-category="kindergarten">Детские сады</a>
            <a href="" class="longread4-category-links__item longread4-category-links__item_cafe" data-category="cafe">Кафе, рестораны</a>
            <a href="" class="longread4-category-links__item longread4-category-links__item_shops" data-category="shops">Магазины, гипермаркеты, ТЦ</a>
            <a href="" class="longread4-category-links__item longread4-category-links__item_med" data-category="med">Объекты здравохранения</a>
            <a href="" class="longread4-category-links__item longread4-category-links__item_park" data-category="park">Парки</a>
            <a href="" class="longread4-category-links__item longread4-category-links__item_sport" data-category="sport">Спортивные объекты</a>
            <a href="" class="longread4-category-links__item longread4-category-links__item_culture" data-category="culture">Театры, кинотеатры, музеи</a>

            <a href="" class="longread4-category-links__show" data-infra-show>Показать все</a>
            <a href="" class="longread4-category-links__hide" data-infra-hide>Скрыть все</a>
        </div>

        <div class="longread-mapInfra-btns">
            <button class="longread-mapInfra-btns__map">Карта</button>
            <button class="longread-mapInfra-btns__infra">Инфраструктура ЖК</button>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container longread-section__container_L4sec10">
            <div class="longread-section__text longread-section__text_v">
                <p>В ближайшем будущем Правительством Москвы запланирована модернизация и расширение парковых и прогулочных
                    зон, реконструкция Дмитровского шоссе с обустройством автомобильного движения в тоннеле.</p>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2">
                <div class="longread-section__img longread-section__img_left">
                    <img src="img/longread-4/sec6.jpg" alt="">
                </div>
            </div>

            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Парк <span class="br-desktop"></span>«Ангарские пруды»</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-4/sec6.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_j">
                        <p>Жилой комплекс расположен в 500 метрах от живописного паркового комплекса «Ангарские пруды».
                            Сейчас эта природная зона включает несколько парков, яблоневый сад, пруды с красивыми островками и фонтаном.</p>
                    </div>
                </div>
            </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder2">
                <div class="longread-section__img longread-section__img_right">
                    <img src="img/longread-4/sec7.jpg" alt="">
                </div>
            </div>

            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_left longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Комфортный отдых <span class="br-desktop"></span>для всей семьи
                    </div>

                    <div class="longread-section__imgMobile">
                        <img src="img/longread-4/sec7.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_b">
                        <p>Буквально в двух минутах от дома вы сможете устраивать пикники на специальных
                            площадках, гулять по уютным аллеям, любоваться цветением яблонь и кормить уток прямо с руки.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__title longread-section__title_rightBorder longread-section__title_slider">Пруды</div>
            <div class="longread-section-slider">
                <div class="longread-section-slider__images swiper-container longread-section-slider_order1">
                    <div class="swiper-wrapper">
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-4/slide1.jpg')"></div>
                        </div>
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-4/slide2.jpg')"></div>
                        </div>
                    </div>
                    <div class="longread-section-slider__nav">
                        <div class="longread-section-slider-prev"></div>
                        <div class="longread-section-slider-next"></div>
                    </div>
                    <div class="longread-section-slider-pagination"></div>
                </div>
                <div class="longread-section-slider__text longread-section-slider_order2">
                    <p>Место для  отдыха и рыбалки.
                        В апреле - августе 2012 года произведена
                        капитальная реконструкции прудов.
                        В ходе реконструкции водоемы осушили,
                        очистили дно, заново построили систему
                        водообеспечения, возвели грунтовые
                        берега. На большом Ангарском пруду
                        два живописно оформленных острова.
                        В пойме Малого пруда оборудован фонтан.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__title longread-section__title_rightBorder longread-section__title_slider">Все для любителей активного отдыха</div>
            <div class="longread-section-slider">
                <div class="longread-section-slider__images swiper-container longread-section-slider_order2 longread-section-slider_orderMobile1">
                    <div class="swiper-wrapper">
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-4/slide3.jpg')"></div>
                        </div>
                    </div>
                    <div class="longread-section-slider__nav longread-section-slider__nav_left">
                        <div class="longread-section-slider-prev"></div>
                        <div class="longread-section-slider-next"></div>
                    </div>
                    <div class="longread-section-slider-pagination longread-section-slider-pagination_left"></div>
                </div>
                <div class="longread-section-slider__text longread-section-slider_order1 longread-section-slider_orderMobile1">
                   <ul class="list list_circle list_light">
                       <li>Лодки и катамараны</li>
                       <li>Лыжная трасса</li>
                       <li>и велодорожка 3 км</li>
                       <li>Каток с искусственным льдом</li>
                       <li>Конно-спортивная школа</li>
                       <li>Лыжная трасса, волейбольная, баскетбольные и футбольная</li>
                       <li>Площадки</li>
                       <li>Скейтпарк</li>
                       <li>Теннисный корт</li>
                   </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__title longread-section__title_rightBorder longread-section__title_slider">Для детей</div>
            <div class="longread-section-slider">
                <div class="longread-section-slider__images swiper-container longread-section-slider_order1">
                    <div class="swiper-wrapper">
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-4/slide4.jpg')"></div>
                        </div>
                        <div class="longread-section-slider__slide swiper-slide">
                            <div class="longread-section-slider__img" style="background-image: url('img/longread-4/slide5.jpg')"></div>
                        </div>
                    </div>
                    <div class="longread-section-slider__nav">
                        <div class="longread-section-slider-prev"></div>
                        <div class="longread-section-slider-next"></div>
                    </div>
                    <div class="longread-section-slider-pagination"></div>
                </div>
                <div class="longread-section-slider__text longread-section-slider_order2">
                    <p>По всему парку оборудованы детские
                        площадки. В парке расположено кафе,
                        с приятной атмосферой
                        и вкусной едой.
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>

<div class="prefooter">
    <div class="prefooter__tlt">Смотрите также</div>
    {% include "includes/blocks/footer-menu.njk" %}
    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}


{% block page_bottom %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=AI12UVwBAAAA5dcbfQIA1REaro56GW5XUxGMf4L53uWf3YQAAAAAAAAAAACZYjqB842QTM0A2jLc8uxwuOTUDQ==" type="text/javascript"></script>
<script src="/js/longread.js"></script>
{% endblock %}
