{% set title = "Лонгрид5" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <section class="longread-banner longread-banner_n5">
        <div class="longread-banner__text longread-banner__text_L5">
            <h1 class="longread-title">Технологии для вашего комфорта</h1>

            <div class="longread-banner__subtext">
                «Летний сад» — это действительно настоящий город внутри большого города.
                И чтобы обеспечить комфорт <span class="br-desktop"></span>своим жителям, он просто обязан быть ультрасовременным.
                При строительстве мы использовали все доступные <span class="br-desktop"></span> технологии, чтобы создать
                идеальные условия для вас и вашей семьи:
            </div>
        </div>

        <div class="longread-banner__scrolling"></div>
        <div class="longread-banner__arrow">
            <div class="longread-banner__arrow_left longread-banner__arrow_left_gray"></div>
            <div class="longread-banner__arrow_right longread-banner__arrow_right_gray"></div>
        </div>
    </section>

    <section class="longread-sectionList">
        <div class="longread-section__container longread-section__container_list hidden-md hidden-sm hidden-xs">
            <div class="longread-section__col_1of3">
                <div class="longread-section__list">
                    <ul class="list list_circle">
                        <li>Монолитное строительство</li>
                        <li>Вентилируемые фасады</li>
                    </ul>
                </div>
            </div>
            <div class="longread-section__col_1of3">
                <div class="longread-section__list">
                    <ul class="list list_circle">
                        <li>Лоджия в каждой квартире</li>
                        <li>Скоростные лифты Otis</li>
                    </ul>
                </div>
            </div>
            <div class="longread-section__col_1of3">
                <div class="longread-section__list">
                    <ul class="list list_circle">
                        <li>Нежилые помещения на 1-х этажах</li>
                        <li>Высокие потолки — 2,78 м</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="longread-section__container longread-section__container_listL5">
            <div class="longread-section__col longread-section__col_listL5">
                <div class="longread-section__list">
                    <ul class="list list_circle">
                        <li>Монолитное строительство</li>
                        <li>Вентилируемые фасады</li>
                        <li>Лоджия в каждой квартире</li>
                    </ul>
                </div>
            </div>
            <div class="longread-section__col longread-section__col_listL5">
                <div class="longread-section__list">
                    <ul class="list list_circle">
                        <li>Скоростные лифты Otis</li>
                        <li>Нежилые помещения на 1-х этажах</li>
                        <li>Высокие потолки — 2,78 м</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder1">
                <div class="longread-section__img longread-section__img_left">
                    <img src="img/longread-5/sec1.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder2 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorder longread-section__title_rightBorderMobile">Монолит</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-5/sec1_mobile.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_n">
                        <p>На протяжении десятилетий Группа компаний «Эталон» использует монолитную
                            технологию строительства при возведении зданий и сооружений.
                            Именно так мы построили и сдали десятки проектов.</p>


                        <p class="longread-section__text_L5sec1">Наш выбор очевиден, ведь монолитное строительство гарантирует:</p>



                        <ul class="list list_circle list_L5sec1">
                            <li>Высокую скорость строительства — вы сможете заселиться
                                куда быстрее, чем в любое другое здание, которое сейчас
                                находится на той же стадии строительства</li>
                            <li>Гибкость в архитектурно-планировочных решениях —
                                межкомнатные и межквартирные перегородки не являются
                                несущими, так что вы сами выбираете для себя планировку
                                по вкусу.</li>
                            <li>Гибкость в архитектурно-планировочных решениях —
                                межкомнатные и межквартирные перегородки не являются
                                несущими, так что вы сами выбираете для себя планировку
                                по вкусу.</li>
                            <li>Высокую надежность и устойчивость к неблагоприятным
                                факторам окружающей среды</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <div class="flex-container">
        <section class="longread-sectionText">
            <div class="longread-section__container">
                <div class="longread-section__col longread-section__col_mobileOrder2">
                    <div class="longread-sectionText__text">
                        <p>Несущим элементами таких зданий и сооружений являются железобетонные колонны и пилоны,
                            которые расположены как вдоль, так и поперек здания. В качестве ограждающей конструкции
                            используются керамзитобетонные или газобетонные блоки. Дополнительную прочность конструкции
                            придает железобетонное ядро жесткости, расположенное вокруг лестнично-лифтового узла.</p>
                    </div>
                </div>
                <div class="longread-section__col longread-section__col_mobileOrder1">
                    <div class="longread-sectionText__img"></div>
                </div>
            </div>
        </section>
        <section class="longread-section longread-section_L5sec3">
            <div class="longread-section__container">
                <div class="longread-section__col longread-section__col_l5sec3">
                    <div class="longread-section__textL5sec3">
                        <p>Такая конструкция будет обеспечивать 100% надежность на протяжении как минимум ста лет.</p>
                    </div>
                </div>
                <div class="longread-section__col longread-section__col_l5sec3">
                    <div class="longread-section__textCol longread-section__textCol_L5sec3">
                        <div class="longread-section__bigText">100<span>лет</span></div>
                        <p>Срок лужбы конструкции</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="longread-sectionFasad">
        <div class="longread-section__container">
            <div class="longread-section__title longread-section__title_rightBorder longread-section__title_rightBorderMobile longread-section__title_fasad">Вентилируемые фасады</div>
        </div>

        <div class="longread-sectionFasad__row1">
            <div class="longread-section__container">
                <div class="longread-section__col">
                    <div class="longread-sectionFasad__bg"></div>
                </div>
                <div class="longread-section__col longread-section__col_fasad">
                    <div class="longread-sectionFasad__text1">
                        <p>Фасад — это не только «лицо» здания. Это еще и его «кожа»,
                            созданная для защиты самого здания и живущих в нем людей.
                            Поэтому фасады «Летнего сада»:</p>

                        <p class="longread-section__text_L5fasad">Экологически чистые </p>
                        <p>В строительстве используются только не несущие никакого
                            вреда здоровью материалы.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="longread-sectionFasad__row2">
            <div class="longread-section__container">
                <div class="longread-section__col">
                    <div class="longread-sectionFasad__text2">
                        <p class="longread-section__text_L5fasadLight">Экономичные <span class="br-mobile"></span> и теплосберегающие</p>
                        <p>К несущей поверхности стены или к монолитному перекрытию здания прикреплен металлокаркас,
                            на который крепятся облицовочные плиты: керамогранитные плиты, фиброцементные плиты, планкен
                            и т. д. При этом, между наружной стеной и облицовочной плитой остается небольшое пространство,
                            в котором свободно циркулирует воздух.  </p>
                    </div>
                </div>
                <div class="longread-section__col">
                    <div class="longread-sectionFasad__text2">
                        <p>Такая естественная вентиляция позволяет избежать образования «точек росты», столь частых в других домах.
                            Одновременно, воздушная подушка обеспечивает дополнительную теплоизоляцию, уменьшая расходы на обогрев
                            здания. А для достижения еще больших показателей теплосбережения используется жесткий
                            минераловатный утеплитель.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder1">
                <div class="longread-section__img longread-section__img_left">
                    <img src="img/longread-5/sec2.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder2 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Защита от шума</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-5/sec2_mobile.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_n">
                        <p>Не желаете, чтобы ненужные звуки мешали вам, когда вы проводите время с семьей, работаете
                            или отдыхаете дома? Мы прекрасно вас понимаем! Именно поэтому наши инженеры
                            разработали комплексную систему звукоизоляции, в которую входят:</p>

                        <ul class="list list_circle">
                            <li>Установленные в каждой квартире двухкамерные стеклопакеты
                                с отличной звукоизолирующей способностью</li>
                            <li>Дополнительная многоуровневая изоляция помещений
                                с насосным и вентиляционным оборудованием</li>
                        </ul>

                        <p>Кроме того, все лифы «Летнего сада» функционируют без машинного помещения,
                            так что шум от их работы не услышат даже жители последних этажей.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder2">
                <div class="longread-section__img longread-section__img_right">
                    <img src="img/longread-5/sec3.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_left longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Вентиляция</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-5/sec3_mobile.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_v">
                        <p>Вы ведь хотите, чтобы свежий воздух из парка Ангарских прудов всегда наполнял ваш новый дом?</p>
                        <p>Так тому и быть! Мы снабдили каждую квартиру приточно-вытяжной вентиляцией. Воздух будет
                            свободно попадать внутрь через шумозащитные клапаны типа Air-Box серии Comfort,
                            установленные в окнах, и также легко уходить через вытяжку.</p>
                        <p>Ну а если вы захотите установить сплит-систему для кондиционирования воздуха и достижения
                            максимального комфорта, сделать это будет очень просто. Ведь на балконах предусмотрено
                            место для установки внешних блоков и наружного дренажа сплит-систем — вид блоков не будет
                            портить фасад, а конденсату не придется капать на нижние балконы.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder1">
                <div class="longread-section__img longread-section__img_left">
                    <img src="img/longread-5/sec4.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder2 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Отопление</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-5/sec4_mobile.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_s">
                       <p>Система отопления сочетает высокую эффективность с эстетикой. В квартирах установлены
                           современные радиаторы «Ростерм» с головками «Данфосс». При этом поквартирная разводка
                           труб выполняется при подготовке пола, так что в вашем новом доме не будет
                           никаких труб до потолка.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder2">
                <div class="longread-section__img longread-section__img_right">
                    <img src="img/longread-5/sec5.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder1 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_left longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">Водоснабжение</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-5/sec5_mobile.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_v">
                        <p>В «Летнем саду» реализована независимая схема водоснабжения.
                            Фактически это значит, что из крана горячей воды в вашей
                            квартире всегда будет литься чистая вода, и вам не придется сталкиваться с перебоями. </p>
                        <p>Жители старых домов не понаслышке знают о том, как разница в давлении в трубах ГВС и ХВС
                            портит сантехническое оборудование. В ЖК «Летний сад» установлены современные насосы,
                            благодаря которым эта проблема полностью решена.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder1">
                <div class="longread-section__img longread-section__img_left">
                    <img src="img/longread-5/sec6.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder2 longread-section__col_centerContent">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__title longread-section__title_rightBorderMobile">BIM проектирование</div>
                    <div class="longread-section__imgMobile">
                        <img src="img/longread-5/sec6_mobile.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_v">
                        <p>BIM-технология — это информационное моделирование зданий. </p>

                        <p>Еще на этапе проектирования мы создаем полноценный цифровой прототип будущего
                            дома со всеми коммуникациями, инфраструктурой и прилегающим ландшафтом. </p>

                        <p>BIM-технология позволяет нам строить куда быстрее и безопаснее, а вам,
                            наряду с безупречной репутацией компании, гарантирует своевременное получение
                            ключей от нового дома.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-sectionFull longread-sectionFull_n6">
        <div class="container">
            <div class="longread-sectionFull__content longread-sectionFull__content_padding">
                <div class="longread-sectionFull__title longread-sectionFull__titleL5Sec7">Лифты OTIS</div>
                <div class="longread-sectionFull__text longread-sectionFull__text_L5Sec7">
                    <p>Лифт — это последний шаг, который вы делаете перед тем, как попасть домой. Мы считаем, что этот шаг должен
                        быть быстрым, плавным и, конечно же, красивым.</p>
                    <p>Чтобы вам не приходилось ждать, в каждой секции установлено по 3 импортных лифта OTIS. Их панели выполнены из нержавеющей стали,
                        в каждом установлено зеркало, система LED-освещения и плоская панель управления.</p>
                    <p>Обладая плавным ходом, лифт движется быстрее аналогов в других домах (1,6 м/с вместо стандартных 1 м/с),
                        так что вы окажетесь дома куда быстрее.</p>

                </div>
            </div>
        </div>
    </section>

    <div class="longread-section-textMobile longread-section-textMobile_L6Sec7 hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm">
        <p>Лифт — это последний шаг, который вы делаете перед тем, как попасть домой. Мы считаем, что этот шаг должен
            быть быстрым, плавным и, конечно же, красивым.</p>
        <p>Чтобы вам не приходилось ждать, в каждой секции установлено по 3 импортных лифта OTIS. Их панели выполнены из нержавеющей стали,
            в каждом установлено зеркало, система LED-освещения и плоская панель управления.</p>
        <p>Обладая плавным ходом, лифт движется быстрее аналогов в других домах (1,6 м/с вместо стандартных 1 м/с),
            так что вы окажетесь дома куда быстрее.</p>
    </div>


</div>

<div class="prefooter">
    <div class="prefooter__tlt">Смотрите также</div>
    {% include "includes/blocks/footer-menu.njk" %}
    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}


{% block page_bottom %}

{% endblock %}
