{% set title = "Лонгрид1" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <section class="longread-banner longread-banner_n1">
        <div class="longread-banner__text">
            <h1 class="longread-title">Двор – парк для жителей, <span class="br-desktop"></span>
                а не стоянка для машин</h1>
        </div>
        <div class="longread-banner__scrolling"></div>
        <div class="longread-banner__arrow">
            <div class="longread-banner__arrow_left"></div>
            <div class="longread-banner__arrow_right"></div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2">
                <div class="longread-section__img longread-section__img_L1">
                    <img src="img/longread-1/sec1.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1">
                <div class="longread-section__content longread-section__content_right longread-section__content_padding">
                    <div class="longread-section__title">Охраняемая территория</div>
                    <div class="longread-section__imgMobile longread-section__imgMobile_L1">
                        <img src="img/longread-1/sec1.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_d">
                        <p>Дворы жилого комплекса огорожены, а въезд автомобилей внутрь не допускается.
                            Круглосуточная охрана, системы видеонаблюдения и контроля допуска никому и
                            ничему не позволят нарушить ваш покой.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-sectionFull longread-sectionFull_n1">
        <div class="container">
            <div class="longread-sectionFull__content longread-sectionFull__content_padding">
                <div class="longread-sectionFull__title">Собственный <span class="br-tablet br-mobile"></span> парк во дворе</div>
                <div class="longread-sectionFull__text">
                    <p>Внутри комплекса будет расположен уникальный парк в стиле «Модерн».
                        Он предоставит жителям множество возможностей для прогулок и отдыха и,
                        одновременно, выступит в качестве «стены», ограждающей «Летний сад» от
                        улицы. На территории парка и дворов будет реализовано декоративное освещение.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col longread-section__col_tabletOrder2 longread-section__col_desktopOrder2">
                <div class="longread-section__img longread-section__img_L1 longread-section__img_right">
                    <img src="img/longread-1/sec3.jpg" alt="">
                </div>
            </div>
            <div class="longread-section__col longread-section__col_tabletOrder1 longread-section__col_desktopOrder1">
                <div class="longread-section__content longread-section__content_left longread-section__content_padding">
                    <div class="longread-section__title">Площадки для отдыха</div>
                    <div class="longread-section__imgMobile longread-section__imgMobile_L1">
                        <img src="img/longread-1/sec3.jpg" alt="">
                    </div>
                    <div class="longread-section__text longread-section__text_d">
                        <p>Деревья, клумбы с цветами, удобные скамейки и газоны —  здесь жители и их гости смогут отдохнуть с комфортом.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-sectionFull longread-sectionFull_n2">
        <div class="container">
            <div class="longread-sectionFull__content longread-sectionFull__content_padding">
                <div class="longread-sectionFull__title">Комфорт <span class="br-tablet"></span> для каждого</div>
                <div class="longread-sectionFull__text">
                    <p>Широкие и ровные дорожки и концепцию дворов без ступеней оценят и любители пробежаться
                        по утрам и мамы с колясками.</p>
                </div>
            </div>
        </div>
    </section>
</div>

{% include "includes/blocks/btn-call.njk" %}
{% endblock %}


{% block page_bottom %}

{% endblock %}