{% set title = "Адрес ЖК «Летний сад»" %}

{% extends "simple_layout.njk" %}

{% block content %}

<link rel="stylesheet" href="css/navigator.css">

<div class="wrapp">
    <div class="topBlock">
        <div class="topBlock__content">
            <div class="topBlock__content--logo"><a href="http://etalonsad.ru" title="ЖК «Летний сад»" target="_blank"><img src="img/logo_02.svg" alt="ЖК «Летний сад»"></a></div>
            <div class="topBlock__content__address_item">
                <span class="topBlock__content__address_item--name">Район</span>
                Дмитровский
            </div>
            <div class="topBlock__content__address_item">
                <span class="topBlock__content__address_item--name">Адрес</span>
                г. Москва, Дмитровское шоссе, вл. 107
            </div>
        </div>
    </div>
    <div class="bottomBlock">
        <a href="yandexnavi://build_route_on_map?lat_to=55.879045&amp;lon_to=37.544532" target="_blank" class="bottomBlock--btn bottomBlock--btn_yaN">
            <span class="bottomBlock--btn--text">Проложить маршрут в Яндекс-Навигаторе</span>
            <span class="bottomBlock--btn--text_mob">Маршрут в Яндекс-Навигаторе</span>
        </a>
        <a href="http://maps.yandex.ru/?text=55.879045,37.544532" target="_blank" class="bottomBlock--btn bottomBlock--btn_yaK">Смотреть на Яндекс-Картах</a>
        <a href="https://maps.google.com/?daddr=55.879045,37.544532" target="_blank" class="bottomBlock--btn bottomBlock--btn_G">Смотреть на Google-Картах</a>
        <a href="http://etalonsad.ru" target="_blank" class="bottomBlock--btn bottomBlock--btn_N">
            <span class="bottomBlock--btn--text">Официальный сайт ЖК «Летний сад»</span>
            <span class="bottomBlock--btn--text_mob">Сайт ЖК «Летний сад»</span>
        </a>
    </div>
</div>


{% endblock %}

{% block page_bottom %}
{% endblock %}


