{% set title = "Паркинг" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
	<nav class="TopNav">
		<div class="TopNav_inner">
			<div class="TopNav_leaf"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
			<div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
			<div class="TopNav_leaf TopNav_leaf-active"><a href="parking.html" class="TopNav_link">Паркинг</a></div>
			<div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Коммерческая недвижимость</a></div>
		</div>
	</nav>
	<section class="parking">
		<div class="container">
			<div class="parking__content">
				<div class="parking__info">
					<div class="parking__info--heading">
						<h1>Паркинг</h1>
						<span class="parking__info--tagprice"><span>от</span> 1 172 000 <span>руб</span></span>
					</div>
					<div class="parking__info--small">за машиноместо</div>
					<ul class="list list_circle">
						<li>Своя подземная одноуровневая парковка для каждого квартала</li>
						<li>Из каждого подъезда всех секций жилого комплекса
							есть отдельный выход в зону подземного паркинга,
							а так же грузопассажирский лифт</li>
						<li>Системы пожарной сигнализации и пожаротушения
							и круглосуточная охрана позволят владельцам не волноваться за сохранность своего автотранспорта</li>
					</ul>
					<div class="parking__info--bwrap">
						<input type="submit" data-sidebar-toggle="parking" value="отправить заявку на паркинг" class="parking__info--sbt button _orange _fix">
					</div>
					<div class="parking__info--bwrap">
						<a href="/parking-payment.html" class="parking__info--sbt button _payment">Онлайн-оплата паркинга</a>
					</div>
				</div>
				<div class="parking__plan">
					<div class="parkingScheme parking__parkingScheme">
						{% include "includes/svg/parking/parking_scheme.svg" %}
						<ul class="parkingScheme__download">
							<li>
								<a class="parkingScheme__download--item" href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf" download>
									<span class="parkingScheme__download-icon">K1</span>
									<span class="parkingScheme__download-text">Скачать планировку</span>
								</a>
							</li>
							<li>
								<a class="parkingScheme__download--item" href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf" download>
									<span class="parkingScheme__download-icon">K2</span>
									<span class="parkingScheme__download-text">Скачать планировку</span>
								</a>
							</li>
							<li>
								<a class="parkingScheme__download--item" href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf" download>
									<span class="parkingScheme__download-icon">K3</span>
									<span class="parkingScheme__download-text">Скачать планировку</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{#<div class="page-sidebar" data-sidebar>
	<div class="page-sidebar__inner">
		<em class="page-sidebar__close"></em>
		код ниже был тут!!!
	</div>
</div>#}

<div id="parking" class="page-sidebar__wrapper">
    <div class="page-sidebar__scroll scrollbar-inner scroll-content" data-scrollbar>
        <div class="scrollbar-helper">

            <div class="page-sidebar__tlt">Заявка на паркинг</div>
            <form data-action="/ajax/form-response.json" method="GET" class="page-form ws-validate" autocomplete="off">
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="parking-name">
                        <em class="page-form__placeholder">Имя</em>
                    </label>
                </div>
                <div class="page-form__step">
                    <div class="page-form__lbl">
                        <label>
                            <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="parking-phone">
                            <em class="page-form__placeholder">Телефон</em>
                        </label>
                    </div>
                </div>
                <div class="page-form__step">
                    <div class="page-form__stepTitle">Корпус</div>
                    <div class="parkingCheckboxes">
                        <div class="FilterForm_checkboxesRow">
                            {% for bld in [
                                {label: "2а", id: 1},
                                {label: "2б", id: 2},
                                {label: "2в", id: 3},
                                {label: "2г", id: 4},
                                {label: "3а", id: 5},
                                {label: "3б", id: 6},
                                {label: "3в", id: 22},
                                {label: "4а", id: 7},
                                {label: "4б", id: 8}
                            ] %}
                                <div class="BigCheckbox">
                                    <label class="BigCheckbox_label">
                                        <input class="BigCheckbox_input" type="checkbox" name="bld[]" data-persist-id="bld_{{bld.id}}" value="{{bld.id}}"><span class="BigCheckbox_view BigCheckbox_view-light">{{bld.label}}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="page-form__step">
                    <input type="submit" value="отправить" class="page-form__sbt button _orange">
                </div>
            </form>

        </div>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}
{% endblock %}

{% block page_bottom %}
<script src="js/parking.js"></script>
{% endblock %}
