{% set title = "Способы оплаты" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="gallery-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Как купить</a>
            </div>
            <h1 class="title-page">Способы оплаты</h1>
        </div>
    </section>

    <div class="container">
        <section class="payment-list">
            <div class="payment-list-item payment-list-item_margin">
                <div class="payment-list-item__img payment-list-item__img_ipoteka"></div>
                <div class="payment-list-item__content-wrap payment-list-item__content-wrap_potec">
                    <div class="payment-list-item__content">
                        <div class="payment-list-item__title payment-list-item__title_border">Иптотека от&nbsp;7.4%</div>
                        <div class="payment-list-item__text">
                            <ul class="payment-list-item__listIpotec">
                                <li>Подбор лучших<span class="br-desktop"></span>ипотечных программ</li>
                                <li>Подача <span class="br-desktop"></span> документов онлайн</li>
                                <li>Принятие <span class="br-desktop"></span> решения за 36 часов</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="" class="payment-list-item__link"></a>
            </div>

            <div class="payment-list-column payment-list-item_margin">
                <div class="payment-list-item">
                    <div class="payment-list-item__img payment-list-item__img_trade" ></div>
                    <div class="payment-list-item__content-wrap">
                        <div class="payment-list-item__content">
                            <div class="payment-list-item__title">Trade-in</div>
                            <div class="payment-list-item__text payment-list-item__text_n2">
                                <p>Продать старую квартиру
                                    и купить новую за один день</p>
                            </div>
                        </div>
                    </div>
                    <a href="" class="payment-list-item__link"></a>
                </div>

                <div class="payment-list-item">
                    <div class="payment-list-item__img payment-list-item__img_rass"></div>
                    <div class="payment-list-item__content-wrap">
                        <div class="payment-list-item__content">
                            <div class="payment-list-item__title">Рассрочка</div>
                            <div class="payment-list-item__text payment-list-item__text_n3">
                                <p>Несколько видов рассрочки.
                                    Переплата — от 0%,
                                    срок — до 30 лет</p>
                            </div>
                        </div>
                    </div>
                    <a href="" class="payment-list-item__link"></a>
                </div>
            </div>

            <div class="payment-list-item payment-list-item_margin">
                <div class="payment-list-item__img payment-list-item__img_mat"></div>
                <div class="payment-list-item__content-wrap">
                    <div class="payment-list-item__content">
                        <div class="payment-list-item__title">Материнский
                            капитал</div>
                        <div class="payment-list-item__text payment-list-item__text_n4">
                            <p>Простой и выгодный способ
                                использовать сертификат для
                                приобретения жилья высокого
                                класса.</p>
                        </div>
                    </div>
                </div>
                <a href="" class="payment-list-item__link"></a>
            </div>

            <div class="payment-list-item payment-list-item_margin">
                <div class="payment-list-item__img payment-list-item__img_voen"></div>
                <div class="payment-list-item__content-wrap">
                    <div class="payment-list-item__content">
                        <div class="payment-list-item__title">Военная ипотека</div>
                        <div class="payment-list-item__text payment-list-item__text_n5">
                            <p>Простая и комфортная схема
                                приобретения жилья для
                                военнослужащих.</p>
                        </div>
                    </div>
                </div>
                <a href="" class="payment-list-item__link"></a>
            </div>

            <div class="payment-list-item _stayhome">
                <div class="payment-list-item__img payment-list-item__img_stayhome"></div>
                <div class="payment-list-item__content-wrap">
                    <div class="payment-list-item__content">
                        <div class="payment-list-item__title">Онлайн-сделка</div>
                        <div class="payment-list-item__text payment-list-item__text_n5">
                            <p>Выбрать и купить квартиру в любом объекте Группы «Эталон» можно в онлайн-режиме.</p>
                        </div>
                    </div>
                </div>
                <a href="stayhome.html" class="payment-list-item__link _stayhome"></a>
            </div>


        </section>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}
{% block page_bottom %}

{% endblock %}