{% set title = "Шоурум" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="gallery-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Информация</a>
                <a href="/showroom" class="breadcrumbs__item breadcrumbs__item_active">Шоурум</a>
            </div>
            <div class="title-page">Шоурум</div>
        </div>
    </section>

    <div class="container">
        <div class="showroom">
            <div class="showroom__workTime">
                Посетите шоурум на <a href="#" class="showroom__workTimeGlow">объекте</a><br>График работы: ежедневно по расписанию<br>11:00, 13:00, 15:00, 17:00, 19:00
            </div>
            <div class="showroom__wrap">
                <div class="showroom__main showroom__main--modern">
                    <div class="showroom__overlay">
                        <div class="showroom__zoom">
                            {% include "includes/svg/zoom.svg" %}
                            <div class="showroom__zoomDesc">На весь экран</div>
                        </div>
                    </div>
                    <div class="showroom__thumb"></div>
                    <div class="showroom__main-desc">Современный стиль <span class="hidden-xs">отделки</span></div>
                </div>
                <div class="showroom__main showroom__main--classic">
                    <div class="showroom__overlay">
                        <div class="showroom__zoom">
                            {% include "includes/svg/zoom.svg" %}
                            <div class="showroom__zoomDesc">На весь экран</div>
                        </div>
                    </div>
                    <div class="showroom__thumb"></div>
                    <div class="showroom__main-desc">классический стиль <span class="hidden-xs">отделки</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-frame="https://www.novostroy-m.ru/files/novos/virtual_tour/msk/jk_letniy_sad_2_2_showroom/" class="showroom-fullFrame showroom-fullFrame--classic">
    <img src="./img/close_frame.svg" class="showroom-fullFrame__close"/>
    {# <iframe class="showroom-fullFrame__iframe" src="https://www.novostroy-m.ru/files/novos/virtual_tour/msk/jk_letniy_sad_2_2_showroom/"></iframe> #}
</div>
<div data-frame="https://www.novostroy-m.ru/files/novos/virtual_tour/msk/jk_letniy_sad_2_showroom/" class="showroom-fullFrame showroom-fullFrame--modern">
    <img src="./img/close_frame.svg" class="showroom-fullFrame__close"/>
    {# <iframe class="showroom-fullFrame__iframe" src="https://www.novostroy-m.ru/files/novos/virtual_tour/msk/jk_letniy_sad_2_showroom/"></iframe> #}
</div>

{% include "includes/blocks/call-form.njk" %}

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}
<script src="js/gallery.js"></script>
{% endblock %}