{% set title = "Онлайн-сделка" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
	<section class="gallery-header">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Как купить</a>
				<a href="#" class="breadcrumbs__item breadcrumbs__item_active">Онлайн-сделка</a>
			</div>
		</div>
	</section>

	<div class="StayHome">
		<section>
            <div  class="container">
                <img src="/img/stayhome/img_2.jpg"  alt="" class="StayHomeImg"/>
            </div>
		</section>

		<section class="StayHome_colorSection">
            <div  class="container">
                <div class="StayHomeContent">
                    <div class="StayHomeContent_top">
                        <div class="StayHomeContent_Topleft">
                            <div class="StayHomeContent_title">Онлайн сделка</div>
                            <div class="StayHomeContent_tag">
                                #ЛучшеДомасЭталоном
                            </div>
                        </div>
                        <div class="StayHomeContent_TopRight">
                            Выбрать и купить квартиру в любом объекте Группы «Эталон» можно онлайн
                        </div>
                    </div>
                    <div class="StayHomeContent_list">
                        <div class="StayHomeContent_item">
                            <div class="StayHomeContent_itemNum">1</div>
                            <div class="StayHomeContent_itemTitle">Выберите квартиру или апартаменты в нашем ЖК</div>
                            <div class="StayHomeContent_text">
                                <ul class="stayhome-list">
                                    <li><a href="#" class="link">В каталоге на сайте</a></li>
                                    <li>На дистанционной видеовстрече с персональным менеджером <br><a href="#" class="link">Заказать звонок</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="StayHomeContent_item">
                            <div class="StayHomeContent_itemNum">2</div>
                            <div class="StayHomeContent_itemTitle">Забронируйте</div>
                            <div class="StayHomeContent_text">
                                <p>
                                    Стоимость и номер лота будут зафиксирована на срок, 
                                    необходимый для оформления документов.
                                    Для бронирования понадобятся ваши паспортные данные и согласие на их обработку.
                                </p>
                                <ul class="stayhome-list">
                                    <li>На сайте</li>
                                    <li>Через вашего персонального менеджера</li>
                                </ul>
                            </div>
                        </div>
                        <div class="StayHomeContent_item">
                            <div class="StayHomeContent_itemNum">3</div>
                            <div class="StayHomeContent_itemTitle">Подготовьтесь к сделке в Личном Кабинете</div>
                            <div class="StayHomeContent_text">
                                <ul class="stayhome-list">
                                    <li>Зарегестрируйтесь в <a href="#" class="link">личном кабинете</a></li>
                                    <li>Загрузите сканы и качественные фото документов
                                        <ul class="stayhome-list _sub">
                                            <li>Паспорт</li>
                                            <li>Снилс</li>
                                            <li>ИНН</li>
                                            <li>Примечание: Может понадобиться нотариально заверенное согласие супруга/супруги</li>
                                        </ul>
                                    </li>
                                    <li>Ознакомьтесь с договором и условиями сделки</li>
                                </ul>
                            </div>
                        </div>
                        <div class="StayHomeContent_item">
                            <div class="StayHomeContent_itemNum">4</div>
                            <div class="StayHomeContent_itemTitle">Если вы покупаете недвижимость в ипотеку – одобрение можно получить онлайн</div>
                            <div class="StayHomeContent_text">
                                <div class="list-title">Наши преимущества</div>
                                <ul class="stayhome-list _left">
                                    <li>Дистанционное заполнение и подписание анкеты</li>
                                    <li>Удобный интерфейс для загрузки документов</li>
                                    <li>Большое количество банков</li>
                                    <li>Выгодные условия кредитования для наших клиентов</li>
                                </ul>
                            </div>
                        </div>
                        <div class="StayHomeContent_item">
                            <div class="StayHomeContent_itemNum">5</div>
                            <div class="StayHomeContent_itemTitle">Подпишите договор</div>
                            <div class="StayHomeContent_text">
                                <ul class="stayhome-list">
                                    <li>Персональный менеджер поможет оформить Электронную Цифровую Подпись (ЭЦП). <br>Необходимые документы доставит курьер в нужное время и место</li>
                                    <li>Персональный менеджер поможет подписать договор с помощью ЭЦП</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div  class="container">
                <div class="StayHome_tag">
                    <a href="#" target="_blank">#ЛучшеДомасЭталоном</a>
                </div>
            </div>
        </section>

	</div>

</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}

<script src="js/stayhome.js"></script>

{% endblock %}