{% set title = "Trade-in" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
	<section class="page-header">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Как купить</a>
				<a href="tradein-page.html" class="breadcrumbs__item breadcrumbs__item_active">Trade-in</a>
			</div>
			<div class="sub-menu">
				<a href="#" data-sidebar-toggle="trade_in" class="sub-menu__item">Заявка на TRADE-IN</a>
			</div>
			<h1 class="title-page">Trade-in</h1>
		</div>
	</section>

	<div class="mat-cap">
		<section class="page__section _banner">
			<div class="container">
				<div class="page__banner" style="background-image: url('img/banner4.jpg')"></div>
			</div>
		</section>

		<section class="page__section">
			<div class="container">
				<h2>Trade-in — это просто!</h2>

				<div class="page-steps">
					<div class="page-steps__item" data-index="1.">
						<strong>Запишитесь на консультацию</strong> к менеджеру отдела продаж ЖК «Летний сад» и подберите подходящую квартиру из списка программы TRADE-IN.
					</div>
					<div class="page-steps__item" data-index="2.">
						<strong>Согласуйте</strong> с нашими специалистами условия сотрудничества (сроки, стоимость) по продаже вашей квартиры.
					</div>
					<div class="page-steps__item" data-index="3.">
						<strong>Заключите</strong> агентский договор на реализацию вашей квартиры, получите бронь на квартиру в ЖК «Летний сад» с фиксацией ее стоимости.
					</div>
					<div class="page-steps__item" data-index="4.">
						<strong>Дождитесь звонка</strong><br> с сообщением, что покупатель на вашу недвижимость найден.
					</div>
					<div class="page-steps__item" data-index="5.">
						<strong>Назначьте дату</strong> подписания договора купли-продажи вашей квартиры и заключения договора о покупке квартиры. Мы проведем обе сделки для вас за один день.
					</div>
				</div>
			</div>
		</section>

		<section class="page__section">
			<div class="container">
				<div class="content">
					<h2>Что мы предлагаем для вашего комфорта</h2>
					<ul class="large">
						<li>
							<div>
								<h3>СОПРОВОЖДЕНИЕ СДЕЛКИ</h3>
								<p>Наши специалисты будут сопровождать сделку на всех этапах: от первого обращения до получения права собственности.</p>
							</div>
						</li>
						<li>
							<div>
								<h3>ПРАКТИЧНОСТЬ</h3>
								<p>Trade-in – один из самых востребованных инструментов при покупке нового жилья, позволяющий улучшить жилищные условия с выгодой для себя.</p>
							</div>
						</li>
						<li>
							<div>
								<h3>БЫСТРЫЙ РЕЗУЛЬТАТ</h3>
								<p>Вам не придется тратить время и средства на поиски покупателя, мы окажем максимальную помощь, в проведении удачной сделки с учетом всех ваших интересов.</p>
							</div>
						</li>
						<li>
							<div>
								<h3>ФИКСАЦИЯ ЦЕНЫ</h3>
								<p>Колебания цен не коснутся вас, т.к. стоимость квартиры в ЖК «Летний сад» будет зафиксирована.</p>
							</div>
						</li>
						<li>
							<div>
								<h3>НАДЕЖНЫЙ ВЫБОР</h3>
								<p>Вы будете уверены, что выбранная по программе TRADE-IN квартира недоступна другим покупателям и ждет вас.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}

<div id="trade_in" class="page-sidebar__wrapper">
    <div class="scrollbar-inner scroll-content" data-scrollbar>
        <div class="scrollbar-helper">

            <div class="page-sidebar__tlt">Заявка на Trade-in</div>

            <form data-action="/ajax/form-response.json" method="GET" class="page-form ws-validate" autocomplete="off">
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="tradein-name">
                        <em class="page-form__placeholder">Имя</em>
                    </label>
                </div>
                <div class="page-form__step">
                    <div class="page-form__lbl">
                        <label>
                            <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="tradein-phone">
                            <em class="page-form__placeholder">Телефон</em>
                        </label>
                    </div>
                </div>
                <div class="page-form__step">
                    <div class="SubCheckboxes__item SubCheckboxes__item--form">
                        <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-tradein" class="SubCheckboxes__input" name="privacy-tradein" value=1/>
                        <label for="privacy-tradein">
                            <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                        </label>
                    </div>
                </div>
                <div class="page-form__step">
                    <input type="submit" value="отправить заявку" class="page-form__sbt button _orange">
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}