@media (--lgMinus) {
	.header-menu {
		display: none;
	}


	.header__burger.open span {
		background: #ffffff;
	}

	.header__phone {
		padding-right: 20px;
		margin-right: 20px;
	}


	.home-banner {
		height: calc(100vh - 110px);
	}


	.full-menu-popup {
		background: #2b2634;
		height: 100%;
	}

	.full-menu-popup .fancybox-close-small {
		left: unset;
		right: 40px;
		top:25px;
	}

	.full-menu-popup .fancybox-close-small:after {
		background: url("../img/close-menu-white.svg");
	}

	.full-menu-col {
		max-width: 100%;
	}

	.full-menu-link {
		color:#ffffff;
		font-size: 20px;
		padding: 15px 0;
		position: relative;
	}

	.full-menu-sublink {
		font-size: 16px;
		color:#a7a6a8;
		padding: 8px 0;
	}

	.full-menu-link:hover {
		color:#ffffff;
	}

	.full-menu-sublink:hover {
		color:#a7a6a8;
	}

	.full-menu-link span {
		position: relative;
	}

	.full-menu-link_active span:after {
		content: '';
		background: #f7941e;
		height: 2px;
		width: 100%;
		position: absolute;
		bottom: -5px;
		left: 0;
		transition: width 0.2s ease-in-out;
	}

	.full-menu-sublink_active span:after {
		content: '';
		background: #c0bec2;
		height: 2px;
		width: 100%;
		position: absolute;
		bottom: -5px;
		left: 0;
		transition: width 0.2s ease-in-out;
	}

	.full-menu-other-link_active span:after {
		content: '';
		background: #f7941e;
		height: 2px;
		width: 100%;
		position: absolute;
		bottom: -5px;
		left: 0;
		transition: width 0.2s ease-in-out;
	}

	.full-menu-link_active:active span::after,
	.full-menu-link_active:hover span::after {
		width: 100%;
	}

	.full-menu_submenu {
		/*display: none;*/
	}

	.full-menu {
		display: block;
		text-align: center;
		padding: 50px 0 0 0;
	}

	.full-menu-col {
		width: auto;
	}


	.full-menu-link_select-flat {
		color:#f7941e;
		text-transform: uppercase;
		font-family: 'Proxima Nova Semibold';
	}


	.full-menu-link_select-flat:hover {
		color:#f7941e;
	}

	.full-menu-other-link-wrap {
		display: block;
		margin-top: 70px;
		margin-bottom: 50px;
	}

	.full-menu-other-link {
		font-size: 14px;
		font-family: 'Proxima Nova Regular';
		color: #f7941e;
		text-transform: uppercase;
		line-height: 2.5;
		text-decoration: none;
		margin: 0 18px;
	}

	.col-md-12 {
		width: 100%;
	}

	.main-section__img {
		height: 360px;
	}

	.btn-more_sec1,
	.btn-more_sec2,
	.btn-more_sec3,
	.btn-more_sec4,
	.btn-more_sec5,
	.btn-more_sec6 {
		bottom:-40px;
		right:168px;
		top:inherit;
	}




	.main-section__img_sec6_seconadary {
		display: none;
	}

	.main-section__img_sub1-left,
	.main-section__img_sub2-left,
	.main-section__img_sub1-right,
	.main-section__img_sub2-right,
	.main-section__img_sec6-sub1-left,
	.main-section__img_sec6-sub2-left,
	.main-section__img_sec6-sub1-right,
	.main-section__img_sec6-sub2-right {
		display: none;
	}

	.main-section__content {
		flex-wrap: wrap;
		flex-direction: row;
		padding-left: 167px;
		padding-right: 40px;
		height: auto;
	}

	.main-section__fraction_sec1,
	.main-section__fraction_sec2,
	.main-section__fraction_sec3,
	.main-section__fraction_sec4,
	.main-section__fraction_sec5,
	.main-section__fraction_sec6 {
		flex-grow: 1;
		width: 100%;
		margin-top: 40px;
	}

	.main-section__fraction_sec3 {
		margin-top: 70px;
	}

	.list_sec3 {
		margin-top: 70px;
		max-width: 330px;
	}

	.list_sec3 li {
		display: flex;
	}

	.main-section__title_sec1 {
		margin-right: 65px;
	}

	.main-section__title_sec1:before {
		content: '';
		width: 75px;
		height: 1px;
		background: #f8b470;
		position: absolute;
		right: -140px;
		top: 28px;
		left: inherit;
	}

	.main-section__text_sec2 {
		order:3;
	}

	.main-section__title_sec2 {
		margin-right: 65px;
		margin-bottom: 70px;
	}

	.main-section__title_sec2:before {
		content: '';
		width: 170px;
		height: 1px;
		background: #f8b470;
		position: absolute;
		right: -235px;
		top: -50px;
	}



	.main-section-loc-time {
		order: 4;
		margin-left: inherit;
		position: relative;
		top: 40px;
		z-index: 20;
		margin-bottom: -100px;
	}

	.main-section__text_sec4 {
		order:3;
		width: 100%;
		margin-top: 40px;
	}

	.main-section__fraction_sec4 {
		order:1;
	}

	.main-section__title_sec4 {
		order:2;
		width: 100%;
	}

	.main-content-img__text {
		opacity: 1;
		padding: 200px 380px 0 130px;
	}

	.main-section__title_sec5 {
		position: relative;
		left:0;
		top:0;
		bottom: inherit;
		background: transparent;
		padding: 30px 0 0 0;
	}

	.main-section__text_sec5 {
		width: 100%;
	}

	.main-section__title_sec5:before {
		content: '';
		width: 75px;
		height: 1px;
		background: #f8b470;
		position: absolute;
		top: 0;
		left: 0;
	}


	.main-section__title_sec6 {
		width: 100%;
		color:#19191a;
		margin-top: 40px;
		padding-bottom: 30px;
	}

	.main-section__text_sec6 {
		width: 100%;
	}

	.home-banner__date {
		right: 0;
		border-radius: 30px 0 0 30px;
	}

	.footer-menu {
		padding-bottom: 0;
	}

	.footer-menu-other-link-wrap {
		display: none;
	}

	.footer__phone {
		/*margin: 20px 0 0;*/
		order:1;
		/*width: 100%;*/
	}

	.footer-socials_mobile {
		order:2;
		/*width: 33.3%;*/
		margin-right: 0;
	}

	.footer-subscribe {
		order:3;
		/*margin-bottom: 0;
		margin-top: 0;*/
		flex-grow: 1;
	}

	/*.footer-subscribe__form {
		margin-top: 0;
	}*/

	.main-section__content_sec3 {
		padding-left: 40px;
	}

	.left-container {
		width: 50%;
		padding-right: 20px;
		padding-left: 127px;
	}

	.right-container {
		width: 50%;
	}
}

@media screen and (--mdMinus) {

	.home-banner__arrow {
		height: 12px;
		margin-top: -11px;
		position: relative;
		z-index: 1000;
		display: flex;
		justify-content: space-between;
		&_hidden {
			display:none;
		}
	}

	.home-banner__arrow_left:before {
		content:'';
		width: 0;
		height: 0;
		border-bottom: 12px solid #ffffff;
		border-right: 12px solid transparent;
		position: absolute;
		top:0;
		right:-12px;
	}

	.home-banner__arrow_right:after {
		content:'';
		width: 0;
		height: 0;
		border-bottom: 12px solid #ffffff;
		border-left: 12px solid transparent;
		position: absolute;
		top:0;
		left:-12px;
	}

	.home-banner__arrow_left {
		width: calc(50% - 11px);
		background: #ffffff;
		position: relative;
	}

	.home-banner__arrow_right {
		width: calc(50% - 11px);
		background: #ffffff;
		position: relative;
	}


	.main-section__title_sec2 {
		margin-right: 20px;
	}

	.main-content-img__text {
		opacity: 1;
		padding: 370px 200px 0 40px;
	}

	.left-container {
		padding-left: 0;
	}

	.main-section__title_sec2:before {
		left: calc(100% + 20px);
	}

	.footer-menu {
		padding: 0 40px 1px;
	}

	.footer-bottom {
		padding-left: 40px;
		padding-right: 40px;
	}

	/*.footer-socials {
		margin-left: -10px;
		margin-right: 10px;
	}*/

	.footer-socials__item {
		/*margin-right: 0;*/
		/*margin: 0 10px;*/
	}

	.footer-socials__item:after {
		display: none;
	}

}

@media screen and (--smMinus) {

	.header__phone a {
		padding-top: 5px;
	}


	.header__phone a span {
		display: none;
	}


	.home-banner-list__text {
		font-size: 30px;
		line-height: 30px;
	}

	.full-menu-popup {
		padding: 0 20px;
	}

	.full-menu-other-link {
		margin: 0 3px;
		font-size: 12px;
	}

	.full-menu-link {
		font-size: 16px;
		padding: 10px 0;
	}

	.footer-menu-col {
		display: none;
		
		&_subscribe-wrap {
			@media screen and (--smMinus) {
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-flex-basis: auto;
				        flex-basis: auto;
				max-width: 100%;
				width: 280px;
			}
		}
		
	}

	.footer-socials_mobile {
		width: 100%;
		justify-content: space-between;
		margin-right: 0;
		margin-left: 0;
	}

	.footer-socials__item_tlg {
		-webkit-order: 6;
		    -ms-order: 6;
		        order: 6;
	  margin-right: 0;
	}

	.footer {
		padding: 19px 20px 18px;
	}



	.footer-info {
		opacity: 1;
	}

	.footer-text {
		margin-top: 3px;
		line-height: normal;
		text-align: center;
		color:#a7a6a8;
	}

	.footer-copyright {
		color:#ffffff;
		text-align: center;
	}

	.footer-subscribe {
		text-align: center;
		width: 252px;
		margin: 25px auto 0;
	}

	.footer-menu {
		border:none;
		padding: 0;
	}

	.footer__phone {
		text-align: center;
		margin-bottom: 11px;
		margin-top: 0;
	}

	.footer__phone a {
		padding-left: 0;
		
		img {
			display: none;
		}

		span {
			padding-left: 0;
		}
	}

	.footer-bottom {
		padding: 26px 0 60px;
		justify-content: center;
	}

	.home-banner__date {
		padding: 10px 20px 10px 30px;
	}

	.full-menu-popup .fancybox-close-small {
		top:20px;
		right: 15px;
	}

	.main-section__title_sec1,
	.main-section__title_sec2 {
		margin-right: 0;
		margin-bottom: 0;
	}

	.main-section__content {
		padding: 0 20px;
	}

	.left-container {
		width: 100%;
	}

	.right-container {
		width: 100%;
	}

	.main-section__title_sec2:before {
		left:0;
		top:inherit;
		bottom:-20px;
	}

	.main-section__text_sec2 {
		margin-top: 40px;
	}

	.list_sec6 {
		width: 100%;
	}

	.list li span {
		margin-right: 10px;
	}

	.col-12_order-first {
		order:1;
	}

	.col-12_order-second {
		order:2;
	}

	.btn-more_sec2,
	.btn-more_sec4 {
		top:-40px;
		left:20px;
	}

	.btn-more_sec6 {
		left:20px;
	}

	.main-section__fraction_sec2,
	.main-section__fraction_sec4,
	.main-section__fraction_sec6 {
		text-align: right;
	}

	.main-content-img__text_sec4:before {
		content: '';
		width: 75px;
		height: 1px;
		background: #f8b470;
		position: absolute;
		left:0;
		bottom: -20px;
	}

	.btn-call-inner {
		padding: 40px 0 30px;
	}

}

@media (--mdMinus) {
	.footer._mob {
		display: block;
		padding-top: 30px;
	}
}

@media (--xs) {
	.footer-bottom{
		display: block;
	}

	.footer-text{
		padding-bottom: 12px;
	}
}