@custom-media --xs (max-width: 575px);

@custom-media --640 (max-width: 640px);
@custom-media --767 (max-width: 767px);

@custom-media --smMinus (max-width: 767px);
@custom-media --sm (min-width: 576px) and (max-width: 767px);

@custom-media --890 (max-width: 890px);
@custom-media --991 (max-width: 991px);

@custom-media --mdMinus (max-width: 1023px);
@custom-media --tabletPlus (min-width: 1024px);
@custom-media --md (min-width: 768px) and (max-width: 1023px);
@custom-media --mdPlus (min-width: 768px);

@custom-media --lgMinus (max-width: 1279px);
@custom-media --lg (min-width: 1024px) and (max-width: 1279px);
@custom-media --lgPlus (min-width: 1024px);

@custom-media --xlMinus (max-width: 1279px);
@custom-media --xl (min-width: 1280px) and (max-width: 1559px);
@custom-media --xlPlus (min-width: 1280px);

@custom-media --xxl (min-width: 1560px);
