/*=require includes/vars.css */
/*=require includes/fonts.css */
/*=require includes/helpers.css */
/*=require includes/main.css */
/*=require includes/media.css */
/*=require includes/blocks/*.css */
/*=require includes/pages/*.css */

.action-card-content{
    &>ul,
    &>ol,
    &>p{
        margin-bottom: 15px;
    }
}