<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/ceiling.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Натяжной потолок</span></p>
                <p>ПВХ,</p>
                <p>цвет: белый,</p>
                <p>фактура: матовая.</p>
            </div>
        </div>
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/shine.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Свет</span></p>
                <p>Встроенные,</p>
                <p>влагозащищённые,</p>
                <p>светильники: WR1 WH, Эра.</p>
            </div>
        </div>
    </div>
</div>