<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/towel.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Полотенцесушитель</span></p>
                <p>Energy, Solo,</p>
                <p>Размер: 600х600 мм</p>
            </div>
        </div>
    </div>
</div>