<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/tub.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Ванна</span></p>
                <p>Без экрана,</p>
                <p>бортик отделывается плиткой.</p>
                <p>Акватек, Миа,</p>
                <p>Размер: 1700х700 мм</p>
            </div>
        </div>
    </div>
</div>