<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/classic/windowsill.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Подоконники</span></p>
                <p>ПBX,</p>
                <p>цвет: белый.</p>
            </div>
        </div>
    </div>
</div>