<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/modern/floor.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Пол</span></p>
                <p>Ламинат</p>
                <p>kastomonu, FP0051,</p>
                <p>Дуб горный светлый</p>
            </div>
        </div>
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/modern/plinth.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Плинтус напольный</span></p>
                <p>Пластиковый</p>
                <p>в цвет пола</p>
            </div>
        </div>
    </div>
</div>