<div class="furnish-labels__content">
    <div class="furnish-labels__row">
        <div class="furnish-labels__col">
            <img src="img/flats-furnish/modern/sink.jpg" alt="">
        </div>
        <div class="furnish-labels__col">
            <div class="furnish-labels__text">
                <p><span>Раковина с тумбой</span></p>
                <p>Aquanet, Нота 50,</p>
                <p>цвет: белый</p>
            </div>
        </div>
    </div>
</div>