.booking-popup {
  width: 530px;
  padding: 32px 68px;
  padding-bottom: 40px;
  position: relative;
  @media (--767) {
    width: calc(100% - 16px);
    margin: 8px;
    padding: 32px 15px;
    padding-top: 45px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 8px;
  }
  &__desc {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
  }
  &__form {
    width: 320px;
    margin: 0 auto;
    @media (--767) {
      width: 100%;
    }
  }
  &__inpLabel {
    width: 100%;
    margin-bottom: 24px;
    display: block;
    position: relative;
    height: 50px;
    position: relative;
    & em {
      position: absolute;
      top: -19px;
      left: 0;
      color: #DF2C2C;
      font-size: 12px;
      line-height: 18px;
      font-style: normal;
    }
  }
  &__inp {
    width: 100%;
    height: 50px;
    background: #F6F6F6;
    border: 1px solid transparent;
    padding: 25px 16px;
    padding-bottom: 7px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Proxima Nova Regular';
    outline: none;
    &._focus {
      & ~.booking-popup__placeholder {
        top: 7px;
      }
    } 
    &:focus {
      border-color: #F7941E;
      & ~.booking-popup__placeholder {
        top: 7px;
      }
    }
    &.error {
      border-color: #DF2C2C;
    }
  }
  &__placeholder {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    opacity: 0.5;
    transition: 0.3s;
    pointer-events: none;
    display: block;
  }
  &__bottom {
    text-align: center;
    font-size: 12px;
  }
  &__agree {
  }
  &__submit {
    width: 100%;
    height: 50px;
    background: #F7941E;
    border: none;
    text-transform: uppercase;
    color: #fff;
    margin-top: 16px;
    cursor: pointer;
    outline: none;
  }
  &__close {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: #F7941E;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__agreeCheck {
    cursor: pointer;
    margin-bottom: 8px;
    display: block;
    & a {
      color: #F7941E;
    }
  }
  &__agreeInp {
    &:checked {
      & + .booking-popup__agreeIco {
        background-color: #F7941E;
        background-image: url("checkmark.svg?datauri");
        background-size: contain;
        background-position: center center;
      }
    }
    &.error {
      & + .booking-popup__agreeIco {
        border: 1px solid  #DF2C2C;
      }
    }
  }
  &__agreeIco {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #F7941E;
    cursor: pointer;
  }

  & .fancybox-close-small {
    display: none;
  }
  &__bottomDesc {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    opacity: 0.5;
  }
}