.Checkbox {
    user-select: none;
}

.Checkbox_input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.Checkbox_view {
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
    border: 6px solid #fff;
    width: 50px;
    height: 50px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
}

.Checkbox_input:checked+.Checkbox_view {
    background: #859938;
    color: #fff;
    box-shadow: 0 0 0 1px #dae0c3;
}

.Checkbox_input:focus+.Checkbox_view {
    box-shadow: 0 0 0 1px #e0deec;
}