.Compare {
    position: relative;


    &__header {
        position: absolute;
        top:0;
        left:0;
        width:345px;
        height:342px;
        opacity:0;
        padding: 150px 0 0 55px;
        @media(--mdMinus) {
            height:70px;
            padding:0 40px;
            display:flex;
            top:60px;
            align-items:center;
            justify-content: flex-end;
            width:100%;
            border-bottom: 1px solid #eaeaeb;
        }
        @media (--smMinus) {
            top:60px;
        }
        &_visible {
            opacity:1
        }
        &_disable {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &__result {
        display:flex;
    }

    &-param {
        width:345px;
        border-right: 1px solid #eaeaeb;

        @media(--mdMinus) {
            display:none;
        }

        &__header {
            height:342px;
            padding:150px 0 0 55px;
        }

        &-list {
            position: relative;
            margin-top: 402px;
            border-bottom: 1px solid #eaeaeb;

            &__section {
                position: relative;
                padding:10px 0;
                @media(--smMinus) {
                    padding: 0 0 26px 0;
                }

                &_action {
                    @media(--mdMinus) {
                        padding-top:0;
                    }
                    @media(--sm) {
                        display:none;
                    }
                    @media(--xs) {
                        display:none;
                    }
                    & .Compare-param-list__subitem:last-child {
                        &:after {
                            /*display:none;*/
                        }
                    }
                }

                &_border {
                    &:after {
                        content:'';
                        background: #f8b877;
                        height:1px;
                        width:calc(100% - 40px);
                        position: absolute;
                        display: block;
                        left:0;
                        bottom:0;
                        margin:0px 20px;
                        @media(--mdMinus) {
                            width: 100%
                        }
                        @media(--sm) {
                            margin: 0;
                            width: 150%;
                        }
                        @media(--xs) {
                            margin: 0;
                            width: 150%;
                        }
                    }
                }

            }

            &__item {
                font-family: 'Proxima';
                color:#19191a;
                font-weight: 300;
                font-size: 16px;
                padding: 0px 0px 0px 55px;
                height:30px;
                display:flex;
                align-items: center;

                &:last-child {
                     &:after {
                        content:'';
                        background: #f8b877;
                        height:1px;
                        width:calc(100% - 40px);
                        position: absolute;
                        display: block;
                        left:0;
                        bottom:0;
                        display:none;
                        margin:0px 20px;
                        @media(--mdMinus) {
                            width: 100%
                        }
                        @media(--sm) {
                            margin: 0;
                            width: 150%;
                        }
                        @media(--xs) {
                            margin: 0;
                            width: 150%;
                        }
                     }
                }

                &:hover {
                    cursor: pointer;
                    @media(--mdMinus) {
                        background: transparent !important;
                    }
                }

                @media(--mdMinus) {
                    background: transparent !important;
                    padding: 5px 0px 5px 40px;
                }

                @media(--smMinus) {
                    padding: 30px 0;
                    height:75px;
                    justify-content: center;
                    font-size:14px;
                }

                &-n-2 {
                    height:35px;
                    @media(--sm) {
                        height:30px;
                    }
                    @media(--xs) {
                        height:30px;
                    }

                }

            }

            &__subitem {
                font-family: 'Proxima';
                color:#19191a;
                font-weight: 300;
                font-size: 14px;
                padding: 0px 0px 0px 65px;
                height:30px;
                display:flex;
                align-items: center;
                &:last-child {
                    &:after {
                        content:'';
                        background: #f8b877;
                        height:1px;
                        width:calc(100% - 40px);
                        position: absolute;
                        display: block;
                        left:0;
                        bottom:0;
                        margin:0px 20px;
                        display:none;
                        @media(--mdMinus) {
                            display:none;
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                    @media(--mdMinus) {
                        background: transparent !important;
                    }
                }
                @media(--mdMinus) {
                    background: transparent !important;
                    padding: 5px 0px 5px 40px;
                }
                @media(--smMinus) {
                    padding: 30px 0;
                    height:75px;
                    justify-content: center;
                    font-size:14px;
                }
            }

            &__subitem-2 {
                font-family: 'Proxima';
                color:#19191a;
                font-weight: 300;
                font-size: 12px;
                padding-left: 10px;
                padding: 0px 0px 0px 65px;
                height:30px;
                display:flex;
                align-items: center;
                &:hover {
                    cursor: pointer;
                    @media(--mdMinus) {
                        background: transparent !important;
                    }
                }
                @media(--mdMinus) {
                    background: transparent !important;
                    padding: 5px 0px 5px 40px;
                }
                @media(--sm) {
                    font-size:14px;
                    justify-content: center;
                }
                @media(--xs) {
                    font-size:14px;
                    justify-content: center;
                }
            }
            &__empty {
                padding: 20px;
                font-family: 'Proxima';
                font-weight: 400;
                font-size: 14px;
                display: none;
                &_visible {
                    display:block;
                }

            }
        }
    }

    &__title {
        font-family: 'Proxima';
        color:#19191a;
        font-size: 25px;
        font-weight: 400;

        &_desktop {
            @media(--mdMinus) {
                display:none;
            }
        }
    }

    &-list {
        width:calc(100% - 345px);

        @media(--mdMinus) {
            width:100%;
        }

        &__pages {
            position: absolute;
            left: 60px;
            z-index: 10;
        }
        &__favorites,
        &__compare {
            background: transparent;
            padding: 0;
            font-family: 'Proxima';
            outline: none;
            border: none;

            &:hover{
                cursor: pointer;
            }
            &._active {
                color: #f49331;
                font-weight: 500;
            }
        }
        &__compare {
            margin-left: 23px;
            @media (--smMinus) {
                margin-left: 8px;
            }
        }

        &__tabs {
            position:relative;
            z-index:200;

            @media (--smMinus) {
                height: 60px;
                justify-content: center;
                align-items: center;
                display: flex;
            }
        }
        &__header {
            display: flex;
            justify-content: center;
            height:60px;
            align-items: center;
            border-bottom: 1px solid #eaeaeb;
            position: relative;

            &_desktop {
                @media(--mdMinus) {
                    display:none;
                }
            }
            &_mobile {
                display:none;
                @media(--mdMinus) {
                    display:flex;
                    width:100%;
                    padding:0 40px;
                }
                & .FavoriteTabs__link {
                    margin: 0 0 0 10px;
                }
                @media(--smMinus) {
                    padding:0;
                    flex-wrap: wrap;
                }

}
        }

         &__sliderNav {
            position: absolute;
            width:100%;
            top:0;
            left:0;
            height:100%;

            &-prev {
                width:9px;
                height:100%;
                display: block;
                position: absolute;
                left:0px;
                padding:0 30px;
                top:0;
                outline: none;
                background: url("../img/compare/prev.png") no-repeat center center;
                &.swiper-button-disabled {
                    opacity: 0.2;
                }
            }

            &-next {
                width:9px;
                height:100%;
                display: block;
                position: absolute;
                right:0px;
                padding:0 30px;
                top:0;
                outline: none;
                background: url("../img/compare/next.png") no-repeat center center;
                &.swiper-button-disabled {
                    opacity: 0.2;
                }
            }
         }
        &__empty {
            padding: 20px;
            font-family: 'Proxima';
            font-weight: 400;
            font-size: 14px;
            @media (--mdMinus) {
                padding: 27px 40px;
            }
            @media(--smMinus) {
                padding: 100px 20px 0;
                text-align:center;
            }
        }
    }

    &-table {
        width:100%;
    }

    &-slider {
        display: flex;
        width:100%;
        border-bottom: 1px solid #eaeaeb;

        @media(--mdMinus) {
            display:none;
        }

        &-slide {
            width:300px;
            @media(--mdMinus) {
                width:50%;
                border-right: 1px solid #eaeaeb;
            }
            &__section{
                position: relative;
                padding: 10px 0;
                @media(--smMinus) {
                    padding: 26px 0 0;
                }

                &:after {
                     /*content:'';*/
                     /*background: #f8b877;*/
                     /*height:1px;*/
                     /*width:100%;*/
                     /*position: relative;*/
                     /*display: block;*/
                     /*left:0;*/
                     /*bottom:0;*/
                     /*margin:10px 0px;*/
                }

                &:last-child .Compare-slider-slide__row {
                    &:after {
                        display:none;
                    }
                }
                &_action {
                    @media(--mdMinus) {
                        padding-top:0;
                    }

                    & .Compare-slider-slide__row {
                        &:nth-child(2) {
                            & .actionIcon {
                                background-image: url("../img/icon_action_1.svg");
                            }
                        }
                        &:nth-child(3) {
                            & .actionIcon {
                                background-image: url("../img/icon_action_2.svg");
                            }
                        }
                        &:nth-child(4) {
                            & .actionIcon {
                                background-image: url("../img/icon_action_3.svg");
                            }
                        }
                    }
                }
                &_border {
                    & .Compare-slider-slide__row {
                        &:last-child {
                            &:after {
                                 content:'';
                                 background: #f8b877;
                                 height:1px;
                                 width:100%;
                                 position: absolute;
                                 display: block;
                                 left:0;
                                 bottom:0;
                                @media(--mdMinus) {
                                    margin-right: 20px;
                                    width: calc(100% - 20px);
                                }
                                @media(--sm) {
                                    width: 200%;
                                    margin-right:0;
                                }
                                @media(--xs) {
                                    width: 200%;
                                    margin-right:0;
                                }
                            }
                        }
                    }
                }
            }
            &__img {
                height:186px;
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                 margin:30px 0;

                @media(--mdMinus) {
                    margin: 35px 30px 0;
                }

                @media(--sm) {
                    margin: 30px 15px 0;
                    height:110px;
                }
                @media(--xs) {
                    margin: 30px 15px 0;
                    height:110px;
                }
            }

            &__remove {
                position: absolute;
                top:15px;
                right:10px;
                width:12px;
                height:12px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.4s ease;
                background: url("../img/compare/close_comparison.svg") no-repeat;
                &:hover {
                    cursor: pointer;
                }
                &-active {
                    display: block;
                }

                &_mobile {
                    opacity: 1;
                    visibility: visible;
                    right:20px;
                    top:20px;
                }

             }

            &__title {
                padding: 30px 0px 0px 0;
                font-size: 16px;
                font-weight: 300;
                @media(--sm) {
                    font-size: 12px;
                }
                @media(--xs) {
                    font-size: 12px;
                }
            }

            &__row {
                padding:0px 30px;
                font-family: 'Proxima';
                font-weight:300;
                font-size: 16px;
                height: 30px;
                color:#19191a;
                display:flex;
                align-items: center;
                /*&:last-child {*/
                /*    &:after {*/
                /*        content:'';*/
                /*        background: #f8b877;*/
                /*        height:1px;*/
                /*        width:100%;*/
                /*        position: absolute;*/
                /*        display: block;*/
                /*        left:0;*/
                /*        bottom:0;*/
                /*        @media(--mdMinus) {*/
                /*            margin-right: 20px;*/
                /*            width: calc(100% - 20px);*/
                /*        }*/
                /*        @media(--sm) {*/
                /*            width: 200%;*/
                /*            margin-right:0;*/
                /*        }*/
                /*        @media(--xs) {*/
                /*            width: 200%;*/
                /*            margin-right:0;*/
                /*        }*/
                /*    }*/
                /*}*/
                @media(--mdMinus) {
                    background: transparent !important;
                }
                @media(--smMinus) {
                    justify-content: center;
                    height:75px;
                    text-align:center;
                    padding: 32px 0;
                }

                &:hover {
                    cursor: pointer;
                    @media(--mdMinus) {
                        background: transparent !important;
                    }
                }


                &-n-1 {
                    padding: 30px 30px 15px;
                    border-bottom: 1px solid #eaeaeb;
                    border-right: 1px solid #eaeaeb;
                    width:300px;
                    height: auto;
                    position:relative;
                    display: block;
                    transition: box-shadow 0.4s ease;
                    background: transparent !important;

                    @media(--mdMinus) {
                        border-right:none;
                        width:100%;
                        padding: 30px 40px 15px;
                    }

                    @media(--sm) {
                        padding: 30px 0 15px 0px;
                    }

                    @media(--xs) {
                        padding: 30px 0 15px 0px;
                    }
                    &:hover {
                        box-shadow: 0 10px 25px rgba(43, 38, 52, 0.25);
                        & .Compare-slider-slide__remove {
                            opacity: 1;
                            visibility: visible;
                        }
                        @media(--mdMinus) {
                            box-shadow:none;
                        }
                    }
                }

                &-n-2 {
                    color:#f59537;
                    font-weight: 500;
                    height:35px;
                    padding-top: 10px;
                    @media(--sm) {
                        height:30px;
                        padding-top:15px;
                    }
                    @media(--xs) {
                        height:30px;
                        padding-top:15px;
                    }
                }

                &-n-10 {
                     font-weight:600;
                }
                &-n-11 {
                    font-weight:600;
                }
                &-n-12 {
                    font-weight:600;
                }
                &-n-13 {
                    font-weight:600;
                }
                &-n-14 {
                    font-weight:600;
                }
                &-n-15 {
                    font-weight:600;
                }
                &-n-16 {
                    font-weight:600;
                }

                &-n-13 {

                }
                &-hover {
                    background: #f6f6f6;
                }
                &_price {
                    color:#f59537;
                    font-weight: 500;
                }
                &_area {
                    font-weight: 500;
                }
            }
        }
    }


    &-mobile {
        display:none;
        @media(--mdMinus) {
            display: flex;
            flex-wrap:wrap;
            position:relative;
            margin-top:70px;
        }
        &-wrapper-fields {
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            padding-top: 231px;
        }
        &__title {
            font-family: 'Proxima';
            color:#19191a;
            font-size: 25px;
            font-weight: 400;
            margin-right:auto;
            @media(--smMinus) {
                font-weight: 600;
                font-size: 16px;
                height: 60px;
                padding: 0 20px;
                width: 100%;
                margin: auto;
                display:flex;
                align-items: center;
                border-bottom: 1px solid #eaeaeb;
            }
        }
        &__checkbox {
            width: 100%;
            border-bottom: 1px solid #eaeaeb;
            padding: 16px 40px;
            display: flex;
            justify-content: flex-end;
            @media(--sm) {
                justify-content:center;
            }
            @media(--xs) {
                justify-content:center;
            }
        }
        &-slider {
            width:50%;
            overflow:hidden;
            border-bottom: 1px solid #eaeaeb;
            position:relative;
            z-index:90;

            &_n1 {
                border-right: 1px solid #eaeaeb;
                display:flex;
                @media(--sm) {
                    border-right:none;
                }
                @media(--xs) {
                    border-right:none;
                }

                & .Compare-slider-slide__row-n-1 {
                    @media(--sm) {
                        border-right: 1px solid #eaeaeb;
                    }
                    @media(--xs) {
                        border-right: 1px solid #eaeaeb;
                    }
                }
            }

            &_n2 {
                & .Compare-mobile-slider__content_action {
                    @media(--sm) {
                        justify-content:flex-end;
                    }
                    @media(--xs) {
                        justify-content:flex-end;
                    }
                }
            }


            & .Compare-param-list__section {
                &:after {
                    @media(--mdMinus) {
                        width:calc(100% - 20px);
                        right:0;
                    }
                    @media(--sm) {
                        width:200%;
                    }
                    @media(--xs) {
                        width:200%;
                    }
                }
            }
            & .Compare-slider-slide__section {
                &:after {
                    @media(--mdMinus) {
                        width:calc(100% - 40px);
                        left:0;
                    }
                    @media(--sm) {
                        width:120%;
                    }
                    @media(--xs) {
                        width:120%;
                    }
                }
            }

            &__content{
                display:flex;
                &_slider1 {
                    @media(--sm) {
                        justify-content: flex-start;
                    }
                    @media(--xs) {
                        justify-content: flex-start;
                    }
                }
                &_slider2 {
                    @media(--sm) {
                        justify-content: flex-end;
                    }
                    @media(--xs) {
                        justify-content: flex-end;
                    }
                }
                &_action {
                    flex-wrap:wrap;
                    &:before {
                         @media(--mdMinus) {
                             content: "";
                             background: #f8b877;
                             height: 1px;
                             position: relative;
                             display: block;
                             top: 0;
                             margin: 0 0 10px;
                             width: calc(100% - 40px);
                             left: 20px;
                         }
                    }
                    & .Compare-param-list__subitem-2 {
                        &:last-child {
                            @media(--sm) {
                                margin-bottom:0;
                            }
                            @media(--xs) {
                                margin-bottom:0;
                            }
                        }
                        @media(--sm) {
                            padding: 25px 0;
                            margin: 20px 0;
                        }
                        @media(--xs) {
                            padding: 25px 0;
                            margin: 20px 0;
                        }
                    }
                }

            }

            &__col {
                width:50%;
                @media(--smMinus) {
                    width:100%;
                }

                &_action {
                    &:first-child{
                        width:80%;
                        @media(--sm) {
                            width:70%;
                        }
                        @media(--xs) {
                            width:70%;
                        }
                    }
                    &:last-child{
                         width:20%;
                        @media(--sm) {
                            width:70%;
                        }
                        @media(--xs) {
                            width:70%;
                        }
                    }

                    & .Compare-slider-slide__row {
                        @media(--sm) {
                            padding: 0;
                            margin: 12px 0;
                            align-items: flex-end;
                        }
                        @media(--xs) {
                            padding: 0;
                            margin: 12px 0;
                            align-items: flex-end;
                        }
                    }
                }
                &_hidden {
                    @media(--sm) {
                        display:none;
                    }
                    @media(--xs) {
                        display:none;
                    }
                }
                &_visible {
                    position: relative;
                    top:0px;
                    width:106px;
                    left:50%;
                    margin-left:-53px;
                    /*background: #ffffff;*/
                    z-index:100;
                    display:none;

                    @media(--sm) {
                        display:block;
                    }
                    @media(--xs) {
                        display:block;
                    }

                    & .Compare-param-list__item,
                    & .Compare-param-list__subitem,
                    & .Compare-param-list__subitem-2 {
                        color:#b2b2b2;
                    }
                    & .Compare-param-list__section:after {
                        /*margin: 10px 0;*/
                        width:120%;
                    }

                    & .Compare-param-list__section:last-child {
                        &:after {
                            display: block;
                        }
                    }

                    & .Compare-param-list__section:last-child {
                        &:after {
                            /*display:none;*/
                        }
                    }
                    & .Compare-param-list__section_plans:last-child {
                        &:after {
                             display:none;
                        }
                    }
                }
            }

            &__pag {
                position: relative;
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                top:20px;
                position:absolute;
                & span {
                    padding: 0 3px;
                }
            }

        }
    }


    & .actionIcon {
        height:20px;
        background-size: contain;
        @media(--sm) {
            margin: 0 auto;
        }
        @media(--xs) {
            margin: 0 auto;
        }
    }

    &-tabs-content {
        display:none;
        &_active {
            display:block;
        }
        &_disable {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    & .actionIcon {
        @media(--mdMinus) {
            margin-right: 0;
        }
        @media(--sm) {
            margin-right: auto;
        }
        @media(--xs) {
            margin-right: auto;
        }
    }

}


.Compare-action-mobile {
    display:none;
    position: relative;
    width:100%;
    left:0;
    @media(--sm) {
        display:block;
        border-top:1px solid #f8b877;
    }
    @media(--xs) {
        display:block;
        border-top:1px solid #f8b877;
    }
    & .Compare-param-list__item {
        @media(--sm) {
            padding: 0;
        }
        @media(--xs) {
            padding: 0;
        }
    }

    & .Compare-param-list__item-n-17 {
          @media(--sm) {
              color:#b2b2b2;
              padding: 20px 0 20px 0;
              height:35px;
          }

          @media(--xs) {
              color:#b2b2b2;
              padding: 20px 0 20px 0;
              height:35px;
          }
    }

    & .Compare-param-list__item:last-child:after {
        display:none;
    }
    & .Compare-param-list__subitem {
        margin: 10px 0;
    }
}


[data-id-compare="ComparePlans"] .Compare-param-list__subitem:last-child:after {
    display: none;
}