.ComparisonIcon {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../img/icon_comparison.svg") no-repeat no-repeat;
    background-size: contain;
    margin-left: 15px;

    &:hover {
        cursor: pointer;
    }

    &-active {
        background: url("../img/icon_comparison_active.svg") no-repeat no-repeat;
    }

    &-table {
        margin:0 0 0 10px;
        display: inline-block;
    }

    &-card {
        margin-top: 10px;
    }
    &-header {
        text-align: center;
        color:#ffffff;
        font-size: 10px;
        font-weight: 300;
        display: flex;
        opacity: 0;
        visibility: hidden;
        align-items: center;
        justify-content: center;
        transition: opacity 0.4s ease;
        font-family: 'Proxima';
        padding-top: 3px;
        padding-right: 3px;

        &--visible {
             opacity:1;
             visibility: visible;
        }
    }
}