.CookiesAgree {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 14px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #212028;
    font: 14px/18px 'Proxima';
    color: #B2B2B2;
    z-index: 1001;
    transition: all .3s ease;
    @media (--lgMinus) {
        padding: 15px 40px 17px;
    }
    @media (--smMinus) {
        flex-direction: column;
        padding: 18px 20px 32px;
    }
    &_txt {
         padding: 3px 50px 3px 0;
        @media (--smMinus) {
            padding: 0;
        }
    }
    &_btn {
        min-width: 206px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        font: 15px/1 'Proxima';
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        position: relative;
        overflow: hidden;
        @media (--smMinus) {
            min-width: 280px;
            height: 40px;
            margin-top: 20px;
        }
        &:before {
             content: "";
             background: #F3923E;
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             transition: all 0.3s ease;
             z-index: -1;
         }
        &:after {
             content: "";
             background: #21af49;
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 0;
             transition: all 0.3s ease;
             z-index: -1;
         }
        &:hover {

            &:before {
                top: 100%;
            }
            &:after {
                height: 100%;
            }
        }
    }
    &._hide {
         opacity: 0;
         visibility: hidden;
         z-index: -1001;
     }
}