.FavoriteTabs {
    &__link {
        margin:0 20px;
        display: inline-block;
        color:#8c8c8c;
        font-weight: 300;
        font-family: 'Proxima';
        font-size:14px;


        &-active {
            color:#000;
            font-weight: 500;
        }
    }

    &__block {
        display: none;

        &-visible {
            display: block;
        }
    }

    &-desktop {
        @media(--sm) {
            display:none;
        }
        @media(--xs) {
            display:none;
        }
    }

    &-mobile {
        display:none;
        border-bottom: 1px solid #eaeaeb;
        padding:20px 0;

        @media(--sm) {
            display: flex;
            justify-content: center;
        }
        @media(--xs) {
            display: flex;
            justify-content: center;
        }
    }

}