.FavoriteIcon {
    display: block;
    width: 19px;
    height: 19px;
    background: url("../img/favorite-icon.svg") no-repeat center;
    background-size: contain;
    margin-left: 15px;

    &:hover {
        cursor: pointer;
    }

    &-active {
         background-image: url("../img/favorite-icon-active.svg");
    }

    &-table {
         margin:0;
         display: inline-block;
    }
    &-header {
         text-align: center;
         color:#ffffff;
         font-size: 10px;
         font-weight: 300;
         display: flex;
         opacity: 0;
         visibility: hidden;
         align-items: flex-start;
         justify-content: center;
         transition: opacity 0.4s ease;
         font-family: 'Proxima';
         padding: 26px 0 0;
         height: 100%;
         margin: 0;
        background-position: center 21px;
        @media (--767) {
            background-position: center 25px;
            padding: 30px 0 0;
        }

        &--visible {
            opacity:1;
            visibility: visible;
        }
    }

    &-compare {
        position: absolute;
        left:10px;
        top:15px;
        margin-left:0;
    }
    &-current {
         border-bottom: 2px solid #f7941e;
    }
}