.FilterForm {
    padding: 22px 0 0;
    @media (--mdMinus){
        border-top: 1px solid #fff;
    }
    @media (--md){
        display: flex;
        flex-wrap: wrap;
    }

    @media (--lg){
        display: flex;
        flex-wrap: wrap;
    }
    @media (--lgPlus) {
        position: sticky;
        top: 70px;
    }
    &_item {
        padding: 0 26px 24px 32px;
        @media (--md){
            order: -1;
            width: 50%;
        }
        @media (--lg){
            order: -1;
            width: 50%;
        }
        &-disabled {
             user-select: none;
             pointer-events: none;
             opacity: 0.5;
             filter: grayscale(100%);
        }
    }

    &_label {
        color: #19191a;
        font-family: Proxima Nova Light;
        font-size: 16px;
        display: block;
        padding-bottom: 4px;
    }

    &_checkboxesRow {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -10px;
        &>.BigCheckbox {
            margin-right: 14px;
            margin-top: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &_select {
        background: transparent!important;
        border-radius: 2px;
        font-size: 14px;
        display: block;
        width: 100%!important;
        padding: 10px;
        border-color: #d0d0d0!important;

        &.ui-selectmenu-button-open {

            background: #fff!important;
        }
        &>.ui-selectmenu-text {
            font-family: Proxima Nova Light;
            color: #19191a;
        }

        &>.ui-selectmenu-icon {
            background: url("/img/caret-down.svg") center / contain no-repeat!important;
            opacity: 0.3;
        }

        &.ui-selectmenu-button-open>.ui-selectmenu-icon {
            transform: scaleY(-1);
        }
    }

    &_selectlistMenu {
        box-shadow: 0 3px 5px rgba(208, 208, 208, 0.5);
        border-radius: 2px;
        &>.ui-menu {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-color: #d0d0d0;
            &>.ui-menu-item {
                font-size: 14px;
                font-family: Proxima Nova Light;
                padding-left:0;
                line-height: 1.5;
                background: #ffffff;
                &>.ui-menu-item-wrapper {
                    padding:5px 10px;
                    &.ui-state-active {
                        background-color: #fbc98e;
                        border-top-color: #fbc98e;
                        border-bottom-color: #fbc98e;
                        color: #19191a;
                    }
                }
            }
        }
    }

    &_groupHead {
        color: #19191a;
        font-family: "Proxima Nova Light";
        font-size: 16px;
        background: none!important;
        border: 0!important;
        padding: 12px 46px 12px 32px !important;
        &>.ui-accordion-header-icon {
            position: absolute;
            right: 19px;
            top: 50%;
            margin-top: -7px;
            background: url("caret-down.svg?datauri") center / contain no-repeat!important;
            opacity: 0.3;
        }

        &.ui-accordion-header-active>.ui-accordion-header-icon {
            transform: scaleY(-1);
        }
    }

    &_collapsibleGroup {
        padding: 10px 0!important;
        border: 0 !important;
        background: none;
    }


    &_accordion {
        width: 100%;
        background-color: #f6f6f6;
    }
}
