.Flat-type {
    font-family: 'Proxima';
    font-size: 14px;
    font-weight: 300;
    color: #19191a;
    display: flex;
    flex-grow: 1;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 60px 55px 60px;
    @media (--xlMinus) {
        justify-content: flex-start;
        padding: 40px 40px;
    }
    @media (--sm) {
        padding-left: 35px;
        padding-right: 35px;
        flex-wrap: wrap;
        padding: 25px 25px;
    }

    @media (--xs) {
        padding-left: 35px;
        padding-right: 35px;
        flex-wrap: wrap;
        padding: 25px 25px;
    }

    &_info,
    &_plan {
        flex-basis: 50%;
        @media (--sm) {
            padding: 0 0 !important;
            flex-basis: 100%;
        }
        @media (--xs) {
            padding: 0 0 !important;
            flex-basis: 100%;
        }
    }
    &_plan {
        padding-right: 28px;
        @media (--xlMinus) {
            flex-basis: 40%;
            width: 40%;
        }
        @media (--sm) {
            display: flex;
            flex-flow: row wrap;
            padding-right: 35px;
        }
        @media (--xs) {
            display: flex;
            flex-flow: row wrap;
            padding-right: 35px;
        }
    }
    &_info {
        padding-left: 28px;
        @media (--smMinus) {
            padding-left: 35px;
        }
        @media (--xlMinus) {
            flex-basis: 60%;
            width: 60%;
        }
        @media (--sm) {
            width: 100%;
            flex-basis: 100%;
        }
        @media (--xs) {
            width: 100%;
            flex-basis: 100%;
        }
    }
    &_linkBack {
        display: inline-block;
        margin: 50px 26px 24px 32px;
        order: 1;
        @media (--xlMinus) {
            margin-bottom: 40px;
        }
        @media (--smMinus) {
            width: 32px;
            height: 16px;
            display: block;
            top: 10px;
        }

        &-filters {
            @media(--lgMinus) {
                display:none;
            }
        }
        &-flat {
            margin: 0px 0px 24px 0px;
            display:none;
            @media(--lgMinus) {
                display:block;
            }
        }
    }
    &_planInfo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 100%;
        position: relative;
        @media (--xlMinus) {
            display: block;
        }
        @media(--lgMinus) {
            height: 0;
            padding-top: 20px;
        }

        @media (--sm) {
            padding-top: 0;
            display:none;
        }
        @media (--xs) {
            padding-top: 0;
            display:none;
        }
    }
    &_planInfoWrapper {
        order: 2;
        @media (--xlPlus) {
            padding-top: 100px;
        }
    }
    &_compass {
        display: block;
        @media (--mdPlus) {
            margin-bottom: 90px;
        }
        @media (--xlMinus) {
            margin-right: 20px;
            margin-bottom: 0;
            width: 100px;
            height: 100px;
        }
    }
    &_sectionPlans {
        height: 93px;
        @media (--mdPlus) {
            margin-bottom: 60px;
        }
        @media (--xlMinus) {
            margin-left: 20px;
            margin-bottom: 0;
        }
        @media (--sm) {
            position: relative;
            left: 13px;
        }
    }
    &_sectionPlans+&_planLink {
         margin-bottom: 20px;
    }
    &_planImg {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        flex: 1;
        order: 3;
        margin-left: 56px;
        @media (--xlMinus) {
            width: 100%;
            padding-top: calc(100% + 67px);
            margin-left: 0;
            margin-bottom: 65px;
            background-position-x: left;
        }
        @media (--sm) {
            margin-bottom: 50px;
        }
    }
    &_planImgMobile {
        display: none;
        width: 80%;
        margin: 0 auto 60px;
        @media (--sm) {
            display: block;
        }
        @media(--xs) {
            display: block;
        }
    }
    &_svgInfoWrapper {
        @media (--xlMinus) {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin-bottom: 40px;
        }
    }


    &_titleText {
        margin-right: 15px;
    }


    &_infoHeader {
        margin-bottom: 35px;
        display:flex;
        align-items:center;
        flex-wrap: wrap;

        & .FavoriteIcon {
            margin-left: 0;
            margin-right: 15px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 5px;
        }

        & .ComparisonIcon {
            margin-left: 0;
            margin-right: 15px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 5px;
        }
        @media (--smMinus) {

        }
    }
    &_title {
        font-size: 25px;
        font-weight: 400;
        margin-right: 15px;

        @media (--xlMinus) {
            font-size: 20px;
        }
        @media (--smMinus) {
            font-size: 20px;
            /* white-space: nowrap; */
        }

    }
    &_infoText {
        font-size: 14px;
        font-weight: 300;
        display: flex;
        align-items: flex-start;
    }
    &_infoText-furnished {
        margin-bottom: 7px;
        display: block;
    }
    &_infoText-furnished+&_infoText {
        margin-bottom: 55px;
    }
    &_infoFurnishIcon {
        margin-left: 6px;
        margin-top: 20px;
    }
    &_infoActionIcon {
        margin-right: 8px;
     }
    &_infoText-bold {
        font-weight: 500;
     }
    &_generalHeader {
         font-weight: 400;
         text-align: left;
        &:not(:first-of-type) {
             padding-left: 50px;
        }
        @media (--smMinus) {
            font-size: 11px;
            padding-left: 0 !important;
        }
    }

    &_hr {
        width: 100%;
        height: 1px;
        background: #f8b470;
        border: none;
        margin-bottom: 30px;
        &:last-of-type {
             margin-bottom: 40px;
        }
    }
    &_specificTable {
        display: table;
        margin-bottom: 25px;
        @media (--smMinus) {
            display: block;
            width: 195px;
        }
        @media (--xlMinus) {
            width: 100%;
        }
    }
    &_specificRow {
        display: table-row;
        @media (--smMinus) {
            display: block;
        }
        @media (--mdMinus) {
            display: flex;
            justify-content: space-between;
        }
    }
    &_specificRow:not(:last-child) &_specificCell {
        padding-bottom: 10px;
        white-space: nowrap;
        @media (--smMinus) {
            padding-bottom: 0;
        }
    }
    &_specificCell {
        white-space: nowrap;
        display: table-cell;
        justify-content: space-between;

        @media (--mdPlus) {
            display: inline-flex;
        }
        &:nth-child(1n) {
            @media (--mdPlus) {
                width: 150px;
                margin-right: 80px;
            }
        }
        &:nth-child(2n) {
            margin-right:0;
        }

        @media (--smMinus) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;
        }
    }
    &_specificCellText {
        &_first-of-type {
             float: left;
        }
        &:last-of-type {
             font-weight: 600;
             float: right;
             margin-left: 15px;
             position: relative;
             top: -3px;
        }
    }
    &_actionWrapper {
        width: 460px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @media (--smMinus) {
            width: 100%;
            display: block;
            white-space: nowrap;
        }
        @media (--smMinus) {
            width: 380px;
        }
        @media (--xlMinus) {
            width: 100%;
        }
    }
    &_actionOption {
         display: inline-flex;
         flex-flow: row nowrap;
         justify-content: flex-start;
         align-items: center;
    }
    &_actionOption-pdf {
        @media (--smMinus) {

            float: right;
        }
    }
    &_actionText {
        line-height: 14px;
        font-weight: 400;
        margin-left: 13px;
        text-decoration: none;
        color: inherit;
        @media (--xlMinus) {
            font-size: 12px;
        }
    }
    &_priceWrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-bottom: 35px;
        @media (--xlMinus) {
            flex-wrap: wrap;
        }
        @media(--sm) {
            margin: -30px 0 35px 0;
        }
        @media(--xs) {
            margin: -30px 0 35px 0;
        }
    }
    &_price {
        font-weight: 400;
        font-size: 25px;
        line-height: 50px;
        color: #f7941e;
        white-space: nowrap;
        width:100%;
        @media (--xlMinus) {
            flex-basis: 100%;
            margin-bottom: 12px;
        }
        @media(--sm) {
            font-size: 18px;
        }
        @media(--xs) {
            font-size: 18px;
        }
    }
    &_btn {
        width: 270px;
        height: 50px;
        background: #f7941e;
        color: white;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        margin-top: 30px;
        text-decoration: none;
        @media (--smMinus) {
            width: 100%;
        }
        @media (--xlMinus) {
            margin-left: 0;
        }

        @media(--sm) {
            margin-top:0;
        }
        @media(--xs) {
            margin-top:0;
        }
    }


    &_infoTable {
        @media(--smMinus) {
            margin-bottom:45px;
        }

    }

    &_infoCell {
        display: flex;
        margin:8px 0;

    }

    &_infoText {
        &:first-child {
            flex-basis: 120px;
        }

        &:last-child {
             font-weight: 600;
        }

        & a {
            color:#f7941e;
        }
    }


    &_specificRow {
        display: flex;
    }

    &_specificCell {
        display:flex;
    }

    &__advantages {
        padding:42px 50px;
        @media(--mdMinus) {
            padding:42px 40px;
        }

        @media(--sm) {
            padding:42px 20px;
        }

        @media(--xs) {
            padding:42px 20px;
        }


    }

}

.Flat-type-plans {

    opacity:0;
    transition: opacity 0.4s ease;

    &.ui-tabs {
        opacity:1;
     }

    @media(--lgMinus) {
        margin-top:70px;
    }

    @media(--sm) {
        margin-top:0;
    }

    @media(--xs) {
        margin-top:0;
    }

    &__nav {
        display: flex;
        padding:0 50px 20px;
        border-bottom: 1px solid #eaeaeb;

        @media(--mdMinus) {
            padding:0 30px 20px;
        }

        @media(--sm) {
            padding:0 20px 20px;
            justify-content: space-between;
        }
        @media(--xs) {
            padding:0 20px 20px;
            justify-content: space-between;
        }

        & li {
            margin-right: 50px;

            @media(--sm) {
                flex-grow:1;
                margin-right: initial;
            }

            @media(--xs) {
                flex-grow:1;
                margin-right: initial;
            }

            &:nth-child(2) {
                @media(--sm) {
                    text-align: right;
                }
                @media(--xs) {
                    text-align: right;
                }
            }

            & a {
                color:#19191a;
                font-family: 'Proxima';
                font-size: 25px;
                opacity: 0.5;
                outline: none;

                @media(--sm) {
                    font-size:15px;
                }
                @media(--xs) {
                    font-size:15px;
                }
            }

            &.ui-state-active {
                & a {
                    opacity: 1;
                }
            }
        }

    }
}

.Flat-type-wrapper {
    width: 100%;
}