.Flat {
    font-family: 'Proxima';
    font-size: 14px;
    font-weight: 300;
    color: #19191a;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 55px 55px 60px;
    @media (--xlMinus) {
        justify-content: flex-start;
        padding: 40px 40px;
    }
    @media (--sm) {
        padding-left: 35px;
        padding-right: 35px;
    }
    @media (--smMinus) {
        flex-wrap: wrap;
        padding: 25px 25px;
    }
    &_icons-bottom {
        position: absolute;
        bottom: 0;

        @media (--lgMinus) {
            position: static;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }

    &_salePrices {
        
        @media (--lgMinus) {
            flex-basis: 100%;
        }

        & span {
            display: block;
            line-height: 1;
        }
        & ._cross {
            color: #19191a;
            font-size: 14px;
            text-decoration: line-through;
            flex-shrink: 0;
            margin-bottom: 9px;
        }
        & ._salePrice {
            font-size: 30px;
            color: #d34a4a;
            font-family: 'Proxima Nova SemiBold';
        }
    }
    &_info,
    &_plan {
        flex-basis: 50%;
        @media (--smMinus) {
            padding: 0 0 !important;
            flex-basis: 100%;
        }
    }
    &_plan {
        padding-right: 28px;
        @media (--xlMinus) {
            flex-basis: 40%;
            width: 40%;
        }
        @media (--sm) {
            display: flex;
            flex-flow: row wrap;
        }
        @media (--smMinus) {
            padding-right: 35px;
            flex-basis: 100%;
            width: 100%;
        }
    }
    &_info {
        padding-left: 28px;

        @media (--xlMinus) {
            flex-basis: 60%;
            width: 60%;
        }

        @media (--smMinus) {
            padding-left: 0;
            width: 100%;
            flex-basis: 100%;
        }
    }
    &_linkBack {
        display: inline-block;
        margin-bottom: 80px;
        order: 1;
        position: absolute;
        top: 0;
        left: 0;
        @media (--xlMinus) {
            margin-bottom: 40px;
        }
        @media (--smMinus) {
            width: 32px;
            height: 16px;
            display: block;
            top: 10px;
            margin-bottom: 0;
        }
    }
    &_planInfo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 100%;
        position: relative;
        padding-top: 65px;

        @media (--xlMinus) {
            display: block;
        }
        @media (--smMinus) {
            padding-top: 50px;
            width: 100%;
        }
    }
    &_planInfoWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        order: 2;
    }
    &_compass {
        display: block;
        width: 100px;
        height: 100px;
    }
    &_sectionPlans {
        margin-bottom: 40px;

        @media (max-width: 1279px) {
            margin-bottom: 30px;
        }

        @media (max-width: 767px) {
            margin-bottom: 0;
        }
    }
    &_planImg {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        flex: 1;
        order: 3;
        margin-left: 56px;

        &-commercialVertical {
            @media(--xlPlus) {
                background-position: center;
                transform: scale(1.5);
            }
        }

        @media (--xlMinus) {
            height: 310px;
            margin: 0 0 30px 0;
            background-position: 50% 50%;
        }

        @media (max-width: 767px) {
            margin-bottom: 25px;
            height: calc(100vh - 220px);
        }
    }
    &_planImgMobile {
        display: none;
        width: 80%;
        margin: 0 auto 60px;
    }
    &_svgInfoWrapper {
        @media (--xlMinus) {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
        }

        @media (--smMinus) {
        }
    }

    &_planLinksWrapper {
        display: flex;
        flex-direction: column;

        @media (max-width: 1279px) {
            width: 100%;
            justify-content: space-around;
            flex-direction: row;
            margin-bottom: 30px;
        }
    }

    &_planLink {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 400;

        &-floor {
            position: relative;
            display: block;
            width: 160px;
            height: auto;

            @media (max-width: 1279px) {
                width: 130px;
            }

            .FloorScheme_flat {
                cursor: default;
                opacity: .7 !important;

                &:hover {
                    opacity: .7 !important;
                }
            }

            .FloorScheme_bg {
                opacity: .5;
            }

            .floor__scheme-text {
                margin: 10px 0;
                text-align: center;
            }
        }
    }
    &_infoHeader {
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 35px;
        @media (--xlMinus) {
            font-size: 20px;
        }
        @media (--smMinus) {
            font-size: 20px;
            white-space: nowrap;
            margin-bottom: 25px;
        }
    }
    &_infoText {
        font-size: 14px;
        font-weight: 300;
        display: flex;
        align-items: flex-start;
    }
    &_infoText-furnished {
        margin-bottom: 7px;
        display: block;
    }
    &_infoText-furnished+&_infoText {
        margin-bottom: 35px;
    }
    &_infoFurnishIcon {
        margin-left: 6px;
        margin-top: 20px;
    }
    &_infoActionIcon {
        margin-right: 8px;
    }
    &_infoText-bold {
        font-weight: 500;
    }
    &_infoTabsNav {
        margin-bottom: 25px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5px;
        border-bottom: 1px solid #ededed;
    }
    &_infoTabsNavItem {
        font-weight: 500;
        margin-bottom: 10px;
        position: relative;
        &:not(:last-of-type) {
            margin-right: 20px;
        }
        &-active {
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                bottom: -17px;
                background-color: #f7941e;
                height: 3px;
            }
        }
    }
    &_infoTabsNavLink {
        font-size: 16px;
        font-family: Proxima, sans-serif;
    }
    &_infoTabsContent {
        font-family: Proxima, sans-serif;
    }
    &_generalTable {
        margin-bottom: 32px;
        padding-top: 18px;
        @media (--smMinus) {
            padding-right: 11px;
        }
    }
    &_generalHeader {
        font-weight: 400;
        text-align: left;
        &:not(:first-of-type) {
            padding-left: 50px;
        }
        @media (--smMinus) {
            font-size: 11px;
            padding-left: 0 !important;
        }
    }
    &_generalRow {
        @media (--smMinus) {
            display: flex;
            justify-content: space-between;
        }
    }
    &_generalCell {
        font-size: 30px;
        font-weight: 600;
        white-space: nowrap;
        display: inline-flex;
        position: relative;
        &:not(:first-of-type) {
            margin-left: 50px;
        }
        &:last-of-type {
            margin-left: 68px;
        }
        &:before {
            content: attr(data-header);
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            position: absolute;
            left: 0;
            top: -20px;
            @media (--smMinus) {
                font-size: 11px;
            }
        }
        @media (--smMinus) {
            font-size: 24px;
            margin-left: 0 !important;
        }
    }
    &_hr {
        width: 100%;
        height: 1px;
        background: #f8b470;
        border: none;
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 40px;
        }
    }
    &_specificTable {
        display: table;
        margin-bottom: 25px;
        @media (--smMinus) {
            display: block;
            width: 195px;
        }
        @media (--xlMinus) {
            width: 100%;
        }
    }
    &_specificRow {
        display: table-row;
        @media (--mdMinus) {
            display: flex;
            justify-content: space-between;
        }
        @media (--smMinus) {
            display: block;
        }
    }
    &_specificRow:not(:last-child) &_specificCell {
        padding-bottom: 10px;
        white-space: nowrap;

        @media (--smMinus) {
            padding-bottom: 0;
        }
    }
    &_specificCell {
        white-space: nowrap;
        display: table-cell;
        justify-content: space-between;

        @media (--mdPlus) {
            display: inline-flex;
        }

        &:nth-child(1n) {
            @media (--mdPlus) {
                width: 150px;
                margin-right: 80px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
        @media (--smMinus) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;
        }
    }
    &_specificCellText {
        &_first-of-type {
            float: left;
        }
        &:last-of-type {
            font-weight: 600;
            float: right;
            margin-left: 15px;
            position: relative;
            top: -3px;
        }
    }
    &_specificDesc {
        font-weight: 400;
        margin-bottom: 40px;

        & ul {
            margin: 20px 0;
            list-style: none;
        }
        & ul li {
            padding-left: 35px;
            position: relative;
            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background-color: #0db14b;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 4px;
            }
            @media (--smMinus) {
                padding-left: 25px;
            }
        }
    }
    &_actionWrapper {
        width: 460px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @media (--smMinus) {
            width: 100%;
            display: block;
            white-space: nowrap;
        }
        @media (--smMinus) {
            width: 380px;
        }
        @media (--xlMinus) {
            width: 100%;
        }
    }
    &_actionOption {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    &_actionOption-pdf {
        @media (--smMinus) {

            float: right;
        }
    }
    &_actionText {
        line-height: 14px;
        font-weight: 400;
        margin-left: 13px;
        text-decoration: none;
        color: inherit;
        @media (--xlMinus) {
            font-size: 12px;
        }
    }
    &_priceWrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-bottom: 35px;
        @media (--xlMinus) {
            flex-wrap: wrap;
        }
    }
    &_price {
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
        color: #f7941e;
        white-space: nowrap;
        @media (--xlMinus) {
            flex-basis: 100%;
            margin-bottom: 12px;
        }
    }
    &_btn {
        width: 174px;
        height: 50px;
        background: #f7941e;
        color: white;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 35px;
        @media (--smMinus) {
            width: 100%;
        }
        @media (--xlMinus) {
            margin-left: 0;
        }
        &._transparent {
            background-color: transparent;
            color: #f7941e;
            border: 1px solid #F7941E;
            transition: 0.3s;
            margin-left: 10px;
            @media (--767) {
                margin-left: 0;
                margin-top: 10px;
            }
            &:hover {
                background: #f7941e;
                color: #fff;
            }
        }
    }
    &_details {
        color: #908e97;
    }

    &__linksPresentConstructor {
         display: flex;
         margin-bottom: 30px;
     }

    &__presentLink {
         display:flex;
         align-items:center;
         font-family: 'Proxima';
         font-weight:600;
         font-size:14px;
         margin-right:35px;

        &:before {
             content:'';
             width: 17px;
             height: 25px;
             background: url("../img/flat/icon-present.svg") no-repeat;
             margin-right:12px;
             background-size: contain;
        }

        &-br {
            @media(--sm) {
                display:block;
            }
            @media(--xs) {
                display:block;
            }
        }
    }



}

/* START: temp */

.Flat_planLink-eye  {
    display: none!important;
    visibility: hidden!important;
}

.FlatsTips_iconStar{
    display: none!important;
}

.actionIcon {
     background-size: cover;
     background-repeat: no-repeat;
     width: 19px;
     height: 19px;
     margin-right: 20px;
     position:relative;

     &:hover {
        cursor: pointer;
     }

    &_red {
         background-image: url("../img/icon_action_1.svg");
    }
    &_orange {
         background-image: url("../img/icon_action_2.svg");
    }
    &_blue {
         background-image: url("../img/icon_action_3.svg");
    }
    @media(--xs) {
        /*width:13px;*/
        /*height:13px;*/
        margin-right:8px;
    }
}

.brushIcon {
    background: url("../img/flat/icon_brush.svg") no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    margin-right: 20px;
    @media(--sm) {
        /*width:13px;*/
        /*height:13px;*/
        margin-right:0px;
    }
    @media(--xs) {
        margin-right:0px;
    }
}

.actionIconTooltip {
    padding: 10px 20px;
    box-shadow: 0px 20px 25px 0px rgba(43, 38, 52, 0.25);
    font-family: 'Proxima';
    font-size: 12px;
    border: none !important;
}

/* END: temp */
