.FlatsTips {
    background: #f6f6f6;
    @media (--xs) {
        padding-top: 43px;
    }
    &_tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        @media (--xs) {
            display: none;
        }
    }
    &_tabsItem {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 17px;
        list-style-type: none;
        margin: 0 22px;
        font-family: "Proxima";
    }
    &_tabsLink {
        color: rgba(43, 38, 52, 0.5);
        text-decoration: none;
        position: relative;
        white-space: nowrap;
    }
    &_tabsItem-active &_tabsLink {
        color: #2b2634;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: -6px;
            background: #f7941e;
        }
    }

    &_tabsWrapperMobile {
        display: none;
        @media (--xs) {
            display: block;
            margin-bottom: 35px;
        }
    }
    &_tabsItemMobile {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 17px;
        list-style-type: none;
        font-family: "Proxima";
        height: 25px;
    }
    &_tabsLinkMobile {
        color: #2b2634;
        text-decoration: none;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: -6px;
            background: #f7941e;
        }
    }
    &_slidersWrapper {
        position: relative;
    }
    &_sliderContainer {
        margin: 0 60px;
        @media (--xlMinus) {
            margin: 0 80px;
        }
        @media (--xs) {
            margin: 0 20px;
        }
        &:after{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 1px solid #d2d2d6;
            content: "";
            z-index: 100;
            pointer-events: none;
        }
    }
    &_slide {
        width: 400px;
        height: 300px;
        border-collapse: collapse;
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 30px 20px 20px;
        transition: background, box-shadow 0.25s ease;
        border-right: 1px solid #d2d2d6;
        &:hover {
            background: white;
            box-shadow: 0 10px 25px rgba(43, 38, 52, 0.25);
        }
        @media (--xs) {
            width: 100%;
        }

    }
    &_icons {
        position: absolute;
        top: 18px;

        &-left {
            left:10px;
        }

        &-right {
            right: 10px;
        }
    }
    &_iconStar,
    &_iconFurnish {
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
    }
    &_iconStar {
        cursor: pointer;
        background-image: url("../img/flat/icon_favorite-big_1.svg");
        &:hover {
            background-image: url("../img/flat/icon_favorite-big_2.svg");
        }
    }
    &_iconFurnish {
        background-image: url("../img/flat/icon_finish.svg");
    }
    &_slidePlan {
        display: block;
        margin: 0 auto;
        object-fit: contain;
        height: 145px;
    }
    &_slideInfoRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        & p {
            font-size: 15px;
        }
    }
    &_slideInfo._sale {
        & .FlatsTips_slideInfoText-price {
            color: #d34a4a;
            font-weight: bold;
            position: relative;
        }
        & ._cross {
            color: #19191a;
            font-size: 14px;
            font-weight: 500;
            text-decoration: line-through;
            display: block;
            /* position: absolute;
            top: -15px; */
            text-align: right;
            /* left: 0;
            right: 0; */
        }
    }
    &_slideBtn,
    &_slideBtnMobile {
        border: 0;
        background: none;
        color: #3c3744;
        outline: 0 !important;
        & > .SvgIco {
            width: 11px;
            height: auto;
        }
    }
    &_slideBtn {
        height: 100%;
        width: 40px;
        top: 0;
        margin-top: 0;
        &-prev {
            left: 16px;
            @media (--xlMinus) {
                left: 34px;
            }
            @media (--xs) {
                display: none;
            }
        }
        &-next {
            right: 16px;
            @media (--xlMinus) {
                right: 34px;
            }
            @media (--xs) {
                display: none;
            }
        }
        &:hover{
            & > .SvgIco{
                transform: scale(1.1);
            }
        }
    }
    &_slideBtnMobile {
        &-prev {
            left: 16px;
        }
        &-next {
            right: 16px;
        }
    }

    &_slideInfoText-price {
        color: #f7941e;
    }
}
