.FlatCard {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fff;
    border-right: 1px solid #eaeaeb;
    border-bottom: 1px solid #eaeaeb;
    @media (--mdMinus) {
        padding: 22px;
    }
    @media (--lgPlus) {
        padding: 28px;
    }
    &-light {
        background-color: #feefdd;
    }
    &-discount {
         background-color: #feeedf;
    &:hover {
         background-color: #ffffff;
     }
    }

    @media(--xs) {
        border-left: 1px solid #eaeaeb;
        margin: 0 20px;
    }


    &:before {
        content: "";
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 4px solid #f7941e;
        pointer-events: none;
    }
    &:hover {
        box-shadow: 0 10px 25px rgba(43, 38, 52, 0.25);
        border-color: #f7941e;
        z-index: 10;
        &:before {
            display: block;
        }
    }

    &_picWrap {
        padding: 0 24px;
        margin-bottom: 20px;
    }

    &_pic {
        display: block;
        background: center no-repeat;
        background-size: contain;
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }

    &_picSale {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #d34a4a;
        color: #d34a4a;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        font-size: 14px;
        position: absolute;
        right: 8px;
        bottom: 30px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: #d34a4a;
            color: #fff;
        }
    }

    &_details {
        color: #19191a;
        width: 100%;
        margin-top: auto;

        &._sale {
            & ._cross strong {
                color: #19191a;
                font-size: 12px;
                font-weight: normal;
                text-decoration: line-through;
                font-family: Proxima Nova Regular;
            }

            & ._salePrice strong {
                color: #d34a4a;
            }
        }

        &_row {
            display: flex;

            & .FlatCard_param {
                width:50%;

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    &_param {

        font-family: "Proxima Nova Light";
        overflow: hidden;
        font-size: 12px;
        @media (--lgPlus) {
            font-size: 13px;
        }
        @media (--xlPlus) {
            font-size: 15px;
        }

        &>strong {
            font-family: 'Proxima Nova Bold';
            color: #f7941e;
            white-space: nowrap;
        }
    }

    &_iconsWrap {
        position: absolute;
        padding-top: 17px;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (--mdMinus) {
            right: 8px;
        }
        @media (--lgPlus) {
            right: 8px;
        }

        &-left {
            left:0;
            right:initial;
        }
    }

    &_ico {
        color: #4b4b4b;
        margin-bottom: 12px;
        cursor: help;

        &-active {
            color: #f7941e;
        }

        &-control {
            &:hover {
                color: #939393;
            }
        }

        &>.SvgIco {
            height: 17px;
        }
    }
    & .actionIcon {
          margin-right: 0;
    }
    &-promo {
        padding:0;

        &:hover {
             box-shadow: none;
             border-color:#eaeaeb;
             z-index: 10;

            &:before {
                 display: none;
             }
        }
    }

    &__promo {
         height:100%;
         position: relative;
         background-position: center;
         background-size: 100% 100%;
         background-repeat: no-repeat;

        &:after {
             content: "";
             display: block;
             padding-top: 100%;
        }
    }

    &__promoLink {
         position: absolute;
         top:0;
         left:0;
         width: 100%;
         height: 100%;
    }
}