.FloorScheme {
    text-align: center;
    max-height: 100%;
    width: 100%;

    @media (--smMinus) {
        width: calc(100% - 20px);
    }

    &_inner {
        position: relative;
        height: 100%;
        display: inline-block;
        filter: drop-shadow(40px 40px 30px rgba(43, 38, 52, 0.35));
    }
    &_svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto !important;
        display: none;
        max-width: 100%;
        max-height: 410px;
    }
    &_bg {
        height: auto !important;
        max-width: 100%;
        display: block;
        pointer-events: none;
        position: relative;
        max-height: 410px;
    }

    &_flat {
        opacity: 0.3;
        cursor: pointer;
        fill: #ccc;
        transition: opacity 0.4s ease;
        &-active {
            opacity: 0.7;
            animation: flatblink 1s linear infinite;
        }
        &:hover {
            opacity: 0.7;
            animation: none;
        }
        &-0k {
            fill: #4CBCE6;
        }
        &-1k {
            fill: #F7941E;
        }
        &-2k {
            fill: #0DB14B;
        }
        &-3k {
            fill: #c58acc;
        }
        &-4k {
            fill: #f26f73;
        }
        &-disabled {
            cursor: not-allowed;
        }
    }
}

@keyframes flatblink {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.3;
    }
}
