.Footer {
	display: flex;
	justify-content: space-between;
	height: 90px;
	padding: 0 60px;

	&_info {
		max-width: 250px;
		padding-top: 6px;
		color: #2c2634;
	}

	&_copy {
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: -.1px;
		margin-bottom: 4px;
	}
	&_text{
		font-size: 12px;
		line-height: normal;
	}

	&_socials {
		display: flex;
	 	margin-top: 10px;
		& .footer-socials__item {
			width: 40px;
			height: 40px;
			margin: 0 5px;
		   background-size: 40px;
			&:after {
				 width: 40px;
				 height: 40px;
				 background-size: 40px;
			}
			&.footer-socials__item_fb {
				background: url("../img/socials/icon-facebook_dark.svg") center no-repeat;
			}
			&.footer-socials__item_vk {
				background: url("../img/socials/icon-vk_dark.svg") center no-repeat;
			}
			&.footer-socials__item_insta {
				background: url("../img/socials/icon-insta_dark.svg") center no-repeat;
			}
			&.footer-socials__item_yt {
				background: url("../img/socials/icon-youtube_dark.svg") center no-repeat;
			}
			&.footer-socials__item_tlg {
				background: url("../img/socials/icon-telegram_dark.svg") center no-repeat;
			}
		}
	}

	&_commun {
		max-width: 250px;
		width: 100%;
		padding-top: 0; /*7px;*/
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: relative;
	}
	&_phone {
		display: flex;
		font-weight: bold;
		font-size: 16px;
		line-height: 1;
		color: #2c2634;
		& img {
			display: block;
			margin-right: 10px;
		}
	}

	&_subscribe {
	 	margin-top: 6px;
		& .footer-subscribe__link {
			float: right;
			height: 30px;
			font-weight: 500;
			line-height: 30px;
			letter-spacing: -0.1px;
		}
		& .styled-input {
			width: auto;
			align-items: center;
		}
		& .footer-subscribe__form {
			background: #fff;
			margin: 0;
		}
		& .footer-subscribe__input {
			width: 145px;
			height: 30px;
			padding: 0;
			border-color: #d8d8d8;
			color: #2c2634;
		   &:focus {
				border-color: #f5b472;
			}
			&.user-error {
				font-size: 12px;
				color: #e62117;
				border-color: #e62117;
			}
		}
		& .footer-subscribe__submit {
			background: none;
			width: auto;
			height: 30px;
			font: 500 14px/30px 'Proxima';
			text-transform: uppercase;
			color: #f7941e;
		}
	}

	& .footer-subscribe-inner_sendMessage {
		 position: absolute;
		 right: 0;
		 top: 30px;
		 width: 260px;
		 text-align: right;
	}
	& .footer-subscribe__text {
		margin-bottom: 0;
		color: #2c2634;
	}
}

@media (--mdMinus) {
	.Footer {
		display: none;
	}
}