.genplan {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;
    visibility: hidden;

    @media (--smMinus) {
        overflow-x: auto;
    }

    &__content {
        position: relative;
        width: auto;
        height: auto;
    }

    &__img-common {
        display: block;
        width: 100%;
        height: auto;
    }

    &__renders,
    &__render,
    &__objects,
    &__labels,
    &__numbers,
    &__dev-lebels {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__compass-line {
        fill: #d7d6d8;
    }

    &__compass {
        position: absolute;
        display: block;
        bottom: 80px;
        left: 60px;
        width: 100px;
        height: 100px;
        z-index: 6;
        &--south .genplan__compass-line--south {
            fill: #f7941e;
        }

        &--west .genplan__compass-line--west {
            fill: #f7941e;
        }

        &--north .genplan__compass-line--north {
            fill: #f7941e;
        }

        &--east .genplan__compass-line--east {
            fill: #f7941e;
        }
    }

    &__render {
        fill: #2b2634;
        opacity: 0;
        transition: all 0.3s ease;
        pointer-events: none;

        &--active {
            position: relative;
            opacity: 0.7;
            z-index: 2;
        }
    }

    &__objects {
        z-index: 5;
    }

    &__object {
        display: block;
        width: 100%;
        height: 100%;
        fill: transparent;
        cursor: pointer;
    }

    &__number {
        transition: all .3s ease;
        position: absolute;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        z-index: 6;
        transform: translate(-20px, -20px) translateZ(0);
        @media (min-width: 2501px) {
            transform: translate(-20px, 10px) translateZ(0);
        }

        @media (min-width: 1900px) and (max-width: 2500px) {
            transform: translate(-20px, -8px);
        }

        @media (min-width: 1600px) and (max-width: 1899px) {
            transform: translate(-20px, -14px);
        }

        @media (--smMinus) {
            transform: translate(-14px, -14px);
        }
    }

    &__number-icon {
        transition: inherit;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        background-color: #f7941e;
        font-family: "Proxima Nova Light", sans-serif;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.8);
        @media (--smMinus) {
            width: 28px;
            height: 28px;
            font-size: 12px;
        }

        &::after {
            transition: inherit;
            content: "";
            position: absolute;
            top: -4px;
            left: -4px;
            width: 49px;
            height: 49px;
            border-radius: 50%;
            opacity: 0.5;
            background-color: #f7941e;
            z-index: 3;
            @media (--smMinus) {
                width: 34px;
                height: 34px;
                top: -3px;
                left: -3px;
            }
        }

        &::before {
            transition: inherit;
            content: "";
            position: absolute;
            bottom: -20px;
            left: 50%;
            width: 1px;
            height: 20px;
            background-color: #fff;
            z-index: 4;
            transform: translate(-50%, 0);
            @media (--smMinus) {
                bottom: -14px;
                height: 14px;
            }
        }

        & > span {
            position: relative;
            z-index: 4;
        }
    }



    &__number--pale > &__number-icon {
        background: #69482d;
        color: #6b6871;
        &:after{
            background: #69482d;
        }

        &:before{
            background: #6b6871;
        }
    }

    &__number-description {
        display: flex;
        align-items: center;
        padding: 0 17px 0 34px;
        height: 30px;
        margin-left: -20px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #fff;
        font-family: "Proxima Nova", sans-serif;
        font-size: 14px;
        transition: inherit;

        @media (--smMinus) {
            height: 20px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 10px;
        }
        &._date {
             background-color: #ea222d;
             color: #fff;
        }
        &._newBild {
            background-color: #0BB14A;
            color: #fff;
        }
    }

    &__number--pale > &__number-description{
        background: #6b6871;
    }



    &__label {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        padding: 0 32px;
        border-radius: 25px;
        background-color: #fff;
        z-index: 9;
        animation-duration: 0.4s;
        animation-fill-mode: both;
        animation-name: fadeIn;
        pointer-events: none;
        &--active {
            display: inline-flex;
        }
    }

    &__label-title,
    &__label-text {
        margin: 0;
        text-align: center;
    }

    &__label-title {
        font-family: "Proxima Nova Semibold", sans-serif;
        font-size: 15px;
        letter-spacing: -0.3px;
        line-height: 1.2;

        @media (--smMinus) {
            font-size: 12px;
        }
    }

    &__label-text {
        font-family: "Proxima Nova", sans-serif;
        font-size: 14px;
        line-height: 1.2;

        @media (--smMinus) {
            font-size: 11px;
        }
    }

    &__dev-lebel {
        position: absolute;
        display: flex;
        align-items: center;
        height: 30px;
        padding: 0 20px;
        font-family: "Proxima Nova", sans-serif;
        font-size: 14px;
        line-height: 1.2;
        background-color: #e8e4d8;
        transform: translate(-20px, -18px);

        @media (min-width: 2501px) {
            transform: translate(-20px, -14px);
        }

        @media (--smMinus) {
            height: 20px;
            padding: 0 16px;
            margin-top: 10px;
            font-size: 10px;
            transform: translate(-20px, -25px);
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -16px;
            border: 6px solid transparent;
            border-top: 16px solid #e8e4d8;
            transform: translate(-50%, 0);
        }

        &--start {
            &::after {
                left: 24px;
                transform: translate(0, 0);
            }
        }
        &--metro {
            height:56px;
            justify-content: center;
            text-align: center;
            width:182px;
            padding:0;
            transform: translate(-91px,-33px);
            font-size: 14px;

            @media (--lgMinus) {
                transform: translate(-91px, -43px);
            }

            @media (--mdMinus) {
                transform: translate(-91px, -53px);
                font-size: 10px;
            }
            @media (--sm) {
                transform: translate(-55px, -50px);
                width: 110px;
                height:44px;
            }
            @media (--xs) {
                transform: translate(-55px, -50px);
                font-size: 10px;
                width: 110px;
                height:44px;
            }

        }
    }

    &__dev-process {
        position: absolute;
        width: 44px;
        height: 44px;
        background-image: url(../img/genplan/gen-process.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);

        @media (--smMinus) {
            width: 32px;
            height: 32px;
        }
    }

    &__btn-call {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 5;
        padding: 0;
        margin: 0 0 40px 0;
        @media (--smMinus) {
            margin: 0 0 30px 0;
        }

        &::before {
            width: calc(50% - 124px);
        }

        &::after {
            content: "";
            background: #f8b470;
            height: 1px;
            width: calc(50% - 124px);
            position: absolute;
            left: auto;
            top: 50%;
            right: 0;
            z-index: 40;
            margin-left: 0;
            margin-top: 0;
        }
    }
    &__request {
        position: absolute;
        bottom:90px;
        right:0;
        max-width:350px;
        text-align: right;
        z-index:100;

        @media(--mdMinus) {
            position:relative;
            bottom:0;
            max-width:100%;
            background: rgb(42,38,54, 1);
            display:flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap:wrap;
        }

        &_inner {
            background: rgb(42,38,54, 0.9);
            padding: 30px 55px 30px 20px;
            @media(--mdMinus) {
                padding: 30px 40px 30px 40px;
                flex-basis:50%;
            }
            @media(--xs) {
                flex-basis:100%;
            }
        }
        &_text {
            color:#ffffff;
            font-family: 'Proxima';
            font-size: 14px;
            font-weight: 400;
            text-align: right;
            @media(--mdMinus) {
                text-align: left;
            }
        }
        &_number {
             color:#f7941e;
             font-family: 'Proxima';
             font-size: 20px;
             font-weight: 400;
             margin-top: 10px;
             text-align: right;
             @media(--mdMinus) {
                text-align: left;
             }
}
        &_btn {
            margin-top: -10px;
            margin-right: 55px;
            color:#ffffff;
            text-transform: uppercase;
            width:100%;
            max-width: 200px;
            font-family: 'Proxima';
            font-size: 14px;
            font-weight: 400;
            line-height: 50px;
            height: 50px;
            display: inline-block;
            text-align: center;
            transition: background 0.4s ease;
            background: #f7941e;
            &:hover {
                background: #f69b2e;
            }
            @media(--mdMinus) {
                margin-top:0;
                max-width:300px;
            }
            @media(--xs) {
                max-width:100%;
                margin:0 20px 30px;
            }
        }
    }
    &__scroll {
        background: url("../img/scroll.svg") no-repeat;
        background-size: cover;
        width: 23px;
        height: 39px;
        position: absolute;
        bottom:40px;
        left:50%;
        margin-left: -11.5px;
        z-index: 50;
        @media(--mdMinus) {
            bottom:30px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
