.LKEnter {
	display: flex;
	align-items: center;
	font-size: 0;
	line-height: 0;

	&_icon {
	 	height: 15px;
		font-size: 0;
		line-height: 0;
		& + .LKEnter_txt {
			margin-left: 9px;
			top: 2px;
			position: relative;
		}
	}
	&_txt {

	}
	&._header {
		align-items: flex-start;
		margin: 22px 20px 0 0;
		@media (--767) {
			margin: 27px 5px 0 0;
		}
	}
	&._dropMenu {
		padding: 8px 0;
		margin-top: auto;
		font-size: 17px;
		line-height: 26px;
		color: #181819;
		@media (--lgMinus) {
			padding: 15px 0;
			font-size: 20px;
			color: #fff;
			justify-content: center;
		}
		@media (--767) {
			padding: 10px 0;
			font-size: 16px;
		}
		& path {
			@media (--lgMinus) {
				fill: #fff;
			}
		}
	}
	&._footer {
		font-weight: 500;
		font-size: 14px;
		line-height: 26px;
		color: #f3923e;
		text-transform: uppercase;
		white-space: nowrap;
		@media (--mdMinus) {
			order: 4;
			margin-bottom: 20px;
		}
		@media (--767) {
			margin: 20px 0 4px;
		}
	}
}