.mail-banner {
    max-width: 960px;
    padding-left: 360px;
    height: 524px;
    background: transparent url('../img/mail-banner-img.jpg') 0 0 no-repeat;

    &__inner {
        padding: 80px 60px;
        background-color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &._success {
            justify-content: center;
        }
    }

    &__tlt {
        position: relative;
        font-family: 'Playfair Display';
        font-weight: 900;
        font-size: 35px;
        line-height: 1.2;
        padding-bottom: 30px;
        margin-bottom: 20px;

        &:before {
            content: '';
            width: 75px;
            height: 1px;
            background-color: #f8b470;
            position: absolute;
            top: 100%;
            left: 5px;
            @media(--mdMinus) {
                margin:0;
                left:0;
            }
            @media(--sm) {
                margin:0;
                left:0;
            }
        }

        + p {
            font-size: 17px;
            line-height: 28px;
            margin: 0 0 30px;
        }


    }

    .button {
        max-width: 180px;
    }

    @media (--mdMinus) {
        max-width: 690px;
        height: 375px;
        padding-left: 260px;
        background-size: 260px auto;

        &__inner {
            padding: 40px 30px;
        }

        &__tlt {
            font-size: 20px;
            padding-bottom: 20px;

            + p {
                font-size: 16px;
            }
        }
    }

    @media (--smMinus) {
        background-image: url('../img/mail-banner-img-mob.jpg');
        padding-left: 0;
        padding-top: 40%;
        max-width: 640px;
        height: 100%;
        background-size: 100% auto;
        min-height: 500px;

        &__inner {
            padding: 30px 20px;
            text-align: center;
        }

        &__tlt {
            &:before {
                left: 50%;
                margin-left: -37.5px;
            }
        }
    }

}



.mail-bannerV2 {
    max-width:738px;
    padding-left: 238px;
    background:none;
    min-height:auto;

    &:before {
         content:'';
         display: block;
         position: absolute;
         top:-50px;
         left:-25px;
         width:264px;
         height: 374px;
         background: url("../img/mail-banner-img-V2.png") no-repeat;
         background-size: contain;

        @media(--mdMinus) {
            width:208px;
            height:294px;
            left:initial;
            right:-25px;
            top:25px;
        }

        @media(--sm) {
            background: url("../img/mail-banner-img-V2_mob.png") no-repeat;
            position:absolute;
            height:115px;
            width:182px;
            top:-50px;
            left:50%;
            margin-left:-91px;
        }
        @media(--xs) {
            background: url("../img/mail-banner-img-V2_mob.png") no-repeat;
            position:absolute;
            height:115px;
            width:182px;
            top:-50px;
            left:50%;
            margin-left:-91px;
        }
    }

    @media(--mdMinus) {
        max-width:604px;
        padding-left:0;
        padding-right:195px;
        padding-top:0;
        min-height:auto;
    }

    @media(--sm) {
        max-width:305px;
        padding-right:0px;
    }
    @media(--xs) {
        max-width:305px;
        padding-right:0px;
    }

    & .page-form__placeholder {
        color:#b8b8b8;
        text-transform: uppercase;

        @media(--sm) {
            font-size:15px;
        }
        @media(--xs) {
            font-size:15px;
        }
    }


    &__inner {
          padding:45px 40px 50px;
          background-color: #fff;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

        &._success {
             justify-content: center;
        }

        @media(--mdMinus) {
            padding:45px 0px 50px 30px;
        }
        @media(--sm) {
            padding:80px 21px 20px 21px;
            text-align:center;
        }
        @media(--xs) {
            padding:80px 21px 20px 21px;
            text-align:center;
        }
    }


    &__tlt {
         position: relative;
         padding-bottom: 30px;
         color:#2a2733;
         font-family: BodoniBold;
         line-height: 34px;
         font-size:34px;

        &:before {
             content: '';
             height: 1px;
             position: absolute;
             width: 45px;
             background-color: #f79520;
             bottom: 15px;
             top:initial;
             left: 0px;
            @media(--mdMinus) {
                margin:0;
                left:0;
            }
            @media(--sm) {
                margin:0 0 0 -32.5px;
                left:50%;
                width:75px;
            }
            @media(--xs) {
                margin:0 0 0 -32.5px;
                left:50%;
                width:75px;
            }
        }

        + p {
            font-size: 17px;
            line-height: 28px;;
            max-width: 320px;
            margin: 0 0 20px 0;

            @media(--sm) {
                max-width:238px;
                margin: 0 auto 10px;
                font-size: 16px;
                line-height: 24px;
            }
            @media(--xs) {
                max-width:238px;
                margin: 0 auto 10px;
                font-size: 16px;
                line-height: 24px;
            }
        }

        @media(--sm) {
            font-size:23px;
            line-height:27px;
        }
        @media(--xs) {
            font-size:23px;
            line-height:27px;
        }


    }

    & .ws-invalid .button {
        background: #2a2733;
        color:#47444f;

        &:after {
            opacity:0.2;
        }
        &:hover {
             background: #2a2733;
             olor:#47444f;
        }
    }

    & .page-form._mail .ws-errorbox {
        bottom: initial !important;
        right:initial !important;
        left:0;
        top:110%;

        @media(--mdMinus) {
            display:block !important;
        }

        @media(--sm) {
            top:90%;
            width:100%;
            text-align:center;
        }

        @media(--xs) {
            top:90%;
            width:100%;
            text-align:center;
        }


        & .ws-errormessage {
            color:#f79520;
            font-family: 'Proxima';
            font-size:12px;
        }
    }

}

.mail-bannerV2 .page-form__inp::-webkit-input-placeholder {
    color:#b8b8b8;
    font-family: 'Proxima';
    font-size:14px;
    font-weight: 400;
    text-transform: uppercase;
}
.mail-bannerV2 .page-form__inp::-moz-placeholder {
    color:#b8b8b8;
    font-family: 'Proxima';
    font-size:14px;
    font-weight: 400;
    text-transform: uppercase;
}
.mail-bannerV2 .page-form__inp:-ms-input-placeholder {
    color:#b8b8b8;
    font-family: 'Proxima';
    font-size:14px;
    font-weight: 400;
    text-transform: uppercase;
}
.mail-bannerV2 .page-form__inp:-moz-placeholder {
    color:#b8b8b8;
    font-family: 'Proxima';
    font-size:14px;
    font-weight: 400;
    text-transform: uppercase;
}

@media(--mdMinus) {
    .mail-bannerV2 .page-form._mail .checkbox__inp.user-error+.checkbox__txt,
    .mail-bannerV2 .page-form._mail .page-form__inp.user-error+.page-form__placeholder {
        color:#b8b8b8;
    }

    .mail-bannerV2 .page-form._mail .page-form__inp.user-error {
        border-color:#f79520;
    }
}



#mail-banner {
    @media (--smMinus) {
        margin: 20px !important;
    }
}


.button._icon {
    justify-content: center;
    align-items: center;
    display:flex;

    &:after {
        content:'';
        width:15px;
        height:12px;
        display: block;
        margin-left: 8px;
        background: url("../img/mail-send-icon.png") no-repeat;
    }

    @media(--sm) {
        width:100% !important;
        margin-bottom:15px;
    }
    @media(--xs) {
        width:100% !important;
        margin-bottom:15px;
    }
}

#mail-bannerV2 {
    overflow: unset;
    margin: 40px;

    @media(--mdMinus) {
        margin:0;
    }

    @media(--sm) {
        margin: 7px;
    }
    @media(--xs) {
        margin: 7px;
    }

    & .fancybox-close-small {
        display:none;
    }
}

.mail-banner-close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -45px;
    z-index: 100009;

    &:after {
        display:none;
    }

    @media(--mdMinus) {
        top: -60px;
        right: 50%;
        margin-right: -15px;
    }

    @media(--sm) {
        top:initial;
        bottom:-60px;
    }

    @media(--xs) {
        top:initial;
        bottom:-50px;
    }
}


.mail-banner-close span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #d4d4d3;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.mail-banner-close span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    left: 0px;
}

.mail-banner-close span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.mail-banner-close span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
    left: 0px;
}