.parking {
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 60px;
		padding-bottom: 60px;
		@media (--mdMinus) {
			flex-direction: column;
			padding-bottom: 10px;
		}
		@media (--lgPlus) {
      		align-items: flex-start;
			padding-top: 74px;
			padding-bottom: 0;
		}
	}
	&__info {
		flex: 0 0 42.66667%;
		max-width: 42.66667%;
		@media (--mdMinus) {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 60px;
		}
		&--heading,
		&--heading h1 {
			display: flex;
			justify-content: space-between;
			line-height: 40px;
			font-size: 40px;
			font-family: 'Playfair Display';
			text-align: right;
			color: black;
			@media screen and (--xs), (--lgPlus) and (--lgMinus) {
				flex-direction: column;
				text-align: left;
				line-height: 1;
			}
		}
		&--small {
			font-size: 15px;
			font-family: 'Proxima Nova Semibold';
			text-align: right;
			@media screen and (--xs), (--lgPlus) and (--lgMinus) {
				text-align: left;
			}
		}
		&--tagprice {
			position: relative;
			display: block;
			top: -4px;
			font-size: 50px;
			font-weight: bold;
			color: #fd7b23;
			letter-spacing: -1px;
			& > span {
				font-size: 25px;
			}

			@media (max-width: 786px) {
				font-size: 45px;
			}
		}
		&--sbt.button {
			width: auto;
			max-width: 340px;
			width: 100%;
			display: block;
		}
		ul {
			margin-top: 40px;
			margin-bottom: 60px;
			@media (--lgPlus) {
				margin-bottom: 65px;
				padding-right: 30px;
				padding-left: 18px;
			}

			li {
				font-weight: bold;

				@media (--lgPlus) {
					margin-bottom: 27px;
					line-height: 1.59;

					&:before {
						top: 13px;
						left: -18px;
					}
				}
			}
		}
		@media screen and (--lgMinus) {
			&--bwrap {
				text-align: center;
			}
		}
		@media (--lgPlus) {
			&--bwrap {
				margin-left: 19px;
			}
		}
		@media (--mdMinus) {
			&--sbt.button {
				display: inline-block;
			}
		}
		@media screen and (--xs) {
			&--sbt.button {
				display: block;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		@media (--lgPlus) {
			&--sbt.button {
				letter-spacing: 0.4px;
				max-width: 340px;
				width: 100%;
			}
		}
	}
	&__plan {
		flex: 0 0 50%;
		max-width: 50%;
		@media screen and (--mdMinus) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__parkingScheme {

		@media (--lgPlus) {
			margin-top: 13px;
			margin-right: 22px;
		}
	}

	&__payment {
		padding: 0px 0 65px;
		@media (--mdMinus) {
			padding: 40px 0;
		}
	}

	&__payment-btn {

	}

	&__tooltip {
		/*box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);*/
		background: url("../img/parking-tooltip.svg") no-repeat;
		max-width: 140px;
		width: 100%;
		padding: 0;
		height: 42px;
		border:none !important;
		display: flex;
	    justify-content: center;
	    align-content: center;

	 	@media (--smMinus) {
			max-width: 120px;
			background-size: contain;
		}

	 	& .ui-tooltip-content {
			height: calc(100% - 9px);
			display: flex;
			justify-content: center;
			align-content: center;
		}


		&-content {
			height: 14px;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			color:#2b2634;
			display: flex;
			justify-content: center;
			align-content: center;
			font-family: 'Proxima';
			font-size: 14px;
			font-weight: 400;

		 	@media (--smMinus) {
				font-size:12px;
			}

			& span {
				padding-left: 4px
			}
		}
		&-custom {
			transform: translateX(-40%);
			@media(--smMinus) {
				transform: translateX(-55%);
			}
		}
	}

	&__text {
		padding: 20px 0 20px 0;
	}

}
.parkingScheme {
	&__bld {
		position: relative;
		&:hover {
			& .parkingScheme__info {
				  opacity:1;

			}
		}
	}
	&__info {
		background: red;
		background-size: cover;
	 	width:140px;
	 	height:40px;
	 	justify-content: center;
	 	align-items: center;
	 	display: flex;
	 	opacity:0;
		font-size: 14px;
		font-family: 'Proxima';
		font-weight: 400;

	 	@media (--mdMinus) {
			opacity: 1;
		}

	 	& span {
			display: block;
			height: calc(100% - 20px)
		}

		&-bld1 {
			/*left: 50px;*/
			/*top: 50px;*/
			background: url(../img/parking_tooltip_right.svg) no-repeat;

		}
		&-bld2 {
			/*left: 100px;*/
			/*top: 50px;*/
			background: url(../img/parking_tooltip.svg) no-repeat;
		}
		&-bld3 {
			/*left: 150px;*/
			/*top: 50px;*/
			background: url(../img/parking_tooltip.svg) no-repeat;
		}
	}
	& > svg {
		display: block;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	  	position: relative;
		@media screen and (--smMinus) {
			height: auto;
		}
		& > a {
			cursor: pointer;
		}
		#K1 {
			.st10 {
				fill: #e3e2e4;
			}
		}
		#K1, #K2, #K3 {
			& > path{
				transition: all 0.3s;
			}

			.st3 {
				fill: #f7941e;
			}
			.st7 {
				fill: #F5DFBC;
			}
			.st8 {
				fill: #E8A342;
			}
			.st9 {
				fill: white;
			}
			.st10 {
				fill: #F7941E;
			}

			&:hover {
				.st3 {
					/*fill: #E1942B;*/
					fill: #f69e36;
				}
			}
		}
		@media screen and (--mdMinus) {
			#K1, #K2, #K3 {
				.st3 {
					fill: #F7941E;
					/*fill: #d7d6d8;*/
				}
				.st7 {
					fill: #FDDFBB;
				}
				.st8 {
					fill: #FDB865;
				}
				.st9 {
					fill: white;
				}
				.st10 {
					fill: #F7941E;
				}
			}
		}
	}
	&__download {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 40px;
		font-family: 'Proxima';
		font-size: 14px;
		font-weight: 300;
		li {
			display: block;
			width: 100%;
		}
		&--item {
			display: flex;
			align-items: center;
			position: relative;
			min-height: 29px;
			padding: 0 10px 0 40px !important;
			margin-bottom: 20px;
			/*font-weight: 700;*/
			text-align: left;
			@media (--lgPlus) {
				margin-bottom: 0;

			}

			&:hover {
				.parkingScheme__download-icon {
					background: #F7941E;
					color: #FFF;
				}

				svg {
					background: #F7941E;

					& > path {
						fill: #fff;
					}
				}
			}

			svg {
				margin-right: 11px;
        		transition: all .3s ease;

				@media (--lgPlus) {
					width: 30px;
					height: 29px;
				}

				& > path {
	        transition: all .3s ease;
				}
			}
			@media (--mdPlus) {
				padding: 10px;
			}
			@media (--lgPlus) {
				padding: 10px 8px 10px 0;
				color: #2b2634;
			}
			@media screen and (--xs) {
				width: 100%;
			}
		}
		@media(--smMinus) {
			text-align:center;
		}
		@media screen and (--xs) {
			flex-direction: column;
		}
		@media (--lgPlus) {
			margin-top: 9px;
			margin-right: -20px;
		}
		/* @media (--lgPlus) {
			display: none;
		} */
	}

	&__download-icon {
		position: absolute;
		left: 0;
		top: 50%;
		display: inline-flex;
		justify-content: center;
    	align-items: center;
		width: 30px;
		height: 29px;
		margin-top: -15px;
		border: 1px solid #f7941e;
		border-radius: 2px;
		color: #F7941E;
		font-weight: bold;
		font-size: 16px;
		transition: all 0.3s;
	}
}

.parkingCheckboxes {
	margin-bottom: 40px;
}

.parking-form {
	max-width: 570px;

	.button {
		max-width: 270px;
		line-height: 50px;

		@media screen and (--xs) {
			max-width: none;
		}
	}

	.ws-errorbox {
		bottom: auto;
		top: 100%;
		right: auto;
		left: 0;

		.ws-errormessage {
			font-size: 10px;
			line-height: 16px;
			letter-spacing: .2px;
			color: #8e8e8e;
			white-space: nowrap;
		}
	}

	.ui-selectmenu-text {
		font-size: 14px;
	}

	.page-form__step {
		margin-bottom: 30px;
	}

	.page-form__inp {
		border: solid 1px #d6dade;
		color: #3b3b3b;
		padding: 0 10px;
		font-family: 'Proxima';
		line-height: 50px;
		height: 50px;

		&:focus {
			 border-color: #db8e3c;
		}

		&.user-success {
			 border-color: #d6dade;
		}
	}

	.ws-invalid {
		.page-form__inner-lbl {
			color: #f7941e;
		}

		.page-form__inp {
			border-color: #f7941e;
		}

		.select-wrap .ui-button {
			border-color: #f7941e;
		}
	}

	h2 {
		text-align: left;
	}
}

.ui-menu {
	background-color: #fff;
}

.ui-state-disabled {
	display: none;
}

.ui-selectmenu-disabled {
	display: block;
}

.link {
	transition: ease .3s all;
	display: inline-block;
	line-height: 1.2;
	color: #f7941e;
	text-decoration: none;
	border-bottom: solid 1px rgba(247,148,30,.3);

	&:hover {
		 border-bottom-color: transparent;
	}

	@media (--xs) {
		border: none;
		text-decoration: underline;
	}
}

.button._payment {
	background: #ededed;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 340px;
	margin-top: 20px;
	padding: 0;
	justify-content: center;
	@media (--mdMinus) {
		margin: 20px auto 0;
	}
	@media (--xs) {
		margin: 20px 0 0;
	}
}