.PromoActionString {
  color: #d34a4a;
  font-family: 'Proxima Nova Bold';
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    & .PromoActionString_text {
      border-bottom: 1px solid transparent;
    }
  }

  &._flat {
    max-width: 160px;
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    flex-direction: row-reverse;
    pointer-events: none;

    & .PromoActionString_text {
      margin-left: 0;
      margin-right: 10px;
      border: none;

      @media (--767) {
        display: block;
      }
    }
  }

  @media (--767) {
    margin-left: auto;
    margin-right: -15px;
  }

  &_text {
    margin-left: 9px;
    border-bottom: 1px dashed #d34a4a;
    transition: border 0.3s;
    @media (--lgMinus) {
      border-bottom: 1px dashed #d34a4a;
    }
    @media (--767) {
      display: none;
    }
  
  }

  &_ico {
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &_toolp {
    box-shadow: 0px 5px 10px 0 rgba(43, 38, 52, 0.2);
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    color: #19191a;
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
  }
}