.RangeSlider {
    width: 100%;
    padding: 11px 7px 0;
}

.RangeSlider_track {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #bebdbf;

    &:after,
    &:before {
        display: block;
        pointer-events: none;
        content: '';
        position: absolute;
        width: 22px!important;
        height: 22px!important;
        background: url(/img/point_gray.svg) center no-repeat !important;
        background-size: contain;
        top: 50%;
        margin-top: -11px!important;
        margin-left: -11px!important;
        z-index: -10;
    }
    &:before {
        left: 0;
    }

    &:after {
        left: 100%;
    }
}

.RangeSlider_progress {
    background-color: #f7941e;
    border: 0;
    outline: 0;
    width: 100%;
}

.RangeSlider_handle {
    width: 22px!important;
    height: 22px!important;
    background-size: contain;
    background: url(/img/point.svg) center no-repeat !important;
    top: -11px!important;
    margin-left: -11px!important;
    border: 0!important;
    border-radius: 50%;
}

.RangeSlider_rangeVals {
    display: flex;
    color: #19191a;
    font-family: "Proxima Nova Light";
    font-size: 12px;
    padding-top: 14px;
    margin: 0 -7px;
}

.RangeSlider_valViewWrap {
    width: 50%;
    max-width: 50%;
    &-max {
        text-align: right;
    }
}

.RangeSlider_minValViewEl,
.RangeSlider_maxValViewEl {
    margin-right: 4px;
    transform: translateZ(0);
}