.ShowroomTile {
	display: flex;
	width: 229px;
}
.ShowroomTile_img {
  flex-basis: 85px;
}
.ShowroomTile_img > img {
	display: block;
  -webkit-border-top-left-radius: 1.5px;
          border-top-left-radius: 1.5px;
  -webkit-border-bottom-left-radius: 1.5px;
          border-bottom-left-radius: 1.5px;
}
.ShowroomTile_title {
	display: flex;
	padding-right: 5px;
	padding-bottom: 4px;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
  flex-basis: 144px;
  -webkit-border-top-right-radius: 1.5px;
          border-top-right-radius: 1.5px;
  -webkit-border-bottom-right-radius: 1.5px;
          border-bottom-right-radius: 1.5px;
  background: #F7941F;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
}