.showroom {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;

    &__wrap {
        display: flex;

        @media (--xlMinus) {
            flex-direction: column;
        }
    }

    &__main {
        width: 100%;
        position: relative;
        height: 530px;

        &:hover {
            & .showroom__overlay {
                background-color: rgba(43, 38, 52, 0);
            }

            & .showroom__zoomDesc {
                opacity: 0;
            }

            & .showroom__zoom svg {
                transform: scale(1.6);
                
                & g {
                    fill: #f7941f;
                }
            }
        }
        @media (--mdMinus) {
            height: 407px;
        }

        @media (--xs) {
            height: 169px;
        }

        &--classic {
            & .showroom__thumb {
                background: url('../img/showroom_classic.jpeg') center/cover no-repeat;

                @media (--smMinus) {
                    background-image: url('../img/showroom_classic-mobile.jpeg');
                }
            }
        }

        &--modern {
            & .showroom__thumb {
                background: url('../img/showroom_modern.jpeg') center/cover no-repeat;

                @media (--smMinus) {
                    background-image: url('../img/showroom_modern-mobile.jpeg');
                }
            }

            /* & .showroom__overlay {
                background-color: transparent;
                @media (--xlMinus) {
                    background-color: rgba(43, 38, 52, 0.7);
                }
            } */

            /* & .showroom__zoomImg {
                width: 60px;
                display: none;
                @media (--xlMinus) {
                    display: block;
                    position: static;
                }

                @media (--xs) {
                    width: 40px;
                }

                &--orange {
                    width: 100px;
                    display: block;
                    @media (--xlMinus) {
                        display: none;
                    }
                }
            } */

            /* & .showroom__zoomDesc {
                display: none;

                @media (--xlMinus) {
                    display: block;
                }
            } */
        }
    }

    &__main-desc {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 25px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 20px;

        @media (--xs) {
            font-size: 14px;
            padding: 10px;
        }
    }

    &__title {
        font-size: 40px;
        text-align: center;
        color: #19191a;
        font-weight: 600;
        font-family: 'Playfair Display', serif;
        margin-bottom: 68px;
        padding-top: 5px;
        position: relative;
        letter-spacing: 1pt;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            transform: translate(-50%, 0);
            left: 50%;
            width: 75px;
            height: 1px;
            background-color: #f8a256;
        }

        @media (--mdMinus) {
            margin-bottom: 45px;
            text-align: left;
            padding: 10px 40px;
            &:before {
                transform: none;
                left: 40px;
            }
        }

        @media (--xs) {
            margin-bottom: 55px;
            padding: 10px 20px;
            font-size: 30px;
            &:before {
                transform: none;
                left: 20px;
            }
        }
    }

    &__thumb {
        width: 100%;
        height: 100%;
        border: none;
        

    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(43, 38, 52, 0.7);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s;
    }

    &__zoom {
        text-align: center;
        color: #fff;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (--xs) {
            font-size: 14px;
        }
    }

    & svg {
        margin-bottom: 15px;
        width: 60px;
        transition: 0.3s;

        @media (--xs) {
            width: 40px;
        }
    }

    &__zoomDesc {
        transition: opacity 0.3s;
        @media (--xs) {
            display: none !important;
        }
    }
    &__workTime {
        font:300 17px/1.7 'Proxima';
        text-align: center;
        padding: 0;
        margin: 40px 0 50px;
        @media (--mdMinus) {
            text-align: left;
            margin: 40px 0 45px;
        }
        /*@media (--xs) {
            padding: 0 20px;
            margin: -40px 0 45px;
        }*/
        &Glow {
            color: #ffab38;
            text-decoration: none;
        }
    }
}

.showroom-fullFrame {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 200010;
    display: none;
    &--active {
        height: 100%;
    }

    &__iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 70;
        width: 30px;
        cursor: pointer;
    }
}