.SorterFilters {
    display: table;
    &_inner {
        display: table-row;
    }
    &_item {
        display: table-cell;
        vertical-align: middle;
        &:nth-child(8) * {
            opacity: 0;
        }
        &:last-child * {
            opacity: 0;
        }
    }
}

