.Sorter {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;
    height: 62px;
    border-bottom: 1px solid #eaeaeb;
    color: hsla(240, 2%, 10%, 0.5);
    font-family: "Proxima Nova Regular";
    &_item {
        padding: 0 7px;
        font-size: 14px;
        @media(--xs) {
            padding:0;
        }
    }
    &_inp {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    &_lbl {
        cursor: pointer;
        display: inline-block;
        padding: 0 14px 0 0;
        background: none;
        border: 0;
        font-size: inherit;
        position: relative;
        color: inherit;
        font-family: Proxima Nova Regular;
        &-desc,
        &-asc{
            color: #000;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -6px;
                display: block;
                width: 12px;
                height: 12px;
                background: url("/img/caret-down.svg") center / contain no-repeat!important;
                pointer-events: none;
                transform: scaleY(-1);
            }
        }

        &-desc {
            &:after {
                transform: none;
            }
        }
    }
    &-commercial {
      border:none;
    }
}

.Sorter_item,
.Tbl-flats .Tbl_td {

    white-space: nowrap;

    @media (--smMinus) {
        font-size: 12px;
        letter-spacing: -0.1em;
        font-family: Proxima Nova Regular;
    }

    &:first-child {
        width: 10%;
        @media(--mdMinus) {
            width: 12%;
        }
        @media(--smMinus) {
            width:16%;
        }
    }

    &:nth-child(2) {
        width: 12%;
    }

    &:nth-child(3) {
        /*width: 15%;*/
        width: 12%;
        @media(--mdMinus) {
            width:11%;
        }
        @media(--smMinus) {
            /*width:13%;*/
            width:10%;
        }
    }

    &:nth-child(4) {
        width: 10%;
        @media(--smMinus) {
            width:8%;
        }
    }

    &:nth-child(5) {
        /*width: 16%;*/
        width: 12%;
        @media(--mdMinus) {
            width: 10%;
        }
        @media(--mdMinus) {
            /*width: 12%;*/
            width: 10%;
        }

    }

    &:nth-child(6) {
        width: 11%;
        @media(--smMinus) {
            width:14%;
        }
    }
    &:nth-child(7) {
         /*width: 11%;*/
         width: 18%;
        @media(--mdMinus) {
            width:18%;
        }
        @media(--smMinus) {
            /*width:16%;*/
            width: 18%;
        }
        @media(--xs) {
            /*width:16%;*/
            width:23%;
        }
    }

    &:nth-child(8) {
        width: 5%;
        @media(--mdMinus) {
            width: 7%;
        }
    }
    &:nth-child(9) {
         width: 5%;
    }

    &:first-child {
        padding-left: 30px;
        @media (--smMinus) {
            padding-left: 16px;
        }
    }
    &:last-child {
        padding-right: 30px;
        width: 5%;
        @media (--smMinus) {
            padding-right: 16px;
        }

    }
}

.Sorter_item-commercial,
.Tbl-commercial .Tbl_td {
    white-space: nowrap;
    vertical-align:top;

    @media (--smMinus) {
        font-size: 12px;
        letter-spacing: -0.1em;
        font-family: Proxima Nova Regular;
    }

    &:first-child {
        width: 25%;
        padding-left: 30px;
        @media(--mdMinus) {
            padding-left: 40px;
        }
        @media(--xs) {
            padding-left: 20px;
            width: 27%;
        }
    }

    &:nth-child(2) {
        width: 13%;
        @media(--mdMinus) {
            display:block;
        }
        @media(--xs) {
            width:23%;
        }
    }

    &:nth-child(3) {
        width: 13%;
        @media(--xs) {
            display:none;
        }
    }

    &:nth-child(4) {
        width: 15%;
        @media(--xs) {
            width:23%;
        }
    }

    &:nth-child(5) {
        width: 16%;
        @media(--xs) {
            display:none;
        }
    }

    &:last-child {
        width: 18%;
        padding-right: 30px;
        @media(--mdMinus) {
            padding-right: 40px;
        }
        @media(--xs) {
            width:27%;
            padding-right: 20px;
        }
    }
}

.Tbl_tr-commercial:nth-child(2n+1) {
    background: #f4f4f5;
}

.Tbl_tr-commercialFlat:nth-child(2n+1) {
    background: #ecebec;
}
.Sorter_item-commercial .Sorter_lbl {
    @media(--smMinus) {
        text-align:left;
    }
}


.Sorter-flatsType {
    @media(--sm) {
        display:none;
    }
    @media(--xs) {
        display:none;
    }
}

.Sorter_item-type {
    padding:0;
}

.Sorter_item-type,
.Tbl-flatsType .Tbl_td {

    white-space: nowrap;
    padding:14px 0;


    @media (--smMinus) {
        font-size: 12px;
        letter-spacing: -0.1em;
        font-family: Proxima Nova Regular;
    }

    &:nth-child(1) {
        width: 13%;
        @media(--mdMinus) {
            width: 11%;
        }
    }

    &:nth-child(2) {
        width: 8%;
        @media(--mdMinus) {
            display:block;
        }
    }

    &:nth-child(3) {
        width: 9%;
        @media(--mdMinus) {
            width:7%;
        }
    }

    &:nth-child(4) {
        width: 12%;
        @media(--mdMinus) {
            width: 11%;
        }
    }

    &:nth-child(5) {
        width: 12%;
    }

    &:nth-child(6) {
        width: 12%;
    }

    &:nth-child(7) {
        width: 13%;
    }


    &:nth-child(8) {
        width: 13%;
        @media(--mdMinus) {
            width: 17%;
        }
    }

    &:nth-child(9) {
        width: 8%;
    }

    &:first-child {
        padding-left: 50px;
        @media (--mdMinus) {
            padding-left: 30px;
        }
    }
    &:last-child {
         /*padding-right: 30px;*/
        /*@media (--smMinus) {*/
            /*padding-right: 16px;*/
        /*}*/
        /*@media(--sm) {*/
            /*width: 16%*/
        /*}*/
    }
}


