:root {
    --brandFonts: 'Proxima Nova Regular';
    --brandColor: #F7941E;
}

.StayHome {
    font-family: var(--brandFonts);
    color: #000;
    padding: 40px 0 0;
    @media (--smMinus) {
        padding: 10px 0 0;
    }
    a {
        text-decoration: underline;
    }
    &_colorSection {
        background: #EDEDED;
        padding: 42px 0 1px;
         margin: 0 0 42px;
        @media (--mdMinus) {
            padding: 32px 0 1px;
            margin: 0 0 32px;
        }
        @media (--smMinus) {
            padding: 30px 0 1px;
            margin: 0 0 20px;
        }
    }
    &_tag {
         font-size: 25px;
         line-height: 30px;
         text-align: center;
         color: var(--brandColor);
         margin: 0 0 12px;
        @media (--smMinus) {
            font-size: 20px;
            line-height: 24px;
            margin: 0 0 -10px;
        }
        & a {
            color: var(--brandColor);
        }
    }
}

.StayHomeImg {
    background-color: #F1F1F1;
    background-image: url("../img/stayhome/img_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-bottom: 36px;
    @media (--mdMinus) {
    }
    @media (--smMinus) {
        margin-bottom: 10px;
        
    }
    @media (--xs) {
    }
}

.StayHomeEnter {
    margin: 0 0 49px;
    @media (--mdMinus) {
        margin: 0 0 17px;
    }
    @media (--smMinus) {
        margin: 0 0 10px;
    }
    &_txt1 {
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        margin: 0 0 15px;
        @media (--mdMinus) {
            text-align: left;
        }
        @media (--smMinus) {
            font-size: 20px;
            line-height: 30px;
            margin: 0 0 20px;
        }
    }
    &_txt2 {
         font-size: 25px;
         line-height: 30px;
         text-align: center;
        color: var(--brandColor);
         margin: 0 0 48px;
        @media (--mdMinus) {
            text-align: left;
            margin: 0 0 30px;
        }
        @media (--smMinus) {
            font-size: 20px;
            line-height: 24px;
        }
        & a {
              color: var(--brandColor);
        }
     }
    &_docs {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        & p {
              font-size: 25px;
              line-height: 30px;
                color: #000;
                width: 100%;
              margin: 0 0 20px;
            @media (--smMinus) {
                font-size: 20px;
                margin: 0 0 10px;
            }
        }
        & ul {
            width: 49%;
            @media (--mdMinus) {
                width: 100%;
            }
        }
        & li {
           font-family: 'Proxima Nova Light';
           font-size: 17px;
           line-height: 21px;
           list-style: none;
            padding: 0 0 0 30px;
            margin: 0 0 15px;
           position: relative;
            @media (--smMinus) {
                font-size: 14px;
                line-height: 22px;
                margin: 0 0 20px;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 7px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: var(--brandColor);
             }
        }
    }
}

.StayHomeSteps {
    &_row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (--mdMinus) {
            flex-direction: column-reverse;
        }
    }
    &_column {
        width: calc(50% - 39px);
        border-bottom: 1px solid var(--brandColor);
        @media (--mdMinus) {
            width: 100%;
        }
        &:nth-child(1) {
            @media (--mdMinus) {
                margin-top: -1px;
            }
             & .StayHomeSteps_num {
                left: 100%;
                transform: none;
                @media (--mdMinus) {
                    left: 50%;
                    transform: translateX(-50%);
                }
             }
         }
        &:nth-child(2) {
            & .StayHomeSteps_num {
                left: -78px;
                transform: none;
                @media (--mdMinus) {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    &_item {
        max-width: 546px;
        width: 100%;
        padding-top: 42px;
        margin: 0 auto 42px;
        border-top: 1px solid var(--brandColor);
        position: relative;
        @media (--mdMinus) {
            max-width: 100%;
            padding-top:32px;
            margin-bottom: 32px;
        }
        @media (--smMinus) {
            padding-top:20px;
            margin-bottom: 20px;
        }
    }
    &_txt {
         font-size: 17px;
         line-height: 24px;
         text-align: center;
        @media (--mdMinus) {
            max-width: 546px;
            width: 100%;
            margin: 0 auto;
        }
        @media (--smMinus) {
            font-size: 14px;
            line-height: 22px;
        }
        & p {
            font-size: 17px;
            line-height: 24px;
            color: #000;
            margin: 0;
            position: relative;
            @media (--smMinus) {
                font-size: 14px;
                line-height: 22px;
            }
            & + p {
                margin-top: 39px;
                @media (--mdMinus) {
                    margin-top: 15px;
                }
                @media (--smMinus) {
                    margin-top: 10px;
                }
            }
          }
        & b {
              font-family: 'Proxima Nova Bold';
        }
        &._tlt {
             font-family: 'Proxima Nova Bold';
             font-size: 34px;
             line-height: 41px;
            color: var(--brandColor);
            @media (--smMinus) {
                font-size: 22px;
                line-height: 27px;
            }
         }
     }
    &_txtStep {
        display: block;
         position: absolute;
         left: 50%;
         top: -24px;
         transform: translateX(-50%);
        @media (--mdMinus) {
            position: relative;
            top: 0;
        }
    }
    &_num {
        position: absolute;
         left: 50%;
         top: -24px;
         transform: translateX(-50%);
        width: 78px;
         background: #EDEDED;
         font-family: 'Proxima Nova Bold';
         font-size: 40px;
         line-height: 49px;
         color: var(--brandColor);
        text-align: center;
        @media (--smMinus) {
            top: -18px;
            width: 40px;
            font-size: 30px;
            line-height: 37px;
        }
    }
}

.StayHomeContent {
    &_top {
        display: flex;
         align-items: center;
         /*justify-content: space-between;
        margin-bottom: 143px;*/
        justify-content: flex-start;
         margin-bottom: 60px;
         /*@media (--xlMinus) {
             justify-content: flex-start;
             margin-bottom: 90px;
        }*/
        @media (--767) {
            flex-direction: column;
            margin-bottom: 40px;
        }
    }
    &_Topleft {
         margin-right: 25px;
         padding-right: 40px;
        /*padding-right: 54px;*/
        border-right: 1px solid #002f69;
        /*@media (--xlMinus) {
            margin-right: 25px;
            padding-right: 40px;
        }*/
        @media (--767) {
            border-right: none;
            border-bottom: 1px solid #002f69;
            width: 100%;
            padding: 0 0 20px;
            margin: 0 0 20px;
        }
    }
    &_TopRight {
        text-transform: uppercase;
        /*width: 711px;
        font-size: 30px;*/
         font-size: 18px;
         width: 500px;
        font-weight: 300;
        /*@media (--xlMinus) {
            font-size: 18px;
            width: 500px;
        }*/

        @media (--767) {
            width: 100%;
            font-size: 16px;
        }
    }
    &_title {
        /*font-size: 50px;
        margin-bottom: 14px;*/
         font-size: 28px;
         margin-bottom: 5px;
        line-height: 40px;
        /*@media (--xlMinus) {
            font-size: 28px;
            margin-bottom: 10px;
        }

        @media (--767) {
            margin-bottom: 5px;
            
        }*/
    }
    &_tag {
        color: #f7941e;
        /*font-size: 24px;*/
         font-size: 18px;
        font-weight: 400;
        /*@media (--xlMinus) {
            font-size: 18px;
        }*/
    }
    &_list {
        max-width: 920px;
    }
    &_item {
        /*margin-bottom: 137px;
        padding-left: 101px;*/
         margin-bottom: 50px;
         padding-left: 40px;
        position: relative;
        /*@media (--xlMinus) {
            margin-bottom: 90px;
            padding-left: 60px;
        }
        @media (--767) {
            padding-left: 0px;
            margin-bottom: 60px;
        }*/
        @media (--767) {
            padding-left: 30px;
            margin-bottom: 30px;
        }
    }
    &_itemTitle {
        /*font-size: 36px;
        margin-bottom: 31px;*/
         font-size: 20px;
         margin-bottom: 10px;
        font-weight: 400;
        padding-bottom: 5px;
        position: relative;
        display: inline-block;

        /*@media (--xlMinus) {
            font-size: 28px;
            margin-bottom: 15px;
        }
        @media (--767) {
            font-size: 20px;
            margin-bottom: 10px;
        }*/
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #f7941e;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &_itemNum {
        color: #f7941e;
         /*font-size: 100px;
         top: -56px;*/
        font-size: 40px;
         top: -9px;
        font-weight: 700;
        position: absolute;
        left: 0;
        /*@media (--xlMinus) {
            font-size: 70px;
            top: -36px;
        }

        @media (--767) {
            font-size: 50px;
            display: none;
            
        }*/
        @media (--767) {
            font-size: 30px;
            top: 0;
        }
    }
    &_text {
        /*font-size: 24px;*/
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        /*@media (--xlMinus) {
            font-size: 20px;
        }
        @media (--767) {
            font-size: 16px;
        }*/
        & .link {
            border-bottom: none;
            &:hover {
                text-decoration: none;
            }
        }
        & .list-title {
            margin-bottom: 5px;
        }
        & p {
            /*font-size: 24px;
            margin-bottom: 26px;*/
            font-size: 16px;
            margin-bottom: 16px;
            font-weight: 400;
            line-height: 24px;
            /*@media (--xlMinus) {
                font-size: 20px;
                margin-bottom: 15px;
            }
            @media (--767) {
                font-size: 16px;
            }*/
        }
        & .stayhome-list {
            /*font-size: 24px;*/
            font-size: 16px;
            font-weight: 400;
            color: #000;
            list-style: none;
            /*@media (--xlMinus) {
                font-size: 20px;
            }
            @media (--767) {
                font-size: 16px;
            }*/
            & li {
                margin-bottom: 12px;
                position: relative;
                padding-left: 15px;
                &:after {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    background-color: #000;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 10px;
                }
            }
            &._sub {
                /*font-size: 20px;*/
                font-size: 16px;
                margin-top: 5px;
                margin-left: 30px;
                /*@media (--767) {
                    font-size: 14px;
                    margin-left: 10px;
                }*/
                & li {
                    margin-bottom: 2px;
                }
            }
            &._left {
                margin-left: 40px;
                @media (--767) {
                    margin-left: 0;
                }
            }
        }
    }
}