.Tbl {
    width: 100%;
    border-collapse: collapse;
    display: table;
    border-bottom:1px solid #eaeaeb;
    &_tr {
        /*display: flex;*/
        display: table-row;
        text-decoration: none;
        &:hover {
            background-color: rgba(43, 38, 52, 0.1);
        }
        &-light {
            background-color: #feefdd;
        }
    }
    &_td {
        text-align: left;
        font-family: "Proxima Nova Light";
        padding: 14px 7px;
        font-size: 15px;
        border: none;
        display: table-cell;
        vertical-align: bottom;
        color: #19191a;
        display: table-cell;
        @media(--xs) {
            padding:14px 0;
        }
        &._font-0 {
            font-size: 0;
            line-height: 0;
        }
    }
    &_icoWrap {
        height: 18px;
        color: #4b4b4b;
        display:inline-block;
        &-light {
            color: #f7941e;
        }
        &>.SvgIco {
            height: 100%;
        }

        &> .actionIcon {
            display: inline-block;
            margin-right: 11px;
            @media(--xs) {
                width:12px;
                height:12px;
                margin-right: 8px;
            }


        }

        &> .brushIcon {
            margin-left: 10px;
            margin-right: 0;
            display: inline-block;
            @media(--xs) {
                margin-left:0;
            }

            &-type {
                 margin-left: 0px;
            }
        }


    }

    &-flatsType {
        @media(--sm) {
            display:none;
        }
        @media(--xs) {
            display:none;
        }
    }

    &-plans {
        @media(--sm) {
            display:none;
        }
        @media(--xs) {
            display:none;
        }
    }

    &_priceWrap {
        max-width: 130px;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        /*padding-right: 50px;*/
        position: relative;
        /*@media(--lgMinus) {
            padding-right: 40px;
        }*/
        @media(--smMinus) {
            /*padding-right: 29px;*/
            max-width: 83px;
        }
     }
    &_price {
        display: block;

        &._cross {
            font: 12px/1 'Proxima Nova Regular';
            text-decoration: line-through;
        }
        &._salePrice {
            font: 15px/1 'Proxima Nova Bold';
            color: #d34a4a;
            margin-top: 8px;
            @media(--smMinus) {
                font-size: 12px;
            }
        }
     }
    &_picSale {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 18px;
        height: 18px;
        @media(--mdMinus) {
            width: 30px;
            height: 30px;
        }
        &:before {
            content: '?';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #d34a4a;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font: 14px/1 'Proxima Nova Regular';
            color: #d34a4a;
            cursor: pointer;
            transition: all 0.3s ease;
            @media(--smMinus) {
                padding-right: 1px;
            }
        }
        &:hover:before {
            background: #d34a4a;
            color: #fff;
        }
     }

}