.TopNav {
	background: #ededed;
	&_inner {
		height: 50px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		max-width: 1170px;
		margin: auto;
		overflow-x: auto;
		padding: 0 25px;
		@media (--xs) {
			padding: 0;
		}
		@media (--mdMinus) {
			justify-content: space-between;
		}
		@media (--lgPlus) {
			justify-content: space-around;
			padding: 0 60px;
		}
	}
	&_leaf{
		padding: 15px 0;
		white-space: nowrap;
		color: #929292;
		position: relative;
		&-active {
			color: #2b2634;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 14px;
				right: 14px;
				height: 3px;
				background: #f7941e;
				pointer-events: none;
			}
		}
	}

	&_link {
		color: inherit!important;
		text-decoration: none;
		font-family: 'Proxima Nova Regular';
		font-size: 16px;
		line-height: 17px;
		padding: 15px;
		&-showroom {
			font-weight: bold;
			color: #F7941F !important;
		}
	}
	& h1 {
		color: inherit!important;
		text-decoration: none;
		font-family: 'Proxima Nova Regular';
		font-size: 16px;
		line-height: 17px;
		font-weight: 400;
	  	margin: 0;
		&-showroom {
			font-weight: bold;
			color: #F7941F !important;
		}
	}
}