<div class="page-sidebar__wrapper" id="contact-form">
    <div class="page-sidebar__scroll scrollbar-inner scroll-content" data-scrollbar>
        <div class="scrollbar-helper">
            <div class="page-sidebar__tlt">Помогите нам стать лучше</div>

            <form data-action="" method="post" class="page-form ws-validate _contact" data-mortgage-form>
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="contact-name">
                        <em class="page-form__placeholder">Имя</em>
                    </label>
                </div>
                <div class="page-form__step">
                    <div class="page-form__lbl">
                        <label>
                            <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="contact-phone">
                            <em class="page-form__placeholder">Телефон</em>
                        </label>
                    </div>
                </div>
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="text" class="page-form__inp" name="contact-email">
                        <em class="page-form__placeholder">E-mail</em>
                    </label>
                </div>
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <textarea class="page-form__txtarea" data-textarea name="contact-message"></textarea>
                        <em class="page-form__placeholder">Сообщение</em>
                    </label>
                </div>
                <div class="page-form__step">
                    <div class="SubCheckboxes__item SubCheckboxes__item--form">
                        <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-contact" class="SubCheckboxes__input" name="privacy-contact" value="1"/>
                        <label for="privacy-contact">
                            <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                        </label>
                    </div>
                </div>
                <div class="page-form__step">
                    <input type="submit" value="отправить" class="page-form__sbt button _orange">
                </div>
            </form>
        </div>
    </div>
</div>
