<div class="prefooter-menu swiper-container" data-footer-menu>
    <div class="swiper-wrapper">
        <div class="swiper-slide prefooter-menu__item">
            <a href="" class="prefooter-menu__link">Инфраструктура</a>
        </div>
        <div class="swiper-slide prefooter-menu__item">
            <a href="" class="prefooter-menu__link">Расположение</a>
        </div>
        <div class="swiper-slide prefooter-menu__item">
            <a href="" class="prefooter-menu__link">Архитектура</a>
        </div>
        <div class="swiper-slide prefooter-menu__item">
            <a href="" class="prefooter-menu__link">Безопасный двор-парк</a>
        </div>
        <div class="swiper-slide prefooter-menu__item">
            <a href="" class="prefooter-menu__link _active">Все для детей</a>
        </div>
        <div class="swiper-slide prefooter-menu__item">
            <a href="" class="prefooter-menu__link">Технологии</a>
        </div>
    </div>
</div>
