<div class="parking-form">
    <form action="" method="post" class="page-form ws-validate" autocomplete="off">
        <div class="page-form__step">
            <label class="page-form__lbl select-wrap">
                <span class="select-wrap__lbl">Получатель</span>
                <select name="parking-recipient" data-select required>
                    <option value="" disabled selected>Не выбран</option>
                    <option value="1" data-recepient="1">Получатель 1</option>
                    <option value="2" data-recepient="2">Получатель 2</option>
                    <option value="3" data-recepient="3">Получатель 3</option>
                    <option value="4" data-recepient="4">Получатель 4</option>
                </select>
            </label>
        </div>
        <div class="page-form__step">
            <label class="page-form__lbl select-wrap">
                <span class="select-wrap__lbl">Строительный адрес</span>
                <select name="parking-address" data-select required>
                    <option value="" disabled selected>Не выбран</option>
                    <option value="1" data-address-recepient="1">Адрес 1 для получателя 1</option>
                    <option value="2" data-address-recepient="1">Адрес 2 для получателя 1</option>
                    <option value="3" data-address-recepient="1">Адрес 3 для получателя 1</option>
                    <option value="4" data-address-recepient="2">Адрес 1 для получателя 2</option>
                    <option value="5" data-address-recepient="2">Адрес 2 для получателя 2</option>
                    <option value="6" data-address-recepient="3">Адрес 1 для получателя 3</option>
                    <option value="7" data-address-recepient="3">Адрес 2 для получателя 3</option>
                    <option value="8" data-address-recepient="4">Адрес 1 для получателя 4</option>
                    <option value="9" data-address-recepient="4">Адрес 1 для получателя 4</option>

                </select>
            </label>
        </div>
        <div class="page-form__step">
            <label class="page-form__lbl select-wrap">
                <span class="select-wrap__lbl">Карта ПАО Сбербанк</span>
                <select name="parking-sber" data-select required>
                    <option value="" disabled selected>Не выбран</option>
                    <option value="1">Да</option>
                    <option value="2">Нет</option>
                </select>
            </label>
        </div>
        <div class="page-form__step _double">
            <div class="page-form__lbl">
                <label>
                    <span class="page-form__inner-lbl">Имя *</span>
                    <input type="tel" class="page-form__inp" data-errormessage="Заполните поле" required name="parking-name">
                </label>
            </div>
            <div class="page-form__lbl">
                <label>
                    <span class="page-form__inner-lbl">Фамилия *</span>
                    <input type="text" class="page-form__inp" required data-errormessage="Заполните поле" name="parking-sirname">
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <label class="page-form__lbl">
                <span class="page-form__inner-lbl">Номер договора *</span>
                <input type="text" class="page-form__inp" required name="parking-number">
            </label>
        </div>
        <div class="page-form__step _double">
            <div class="page-form__lbl">
                <label>
                    <span class="page-form__inner-lbl">Сумма в руб. *</span>
                    <input type="text" data-price class="page-form__inp" data-errormessage="Заполните поле" required name="parking-name">
                </label>
            </div>
            <div class="page-form__lbl">
                <label>
                    <span class="page-form__inner-lbl">Почта</span>
                    <input type="email" class="page-form__inp" name="parking-email">
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <div class="SubCheckboxes__item SubCheckboxes__item--payment">
                <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-payment" class="SubCheckboxes__input" name="privacy-payment" value=1/>
                <label for="privacy-payment">
                    <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                </label>
            </div>
        </div>
        <div class="page-form__step _conditions">
            <p><a href="" class="link">Правила возврата средств при отказе от услуги</a></p>
        </div>
        <div class="page-form__step">
            <input type="submit" value="отправить заявку" class="page-form__sbt button _orange">
        </div>
    </form>
</div>
